<div dir="rtl">
  <form [formGroup]="shelfChange" (ngSubmit)="changeShelf()">
    <h3>שינוי מדף</h3>
    <div class="row mt-4">
      <p class="h5">* = שדה חובה</p>
    </div>
    <div class="row mt-4">
      <div class="col-2">
        <label>מחסן *</label>
        <select
          class="form-control"
          formControlName="whareHouseID"
          (change)="itemNumber ? getShelfs() : null"
          #first
          (change)="getAllShellsOfWhareHouse()"
        >
          <option disabled value="">בחר מחסן</option>
          <option
            *ngFor="let whareHouse of allWhareHouses"
            [value]="whareHouse._id"
          >
            {{ whareHouse.name }}
          </option>
        </select>
      </div>

      <div *ngIf="!disabled" class="col-2">
        <label> מק"ט * </label>
        <input
          type="text"
          [disabled]="disabled"
          formControlName="item"
          (blur)="getShelfs()"
          class="form-control"
        />
      </div>
      <div *ngIf="!disabled" class="col-2">
        <label class="d-block"> שם </label>
        <input class="d-inline form-control" type="text" #name />
        <button class="d-inline" type="button" (click)="getNames(name)">
          Find
        </button>
        <select class="form-control" (change)="setItemDetailsNumber($event)">
          <option
            *ngFor="let itemName of itemNames"
            [value]="itemName.componentN"
          >
            {{ itemName.componentName }}
          </option>
        </select>
      </div>
      <div class="col-2">
        <label>מדף ישן *</label>
        <select
          class="form-control"
          formControlName="old_shell_id_in_whareHouse"
        >
          <option disabled value="">בחר מדף</option>
          <option
            *ngFor="let shellNum of shelfsWithItem"
            [disabled]="shellNum.position == 'MINUS'"
            [value]="shellNum.shell_id_in_whareHouse"
            [ngStyle]="{ color: shellNum.amount >= 0 ? 'black' : 'red' }"
          >
            {{ shellNum.position }} - {{ shellNum.amount }} pcs
          </option>
        </select>

        <!-- <label>מדף חדש</label>
        <select class="form-control" formControlName="new_shell_id_in_whareHouse">
          <option disabled value="">בחר מדף</option>
          <option *ngFor="let shellNum of shellNums" [disabled]="shellNum.position == 'MINUS'" [value]="shellNum._id">
            {{shellNum.position}}
          </option>
        </select> -->
      </div>
      <div class="col-2">
        <label>כמות *</label>
        <input type="number" formControlName="amount" class="form-control" />
        <div
          style="color: red; font-size: 1.2rem; font-weight: bold"
          *ngIf="shelfChange.controls.amount.errors?.min"
        >
          * הכמות חייבת להיות גדולה מאפס
        </div>
      </div>

      <div class="col-2 d-flex flex-column justify-content-around">
        <div *ngIf="sending" class="smallerLoader"></div>
        <button
          type="submit"
          *ngIf="!sending"
          [disabled]="!shelfChange.valid"
          [style.cursor]="shelfChange.valid ? 'pointer' : 'not-allowed'"
          class="btn btn-info"
        >
          העבר
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="shelfChange.reset()"
        >
          נקה נתונים
        </button>
      </div>
      <div class="col-2"></div>
    </div>

    <div class="row mt-4">
      <div class="col-6"></div>
      <div class="col-2">
        <label>מדף חדש *</label>
        <select
          class="form-control"
          formControlName="new_shell_id_in_whareHouse"
        >
          <option disabled value="">בחר מדף</option>
          <option
            *ngFor="let shellNum of shellNums"
            [disabled]="shellNum.position == 'MINUS'"
            [value]="shellNum._id"
          >
            {{ shellNum.position }}
          </option>
        </select>
      </div>
      <div *ngIf="itemNames" class="col-2">
        <img
          [src]="itemNames[0].img"
          alt=" חסרה תמונה ראשית"
          class="pictureTabImg"
        />
      </div>
    </div>
  </form>
</div>
