<div dir="rtl">
  <form [formGroup]="shelfChange" (ngSubmit)="changeShelf()">
    <h3>שינוי מדף</h3>
    <div class="row mt-4">
      <p class="h5">* = שדה חובה</p>
    </div>
    <div class="row mt-4">
      <div class="col-2">
        <label>מחסן *</label>
        <select
          class="form-control"
          formControlName="whareHouseID"
          (change)="itemNumber ? getShelfs() : null"
          #first
          (change)="getAllShellsOfWhareHouse()"
        >
          <option disabled value="">בחר מחסן</option>
          <option
            *ngFor="let whareHouse of allWhareHouses"
            [value]="whareHouse._id"
          >
            {{ whareHouse.name }}
          </option>
        </select>
      </div>

      <div *ngIf="!disabled" class="col-2">
        <label> מק"ט * </label>
        <input
          type="text"
          [disabled]="disabled"
          formControlName="item"
          (blur)="getShelfs()"
          class="form-control"
        />
      </div>
      <div *ngIf="!disabled" class="col-2">
        <label class="d-block"> שם </label>
        <input class="d-inline form-control" type="text" #name />
        <button class="d-inline" type="button" (click)="getNames(name)">
          Find
        </button>
        <select class="form-control" (change)="setItemDetailsNumber($event)">
          <option
            *ngFor="let itemName of itemNames"
            [value]="itemName.componentN"
          >
            {{ itemName.componentName }}
          </option>
        </select>
      </div>
      <div class="col-2">
        <label>מדף ישן *</label>
        <select
          class="form-control"
          formControlName="old_shell_id_in_whareHouse"
        >
          <option disabled selected value="">בחר מדף</option>
          <option
            *ngFor="let shellNum of shelfsWithItem"
            [disabled]="shellNum.position == 'MINUS'"
            [value]="shellNum.shell_id_in_whareHouse"
            [ngStyle]="{ color: shellNum.amount >= 0 ? 'black' : 'red' }"
          >
            {{ shellNum.position }} - {{ shellNum.amount }} pcs
          </option>
        </select>

        <!-- <label>מדף חדש</label>
        <select class="form-control" formControlName="new_shell_id_in_whareHouse">
          <option disabled value="">בחר מדף</option>
          <option *ngFor="let shellNum of shellNums" [disabled]="shellNum.position == 'MINUS'" [value]="shellNum._id">
            {{shellNum.position}}
          </option>
        </select> -->
      </div>
      <div class="col-2">
        <label>כמות *</label>
        <input type="number" formControlName="amount" class="form-control" />
        <div
          style="color: red; font-size: 1.2rem; font-weight: bold"
          *ngIf="shelfChange.controls.amount.errors?.min"
        >
          * הכמות חייבת להיות גדולה מאפס
        </div>
      </div>
      <div class="col-2">
        <label>מדף חדש *</label>
        <select
          class="form-control"
          formControlName="new_shell_id_in_whareHouse"
        >
          <option disabled value="">בחר מדף</option>
          <option
            *ngFor="let shellNum of shellNums"
            [disabled]="shellNum.position == 'MINUS'"
            [value]="shellNum._id"
          >
            {{ shellNum.position }}
          </option>
        </select>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-2 d-flex flex-column justify-content-around">
        <div *ngIf="sending" class="smallerLoader"></div>
        <button
          type="submit"
          *ngIf="!sending"
          [disabled]="!shelfChange.valid"
          [style.cursor]="shelfChange.valid ? 'pointer' : 'not-allowed'"
          class="btn btn-info"
        >
          העבר
        </button>
        <!-- <button
          type="button"
          class="btn btn-secondary"
          (click)="shelfChange.reset()"
        >
          נקה נתונים
        </button> -->
      </div>
      <div class="col-2 d-flex flex-column justify-content-around">
        <!-- <div *ngIf="sending" class="smallerLoader"></div>
        <button
          type="submit"
          *ngIf="!sending"
          [disabled]="!shelfChange.valid"
          [style.cursor]="shelfChange.valid ? 'pointer' : 'not-allowed'"
          class="btn btn-info"
        >
          העבר
        </button> -->
        <button
          type="button"
          class="btn btn-danger"
          (click)="shelfChange.reset()"
        >
          נקה נתונים
        </button>
      </div>

      <!-- <div class="col-6"></div>
      <div class="col-2">
        <label>מדף חדש *</label>
        <select
          class="form-control"
          formControlName="new_shell_id_in_whareHouse"
        >
          <option disabled value="">בחר מדף</option>
          <option
            *ngFor="let shellNum of shellNums"
            [disabled]="shellNum.position == 'MINUS'"
            [value]="shellNum._id"
          >
            {{ shellNum.position }}
          </option>
        </select>
      </div> -->
      <div class="col-2"></div>
      <div *ngIf="itemNames" class="col-2">
        <img
          [src]="itemNames[0].img"
          alt=" חסרה תמונה ראשית"
          class="pictureTabImg"
        />
      </div>
    </div>
  </form>

  <button
    #print
    printSectionId="printCertificate"
    ngxPrint
    hidden="true"
    [printStyle]="{
      body: { 'text-align': 'right', direction: 'rtl' },
      header: { 'border-bottom': 'solid 1px' },
      main: { 'border-bottom': 'solid 1px' },
      table: { 'text-align': 'right' },
      footer: { position: 'absolute', width: '100%' },
      h2: { 'text-align': 'center' },
      '.originDestWh': { 'text-align': 'right' },
      th: { width: '16%' },
      td: { width: '16%' },
      '.itemNamePrint': { width: '35%' },
      '.signatures': { margin: '50px' },
      '.cellPadding': { padding: '15px 0px' }
    }"
    printTitle="תעודת מעבר בין מחסנים"
  ></button>
  <div id="printCertificate" style="display: none" class="flex-continer">
    <header>
      <h1>פאר פארם בע"מ</h1>
      <p>עמל 17 אזור תעשיה ,אפק ראש העין 4809256</p>
      <p>
        <span>טלפון 03-9024055</span>&nbsp;&nbsp;
        <span>פקס 03-9024015</span>&nbsp;&nbsp;
        <span>דואר אלקטרוני peerpharm@barak.net.il</span>&nbsp;&nbsp;
        <span>ח.פ: 511899023</span>
      </p>
    </header>
    <hr />
    <main class="main-certificate">
      <h2>תעודת שינוי מדף מס' {{ shelfChange.value.deliveryNote }}</h2>
      <h3>מחסן: {{ shelfChange.value.whName }}</h3>
      <h4>תאריך: {{ printDate | date: "dd/MM/yyyy" }}</h4>
      <h4>שעה: {{ printDate | date: "HH:mm" }}</h4>
      <h5>שם מבצע הפעולה: {{ shelfChange.value.user }}</h5>
      <hr />
      <table>
        <thead>
          <tr>
            <th>מק"ט</th>
            <th>שם הפריט</th>
            <th>כמות</th>
            <th>מדף ישן</th>
            <th>מדף חדש</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ shelfChange.value.item }}</td>
            <td>{{ shelfChange.value.itemName }}</td>
            <td>{{ shelfChange.value.amount }}</td>
            <td>{{ shelfChange.value.oldPosition }}</td>
            <td>{{ shelfChange.value.newPosition }}</td>
          </tr>
        </tbody>
      </table>
    </main>
  </div>
</div>
