<div class="container1">

  <div class="row">
    <div class="col-7"></div>
    <div class="col-1 font-weight-bold">Color index:</div>
    <div class="col-1">
      <div [style.background]="'rgb(250, 148, 148)'" class="color-index pt-2">
        <span class="ml-4 mt-4 font-weight-bold">Past Due</span>
      </div>
    </div>
    <div class="col-1">
      <div [style.background]="'Aquamarine'" class="color-index pt-2">
        <span class="ml-4 mt-4 font-weight-bold">Printed</span>
      </div>
    </div>
    <div class="col-2">
      <img (click)="exportToExcel()" class="excel-img click" src="../../../../assets/images/excel.png" alt="">
    </div>
  </div>


  <div class="form-group row mt-2" style="width: 50%;">
    <div class="col-3">
      <input style="box-shadow: 2px 2px 2px black;" class="form-control" #date type='date' [value]="today"
        (change)="dateChanged($event.target.value)">
    </div>
    <div class="col-3">
      <button style="box-shadow: 2px 2px 2px black;" class="btn btn-info form-control" (click)="getAllSchedule()">All
        Schedules</button>
    </div>
    <div class="col-3">
      <button style="box-shadow: 2px 2px 2px black;" class="btn btn-info form-control"
        (click)="getOpenAllSchedule()">All
        Open Schedules</button>
    </div>
    <!-- <div class="col-3">
      <button style="box-shadow: 2px 2px 2px black;" class="btn btn-danger form-control"
        (click)="printSchedules()">Print Schedules</button>
    </div> -->

  </div>



  <table style="font-size: 12px;" class='table table-hover table-bordered'>
    <thead class='bg-info text-white'>
      <tr align='center'>
        <th><b>P</b></th>
        <th><b>Order</b></th>
        <th><b>Item Number</b></th>
        <th><b>Item Image</b></th>
        <th><b>Schedule Date</b></th>
        <th><b>Customer</b></th>
        <th colspan="2">Component</th>
        <th>Color</th>
        <th><b>Date</b></th>
        <th>Amount</th>
        <th>Plate</th>
        <th>Next Station</th>
        <th><b>Remarks</b></th>
        <th>Type</th>
        <th class='printlessTd'></th>
      </tr>

    </thead>

    <tr [class.read-only]="checkPermission()" id='inputTr' (click)="EditRowId=''">
      <td></td>
      <td><input type="number" class="form-control" placeholder="Order No." [(ngModel)]="scheduleLine.orderN"
          style='width:50px' onfocusout="setCostumer()">
      </td>
      <td><input type="number" class="form-control" style="text-align: center;" placeholder="Item No."
          [(ngModel)]="scheduleLine.itemN" style='width:60px' onfocusout="setItemDetails()"></td>
      <td><input class="form-control" [(ngModel)]="scheduleLine.itemImg" style='width:40px' disabled></td>
      <td><input class="form-control" type="date" [(ngModel)]="scheduleLine.scheduleDate" style='width:120px'></td>
      <td><input class="form-control" placeholder="Customer" [(ngModel)]="scheduleLine.costumer" style='width:80px'>
      </td>
      <td><input type="number" class="form-control" placeholder="Cmpt No." [(ngModel)]="scheduleLine.cmptN"
          style='width:80px'></td>
      <td><input class="form-control" placeholder="Cmpt Name" [(ngModel)]="scheduleLine.cmptName" style='width:100px'>
      </td>
      <td><input class="form-control" placeholder="Color" [(ngModel)]="scheduleLine.color" style='width:100px'></td>
      <td><input class="form-control" type='date' style='width:140px;' [(ngModel)]="scheduleLine.date"></td>
      <td><input type="number" placeholder="Amount" class="form-control" [(ngModel)]="scheduleLine.qty"
          style='width:80px'></td>
      <td>
        <select class="form-control" [(ngModel)]="scheduleLine.nextStation">
          <option value="production">Production</option>
          <option value="makeup">Make Up</option>
          <option value="package">Package</option>
        </select>
      </td>

      <td class='printlessTd'><textarea rows='1' cols='30' id='input_marks' style='width:150px' placeholder="Remarks"
          [(ngModel)]="scheduleLine.marks"></textarea></td>
      <td>
        <select id="select_shift" [(ngModel)]="scheduleLine.printType">
          <option value="round">Round</option>
          <option value="flat">Flat</option>
        </select>
      </td>
      <td class='printlessTd'><button class="button" (click)="writeScheduleData()"
          style='margin: 5px;border: 1px solid black;box-shadow:2px 2px 2px black;width:70px; background-color:rgb(19, 165, 19)'
          id='addBtn'>Add</button>
        <button onclick='clearRow()'
          style='border: 1px solid black;box-shadow:2px 2px 2px black; width:70px; background-color:rgb(214, 29, 29)'>Clear</button>
      </td>
    </tr>

    <div *ngIf="fetchingSchedules" class="row">
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4">
        <div class="bigLoader mx-auto"></div>
      </div>
    </div>


    <tbody id="table_body" *ngIf="!fetchingSchedules">

      <ng-container *ngFor="let line of scheduleData; let i = index">
        <tr [class.read-only]="checkPermission()" style="font-size: 12px;" style="text-align: center;"
          [style.background-color]="line.trColor">
          <td *ngIf="line._id!==editPosId" (click)="editPosition(line._id)">{{line.position}}</td>
          <td *ngIf="line._id===editPosId"><input class="form-control" (change)="updateLinePosition(line._id)"
              #scheduleP type="number" [value]="line.position" style='width:70px'>
          </td>
          <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.orderN}}</td>
          <td *ngIf="line._id===EditRowId"><input class="form-control" #orderN type='text' [value]="line.orderN"
              style='width:50px' disabled>
          </td>
          <td *ngIf="line._id!==EditRowId">
            <a target="_blank" routerLink="/peerpharm/items/itemDetails/{{line.itemN}}">
              {{line.itemN}}
            </a>
          </td>
          <td *ngIf="line._id===EditRowId"><input class="form-control" #item type='text' [value]="line.itemN"
              style='width:50px' disabled>
          </td>
          <td *ngIf="line._id!==EditRowId" style='cursor: pointer; color: blue'>
            <!-- {{line.itemImg}} -->
            <!-- <img src="../../../../assets/images/imageIcon.png" alt="imageIcon" style="width: 30px" (click) = "showItemImg(line.itemN)"> -->
            <img src="../../../../assets/images/imageIcon.png" alt="imageIcon" style="width: 30px"
              (click)="openItemImg(line.itemN)">
          </td>
          <td *ngIf="line._id===EditRowId">
            <input class="form-control" #itemImg type='text' value="" style='width:50px' disabled>
          </td>
          <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.scheduleDate | date: 'dd/MM/yyyy'}}</td>
          <td *ngIf="line._id===EditRowId"><input class="form-control" #scheduleDate type='date'
              [value]="line.scheduleDate" style='width:140px'>
          </td>
          <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.costumer}}</td>
          <td *ngIf="line._id===EditRowId"><input class="form-control" #costumer type='text' [value]="line.costumer"
              style='width:50px'></td>

          <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.cmptN}}</td>
          <td *ngIf="line._id===EditRowId"><input class="form-control" #cmptN type='text' [value]="line.cmptN"
              style='width:110px'></td>

          <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.cmptName}}</td>
          <td *ngIf="line._id===EditRowId"><input class="form-control" #cmptName type='text' [value]="line.cmptName"
              style='width:150px; text-align: center;'></td>
          <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.color}}</td>
          <td *ngIf="line._id===EditRowId"><input class="form-control" #color type='text' [value]="line.color"
              style='width:110px'></td>

          <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.date | date: 'dd/MM/yyyy'}}</td>
          <td *ngIf="line._id===EditRowId"><input class="form-control" #date type='date' [(ngModel)]="dateToEditStr"
              style='width:140px'>
          </td>
          <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.qty}}&nbsp;/{{line.qtyProduced}}</td>
          <td *ngIf="line._id===EditRowId"><input class="form-control" #qty type='number' [value]="line.qty"
              style='width:50px'>&nbsp;/ {{line.qtyProduced}}
          </td>
          <td *ngIf="line._id!==EditRowId">
            <img src='assets/images/deleteBtn.png' class='btnImg' style='width:30px;height: 30px'
              *ngIf="line.status!='printed'" (click)="deleteLine(line._id)">
            <img style='width:30px;height: 30px' src='assets/images/aprroved.png'
              (click)='setDone(line._id, line.orderN, line.itemN, line)' class='btnImg' *ngIf="line.status!='printed'">
          </td>
          <td *ngIf="line._id!==EditRowId" (click)="showImg(line.blockImg)" style='cursor: pointer; color: blue'>
            {{line.plate}}/{{line.plate2}}
          </td>
          <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.nextStation}}</td>
          <td *ngIf="line._id===EditRowId"><input class="form-control" #nextStation type='text'
              [value]="line.nextStation" style='width:50px'>
          </td>
          <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.marks}}</td>
          <td *ngIf="line._id===EditRowId"><input class="form-control" #marks type='text' [value]="line.marks"
              style='width:150px'>
          </td>
          <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.printType}}</td>
          <td *ngIf="line._id===EditRowId"><input class="form-control" #printType type='text' [value]="line.printType"
              style='width:50px'>
          </td>
          <td *ngIf="line._id===EditRowId"><input class="form-control" #blockImg type='text' [value]="line.block"
              style='width:50px' disabled>
          </td>
          <td *ngIf="line._id===EditRowId">
            <!-- <img src='assets/images/update2.png' (click)="updateSchedule(line)" class='btnImg' style='width:30px;height: 30px' *ngIf="line.status!='printed'"> -->
            <i class="ti-save text-success m-r-10" (click)="updateSchedule(line)"
              style='cursor:pointer; width:30px !important ; height: 30px !important;'></i>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>




<div *ngIf="openImgModal==true " id="myImgModal" class="modal2"
  style='border:1px; border-radius:5px;z-index: 1;position: fixed; left:100px;top:130px; box-shadow: 0px 0px 39px 8px rgba(0,0,0,0.3);'>

  <!-- Modal content -->
  <div class="modal-content" style='width:1000px' id='modelD'>
    <div class="modal-header">
      <span class="close" id="closeId2" (click)="openImgModal=false ; currModalImgArr=[] ;"
        style="font-size:40px;">&times;</span>
    </div>
    <div class="modal-body" style="overflow-y:scroll; overflow-x:hidden; height: 500px; padding-left: 0px">
      <img *ngFor="let imgSrc of currModalImgArr" [src]="imgSrc" width="100%"
        style="margin-bottom: 10px; margin-left: 10px;">
    </div>
    <div class="modal-footer">
    </div>
  </div>

</div>