table tr td{
    font-size: 18px;
}
.tableHeader {
    box-shadow: 2px 2px 12px 2px black !important;
    background: rgb(69, 69, 202) !important;
  }
  input , select , textarea { 
      box-shadow: 2px 2px 2px black;
  }

  .container1 {
    overflow-x: scroll;
    overflow-y: scroll;
    height: 1000px;
  }

  .bigLoader {
    margin: auto;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 300px;
    height: 300px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  