
<input type='date' #date (change)="dateChanged(date.value)">

<table class='table'>
  <thead class='bg-info text-white'>
    <tr align='center'>
      <th><b>P</b></th>
      <th><b>Order</b></th>
      <th><b>Item N</b></th>
      <th><b>Costumer</b></th>
      <th>Cmpt N</th>
      <th>Cmpt Name</th>
      <th>Color</th>
      <th colspan=2>Amount</th>
      <th><b>Date</b></th>
      <th>Next Station</th>
      <th><b>Remarks</b></th>
      <th>Type</th>
      <th>Plate</th>
      <th></th>
      <th class='printlessTd'></th>
    </tr>

  </thead>

  <tr id='inputTr'>
    <td></td>
    <td><input [(ngModel)]="scheduleLine.orderN" style='width:60px' onfocusout="setCostumer()"></td>
    <td><input [(ngModel)]="scheduleLine.itemN" style='width:90px' onfocusout="setItemDetails()"></td>
    <td><input [(ngModel)]="scheduleLine.costumer" style='width:80px'></td>
    <td><input [(ngModel)]="scheduleLine.cmptN" style='width:80px'></td>
    <td><input [(ngModel)]="scheduleLine.cmptName" style='width:110px'></td>
    <td><input [(ngModel)]="scheduleLine.color" style='width:110px'></td>
    <td colspan=2><input [(ngModel)]="scheduleLine.qty" style='width:90px'></td>
    <td><input type='date' style='width:140px;' [(ngModel)]="scheduleLine.date"></td>
    <td>
      <select [(ngModel)]="scheduleLine.nextStation">
        <option value="production">Production</option>
        <option value="makeup">Make Up</option>
        <option value="package">Package</option>
      </select>
    </td>

    <td class='printlessTd'><textarea rows='1' cols='30' id='input_marks' style='width:150px' [(ngModel)]="scheduleLine.marks"></textarea></td>
    <td>
      <select id="select_shift" [(ngModel)]="scheduleLine.printType">
        <option value="round">Round</option>
        <option value="flat">Flat</option>
      </select>
    </td>
    <td class='printlessTd'><button class="button" (click)="writeScheduleData()" style='width:110px' id='addBtn'>Add</button><br>
      <button onclick='clearRow()' style='width:110px; background-color:red'>Clear</button>
    </td>
  </tr>

  <tbody id="table_body">
    <tr *ngFor="let line of scheduleData" [style.background-color]="line.trColor">

      <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.positionN}}</td>
      <td *ngIf="line._id===EditRowId"><input #id type='hidden' [value]="line._id"><input #position type='text' [value]="line.positionN"
          style='width:50px'></td>
      <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.orderN}}</td>
      <td *ngIf="line._id===EditRowId"><input #orderN type='text' [value]="line.orderN" style='width:50px'></td>
      <td *ngIf="line._id!==EditRowId">
        <a target="_blank" routerLink="/peerpharm/items/itemDetails/{{line.itemN}}">
          {{line.itemN}}
        </a>
      </td>
      <td *ngIf="line._id===EditRowId"><input #item type='text' [value]="line.itemN" style='width:50px'></td>
      <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.costumer}}</td>
      <td *ngIf="line._id===EditRowId"><input #costumer type='text' [value]="line.costumer" style='width:50px'></td>
      <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.cmptN}}</td>
      <td *ngIf="line._id===EditRowId"><input #productName type='text' [value]="line.cmptN" style='width:110px'></td>
      <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.cmptName}}</td>
      <td *ngIf="line._id===EditRowId"><input #productName type='text' [value]="line.cmptName" style='width:110px'></td>
      <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.color}}</td>
      <td *ngIf="line._id===EditRowId"><input #batch type='text' [value]="line.color" style='width:110px'></td>
      <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.qty}}</td>
      <td *ngIf="line._id===EditRowId"><input #qty type='text' [value]="line.qty" style='width:50px'></td>
      <td>{{line.qtyProduced}}</td>


      <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.date | date: 'dd/MM/yyyy'}}</td>
      <td *ngIf="line._id===EditRowId"><input #aaaa type='date' [value]="line.date" style='width:140px'></td>
      <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.nextStation}}</td>
      <td *ngIf="line._id===EditRowId"><input #packageP type='text' [value]="line.nextStation" style='width:50px'></td>


      <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.marks}}</td>
      <td *ngIf="line._id===EditRowId"><input #marks type='text' [value]="line.marks" style='width:50px'></td>
      <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.printType}}</td>
      <td *ngIf="line._id===EditRowId"><input #shift type='text' [value]="line.shift" style='width:50px'></td>
      <td *ngIf="line._id!==EditRowId" (click) = "showImg(line.blockImg)" style='cursor: pointer; color: blue'>{{line.block}}</td>
      <td *ngIf="line._id===EditRowId"><input #mkp type='text' [value]="line.mkp" style='width:50px'></td>
      <td *ngIf="line._id!==EditRowId">
        <img src='assets/images/deleteBtn.png' class='btnImg' style='width:30px;height: 30px' *ngIf="line.status!='printed'"
          (click)="deleteLine(line._id)">
        <img style='width:30px;height: 30px' src='assets/images/aprroved.png' (click)='setDone(line._id, line.orderN, line.itemN)'
          class='btnImg' *ngIf="line.status!='printed'">
      </td>
      <td *ngIf="line._id===EditRowId"><img src='assets/images/update2.png' (click)="updateSchedule()" class='btnImg'
          style='width:30px;height: 30px' *ngIf="line.status!='printed'"></td>

    </tr>
  </tbody>
</table>