
<div class="form-group row" style="width: 50%;">
  <div class="col-3">
    <input style="box-shadow: 2px 2px 2px black;" class="form-control" #date type='date' [value]="today" (change)="dateChanged($event.target.value)">
  </div>
  <div class="col-3">
    <button style="box-shadow: 2px 2px 2px black;" class="btn btn-info form-control" (click)="getAllSchedule()">All Schedules</button>
  </div>
  <div class="col-3">
      <button style="box-shadow: 2px 2px 2px black;" class="btn btn-info form-control" (click)="getOpenAllSchedule()">All Open Schedules</button>
  </div>

</div>


<table style="font-size: 12px;" class='table table-sm'>
  <thead class='tableHeader text-white'>
    <tr align='center'>
      <th><b>P</b></th>
      <th><b>Order</b></th>
      <th><b>Item Number</b></th>
      <th><b>Item Image</b></th>
      <th><b>Schedule Date</b></th>
      <th><b>Costumer</b></th>
      <th>Cmpt N</th>
      <th>Cmpt Name</th>
      <th>Color</th>
      <th>Amount</th>
      <th><b>Date</b></th>
      <th>Next Station</th>
      <th><b>Remarks</b></th>
      <th>Type</th>
      <th>Plate</th>
      <th></th>
      <th class='printlessTd'></th>
    </tr>

  </thead>

  <tr id='inputTr' (click)="EditRowId=''">
    <td></td>
    <td><input [(ngModel)]="scheduleLine.orderN" style='width:50px' onfocusout="setCostumer()"></td>
    <td><input style="text-align: center;" [(ngModel)]="scheduleLine.itemN" style='width:60px' onfocusout="setItemDetails()"></td>
    <td><input [(ngModel)]="scheduleLine.itemImg" style='width:40px' disabled></td>
    <td><input type="date" [(ngModel)]="scheduleLine.scheduleDate" style='width:120px'></td>
    <td><input [(ngModel)]="scheduleLine.costumer" style='width:80px'></td>
    <td><input [(ngModel)]="scheduleLine.cmptN" style='width:80px'></td>
    <td><input [(ngModel)]="scheduleLine.cmptName" style='width:100px'></td>
    <td><input [(ngModel)]="scheduleLine.color" style='width:100px'></td>
    <td ><input [(ngModel)]="scheduleLine.qty" style='width:80px'></td>
    <td><input type='date' style='width:140px;' [(ngModel)]="scheduleLine.date"></td>
    <td>
      <select [(ngModel)]="scheduleLine.nextStation">
        <option value="production">Production</option>
        <option value="makeup">Make Up</option>
        <option value="package">Package</option>
      </select>
    </td>

    <td class='printlessTd'><textarea rows='1' cols='30' id='input_marks' style='width:150px' [(ngModel)]="scheduleLine.marks"></textarea></td>
    <td>
      <select id="select_shift" [(ngModel)]="scheduleLine.printType">
        <option value="round">Round</option>
        <option value="flat">Flat</option>
      </select>
    </td>
    <td class='printlessTd'><button class="button" (click)="writeScheduleData()" style='margin: 5px;border: 1px solid black;box-shadow:2px 2px 2px black;width:70px; background-color:rgb(19, 165, 19)' id='addBtn'>Add</button>
      <button onclick='clearRow()' style='border: 1px solid black;box-shadow:2px 2px 2px black; width:70px; background-color:rgb(214, 29, 29)'>Clear</button>
    </td>
  </tr>

  <tbody  id="table_body">
    <tr style="font-size: 12px;" style="text-align: center;" *ngFor="let line of scheduleData; let i = index" [style.background-color]="line.trColor">

      <td>{{i+1}}</td>
      <!-- <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.positionN}}</td> -->
      <!-- <td *ngIf="line._id===EditRowId"><input #id type='hidden' [value]="line._id"><input #position type='text' [value]="line.positionN"
          style='width:50px'></td> -->
      <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.orderN}}</td>
      <td *ngIf="line._id===EditRowId"><input #orderN type='text' [value]="line.orderN" style='width:50px' disabled></td>
      <td *ngIf="line._id!==EditRowId">
        <a target="_blank" routerLink="/peerpharm/items/itemDetails/{{line.itemN}}">
          {{line.itemN}}
        </a>
      </td>
      <td *ngIf="line._id===EditRowId"><input #item type='text' [value]="line.itemN" style='width:50px' disabled></td>

      <td *ngIf="line._id!==EditRowId"  style='cursor: pointer; color: blue'>
        <!-- {{line.itemImg}} -->
        <!-- <img src="../../../../assets/images/imageIcon.png" alt="imageIcon" style="width: 30px" (click) = "showItemImg(line.itemN)"> -->
        <img src="../../../../assets/images/imageIcon.png" alt="imageIcon" style="width: 30px" (click)="openItemImg(line.itemN)">
      </td>
      <td *ngIf="line._id===EditRowId">
        <input #itemImg type='text' value="" style='width:50px' disabled>
      </td>

      <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.scheduleDate | date: 'dd/MM/yyyy'}}</td>
      <td *ngIf="line._id===EditRowId"><input #scheduleDate type='date' [value]="line.scheduleDate" style='width:140px'></td>
      

      <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.costumer}}</td>
      <td *ngIf="line._id===EditRowId"><input #costumer type='text' [value]="line.costumer" style='width:50px'></td>
      
      <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.cmptN}}</td>
      <td *ngIf="line._id===EditRowId"><input #cmptN type='text' [value]="line.cmptN" style='width:110px'></td>
      
      <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.cmptName}}</td>
      <td *ngIf="line._id===EditRowId"><input #cmptName type='text' [value]="line.cmptName"  style='width:150px; text-align: center;'></td>
      <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.color}}</td>
      <td *ngIf="line._id===EditRowId"><input #color type='text' [value]="line.color" style='width:110px'></td>

      <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.qty}}&nbsp;/{{line.qtyProduced}}</td>
      <td *ngIf="line._id===EditRowId"><input #qty type='text' [value]="line.qty" style='width:50px'>&nbsp;/ {{line.qtyProduced}}</td>
      <!-- <td *ngIf="line._id!==EditRowId" style="float:left;">/{{line.qtyRdy}}</td>
      <td *ngIf="line._id===EditRowId" style="float:left;">/<input #qtyRdy type='text' [value]="line.qtyRdy" style='width:50px ; float:left;' disabled></td> -->


      <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.date | date: 'dd/MM/yyyy'}}</td>
      <td *ngIf="line._id===EditRowId"><input #date type='date' [(ngModel)]="dateToEditStr" style='width:140px'></td>
      <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.nextStation}}</td>
      <td *ngIf="line._id===EditRowId"><input #nextStation type='text' [value]="line.nextStation" style='width:50px'></td>


      <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.marks}}</td>
      <td *ngIf="line._id===EditRowId"><input #marks type='text' [value]="line.marks" style='width:150px'></td>
      <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.printType}}</td>
      <td *ngIf="line._id===EditRowId"><input #printType type='text' [value]="line.printType" style='width:50px'></td>
      <td *ngIf="line._id!==EditRowId" (click) = "showImg(line.blockImg)" style='cursor: pointer; color: blue'>{{line.plate}}/{{line.plate2}}</td>
      <td *ngIf="line._id===EditRowId"><input #blockImg type='text' [value]="line.block" style='width:50px' disabled></td>
      <td *ngIf="line._id!==EditRowId">
        <img src='assets/images/deleteBtn.png' class='btnImg' style='width:30px;height: 30px' *ngIf="line.status!='printed'"
          (click)="deleteLine(line._id)">
        <img style='width:30px;height: 30px' src='assets/images/aprroved.png' (click)='setDone(line._id, line.orderN, line.itemN, line)'
          class='btnImg' *ngIf="line.status!='printed'">
      </td>
      <td *ngIf="line._id===EditRowId">
        <!-- <img src='assets/images/update2.png' (click)="updateSchedule(line)" class='btnImg' style='width:30px;height: 30px' *ngIf="line.status!='printed'"> -->
        <i class="ti-save text-success m-r-10" (click)="updateSchedule(line)" style='cursor:pointer; width:30px !important ; height: 30px !important;'></i>

      </td>

    </tr>
  </tbody>
</table>




<div *ngIf="openImgModal==true " id="myImgModal" class="modal2" style='border:1px; border-radius:5px;z-index: 1;position: fixed; left:100px;top:130px; box-shadow: 0px 0px 39px 8px rgba(0,0,0,0.3);'>

  <!-- Modal content -->
  <div class="modal-content" style='width:1000px' id='modelD'>
    <div class="modal-header">
      <span class="close" id="closeId2" (click)="openImgModal=false ; currModalImgArr=[] ;" style="font-size:40px;">&times;</span>
    </div>
    <div class="modal-body" style="overflow-y:scroll; overflow-x:hidden; height: 500px; padding-left: 0px">
      <img *ngFor="let imgSrc of currModalImgArr"[src]="imgSrc" width="100%" style="margin-bottom: 10px; margin-left: 10px;">
    </div>
    <div class="modal-footer">
    </div>
  </div>

</div>
