<!-- <div class="d-flex flex-row justify-content-between"> -->

<div class="container">

    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col-4 p-2">
            <h2 class="text-center">Existing Product</h2>
        </div>
        <div class="col-4"></div>
    </div>

    <div class="container mt-5">
        <div class="row mt-5">
            <input type="number" placeholder="Product Number" #productNumber> &nbsp;&nbsp;
            <button class="btn btn-warning" (click)="getItemData(productNumber)">Calculate Product Price</button>
        </div>
        <div class="bigLoader" *ngIf="calculating"></div>
        <div *ngIf="!calculating" class="container mt-5">
            <div class="row mt-4">
                <table class="bg-warning text-dark">
                    <thead class="text-center">
                        <tr>
                            <th>Component</th>
                            <th></th>
                            <th>Price</th>
                            <th>Shipping</th>
                        </tr>
                    </thead>
                    <tbody class="table table-bordered">
                        <tr *ngFor="let component of itemComponents">
                            <td>{{component.componentNumber}}</td>
                            <td>{{component.componentName}}</td>
                            <td>{{component.price}}</td>
                            <td>{{component.shippingPrice}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>{{totalItemPrice}}</td>
                            <td>{{totalShippingPrice}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<!-- <div class="container">

        <div class="row mt-5" (click)="showNewPricing = !showNewPricing">
            <div class="col-4"></div>
            <div class="col-4 p-2">
                <h2 class="click text-center">Compare</h2>
            </div>
            <div class="col-4"></div>
        </div>

        <div class="container" *ngIf="showNewPricing">
            <p>New Pricing</p>
        </div>

    </div> -->

<!-- </div> -->