<!-- <div class="d-flex flex-row justify-content-between"> -->

<div class="container">

    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col-4 p-2">
            <h2 class="text-center">Existing Product</h2>
        </div>
        <div class="col-4"></div>
    </div>

    <div class="container mt-5">
        <div class="row mt-5">
            <!-- <div class="d-flex flex-column">
                <div>
                    <input type="text" (change)="productNumber.value = $event" placeholder="Product Name" #productName>
                    &nbsp;&nbsp;
                    <button (click)="findByName(productName.value)">find</button>
                </div>
                <div>
                    <ul *ngIf="currentNames" class="list-group">
                        <li class="list-group-item" *ngFor="let itemNameObj of currentNames"
                            (click)="productNumber.value = itemNameObj.itemNumber">
                            {{itemNameObj.name}} {{itemNameObj.subName}} {{itemNameObj.discriptionK}}
                        </li>
                    </ul>
                </div>
            </div> -->
            <input type="number" placeholder="Product Number" #productNumber> &nbsp;&nbsp;
            <button class="btn btn-warning" (click)="getItemData(productNumber)">Calculate Product Price</button>
        </div>
        <div class="bigLoader" *ngIf="calculating"></div>
        <div *ngIf="!calculating" class="container mt-5">
            <div class="row mt-4">
                <h2>{{item.name}} {{item.subName}} {{item.discriptionK}}</h2>
            </div>
            <div class="row mt-2">
                <div class="col-4">
                    <table *ngIf="item" class="bg-warning text-dark">
                        <thead class="text-center">
                            <tr>
                                <th>Component</th>
                                <th></th>
                                <th>Price</th>
                                <th>Shipping</th>
                                <th>Last Supplier</th>
                            </tr>
                        </thead>
                        <tbody class="table table-bordered">
                            <tr *ngFor="let component of itemComponents">
                                <td class="click" (click)="changeView(component, 'orders')">
                                    {{component.componentNumber}}</td>
                                <td>{{component.componentName}}</td>
                                <td>{{component.price}}</td>
                                <td>{{component.shippingPrice}}</td>
                                <td (click)="changeView(component, 'suppliers')">
                                    {{component.lastOrders[0].supplierName}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>{{totalItemPrice}}</td>
                                <td>{{totalShippingPrice}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-4">

                </div>
                <div class="col-4" *ngIf="selectedComponent && showOrders">
                    <h3>Purchases for item {{selectedComponent.componentNumber}}</h3>
                    <button (click)="selectedStatus = selectedStatus == 'open' ? 'closed' : 'open'">Change
                        Status</button>
                    <span class="bg-dark text-warning ml-5 p-2">Status = {{selectedStatus}}</span>
                    <table class="bg-warning text-dark">
                        <thead class="text-center">
                            <tr>
                                <th>Order Number</th>
                                <th>Status</th>
                                <th>Created at..</th>
                                <th>Arrival Date</th>
                                <th>quantity Ordered</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table table-bordered">
                            <ng-container *ngFor="let order of selectedComponent.lastOrders">
                                <tr
                                    *ngIf="(order.status != 'closed' && selectedStatus != 'closed') || (order.status == 'closed' && selectedStatus == 'closed')">
                                    <td>{{order.orderNumber}}</td>
                                    <td>{{order.status}}</td>
                                    <td>{{order.orderDate | date:'dd/MM/yy'}}</td>
                                    <td>{{order.arrivalDate | date:'dd/MM/yy'}}</td>
                                    <td>{{order.quantity}}</td>
                                    <td>{{order.price}}</td>
                                    <td>{{order.coin}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>

            <div *ngIf="item">
                <div class="row mt-4">
                    <h3>Customers Purchasing Item {{item.itemNumber}}</h3>
                </div>
                <div class="bg-warning" *ngIf="loadingCustomers">
                    <h4>Loading Customers For Item</h4>
                    <div class="smallLoader"></div>
                </div>
                <table *ngIf="!loadingCustomers" class="bg-warning text-dark">
                    <thead class="text-center">
                        <tr>
                            <th>Customer</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table table-bordered">
                        <tr *ngFor="let customer of customersForItem">
                            <td>{{customer.costumerId}}</td>
                            <td>{{customer.costumerName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>