.click {
    cursor: pointer;
    border-radius: 5px
}

.click:hover {
    background-color: chocolate;
}

.bigLoader {
    margin: auto;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 300px;
    height: 300px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }