<table class='table'>
  <thead class='bg-info text-white'>
    <tr>
      <th>#</th>
      <th>Order</th>
      <th>date</th>
      <th>WhareHouse</th>
      <th>Status</th>
      <th>
        <img src='assets/images/move.png' class='imgBtn' (click)="loadItems()">
      </th>
    </tr>
  </thead>
  <ng-container *ngFor="let demand of ordersDemands; let i =index">
    <tr>
      <td>{{i}}</td>
      <td><a  (click)="getDetails(demand._id, demand.reqNum)" style='color: blue; cursor: pointer;'>{{demand.reqNum}}</a></td>
      <td>{{demand.deliveryDate}}</td>
      <td>{{demand.fromWH}}</td>
      <td>{{demand.reqStatus}}</td>
    </tr>
    
    <tr *ngIf="demand._id== EditRowId2nd && expand==true;">   
      <th  class="cmptTh"></th>
      <th class="cmptTh">Item Number</th>
      <th class="cmptTh">Delivery Date</th>
      <th class="cmptTh">Amount</th>
      <!-- <th class="cmptTh">Allocation</th> -->
      <th class="cmptTh">Supplied</th>
      <!-- <th class="cmptTh">Done</th> -->
    </tr>
      <ng-container *ngFor="let cmpt of demand.reqList;" >
          <tr *ngIf="demand._id== EditRowId2nd && expand==true;">
            <td> <input type="checkbox" [(ngModel)]="cmpt.isSelected"> </td>
            <td>{{cmpt.itemNumber}}</td>
            <td>{{demand.deliveryDate}}</td>
            <td>{{cmpt.amount}}</td>
            <!-- <td>{{cmpt.allocation}}</td> -->
            <td>{{cmpt.supplied}}</td>
            <!-- <td>V AutoTBD</td> -->
          </tr>
      </ng-container>
    
  </ng-container>
</table>

<!--
  <input type="checkbox" [(ngModel)]="order.isSelected"> </td>
-->