input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}
.cmptTh{
    background-color: rgb(145, 111, 69);
    font-weight: bolder;
    padding: 3px;
    color: white;
}
.imgBtn{
    width:40px;
    cursor: pointer;
}
.imgBtn:hover{
    width:45px;
}
.mat-ripple-element { 
    left:0;
    animation: none;
}