<link href="https://unpkg.com/@angular/material/prebuilt-themes/deeppurple-amber.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-tab-group class="content" #tg    [selectedIndex]="0">



  <mat-tab *ngFor="let board of boards" class="board-tabs">
    <ng-template mat-tab-label><span class="board-title">{{board.title}}</span></ng-template>
    <app-board [boardTitle]="board.title"  [boardID]="board._id" > Loading...</app-board>
 
  </mat-tab>
<!--  <a href="/subcard">sub card</a> -->
  <mat-tab>
    <ng-template mat-tab-label><span style="font-size: 25px">&#43;</span></ng-template>
    
 <app-create-board></app-create-board> 
  </mat-tab>
 
</mat-tab-group>



