<!-- .row -->
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Phase Item
            <span class="close" id="deleteItem" (click)="deletePhaseItem()">&times;</span>
        </h4>
        <h5 class="card-subtitle">Enter formule values here</h5>

        <form class="form" [formGroup]="itemsForm">
          <div class="form-group m-t-40 row">
            <label for="example-text-input" class="col-2 col-form-label"
              >Item Number</label
            >
            <div class="col-10">
              <input
                class="form-control"
                type="text"
                formControlName="number"
              />
            </div>
          </div>
          <div class="form-group m-t-40 row">
            <label for="example-text-input" class="col-2 col-form-label"
              >Item Name</label
            >
            <div class="col-10">
              <input
                class="form-control"
                type="text"
                formControlName="name"
              />
            </div>
          </div>
          <div class="form-group m-t-40 row">
            <label for="example-text-input" class="col-2 col-form-label"
              >Supplier Number</label
            >
            <div class="col-2">
              <input
                class="form-control"
                type="text"
                formControlName="suplierNumber"
              />
            </div>
            <label for="example-text-input" class="col-2 col-form-label"
              >Supplier Name</label
            >
            <div class="col-2">
              <input
                class="form-control"
                type="text"
                formControlName="suplierName"
              />
            </div>
            <label for="example-text-input" class="col-2 col-form-label"
              >Supplier Item Number</label
            >
            <div class="col-2">
              <input
                class="form-control"
                type="text"
                formControlName="suplierItemNumber"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="example-number-input" class="col-2 col-form-label"
              >Item Amount</label
            >
            <div class="col-10">
              <input
                class="form-control"
                type="number"
                value=""
                formControlName="quantity"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="example-number-input" class="col-2 col-form-label"
              >Item Relative Percentage</label
            >
            <div class="col-10">
              <input
                class="form-control"
                type="number"
                value=""
                formControlName="Percentage"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label"
              >Instructions</label
            >
            <div class="col-10">
              <input
                class="form-control"
                type="text"
                value=""
                formControlName="instructions"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="example-number-input" class="col-2 col-form-label"
              >Tempature</label
            >
            <div class="col-10">
              <input
                class="form-control"
                type="number"
                value=""
                formControlName="temp"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="example-color-input" class="col-2 col-form-label"
              >Ph Range</label
            >
            <div class="col-10">
              <input
                type="range"
                class="form-control"
                formControlName="itemPH"
                value="5.5"
                min="1"
                max="14"
                [(ngModel)]="phValue"
                step="0.01"
              />
            </div>
            <label class="col-2 col-form-label">{{ phValue }}</label>
          </div>


          <button class="btn btn-success m-r-10" type="button" (click)="onSubmit()">Add Another Item</button>
        </form>
      </div>
    </div>
  </div>
</div>
