<section class="mainPage" dir="rtl">
  <div class="heading">
    <h1 class="tittle">טופס אריזה אישית</h1>
  </div>
  <div class="containerSixTop">
    <div class="containerThree">
      <div class="inputData">
      <label for="orderNumber">מס' הזמנה</label>
      <input type="number" name="orderNumber" id="orderNumber">
      </div>
      <div class="inputData">
      <label for="productName">שם מוצר</label>
      <input type="text" name="productName" id="productName">
      </div>
      <div class="inputData">
      <label for="customerName">שם לקוח</label>
      <input type="text" name="customerName" id="customerName">
      </div>
    </div>
    <div class="containerThree">
      <div class="inputData">
        <label for="orderQty">כמות מוזמנת</label>
        <input type="number" name="orderQty" id="orderQty">
      </div>
      <div class="inputData">
        <label for="itemNumber">מק"ט</label>
        <input type="number" name="itemNumber" id="itemNumber">
      </div>
      <div class="inputData">
        <label for="batchNumber">מס' אצווה</label>
        <input type="text" name="batchNumber" id="batchNumber">
      </div>
    </div>
  </div>
  <div class="inputData" style="margin-bottom: 3rem;">
    <label for="uwAction">פעולה לא נדרשת</label>
    <input type="checkbox" name="uwAction" id="uwAction">
  </div>
  <div class="containerSix" id="numbers">
    <div class="containerThree">
      <div class="inputData">
      <label for="personalPackNum">מק"ט אריזה אישית</label>
      <input type="number" name="personalPackNum" id="personalPackNum">
      </div>
      <div class="inputData">
      <label for="pamphletNumber">מק"ט אלון</label>
      <input type="number" name="pamphletNumber" id="pamphletNumber">
      </div>
    </div>
    <div class="containerThree">
      <div class="inputData">
        <label for="stickerNumber">מק"ט מדבקה על האריזה</label>
        <input type="number" name="stickerNumber" id="stickerNumber">
      </div>
      <div class="inputData">
        <label for="masterCartonNumber">מק"ט קרטון מאסטר</label>
        <input type="number" name="masterCartonNumber" id="masterCartonNumber">
      </div>
    </div>
  </div>
  <div class="containerSix">
    <div class="containerThree">
      <div class="inputData">
      <label for="startPackDate">תאריך תחילת אריזה</label>
      <input type="date" name="startPackDate" id="startPackDate">
      </div>
      <div class="inputData">
      <label for="endPackDate">תאריך סיום אריזה</label>
      <input type="date" name="endPackDate" id="endPackDate">
      </div>
    </div>
    <div class="containerThree">
      <div class="inputData">
        <label for="startPackTime">שעת התחלת אריזה</label>
        <input type="time" name="startPackTime" id="startPackTime">
      </div>
      <div class="inputData">
        <label for="endPackTime">שעת סיום אריזה</label>
        <input type="time" name="endPackTime" id="endPackTime">
      </div>
    </div>
    <div class="inputData">
      <label for="packPerson">אריזה ע"י</label>
      <input type="text" name="packPerson" id="packPerson">
    </div>
  </div>
  <h5 class="testingTittle">בדיקות לפני אריזה</h5>
  <div class="containerSix" id="testing">
    <div class="containerThree">
      <div class="inputData">
        <label for="detectionPersonalPack">זיהוי אריזה אישית</label>
        <input type="checkbox" name="detectionPersonalPack" id="detectionPersonalPack">
      </div>
      <div class="inputData">
        <label for="propriety">תקינות אריזה (ללא דבק, שריטות וכו')</label>
        <input type="checkbox" name="propriety" id="propriety">
      </div>
    </div>
    <div class="containerThree">
      <div class="inputData">
        <input type="checkbox" name="amount" id="amount" style="margin-left:1rem ;">
        <label for="amount">כמות אריזה (האם יספיק לכל ההזמנה)</label>
        <input type="text"/>
      </div>
      <div class="inputData">
        <label for="acceptance">חתימת מנהל מאשר</label>
        <input type="checkbox" name="acceptance" id="acceptance">
      </div>
    </div>
  </div>
  <h5 class="testingTittle" style="margin-top: 3rem;">בקרה במהלך אריזה</h5>
  <table>
    <thead>
      <tr>
        <th>
          שעת בדיקה
        </th>
        <th>
           תקינות אריזה סופית
        </th>
        <th>
           תקינות אלון 
        </th>
        <th>
           תקינות לייזר 
        </th>
        <th>
           תקינות הדפסה 
        </th>
        <th>
           תקינות הדבקה 
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="time" name="testingTime" id="testingTime" style="margin-left:1rem;">
        </td>
        <td>
          <input type="checkbox" name="packCorrectness" id="packCorrectness" style="margin-left: 1rem;">
        </td>
        <td>
          <input type="checkbox" name="pamphletCorrectness" id="pamphletCorrectness" style="margin-left: 1rem;">
        </td>
        <td>
          <input type="checkbox" name="laserCorrectness" id="laserCorrectness" style="margin-left: 1rem;">
        </td>
        <td>
          <input type="checkbox" name="printingCorrectness" id="printingCorrectness" style="margin-left: 1rem;">
        </td>
        <td>
          <input type="checkbox" name="stickerCorrectness" id="stickerCorrectness" style="margin-left: 1rem;">
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <div class="containerSix">
    <div class="inputData">
      <label for="testingTime">שעת בדיקה</label>
      <input type="time" name="testingTime" id="testingTime" style="margin-left:1rem;">
    </div>
    <div class="inputData">
      <label for="packCorrectness">תקינות אריזה סופית</label>
      <input type="checkbox" name="packCorrectness" id="packCorrectness" style="margin-left: 1rem;">
    </div>
    <div class="inputData">
      <label for="pamphletCorrectness">תקינות אלון</label>
      <input type="checkbox" name="pamphletCorrectness" id="pamphletCorrectness" style="margin-left: 1rem;">
    </div>
    <div class="inputData">
      <label for="laserCorrectness">תקינות לייזר</label>
      <input type="checkbox" name="laserCorrectness" id="laserCorrectness" style="margin-left: 1rem;">
    </div>
    <div class="inputData">
      <label for="printingCorrectness">תקינות הדפסה</label>
      <input type="checkbox" name="printingCorrectness" id="printingCorrectness" style="margin-left: 1rem;">
    </div>
    <div class="inputData">
      <label for="stickerCorrectness">תקינות הדבקה</label>
      <input type="checkbox" name="stickerCorrectness" id="stickerCorrectness" style="margin-left: 1rem;">
    </div>
  </div> -->
  <div class="containerThree2">
    <div class="inputData">
      <label for="unitsInCarton">כמות יח' בקרטון</label>
      <input type="number" name="unitsInCarton" id="unitsInCarton" style="margin-left:1rem;">
    </div>
    <div class="inputData">
      <label for="Cartons">כמות קרטונים</label>
      <input type="number" name="Cartons" id="Cartons" style="margin-left:1rem;">
    </div>
    <div class="inputData">
      <label for="total">סך הכל</label>
      <input type="number" name="total" id="total" style="margin-left:1rem;">
    </div>
  </div>
  <div class="containerSixR">
    <div class="containerThreeR">
      <div class="inputData">
        <label for="continueTab">ממשיך תהליך</label>
        <input type="checkbox" name="continueTab" id="continueTab">
      </div>
      <div class="inputData">
        <label for="delivery">יוצא למשלוח</label>
        <input type="checkbox" name="delivery" id="delivery">
      </div>
      <div class="inputData">
        <label for="signature">חתימת מנהל מאשר</label>
        <input type="text" name="signature" id="signature">
      </div>
    </div>
  </div>
  <div class="remarksContainer">
    <div class="inputData">
      <p><b>הערות</b></p>
      <textarea name="remarks" id="remarks" rows="10" cols="100" ></textarea>
    </div>
  </div>
</section>





