
@media screen and (min-width: 1000px) {
    #arrivalForm{
      width: 60%;
    }
  }
@media screen and (min-width: 750px) {
    #arrivalForm{
      width: 75%;
    }
  }

  #arrivalForm{
    float: right;
  }

form.flex-row-reverse *{
float: right;
}
form label{
    float: right;
}

.form-row{
    padding-bottom: 15px;
}
.form-row button{
    margin: 0 15px;
}

.col-ms-4{
    margin-bottom: 10px;
}

.orderLine{
    border-bottom: grey solid 2px;
    width: 100%;
    cursor: pointer;
     
}
.supplierItemsList ul{
    list-style: none;
    text-align: right;
}
.supplierItemsList ul li{
    direction: rtl;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: lightgrey solid 1px;
}
.supplierItemsList input{
    margin-bottom: 15px;
    border-bottom: lightgrey solid 1px;
}

.flexDirRtl {
    flex-direction: row-reverse !important;
}
.nav-link{
    font-size: 20px;
}

input[type=text] { 
    box-shadow: 1px 1px 1px black;
}

input[type=number] { 
    box-shadow: 1px 1px 1px black;
}

input[type=date] { 
    box-shadow: 1px 1px 1px black;
}

button:disabled {
    cursor: not-allowed;
}


select { 
    box-shadow: 1px 1px 1px black;
}

.btn-success , .btn-danger { 
    box-shadow: 2px 2px 4px black;
}

.spanTDStyle{
    display: inline-block; 
    margin-right: 20px;
}
.divStyle{
    /* margin-top: 15px; */
    /* JUSTIFY-CONTENT: CENTER; */
    DISPLAY: FLEX;
    JUSTIFY-CONTENT: CENTER;
    BACKGROUND: WHITE;
    WIDTH: 80%;
    PADDING-TOP: 20PX;
    PADDING-BOTTOM: 20PX;
}
.clearfix {
    overflow: auto;
  }
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .bigLoader {
    margin: auto;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 300px;
    height: 300px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  .smallLoader {
    margin: auto;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  