.container-fluid{
    background-color: pink;
}

form.flex-row-reverse *{
float: right;
}
form label{
    float: right;
}

.form-row{
    padding-bottom: 15px;
}
.form-row button{
    margin: 0 15px;
}

.col-ms-4{
    margin-bottom: 10px;
}

.orderLine{
    border-bottom: grey solid 2px;
    width: 100%;
    cursor: pointer;
     
}
.supplierItemsList ul{
    list-style: none;
    text-align: right;
}
.supplierItemsList ul li{
    direction: rtl;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: lightgrey solid 1px;
}
.supplierItemsList input{
    margin-bottom: 15px;
    border-bottom: lightgrey solid 1px;
}