.container-fluid{
    background-color: pink;
}

form.flex-row-reverse *{
float: right;
}
form label{
    float: right;
}

.form-row{
    padding-bottom: 15px;
}
.form-row button{
    margin: 0 15px;
}

