.container-fluid{
    background-color: pink;
}

form.flex-row-reverse *{
float: right;
}
form label{
    float: right;
}

.form-row{
    padding-bottom: 15px;
}
.form-row button{
    margin: 0 15px;
}

.col-ms-4{
    margin-bottom: 10px;
}

.orderLine{
    border-bottom: grey solid 2px;
    width: 100%;
    cursor: pointer;
     
}