<button class="btn btn-success" printSectionId="print-section" [printStyle]="{th : {'border': 'solid 1px'}, td : {'border': 'solid 1px', 'font-size': '20px'}}"  ngxPrint>Print Formule</button>
<div  id="print-section"  class="mainContainer container-fluid">
  <div style="text-align: center;" *ngFor="let phase of formulePhases,let i=index">
    <h2 *ngIf="i==0">{{phase.formuleNumber}}</h2>
    <h2 *ngIf="i==0">{{phase.formuleName}}</h2>
    
  </div>
  <table class="table table-bordered">
      <thead>
          <tr>
            <th scope="col">Phase</th>
            <th scope="col">Name</th>
            <th scope="col">Phase Instructions</th>
            <th scope="col">Batch Number</th>
            <th scope="col">Execute</th>
            <th scope="col">No.</th>
            <th scope="col">Raw Material Name</th>
            
            <th scope="col">Weight</th>
            <th scope="col">Weight%</th>
            <th scope="col">Temp</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="  let phase of formulePhases; let indx=index;" style="border: solid black 2px;">
                <ng-container *ngIf="phase.items.length > 0">
                  
                  <tr *ngFor="let item of phase.items ; let i = index; ">
                    <td *ngIf="i==0" [attr.rowspan]="phase.items.length" class="phase" (click)="loadPhaseToForm(phase)">{{phase.phaseNumber}}</td>
                    <td *ngIf="i==0" [attr.rowspan]="phase.items.length" class="phase">{{phase.phaseName}}</td>
                    <td *ngIf="i==0" [attr.rowspan]="phase.items.length" class="phase">{{phase.phaseInstructions}}</td>
                    <td></td>
                    <td></td>
                    <td>{{item.itemNumber}}</td>
                    <td>{{item.itemName}}</td>
                    <td>{{item.itemInstructions}}</td>
                    <td>{{item.quantity}}&nbsp; {{item.quantityUnits}}</td>
                    <td>{{item.percentage}}</td>
                    <td>{{item.temp}}</td>
                    
                  </tr>        
                </ng-container>
                <ng-container *ngIf="phase.items.length == 0">
                  <tr>
                    <td class="phase" (click)="loadPhaseToForm(phase)">{{phase.phaseNumber}}</td>
                    <td class="phase">{{phase.phaseName}}</td>
                    <td class="phase">{{phase.phaseInstructions}}</td>
                  </tr>
               
                </ng-container>
            </ng-container>
          
          </tbody>

  </table><br>
    <div style="text-align: center;">Exp:________</div><br>
  <table style="text-align: center;margin-left:auto;margin-right:auto"  class="table table-bordered">
    <thead>
      <tr>
        <th style="height:30px">PH Range required</th>
        <th style="height:30px">PH Test</th>
        <th style="height:30px">Approval Filling Material</th>
        <th style="height:30px">Operation Signature</th>
        <th style="height:30px">Examiner Signature</th>
      </tr>
    </thead>
    <tbody>
      <td style="height:40px"></td>
      <td style="height:40px"></td>
      <td style="height:40px"></td>
      <td style="height:40px"></td>
      <td style="height:40px"></td>
    </tbody>

  </table>
</div>