<div class="mainContainer container-fluid">
  <h3>Number: 12345 Name: formule1</h3>
  <h3>Client: client</h3>
  <h3>Category: Category PH: ph-value</h3>
  <h3>Updated: date User: user</h3>
  <table class="table table-bordered">
      <thead>
          <tr>
            <th scope="col">Phase Number</th>
            <th scope="col">Phase Name</th>
            <th scope="col">Phase Instructions</th>
            <th scope="col">No.</th>
            <th scope="col">Raw Material Name</th>
            <th scope="col">Execute</th>
            <th scope="col">item Number</th>
            <th scope="col">Weight%</th>
            <th scope="col">Weight(Kg)</th>
            <th scope="col">Temp.</th>
            <th scope="col">Process</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="  let phase of formulePhases;" style="border: solid black 2px;">
                <tr *ngFor="let step of phase.stepsArr ; let i = index; ">
                  <td *ngIf="i==0" [attr.rowspan]="phase.stepsArr.length" >{{phase.phaseNumber}}</td>
                  <td *ngIf="i==0" [attr.rowspan]="phase.stepsArr.length" >{{phase.phaseName}}</td>
                  <td *ngIf="i==0" [attr.rowspan]="phase.stepsArr.length" >{{phase.phaseInstructions}}</td>
                  <td>{{i+1}}1</td>
                  <td>{{step.itemIndex}}2</td>
                  <td>{{step.materialName}}3</td>
                  <td>{{step.materialName}}4</td>
                  <td>{{step.materialName}}</td>
                  <td>{{step.materialName}}</td>
                  <td>{{step.materialName}}</td>
                  <td>{{step.materialName}}</td>
                  <td></td>
                </tr>      
            </ng-container>
          
          </tbody>

  </table>
</div>