<div class="mainContainer container-fluid">
    <button class="btn btn-success" printSectionId="print-section" [useExistingCss]="true" ngxPrint>Print Formule</button>
  <table class="table table-bordered">
      <thead>
          <tr>
            <th scope="col">Phase Number</th>
            <th scope="col">Phase Name</th>
            <th scope="col">Phase Instructions</th>
            <th scope="col">No.</th>
            <th scope="col">Raw Material Name</th>
            <th scope="col">Execute</th>
            <th scope="col">Weight</th>
            <th scope="col">Weight%</th>
            <th scope="col">Temp</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="  let phase of formulePhases; let indx=index;" style="border: solid black 2px;">
                <ng-container *ngIf="phase.items.length > 0">
                  
                  <tr *ngFor="let item of phase.items ; let i = index; ">
                    <td *ngIf="i==0" [attr.rowspan]="phase.items.length" class="phase" (click)="loadPhaseToForm(phase)">{{phase.phaseNumber}}</td>
                    <td *ngIf="i==0" [attr.rowspan]="phase.items.length" class="phase">{{phase.phaseName}}</td>
                    <td *ngIf="i==0" [attr.rowspan]="phase.items.length" class="phase">{{phase.phaseInstructions}}</td>
                    <td>{{item.itemNumber}}</td>
                    <td>{{item.itemName}}</td>
                    <td>{{item.itemInstructions}}</td>
                    <td>{{item.quantity}}&nbsp; {{item.quantityUnits}}</td>
                    <td>{{item.percentage}}</td>
                    <td>{{item.temp}}</td>
                    <td></td>
                  </tr>        
                </ng-container>
                <ng-container *ngIf="phase.items.length == 0">
                  <tr>
                    <td class="phase" (click)="loadPhaseToForm(phase)">{{phase.phaseNumber}}</td>
                    <td class="phase">{{phase.phaseName}}</td>
                    <td class="phase">{{phase.phaseInstructions}}</td>
                  </tr>
               
                </ng-container>
            </ng-container>
          
          </tbody>

  </table>
</div>