body { 
  line-height: none !important;
}

button, input {
  border-radius: 5px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.read-only {
  pointer-events: none;
}

.search {
  background: #c5c2b7;
  width: 61%;
  height: 279px;
  margin-left: 338px;
}

.fa-times {
  font-size: 50px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}

.fa-times:hover {
  background-color: aquamarine;
  color: black;
}

.small{
  width: 30px;
  cursor: pointer;
}

.fr {
  float: right;
}

.expiredDate {
  color: red;
}

.table-fixed tbody {
  height: 700px;
  overflow-y: scroll;  
}

select:focus,input:focus {
  border-color: #0346ff;
  box-shadow: 0 0 5px #0346ff;
}

.smallLoader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 150px;
  height: 150px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#table-wrapper {
  height: 100px !important;
  padding: 0px;
  margin: 0px auto 0px auto;
  overflow-y: auto;
  transition: 0.5s;
}

#table-wrapper:hover {
  transform: scale(1.8);
}

.tableFixHead          { overflow-y: auto; height: 800px;background:rgba(0, 0, 255, 0);padding:0px; }
.tableFixHead thead th { position: sticky; top: -5px; background:#2962FF }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }

.table-fixed tr {
  font-size: 18px;
}

.table-fixed[_ngcontent-c4] td[_ngcontent-c4] {
  border-bottom: none;
  font-family: "Times New Roman", Times, serif;
}

.table-fixed tbody tr {
  background-color: white;
  color: black;
}

.table-fixed .smallCell {
  width:40px;
  padding: 5px;
}

td > img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
  min-width: 40px;
}

.btn {
  min-width: 20px;
}

input[type="checkbox"] {
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  margin-left: 10px;
}

div {
  float: left;
  margin-right: 5px;
  padding: 13px;
  border: 1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

div::selection {
  background-color: blue;
}

.btnImg {
  width: 30px;
  cursor: pointer;
}

i {
  font-size: 20px;
}

table {
  color: black;
  font-size: 16px;
}

.arrivalWeekNotice{
  background:lightcoral;
}

.fixNoaStupidStuff {
  float:none !important;
  margin-right:0px !important;
  padding:5px !important
}

td {
  border-bottom: none;
  font-family: "Berlin Sans FB";
  text-align:center !important;
}

.navtab:hover {
  background-color: lightblue;
}

.export{
  cursor: pointer;
  padding: 0;
  float: right;
}

.title {
  margin-bottom: -48px;
  margin-top: 86px;
  color: deeppink;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 100;;}
}

.flame{
  background-color: rgb(255, 57, 57);
  animation-name: fadeIn;
  animation-duration: 5s;
  animation-iteration-count:infinite;
}

.centered {
  margin: auto;
}

.toxic{
  background-color: rgb(29, 212, 59);
  animation-name: fadeIn;
  animation-duration: 5s;
  animation-iteration-count:infinite;
}

.oxidizer{
  background-color: rgb(255, 225, 56);
  animation-name: fadeIn;
  animation-duration: 5s;
  animation-iteration-count:infinite;
}

.acid{
  background-color: rgb(71, 71, 252);
  animation-name: fadeIn;
  animation-duration: 5s;
  animation-iteration-count:infinite;
}

.base{
  background-color: rgb(247, 180, 35);
  animation-name: fadeIn;
  animation-duration: 5s;
  animation-iteration-count:infinite;
}

.fixed-top{
  top:100px !important;
}

.hoverImg{
  transition: 0.3s;
}

.hoverImg:hover{
  transform: scale(1.6);
}

@media print {
  table {
    color: black;
    font-size: 15px;
  }
  
  @page {
    size: 25cm 35.7cm;
    margin: 5mm 5mm 5mm 5mm;
  }
}

label { 
  margin-bottom: 0 !important;
}

.stockTable > tbody > tr td {
  font-family: inherit;
}

.compNum {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.red {
  color: lightsalmon;
}

.hot-red {
  color: red;
}

.modal-inner {
  max-height: 600px;
  overflow-y: auto;
}

#myModal3,
#myModal2,
.modal-content {
  height: 75vh;
  padding: 0px;
  margin: 0px;
  background-color: #ececec;
}

.modal-content table {
  background-color: #ececec;
  direction: ltr;
}

.close {
  font-size: 50px;
  cursor: pointer;
  border-radius: 5px;
}

.close:hover {
  background-color: aquamarine;
  color: black;
}

.click {
  cursor: pointer;
}

#detailsTbody {
  width:100%;
  background-color: rgb(165, 185, 250);
}

.nopadding {
  padding: 0 !important;
}

.alignRightInModal{
  width:100%;
  justify-content: flex-end;
  /* display: flex; */
  float: right;
}

@media screen and (max-width: 1024px) {
  .table-fixed th {
    font-size: 10pt;
    max-width: 80px;
    text-align: center;
  }
  .table-fixed td {
    font-size: 10pt;
    max-width: 80px;
    text-align: center;
  }
  .table-fixed input {
    max-width: 60px;
  }
}

#material-header { 
  background: rgb(165, 185, 250);
  box-shadow: 3px 0px 3px black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 1200px;
}

#material-body { 
  background: rgb(165, 185, 250);
  box-shadow: 3px 0px 3px black;
  width: 1200px;
  height: 900px;
}

#material-footer { 
  background: rgb(165, 185, 250);
  box-shadow: 3px 3px 3px black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 1200px;
}

.itemInput { 
  width: 200px;
  margin-top: 7px;
}

.tableHeader {
  box-shadow: 2px 2px 12px 2px black !important;
  background: rgb(69, 69, 202) !important;
}

.topBtn { 
  box-shadow: 2px 2px 2px black;
}

tr { 
  text-align: center;
}

.col { 
  width: 40% !important;
}

.notmanyleft {
  background-color: red;
}

.manyleft {
  background-color: greenyellow;
}

h2.peerLoader {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  font-size: 4.6875em;
  color: transparent;
  letter-spacing: 0.01em;
}

.peerLoader span {
  text-shadow:
    0 0 2px rgba(106, 168, 230, 0.9),
    0 15px 25px rgba(0, 0, 0, 0.3),
    0 -2px 3px rgba(0, 0, 0, 0.1),
    0 -5px 10px rgba(60, 64, 117, 0.5),
    0 5px 10px rgba(77, 86, 163, 0.3),
    0 3px 4px rgba(99, 92, 201, 0.2),
    0 0 20px rgba(83, 91, 202, 0.45);
    animation: loading 0.85s ease-in-out infinite alternate;
}

@keyframes loading {
  to {text-shadow:
    0 0 2px rgba(88, 139, 190, 0.2),
    0 0 3px rgba(0, 0, 0, 0.02),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(78, 63, 206, 0),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(68, 70, 218, 0),
    0 0 0 rgba(76, 74, 206, 0);}
}

.peerLoader span:nth-child(2) {
  animation-delay:0.12s;
}

.peerLoader span:nth-child(3) {
  animation-delay:0.24s;
}

.peerLoader span:nth-child(4) {
  animation-delay:0.36s;
}

.peerLoader span:nth-child(5) {
  animation-delay:0.48s;
}

.peerLoader span:nth-child(6) {
  animation-delay:0.60s;
}

.peerLoader span:nth-child(7) {
  animation-delay:0.72s;
}

.peerLoader span:nth-child(8) {
  animation-delay:0.84s;
}

.peerLoader span:nth-child(9) {
  animation-delay:0.96s;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(30, 33, 190);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
