<div class="row">
  <div class="col-12" *ngIf="!submited">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title" style="width: 95%; float: left">
          Order Assigning
        </h4>
        <h4 class="card-title" (click)="back()" style="width: 1%; float: right">
          X
        </h4>
      </div>
      <hr />
      <form
        class="form-horizontal"
        [formGroup]="orderForm"
        (ngSubmit)="addNewOrder()"
      >
        <div class="card-body">
          <h4 class="card-title">Order Info</h4>

          <div class="form-group row">
            <label
              for="lname"
              class="col-sm-4 text-right control-label col-form-label"
            >
              <span style="color: red">(*) חובה</span>&nbsp;<strong
                >Customer
              </strong>
            </label>
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                placeholder="Customer"
                formControlName="costumer"
              />
              <input type="hidden" formControlName="costumerInternalId" />
            </div>
            <button
              style="box-shadow: 2px 2px 2px black"
              (click)="openSearch(content); submited = false"
              class="btn btn-info"
            >
              <strong>List</strong>
            </button>
          </div>
          <div class="form-group row">
            <label
              for="email1"
              class="col-sm-4 text-right control-label col-form-label"
              ><span style="color: red">(*) חובה</span>&nbsp;<strong
                >Date Of Order</strong
              ></label
            >
            <div class="col-sm-4">
              <input
                type="date"
                class="form-control"
                placeholder="Date of order"
                formControlName="orderDate"
                
              />
            </div>
          </div>
          <div class="form-group row">
            <label
              for="cono1"
              class="col-sm-4 text-right control-label col-form-label"
              ><span style="color: red">(*) חובה</span>&nbsp;<strong
                >Delivery Date</strong
              ></label
            >
            <div class="col-sm-4">
              <input
                type="date"
                class="form-control"
                placeholder="Delivery date"
                formControlName="deliveryDate"
              />
            </div>
          </div>
          <div class="form-group row">
            <label
              for="cono1"
              class="col-sm-4 text-right control-label col-form-label"
              ><span style="color: red">(*) חובה</span>&nbsp;<strong
                >Customer Order</strong
              ></label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                placeholder="Customer Order Number"
                formControlName="customerOrderNum"
              />
            </div>
          </div>
          <div class="form-group row">
            <label
              for="cono1"
              class="col-sm-4 text-right control-label col-form-label"
              ><strong>Remarks</strong></label
            >
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                placeholder="Remarks"
                formControlName="orderRemarks"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 text-right control-label col-form-label"
              ><span style="color: red">(*) חובה</span>&nbsp;<strong
                >Type</strong
              ></label
            >
            <div class="col-sm-4">
              <select
                style="box-shadow: 1px 1px 1px black"
                class="form-control"
                formControlName="type"
              >
                <option value="Cosmetic">Cosmetic</option>
                <option value="Make Up">Make Up</option>
                <option value="Cosmetic & MakeUp">Cosmetic & Make Up</option>
              </select>
            </div>
          </div>
          <div class="col-sm-1">
            <!--    <img src="../../../../assets/images/refreshData.png" style="width: 30px;cursor: pointer;" alt="get user name"
                            (click)="getUserName()">-->
          </div>
          <div class="col-sm-3">
            <label for="user">Username</label>
            <input
              type="text"
              class="form-control is-valid"
              placeholder="user name"
              formControlName="user"
              required
              disabled
            />
          </div>
          <div class="card-body" *ngIf="newOrderAllowed">
            <div class="form-group m-b-0 text-right">
              <button
                style="box-shadow: 2px 2px 2px black"
                type="submit"
                class="btn btn-info waves-effect waves-light"
              >
                Save
              </button>
              <button
                style="box-shadow: 2px 2px 2px black"
                type="button"
                (click)="back()"
                class="btn btn-dark waves-effect waves-light"
              >
                Cancel
              </button>
            </div>
          </div>
        </div>
        <hr />
      </form>
    </div>
  </div>
</div>
<!-- 
<div class="row mt-3 bg-muted">
    <div style="background: #d5cff9" class="col-12 shadow rounded">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Item Name</th>
                    <th>Measurement</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>-</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stockitem of this.newPurchase.controls.stockitems.value">
                    <td>{{stockitem.number}}</td>
                    <td>{{stockitem.name}}</td>
                    <td>{{stockitem.measurement}}</td>
                    <td>{{stockitem.quantity}}</td>
                    <td>{{stockitem.price}}</td>
                    <td><i (click)="removeStockitemFromPurchase(stockitem)" class="fa fa-times text-danger"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->

<div class="p-5 modal-inner" *ngIf="submited">
  <h3>Order Number : {{ orderNumber }}</h3>
  <h4 class="card-title">Items Assigning</h4>
  <hr />
  <div class="row mt-5">
    <div class="col-2">
      <label for="">Shipping Method</label>
      <select
        required
        style="box-shadow: 1px 1px 1px"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="shippingDetails.shippingWay"
        class="form-control"
      >
        <option value="land">יבשה</option>
        <option value="flight">אוויר</option>
        <option value="sea">ים</option>
      </select>
    </div>
    <div class="col-2">
      <label for="">Shipping Quantity</label>
      <input
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="shippingDetails.shippingQuantity"
        class="form-control"
      />
    </div>
    <div class="col-2">
      <button
        type="button"
        class="btn btn-primary mt-2"
        (click)="addShipping()"
      >
        Add Shipping
      </button>
    </div>
    <div class="col-6"></div>
  </div>

  <ul class="list-group d-flex flex-row">
    <li
      *ngFor="let shipping of shippingMethod"
      class="list-group-item w-25 d-flex justify-content-between align-items-center"
    >
      <span *ngIf="shippingMethod != []">{{ shipping.shippingWay }}</span>
      <span
        *ngIf="shippingMethod != []"
        class="badge badge-primary badge-pill"
        >{{ shipping.shippingQuantity }}</span
      >
    </li>
  </ul>

  <form [formGroup]="orderItemForm" (ngSubmit)="addNewItemOrder()">
    <div class="row mt-3 bg-muted">
      <div style="background: #d5cff9" class="col-12 shadow rounded">
        <div class="row mt-2">Required <span class="red">*</span></div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Item<span class="red">*</span></th>
              <th>Description <span class="red">*</span></th>
              <th>neto Weight (Gr)<span class="red">*</span></th>
              <th>Order QTY<span class="red">*</span></th>
              <th>Stock QTY</th>
              <th>Used Stock Qty</th>
              <th>Item Order Date</th>
              <th>Delivery Date</th>
              <th>Remarks</th>
              <th></th>
            </tr>
            <tr>
              <td></td>
              <td>
                <input
                  formControlName="itemNumber"
                  class="form-control"
                  #itemN
                  (focusout)="searchItem()"
                />
              </td>
              <td>
                <input
                  formControlName="discription"
                  class="form-control"
                  style="width: 370px"
                />
              </td>
              <td>
                <input formControlName="netWeightGr" class="form-control" />
              </td>
              <td>
                <input
                  formControlName="quantity"
                  class="form-control"
                  (blur)="calcQuantity()"
                />
              </td>
              <td *ngIf="stockAmount">{{ stockAmount }}</td>
              <td *ngIf="!stockAmount"></td>
              <td>
                <input formControlName="stockUsage" class="form-control" />
              </td>
              <td>
                <input
                  formControlName="itemOrderDate"
                  class="form-control"
                  type="date"
                  placeholder="Item Order date"
                  [value]="
                    orderItemForm.value.itemOrderDate | date: 'yyyy-MM-dd'
                  "
                />
              </td>
              <td>
                <input
                  formControlName="itemDeliveryDate"
                  class="form-control"
                  type="date"
                  placeholder="Delivery date"
                />
              </td>
              <td>
                <input formControlName="itemRemarks" class="form-control" />
              </td>

              <td>
                <button
                  [disabled]="!orderItemForm.valid || !active"
                  type="submit"
                  [style.cursor]="
                    orderItemForm.valid ? 'pointer' : 'not-allowed'
                  "
                  class="btn btn-info waves-effect waves-light"
                >
                  Add
                </button>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.itemNumber }}</td>
              <td>{{ item.discription }}</td>
              <td>{{ item.netWeightGr }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.qtyKg }}</td>
              <td>{{ item.itemOrderDate | date: "dd/MM/yyyy" }}</td>
              <td>{{ item.itemDeliveryDate | date: "dd/MM/yyyy" }}</td>
              <td>{{ item.itemRemarks }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
  <br />
  <h1
    dir="rtl"
    style="color: red"
    class="mt-2"
    *ngIf="stockItem && stockItem.length > 0"
  >
    <i class="far fa-clipboard"></i> פריט זה קיים במלאי במחסן מוצרים, ניתן
    להשתמש לצורך ההזמנה.
  </h1>

  <div style="width: 100%" *ngIf="stockItem && stockItem.length > 0" dir="rtl">
    <table class="table table-striped" style="table-layout: auto; width: 75%">
      <thead>
        <tr style="text-align: center">
          <th>פריט</th>
          <th>כמות</th>
          <th>מיקום</th>
          <th>מחסן</th>
        </tr>
      </thead>
      <tbody>
        <tr style="text-align: center" *ngFor="let item of stockItem">
          <td>{{ item.item }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.position }}</td>
          <td>{{ item.whareHouse }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h1 dir="rtl" style="color: red" class="mt-2" *ngIf="existOrderItem">
    <i class="far fa-clipboard"></i> פריט זה קיים בהזמנות קודמות ,ייתכן ותוכל
    לשלוח אותם ביחד לייצור
  </h1>

  <div style="width: 500px" *ngIf="existOrderItem">
    <table class="table table-striped">
      <thead>
        <tr style="text-align: center">
          <th>פריט</th>
          <th>כמות</th>
          <th>מספר הזמנה</th>
        </tr>
      </thead>
      <tbody>
        <tr style="text-align: center" *ngFor="let item of existOrderItem">
          <td>{{ item.itemNumber }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.orderNumber }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-primary" (click)="back()">Close</button>
</div>

<!-- <ng-template dir="rtl" #amounts let-c="close" let-d="dismiss">
    <div class="p-2" dir="rtl" *ngIf="waitForAmounts">
        <h1 class="red">בודק כמויות. אנא המתן</h1>
        <div class="bigLoader"></div>
    </div>
    <div dir="rtl" *ngIf="!waitForAmounts" class="modal-header">
        <h1 class="modal-title" style="color:red" id="modal-basic-title">שים לב! אין כמות מספיקה לפריטים הבאים: </h1>
    </div>
    <div *ngIf="!waitForAmounts" class="modal-body">
        <div>
            <ul class="list-group" *ngFor="let material of materialsNotEnoughAmount">
                <li class="list-group-item list-group-item-action list-group-item-warning">{{material}}
                </li>
            </ul>
        </div>
        <h4>האם ברצונך להמשיך?</h4>
    </div>
    <div dir="rtl" class="modal-footer">
        <button type="button" class="btn btn-secondary" aria-label="Close" (click)="c('Cross click')">
            המשך
        </button>
    </div>
</ng-template> -->

<ng-template #problematics let-c="close">
  <div dir="rtl">
    <div class="m-4 p-2 border border-bottom" *ngIf="isTooOld">
      <h1><i style="color: red" class="fas fa-exclamation-triangle"></i></h1>
      <h1 class="text-center">לא נפתח טופס ייצור למוצר מעל שנה וחצי</h1>
      <h2 class="text-center">יש לבצע בדיקת תקינות לכל הרכיבים</h2>
    </div>

    <div *ngIf="noNeto" class="m-4 p-2 border border-bottom">
      <h2 class="text-center">
        <i style="color: orange" class="fas fa-exclamation-triangle"></i> יש
        לעדכן משקל נטו!
      </h2>
    </div>

    <h2 class="m-5 text-info">
      מידע אודות רכיבים {{ orderItemForm.value.itemN }}:
    </h2>
    <div class="p-5 w-100 h-100">
      <p class="h3" *ngIf="formuleExist">
        <i style="color: lightgreen" class="fas fa-check-circle"></i> יש פורמולה
      </p>
      <p class="h3" *ngIf="!formuleExist">
        <i style="color: red" class="fas fa-exclamation-triangle"></i> אין
        פורמולה
      </p>
      <div
        *ngIf="
          formuleExist &&
          problematicComponents &&
          problematicComponents.length == 0 &&
          problematicMaterials &&
          problematicMaterials.length == 0
        "
      >
        <h4>
          <i style="color: lightgreen" class="fas fa-check-circle"></i> רכיבים -
          תקין
        </h4>
      </div>

      <div
        *ngIf="problematicComponents && problematicComponents.length > 0"
        class="row mt-4"
      >
        <h4>קומפוננטים בעייתיים:</h4>
        <ul
          *ngFor="let component of problematicComponents"
          class="list-group mt-4"
        >
          <li
            class="list-group-item"
            *ngFor="let problem of component.problems"
          >
            {{ component.componentN }} {{ component.componentName
            }}{{ probelm }}
          </li>
          <i style="color: red" class="fas fa-exclamation-triangle"></i>
        </ul>
      </div>

      <div
        *ngIf="problematicMaterials && problematicMaterials.length > 0"
        class="row mt-4"
      >
        <h4>חו"ג בעייתיים:</h4>
        <ul
          *ngFor="let component of problematicMaterials"
          class="list-group mt-4"
        >
          <li class="list-group-item">
            {{ component.componentN }} {{ component.componentName }}
            <i style="color: red" class="fas fa-exclamation-triangle"></i>
            <ul *ngFor="let problem of component.problems">
              <li>{{ problem }}</li>
            </ul>
          </li>
        </ul>
      </div>

      <button (click)="c('Cross click')" class="mt-4 btn btn-info">
        קראתי ואני מאשרת
      </button>
    </div>
  </div>
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Customer</h4>
    <!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="c('Cross click')"
    >
      <!--  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">-->
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="input-group">
        <input
          class="form-control mb-8"
          #costumerSearch
          placeholder="Search Costumer"
          (keyup)="searchCostumer(costumerSearch.value)"
        />
      </div>
    </div>
  </div>
  <div>
    <ul *ngFor="let costumer of costumers">
      <li (click)="c('Saved'); choosedCostumer = costumer">
        {{ costumer.costumerName }} - {{ costumer.costumerId }}
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Saved')">
      Save
    </button>
  </div>
</ng-template>

<ng-template #itemInStock let-c="close" let-d="dismiss" dir="rtl">
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">
      מלאי של פריט מספר {{ stockItem[0].item }}
    </h4>
    <!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="c('Cross click')"
    >
      <!--  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">-->
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table>
      <thead>
        <tr>
          <th>מחסן</th>
          <th>מיקום</th>
          <th>כמות</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of stockItem">
          <td>{{ item.whareHouse }}</td>
          <td>{{ item.position }}</td>
          <td>{{ item.amount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('saved')">
      השתמש במלאי להזמנה
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="c('dismiss')">
      אל תשתמש במוצר מהמלאי להזמנה
    </button>
  </div>
</ng-template>
<div *ngIf="activeAlert" class="alert">
  <span dir="rtl" class="closebtn">&times;</span>
  <i class="fa fa-times" (click)="activeAlert = false"></i>
  <strong>הערה חשובה:</strong> שים לב: מוצר זה אינו פעיל. אי אפשר להוסיף אותו להזמנה
</div>
