<div class="row">
    <div class="col-12" *ngIf="!submited">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Order Assigning</h4>
            </div>
            <hr>
            <form class="form-horizontal" [formGroup]="orderForm" (ngSubmit)='addNewOrder(orderForm.value)'>
                <div class="card-body">
                    <h4 class="card-title">Order Info</h4>

                    <div class="form-group row">
                        <label for="lname"
                            class="col-sm-4 text-right control-label col-form-label"><strong>Costumer</strong></label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Costumer" formControlName="costumer">
                            <input type='hidden' formControlName="costumerInternalId">
                            <!--<mat-form-field class="example-full-width">
                                <input type="text"  aria-label="Assignee" matInput formControlName="costumer" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                  <mat-option *ngFor="let option of filterCostumers | async" [value]="option">
                                    {{option.costumerName}}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>-->
                            <!---->
                        </div>
                        <button style="box-shadow: 2px 2px 2px black;" (click)="openSearch(content);  submited=false;"
                            class='btn btn-info'><strong>List</strong></button>
                    </div>
                    <div class="form-group row">
                        <label for="email1" class="col-sm-4 text-right control-label col-form-label"><strong>Date Of
                                Order</strong></label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" placeholder="Date of order"
                                formControlName="orderdate">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cono1" class="col-sm-4 text-right control-label col-form-label"><strong>Delivery
                                Date</strong></label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" placeholder="Delivery date"
                                formControlName="delivery">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cono1" class="col-sm-4 text-right control-label col-form-label"><strong>Customer
                                Order</strong></label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Customer Order Number"
                                formControlName="customerOrderNum">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cono1"
                            class="col-sm-4 text-right control-label col-form-label"><strong>Remarks</strong></label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Remarks" formControlName="remarks">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 text-right control-label col-form-label"><strong>Type</strong></label>
                        <div class="col-sm-4">
                            <select style="box-shadow: 1px 1px 1px black;" class="form-control" formControlName="type">
                                <option>Cosmetic</option>
                                <option>Make Up</option>
                                <option>Cosmetic & Make Up</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <!--    <img src="../../../../assets/images/refreshData.png" style="width: 30px;cursor: pointer;" alt="get user name"
                            (click)="getUserName()">-->
                    </div>
                    <div class="col-sm-3">
                        <label for="user">Username</label>
                        <input type="text" class="form-control is-valid" placeholder="user name" formControlName="user"
                            required disabled>
                    </div>
                    <div class="card-body">
                        <div class="form-group m-b-0 text-right">
                            <button style="box-shadow: 2px 2px 2px black;" type="submit"
                                class="btn btn-info waves-effect waves-light">Save</button>
                            <button style="box-shadow: 2px 2px 2px black;" type="button" (click)="closed.emit()"
                                class="btn btn-dark waves-effect waves-light">Cancel</button>
                        </div>
                    </div>
                </div>
                <hr>
            </form>
        </div>
    </div>
</div>
<!-- 
<div class="row mt-3 bg-muted">
    <div style="background: #d5cff9" class="col-12 shadow rounded">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Item Name</th>
                    <th>Measurement</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>-</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stockitem of this.newPurchase.controls.stockitems.value">
                    <td>{{stockitem.number}}</td>
                    <td>{{stockitem.name}}</td>
                    <td>{{stockitem.measurement}}</td>
                    <td>{{stockitem.quantity}}</td>
                    <td>{{stockitem.price}}</td>
                    <td><i (click)="removeStockitemFromPurchase(stockitem)" class="fa fa-times text-danger"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->

<div class="p-5 rounded-pill" *ngIf="submited">
    <h3>Order Number : {{ orderNumber}}</h3>
    <h4 class="card-title">Items Assigning</h4>
    <hr>
    <div class="row mt-5">
        <div class="col-2">
            <label for="">Shipping Method</label>
            <select required style="box-shadow: 1px 1px 1px;" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="shippingDetails.shippingWay" class="form-control">
                <option value="land">יבשה</option>
                <option value="flight">אוויר</option>
                <option value="sea">ים</option>
            </select>
        </div>
        <div class="col-2">
            <label for="">Shipping Quantity</label>
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="shippingDetails.shippingQuantity"
                class="form-control">
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary mt-2" (click)="addShipping()">Add Shipping</button>
        </div>
        <div class="col-6"></div>
    </div>

    <ul class="list-group">
        <li *ngFor="let shipping of shippingMethod" class="list-group-item w-25 d-flex justify-content-between align-items-center">
            <span *ngIf="shippingMethod != []">{{shipping.shippingWay}}</span>
          <span *ngIf="shippingMethod != []" class="badge badge-primary badge-pill">{{shipping.shippingQuantity}}</span>
        </li>
      </ul>

    <form [formGroup]="orderItemForm" (ngSubmit)='addNewItemOrder(orderItemForm.value)'>
        <div class="row mt-3 bg-muted">
            <div style="background: #d5cff9" class="col-12 shadow rounded">
                <div class="row mt-2"> Required <span class="red">*</span></div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Item<span class="red">*</span> </th>
                            <th>Description <span class="red">*</span> </th>
                            <th>neto Weight (Gr)<span class="red">*</span> </th>
                            <th>Quantity<span class="red">*</span> </th>
                            <th>Weight<span class="red">*</span> </th>
                            <th>Remarks</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input formControlName="itemN" class="form-control" #itemN
                                    (focusout)="searchItem(itemN.value)"></td>
                            <td><input formControlName="discription" class="form-control" style='width:370px'></td>
                            <td><input formControlName="netWeightK" class="form-control"></td>
                            <td><input formControlName="quantity" class="form-control"></td>
                            <td><input formControlName="qtyKg" class="form-control"></td>
                            <td><input formControlName="remarks" class="form-control"></td>

                            <td><input [disabled]="!orderItemForm.valid" type="submit" class="btn btn-info waves-effect waves-light" value="Add"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.itemNumber}}</td>
                            <td>{{item.discription}}</td>
                            <td>{{item.netWeightK}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.qtyKg}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </form>
    <br>
    <h1 style="color:red" *ngIf="existOrderItem">שים לב! פריט זה קיים בהזמנות קודמות ,ייתכן ותוכל לשלוח אותם ביחד *
        לייצור</h1>
      
    <div style="width:500px;" *ngIf="existOrderItem">
        <table class="table table-striped">
            <thead>
                <tr style="text-align: center;">
                    <th>כמות</th>
                    <th>מספר הזמנה</th>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align: center;" *ngFor="let item of existOrderItem">

                    <td>{{item.quantity}}</td>
                    <td>{{item.orderNumber}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<ng-template #amounts let-c="close" let-d="dismiss">

    <div class="modal-header">
        <h1 class="modal-title" id="modal-basic-title">שים לב! אין כמות מספיקה לפריטים הבאים: </h1>
    </div>
    <div class="modal-body">
        <div>
            <ul class="list-group" *ngFor="let material of materialsNotEnoughAmount">
                <li class="list-group-item list-group-item-action list-group-item-warning">{{material}}
                </li>
            </ul>
        </div>
        <h2>האם ברצונך להמשיך?</h2>
        <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
            <span aria-hidden="true">&times;</span>המשך
        </button>
    </div>
 
    <div class="modal-footer">
    </div>

</ng-template>

<ng-template #content let-c="close" let-d="dismiss">

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Costumer</h4>
        <!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
        <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
            <!--  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">-->
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control mb-8" #costumerSearch placeholder="Search Costumer"
                    (keyup)="searchCostumer(costumerSearch.value)">
            </div>
        </div>
    </div>
    <div>
        <ul *ngFor="let costumer of costumers">
            <li (click)="c('Saved'); choosedCostumer = costumer">{{costumer.costumerName}} - {{costumer.costumerId}}
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Saved')">Save</button>
    </div>

</ng-template>