
    <div class="row mt-5 border border-black">
        <div class="col-4"></div>
        <div class="col-4 p-2">
            <h2 class="click text-center">Bidding {{projectNumber}}</h2>
        </div>
        <div class="col-4"></div>
    </div>

    <div class="d-flex flex-row justify-content-around">


    <div class="bidding-status p-5 h-50 rounded mt-5">

        <div class="row mt-4">
            <div class="col-6">
                <h3 for="">Customer: </h3>
                <h4 class="text-info">{{newPricingForm.value.customer}}</h4>
            </div>
            <div class="col-6">
                <h3 for="">Date: </h3>
                <h4 class="text-info">{{newPricingForm.value.date | date: 'dd/MM/yy'}} </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h3 for="">Formule: </h3>
                <h4 class="text-info">{{newPricingForm.value.formuleNumber}}</h4>
            </div>
            <div class="col-6">
                <h3 for="">Price Per Kilo: </h3>
                <h4 class="text-info">{{newPricingForm.value.PPK}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h3 for="">Price Per Formule by Weight: </h3>
                <h4 class="text-info">{{newPricingForm.value.PPML}}</h4>
            </div>
            <div class="col-6">
                <h3 for="">Total Components Price: </h3>
                <h4 class="text-info">{{totalItemPrice}}</h4>
            </div>
        </div>
    </div>
        <div class="container mt-5">
            
            <div class="container mt-5 p-5">
                <form [formGroup]="newPricingForm" (ngSubmit)="savePricing()">
                    
                    


                <div class="form-group">
                    <h2>1. Customer</h2>
                    <h4 class="click p-2" (click)="chooseExisting = true; newCustomer = false">Choose Existing</h4>
                    <select *ngIf="chooseExisting" class="form-control" formControlName="customer">
                        <option disabled value="">Customer</option>
                        <option value="No Customer">No Customer</option>
                        <option *ngFor="let customer of customers" [value]="customer.costumerName">
                            {{customer.costumerName}}</option>
                    </select>
                    <p>Or:</p>
                    <h4 class="click p-2" (click)="newCustomer = true; chooseExisting = false">New Customer</h4>
                    <input *ngIf="newCustomer" type="text" class="form-control" formControlName="customer">
                </div>




                <div class="form-group">
                    <h2>2. Formule</h2>
                    <label>Enter Formule Number</label>
                    <input type="number" class="form-control w-25" formControlName="formuleNumber">
                    <button type="button" class="btn btn-warning" (click)="calculatePPK()">Calculate PPK</button>
                    <p>PPK: {{newPricingForm.value.PPK}}</p>
                    <label>Enter Netto Weight in Gr.</label>
                    <input type="number" class="form-control w-25" formControlName="ML">
                    <button type="button" (click)="calculateForML()" class="btn btn-warning">Calculate Price For Netto
                        Weight</button>
                    <p>PPNW: {{newPricingForm.value.PPML}}</p>
                </div>




                <div class="form-group">
                    <h2>3. Components: </h2>
                    <label class="mt-2">Enter Component Number or Edit details yourself</label><br>
                    <input type="text" placeholder="component Number" (change)="getCmptDetails($event)"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="newComponent.componentN">
                    <input type="text" placeholder="component Name" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="newComponent.componentName">
                    <input type="number" placeholder="price" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="newComponent.price">
                    <input type="number" placeholder="shipping" [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="newComponent.shippingPrice">
                    <button class="btn btn-success" type="button" (click)="addComponent()">Add Component</button>
                </div>
                <div class="container mt-5">
                    <div class="container mt-5">
                        <div class="row mt-4">
                            <div class="col-12">
                                <table class="table table-bordered">
                                    <thead class="bg-warning text-dark h3">
                                        <tr>
                                            <th>Component</th>
                                            <th></th>
                                            <th>Price</th>
                                            <th>Shipping</th>
                                        </tr>
                                    </thead>
                                    <tbody class="bg-warning text-dark">
                                        <tr *ngFor="let component of itemComponents">
                                            <td>{{component.componentN}}</td>
                                            <td>{{component.componentName}}</td>
                                            <td>{{component.price}}</td>
                                            <td>{{component.shippingPrice}}</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>Total Price: {{totalItemPrice}}</td>
                                            <td>Total Shipping: {{totalShippingPrice}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Product Number</label>
                    <input class="form-control" type="number" formControlName="productNumber">
                </div>
                <div class="form-group">
                    <label>Product Name</label>
                    <input class="form-control" type="text" formControlName="productName">
                </div>
                <div class="form-group">
                    <button type="submit" class="click btn text-warning" [disabled]="loading"
                        [style.cursor]="loading ? 'not-allowed' : 'pointer'">Save</button>
                </div>
            </form>
        </div>
    </div>

</div>





