<div *ngIf="!hasMoreItemsToload" class="form-group row" style=" width: 100%;">
  <div class="col-2">
      <input placeholder="Search by item name" (change)="changeText($event,'itemName')" class="form-control" />
  </div>
  <div class="col-2">
      <input placeholder="Search batch by number" (change)="changeText($event,'batchNumber')" class="form-control" >
  </div>
  
<div class="col-2" *ngIf="!hasMoreItemsToload" style="position: relative;">
    <span style=" position: absolute; bottom: 19px;">
      <b>showing {{batches.length}} batches</b>
    </span>
</div>
  <div class="col-6">
    <div class="row">
        <label class="col-6" style="background:none; text-align: right; line-height: 3"><strong>Export to Excel:</strong></label>
        <input  class="form-control col-3" type="text" [(ngModel)]="lastBatchToExport" placeholder="Enter batch number">
        <button class="btn col-1" (click)="filterBatchesBiggerThenBatchN()" class="btn" style="background: none;" data-toggle="tooltip" title="get excel of all batches produced sience the entered batch number">
          <img src="../../../assets/images/excel.png" alt="excel export" style="width: 35px; float: left;" >
        </button>
    </div>
  </div>
</div>
<br>
<!-- &nbsp;&nbsp; <input *ngIf="!hasMoreItemsToload" matInput  placeholder="Item name" (change)="changeText($event)" /> -->
<!-- <div *ngIf="batches.length==0">
  <img  style="width:50px" src="../../../assets/images/motosha-spinner-load.gif" /><span><b>loading more batches...</b></span>
  <br/> 
</div> -->

<div *ngIf="hasMoreItemsToload" style="position: absolute; left:50%; bottom: 40%;" >
  <div class="loader">Loading More Items...</div>
  <br/> 
</div>


<div>

    <table class='table table-fixed'>
      <tr></tr>
        <thead id="myHeader" class='tableHeader text-white'>
          <tr>
            <td style="width:5%;">#</td>
            <td style="width:10%">Batch Number</td>
            <td style="width:10%;">Production Date</td>
            <td style="width:15%">Item Name</td>
            <td style="width:10%">P.h</td>
            <td style="width:10%">Produced/Left</td>
            <td style="width:10%">Barrels</td>
            <td style="width:10%">Order</td>
            <td style="width:10%">Item</td>
            <td></td>
          </tr>
        </thead>
        <ng-container>
          <tr style="box-shadow: inset 1px -1px 2px 0px black; margin-top: 1px;" *ngFor="let batch of batches; let i = index" [style.background-color]="batch.color">
            <td style="width:5%;">{{i+1}}</td>
            
            <td *ngIf="batch._id!==EditRowId" style="width:10%" (click)="edit(batch._id)">{{batch.batchNumber}}</td>
            <td *ngIf="batch._id===EditRowId" style="width:10%" (click)="edit(batch._id)">
                <input class="editInput"  #batchNumber type='text' [value]="batch.batchNumber" style='width:100px'>
            </td>

            <td *ngIf="batch._id!==EditRowId" style="width:10%" (click)="edit(batch._id)">{{batch.produced}}</td>
            <td *ngIf="batch._id===EditRowId" style="width:10%" (click)="edit(batch._id)">
                <input class="editInput"  #batchProduced disabled type='text' [value]="batch.produced" style='width:100px'>
            </td>

            <td *ngIf="batch._id!==EditRowId" (click)="edit(batch._id)" style="width:15%;">{{batch.itemName}}</td>
            <td *ngIf="batch._id===EditRowId" (click)="edit(batch._id)" style="width:15%;">
              <input class="editInput"  #batchItemName dis type='text' [value]="batch.itemName" style='width:240px'>
          </td>

            <td *ngIf="batch._id!==EditRowId" style="width:10%" (click)="edit(batch._id)">{{batch.ph}}</td>
            <td *ngIf="batch._id===EditRowId" style="width:10%" (click)="edit(batch._id)">
              <input class="editInput"  #batchPh disabled type='text' [value]="batch.ph" style='width:30px'>
          </td>
            <td *ngIf="batch._id!==EditRowId" style="width:10%" (click)="edit(batch._id)">{{batch.weightKg}} / {{batch.weightQtyLeft}}</td>
            <td *ngIf="batch._id===EditRowId" style="width:10%" (click)="edit(batch._id)">
              <span>{{batch.weightKg}} /</span>&nbsp;
              <input class="editInput"  #batchWeightQtyLeft disabled type='text' [value]="batch.weightQtyLeft" style='width:40px'>
          </td>

            <td  *ngIf="batch._id!==EditRowId" style="width:10%" (click)="edit(batch._id)">{{batch.barrels}}</td>
            <td *ngIf="batch._id===EditRowId" style="width:10%" (click)="edit(batch._id)">
              <input class="editInput"  #batchBarrels disabled type='text' [value]="batch.barrels" style='width:50px'>
          </td>

            <td  *ngIf="batch._id!==EditRowId"  (click)="edit(batch._id)" style="word-break: break-word; width: 10%;">{{batch.order}}</td>
            <td *ngIf="batch._id===EditRowId" style="width:10%" (click)="edit(batch._id)">
              <input class="editInput"  #batchOrder disabled type='text' [value]="batch.order" style='width:100px'>
          </td>

            <td *ngIf="batch._id!==EditRowId"  (click)="edit(batch._id)" style="word-break: break-word; width: 10%;">{{batch.item}}</td>
            <td *ngIf="batch._id===EditRowId" style="width:10%" (click)="edit(batch._id)">
              <input class="editInput" #batchItem disabled type='text' [value]="batch.item" style='width:100px'>
          </td>

            <td *ngIf="batch._id!==EditRowId" (click)="edit(batch._id)" ><i class="ti-trash text-danger m-r-10; cursor: pointer" (click)="deleteBatch(batch)"></i></td>
            <td *ngIf="batch._id==EditRowId"  style="width:3%; padding:5px;margin-left: 70px;margin-top: 11px;">
              <i class="ti-save text-success m-r-10" style="font-size: 18px; cursor: pointer;" (click)="saveEdit(currDoc)"></i>
            </td>

          </tr>
        </ng-container>
      </table>
</div>

<!-- ADD BATCH MODAL -->






