<div *ngIf="!authorized">אינך מורשה לראות מסך זה</div>
<div dir="rtl" *ngIf="authorized">
  <form action="" [formGroup]="orderSearchForm" class="form_02">
    <div class="row mt-4">
      <div class="col-1"></div>
      <div class="col-1">
        <label>מספר הלקוח</label>
        <input
          type="text"
          class="form-control"
          formControlName="customerId"
          (blur)="getCustomerByNumber()"
        />
        <div *ngIf="customerId.errors" class="text-danger">*שדה חובה</div>
      </div>
      <div class="col-3">
        <label>שם הלקוח</label>
        <input
          class="form-control"
          type="select"
          list="customers"
          formControlName="customerName"
          (change)="getCustomerByName()"
        />
        <datalist id="customers">
          <option value="null" disabled>בחר לקוח</option>
          <ng-container *ngIf="allCustomersList.length > 0">
            <option
              *ngFor="let customer of allCustomersList"
              [value]="customer.costumerName"
            >
              {{ customer.costumerId }} - {{ customer.costumerName }}
            </option>
          </ng-container>
        </datalist>
        <div *ngIf="customerName.errors" class="text-danger">*שדה חובה</div>
      </div>
      <div class="col-2">
        <label for="">שם מנהל לקוח</label>
        <select class="form-control" formControlName="agent">
          <option value="" disabled>בחר</option>
          <option
            [value]="agent.firstName + ' ' + agent.lastName"
            *ngFor="let agent of allUsers"
          >
            {{ agent.firstName }} {{ agent.lastName }}
          </option>
        </select>
      </div>
      <div class="col-1">
        <br />
        <button class="btn btn-outline-success mt-2" (click)="searchOrders()">
          חפש
        </button>
      </div>
      <div class="col-1">
        <br />
        <button
          class="btn btn-outline-danger mt-2"
          (click)="clearSearchOrders()"
        >
          נקה
        </button>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-1"></div>
      <div class="col-2">
        <label for="">מספר הזמנה</label>
        <input type="text" formControlName="orderNumber" class="form-control" />
      </div>
      <div class="col-2">
        <label for="">תאריך הזמנה מ:</label>
        <input
          type="date"
          formControlName="orderDateFrom"
          class="form-control"
        />
      </div>
      <div class="col-2">
        <label for="">תאריך הזמנה עד:</label>
        <input type="date" formControlName="orderDateTo" class="form-control" />
      </div>
    </div>
  </form>
  <div class="row mt-4">
    <div class="col-12 text-center">
      <h3>רשימת הזמנות לקוח</h3>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-1"></div>
    <div class="col-10">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>מס' הזמנה</th>
            <th>שם הלקוח</th>
            <th>מספר הלקוח</th>
            <th>תאריך ההזמנה</th>
            <th>מס הזמנת הלקוח</th>
            <th>מספר פריטים</th>
            <th>יעד</th>
            <th>סטטוס</th>
            <th>עדכן סטטוס</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of ordersList; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ order.orderNumber }}</td>
            <td>{{ order.customerName }}</td>
            <td>{{ order.customerId }}</td>
            <td>{{ order.proposalDate | date: "dd/MM/yyyy" }}</td>
            <td>{{ order.customerOrder }}</td>
            <td>{{ order.items.length }}</td>
            <td>{{ order.country }}</td>
            <td *ngIf="edit != i" (click)="setEdit(i)">
              {{ order.proposalStatus }}
            </td>
            <td *ngIf="edit == i">
              <select
                class="form-control"
                (change)="setStatus(i, $event.target)"
              >
                <option disabled selected>Select</option>
                <option value="customerApproved">Approved</option>
                <option value="waiting">Waiting</option>
              </select>
            </td>
            <td>
              <button class="btn btn-success" (click)="updateStatus(i)">
                עדכן
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
