<div dir="rtl">
  <form [formGroup]="historicalMovements" (ngSubmit)="getReceptions()">
    <h3>שחזור תעודות היסטוריות</h3>

    <div class="row mt-2">
      <div class="col-2">
        <label for="">מספר תעודה</label>
        <input type="text" class="form-control" formControlName="warehouseReception">
      </div>
      <div class="col-2">
        <label for="">מחסן</label>
        <select class="form-control" formControlName="WH_originId" #first>
          <!-- <option disabled value="">בחר מחסן</option> -->
          <option *ngFor="let whareHouse of allWhareHouses" [value]="whareHouse._id">{{whareHouse.name}}
          </option>
        </select>
      </div>
      <div class="col-2">
        <label for="">תנועה</label>
        <select class="form-control" formControlName="movementType">
          <!-- <option disabled>בחר תנועה</option> -->
          <option *ngFor="let action of movementTypes" [value]="action.value">{{action.name}}
          </option>
        </select>
      </div>
      <div class="col-2">
        <label for="">מתאריך (שדה חובה)</label>
        <input type="date" class="form-control" (change)="consoleForm()" formControlName="fromDate">
      </div>
      <div class="col-2">
        <label for="">עד תאריך</label>
        <input type="date" class="form-control" formControlName="toDate">
      </div>
      <div class="col-2 d-flex flex-column justify-content-end">
        <button type="submit" [disabled]="!historicalMovements.valid"
          [style.cursor]="historicalMovements.valid ? 'pointer' : 'not-allowed'" class="btn btn-info">חיפוש</button>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-2">
        <label for="">מספר פריט</label>
        <input type="text" class="form-control" formControlName="item">
      </div>
      <div class="col-2">
        <label for="">מספר הזמנת רכש</label>
        <input type="text" class="form-control" formControlName="relatedOrderNum">
      </div>
      <div class="col-2">

      </div>
      <div class="col-1"></div>
      <div class="col-2">
        <label for="">שם משתמש</label>
        <select type="text" class="form-control" formControlName="userName">
          <option dir="ltr" *ngFor="let user of allUsers" [value]="user.userName">{{user.firstName}} {{user.lastName}}
          </option>
        </select>
      </div>
      <div class="col-1"></div>
      <div class="col-2 d-flex flex-column justify-content-end">
        <button type="button" class="btn btn-secondary" (click)="resetTable()">נקה נתונים</button>
      </div>
    </div>
  </form>
  <div class="row mt-2">
    <table class="table">
      <thead class="bg-info text-white">
        <tr>
          <th>תאריך</th>
          <th>מס' תעודה</th>
          <th>סוג העברה</th>
          <th>ממחסן</th>
          <th>למחסן</th>
          <th>פריט / כמות / מדף</th>
          <th></th>
        </tr>
      </thead>
      <div *ngIf="fetching" class="smallLoader"></div>
      <tbody *ngIf="!fetching">
        <ng-container *ngFor="let move of histMovements">
          <tr [ngClass]="move.canceled ? 'disable-pointer' : ''">
          <td>{{move.dateAndTime | date: 'dd/MM/yyyy'}}</td>
          <td>{{move.logs[0] ? move.logs[0].warehouseReception : ''}}</td>
          <td class="text-info">{{move.movementName}}</td>
          <td>{{move.logs[0] ? move.logs[0].WH_originName : ''}}</td>
          <td>{{move.logs[0] ? move.logs[0].WH_destName : ''}}</td>
          <td>
            <table class="table table-striped" style="background: rgb(170, 210, 235);">
              <tr *ngFor="let log of move.logs">
                <td><strong>פריט:</strong> {{log.item}}</td>
                <td><strong>ממדף:</strong> {{log.shell_position_in_whareHouse_Origin}}</td>
                <td *ngIf="log.shell_position_in_whareHouse_Dest"><strong>למדף:</strong>
                  {{log.shell_position_in_whareHouse_Dest}}</td>
                  <td *ngIf="!log.shell_position_in_whareHouse_Dest"><strong>יעד:</strong> {{log.destination}}</td>
                  <td><strong>כמות:</strong> {{log.amount}}</td>
                </tr>
              </table>
            </td>
            <td>
              <button class="btn btn-success" (click)="printData(move)">הדפסה</button>
              <button *ngIf="!move.canceled" class="btn btn-danger" (click)="cancelInventory(move)">ביטול</button>
            </td>
          </tr>
          <tr *ngIf="move.canceled">
            <h2 class="text-danger text-center">בוטל!!!</h2>
          </tr>
        </ng-container>
        </tbody>
    </table>
  </div>

</div>
