<div dir="rtl">
  <form [formGroup]="historicalMovements" (ngSubmit)="getReceptions()">
    <h3>{{"inventory.RESTORATION_OF_HISTORICAL_DOCUMENTS" | translate}}</h3>

    <div class="row mt-2">
      <div class="col-2">
        <label for="">{{"inventory.CERTIFICATE_NUMBER" | translate}}</label>
        <input type="text" class="form-control" formControlName="warehouseReception">
      </div>
      <div class="col-2">
        <label for="">{{"inventory.STORAGE" | translate}}</label>
        <select class="form-control" formControlName="WH_originId" #first>
          <!-- <option disabled value="">בחר מחסן</option> -->
          <option *ngFor="let whareHouse of allWhareHouses" [value]="whareHouse._id">{{whareHouse.name}}
          </option>
        </select>
      </div>
      <div class="col-2">
        <label for="">{{"inventory.MOVEMENT" | translate}}</label>
        <select class="form-control" formControlName="movementType">
          <!-- <option disabled>בחר תנועה</option> -->
          <option *ngFor="let action of movementTypes" [value]="action.value">{{action.name}}
          </option>
        </select>
      </div>
      <div class="col-2">
        <label for="">{{"inventory.FROM_DATE" | translate}}</label>
        <input type="date" class="form-control" (change)="consoleForm()" formControlName="fromDate">
      </div>
      <div class="col-2">
        <label for="">{{"inventory.UNTIL" | translate}}</label>
        <input type="date" class="form-control" formControlName="toDate">
      </div>
      <div class="col-2 d-flex flex-column justify-content-end">
        <button type="submit" [disabled]="!historicalMovements.valid"
          [style.cursor]="historicalMovements.valid ? 'pointer' : 'not-allowed'" class="btn btn-info">{{"inventory.SEARCH" | translate}}</button>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-2">
        <label for="">{{"inventory.ITEM_NUMBER" | translate}}</label>
        <input type="text" class="form-control" formControlName="item">
      </div>
      <div class="col-2">
        <label for="">{{"inventory.PURCHASE_ORDER_NUMBER" | translate}}</label>
        <input type="text" class="form-control" formControlName="relatedOrderNum">
      </div>
      <div class="col-2">

      </div>
      <div class="col-1"></div>
      <div class="col-2">
        <label for="">{{"inventory.USERNAME" | translate}}</label>
        <select type="text" class="form-control" formControlName="userName">
          <option dir="ltr" *ngFor="let user of allUsers" [value]="user.userName">{{user.firstName}} {{user.lastName}}
          </option>
        </select>
      </div>
      <div class="col-1"></div>
      <div class="col-2 d-flex flex-column justify-content-end">
        <button type="button" class="btn btn-secondary" (click)="resetTable()">{{"inventory.CLEAR_DATA" | translate}}
        </button>
      </div>
    </div>
  </form>
  <div class="row mt-2">
    <table class="table">
      <thead class="bg-info text-white">
        <tr>
          <th>{{"inventory.DATE" | translate}}</th>
          <th>{{"inventory.CERTIFICATE_NO" | translate}}</th>
          <th>{{"inventory.PASS_TYPE" | translate}}</th>
          <th>{{"inventory.FROM_WAREHOUSE" | translate}}</th>
          <th>{{"inventory.TO_WAREHOUSE" | translate}}</th>
          <th>{{"inventory.ITEM" | translate}} / {{"inventory.QUANTITY" | translate}} / {{"inventory.SHELF" | translate}}</th>
          <th>{{"inventory.PRINT" | translate}}</th>
        </tr>
      </thead>
      <div *ngIf="fetching" class="smallLoader"></div>
      <tbody *ngIf="!fetching">
        <tr *ngFor="let move of histMovements">
          <td>{{move.dateAndTime | date: 'dd/MM/yyyy'}}</td>
          <td>
            <div class="remove-block">
              {{move.logs[0] ? move.logs[0].warehouseReception : ''}}
              <img src="assets/images/delete.png" alt="delete" width="20" (click)="handleReventTransaction($event, move._id)" *ngIf="!move?.isReverted">
            </div>
          </td>
          <td class="text-info">{{move.movementName}}</td>
          <td>{{move.logs[0] ? move.logs[0].WH_originName : ''}}</td>
          <td>{{move.logs[0] ? move.logs[0].WH_destName : ''}}</td>
          <td>
            <table class="table table-striped table-details" style="background: rgb(170, 210, 235);">
              <tr *ngFor="let log of move.logs">
                <td><strong>{{"inventory.ITEM" | translate}}:</strong> {{log.item}}</td>
                <td><strong>{{"inventory.FROM_SHELF" | translate}} :</strong> {{log.shell_position_in_whareHouse_Origin}}</td>
                <td *ngIf="log.shell_position_in_whareHouse_Dest"><strong>למדף:</strong>
                  {{log.shell_position_in_whareHouse_Dest}}</td>
                <td *ngIf="!log.shell_position_in_whareHouse_Dest"><strong>יעד:</strong> {{log.destination}}</td>
                <td><strong>{{"inventory.QUANTITY" | translate}}:</strong> {{log.amount}}</td>
                <td class="action-cell"><button (click)="open(log, invstck)" class="btn bg-transparent p-0"><i class="fas fa-solid fa-print"></i></button></td>
              </tr>
            </table>
          </td>
          <td><button (click)="printData(move)">Print</button></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<ng-template #invstck let-modal>
  <div dir="rtl" class="fixNoaStupidStuff modal-header">
    <h4 class="modal-title" id="modal-basic-title">הדפס מדבקות</h4>
    <button
      type="button"
      class="float-left"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div dir="rtl" class="modal-body">
    <app-inventory-sticker [itemDetails]="stickerItem"> </app-inventory-sticker>
  </div>
  <div class="modal-footer"></div>
</ng-template>
