.subHeader{
    margin: 20px auto 20px auto;
    display: block;
    font-weight: bold;
    font-size: 18px;
}
.nav-item{
    cursor: pointer;
    width: 150px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}

.inputDiv {
    width: 154px;
}

.inputDivLonger {
    width: 350px !important
}

tr{
    height: 45px;
}
table.checks{

}

.green {
    color:green;
}
.red {
    color:red;
}

.left-batches {
    border: 1px solid black
}

.pallets-th {
    font-weight: bold;
    font-size: large;
}

.pallets-td {
    font-weight: bold;
    font-size: medium;
}
