<!--<table  dir="rtl"   border='0' style='font-size:17px; width:800px;height:620px; font-family:Arial; border-collapse: collapse;' id="table_q"  >-->
<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item" (click)="tabChange('fillingForm')">
      <div class="nav-link" [ngStyle]="{'background-color': fillingTabBtn}">Filling</div>
    </li>
    <li class="nav-item" (click)="tabChange('personalPackingForm')" [ngStyle]="{'background-color': pPackingTabBtn}">
      <div class="nav-link">Personal Packing</div>
    </li>
    <li class="nav-item" (click)="tabChange('compileForm')" [ngStyle]="{'background-color': compileTabBtn}">
      <div class="nav-link">Compile Order</div>
    </li>
    <li class="nav-item" (click)="tabChange('itemTree')" [ngStyle]="{'background-color': itemTreeTabBtn}">
      <div class="nav-link">Item Tree</div>
    </li>
  </ul>
</nav>


<div id="print-section">
  <h4 class="card-title">Quality Control</h4>

  <div *ngIf="tabView == 'fillingForm'">

    <table dir="rtl" style="display: inline-table;font-size: 17px;font-weight: bold;">
      <thead>
        <tr>
          <td colspan="4" [translate]="'Quality Control Form'" class="subHeader">Filling Form</td>
        </tr>
        <tr>
          <td>
            <button (click)="goBack()" class="btn btn-info">חזור <i class="fa fa-arrow-left" aria-hidden="true"></i></button>
          </td>
        </tr>
      </thead>

      <tr>
        <td>מספר הזמנה</td>
        <td>
          <input id="div_orderNumber" [(ngModel)]="form.orderNumber" style="width:100px" disabled
            class="form-control" />
        </td>
        <td>כמות מוזמנת</td>
        <td>
          <input id="div_orderQuantity" [(ngModel)]="form.orderQuantity" class="inputDiv form-control"
            style="width:100px" disabled/>
        </td>
      </tr>
      <tr>
        <td [translate]="'Product Name'">שם המוצר</td>
        <td colspan="3">
          <input type="text" [(ngModel)]="form.productName" id="div_productName" style="width:571px"
            disabled class="form-control" />
        </td>
      </tr>
      <tr>
        <td>שם הלקוח</td>
        <td>
          <input id="div_costumerName" [(ngModel)]="form.costumerName" style="width:100px" disabled
            class="form-control" />
        </td>
        <td>מק"ט</td>
        <td>
          <input id="div_itemN" [(ngModel)]="form.itemN" class="inputDiv form-control" style="width:100px"
            disabled />
        </td>
      </tr>
      <tr>
        <td>מס' אצווה</td>
        <td>
          <input type="text" [(ngModel)]="form.batchN" id="div_batchN" style="width:100px" disabled
            class="form-control" />
        </td>
        <td>כמות חביות</td>
        <td>
          <input type="number" id="div_drumsAmount" [(ngModel)]="form.drumsAmount" class="inputDiv form-control" style="width:100px"
            [disabled]="disabledValue" />
        </td>
      </tr>
      <tr>
        <td>תאריך ייצור/תאריך סיום</td>
        <td>
          <input type="date" id="div_productionDate" [(ngModel)]="form.productaionDate" class="inputDiv form-control"
            style="width:100px" [disabled]="disabledValue" />
        </td>
        <td>תאריך תפוגה</td>
        <td>
          <input id="div_expirationDate" [(ngModel)]="form.expirationDate" class="inputDiv form-control"
            style="width:100px" [disabled]="disabledValue" />
        </td>
      </tr>
      <tr>
        <td>תאריך מילוי</td>
        <td>
          <input id="div_fillDate" [(ngModel)]="form.fillingDate" class="inputDiv form-control" style="width:100px"
            [disabled]="disabledValue" />
        </td>
        <td>מילוי ע"י</td>
        <td>
          <input id="div_fillingBy" [(ngModel)]="form.filledBy" class="inputDiv form-control" style="width:100px"
            [disabled]="disabledValue" />
        </td>
      </tr>
      <tr>
        <td>שעת התחלת מילוי</td>
        <td>
          <input id="div_fillingStart" [(ngModel)]="form.fillStartTime" class="inputDiv form-control"
            style="width:100px" [disabled]="disabledValue" />
        </td>
        <td>שעת סיום מילוי</td>
        <td>
          <input id="div_endTimeWork" [(ngModel)]="form.endTimeWork" class="inputDiv form-control" style="width:100px"
            [disabled]="disabledValue" />
        </td>
      </tr>
      <tr>
        <td>טווח סטיה</td>
        <td>
          <input id="div_weightRange" [(ngModel)]="form.weightRange" class="inputDiv form-control" style="width:100px"
            [disabled]="disabledValue" />
        </td>
        <td>משקל נטו</td>
        <td>
          <input id="div_netoWeight" [(ngModel)]="form.netWeight" class="inputDiv form-control" style="width:100px"
            [disabled]="disabledValue" />
        </td>
      </tr>
      <tr>
        <td>הדבקה ע"י</td>
        <td>
          <input id="div_lableldBy" [(ngModel)]="form.labeledBy" class="inputDiv form-control" style="width:100px"
            [disabled]="disabledValue" />
        </td>
        <td>אריזה ע"י</td>
        <td>
          <input id="div_packegeBy" [(ngModel)]="form.packageBy" class="inputDiv form-control" style="width:100px"
            [disabled]="disabledValue" />
        </td>
      </tr>


      <tr style="background-color:50D7FF">
        <td colspan="4" class="subHeader">בדיקות לפני מילוי</td>
      </tr>
      <tr>
        <td>בדיקה סנטורית של המוצר</td>
        <td>
          <input style="width:5%" class="form-control" type="checkbox" id="sentoric" [disabled]="disabledValue"
            [(ngModel)]="form.visualIndentCheck" />
        </td>
        <td>זיהוי וניקוי מיכלים</td>
        <td>
          <input style="width:14%" class="form-control" type="checkbox" id="cleanContainer" [disabled]="disabledValue"
            [(ngModel)]="form.containeMatchAndClean" />
        </td>
      </tr>
      <tr>
        <td>זיהוי תוויות</td>
        <td>
          <input style="width:5%" class="form-control" type="checkbox" id="label" [disabled]="disabledValue"
            [(ngModel)]="form.presentOfTheLabels" />
        </td>
        <td>זיהוי קרטון<br />מכסה/משאבה</td>
        <td>
          <input style="width:14%" class="form-control" type="checkbox" id="ccc" [disabled]="disabledValue"
            [(ngModel)]="form.presentOfPackageComponent" />
        </td>
      </tr>
      <tr>
        <td>אישור כיוון ונקיון מכונה</td>
        <td>
          <input style="width:5%" class="form-control" type="checkbox" id="cleanMachine" [disabled]="disabledValue"
            [(ngModel)]="form.confSetupeClean" />
        </td>
        <td>חתימת מנהל מאשר</td>
        <td>
          <input id="div_mangaerSign" class="inputDiv form-control" style="width:100px" [disabled]="disabledValue"
            [value]="form.directorFrontSignature" />
        </td>
      </tr>
      <tr style="background-color:50D7FF">
        <td colspan="4" class="subHeader">בקרה במהלך מילוי</td>
      </tr>

      <tr>
        <td colspan="12">
          <table class="checks table table-bordered">
            <thead>
              <tr>
                <th scope="col">שעת בדיקה</th>
                <th scope="col">נקיון המיכלים</th>
                <th scope="col">משקל נטו</th>
                <th scope="col">סגירה ואיטום</th>
                <th scope="col">תקינות הדבקת התוויות</th>
                <th scope="col">בדיקת מס' אצוות</th>
                <th scope="col">תקינות אריזה סופית</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let check of allChecks">
                <td>{{check.checkTime}}</td>
                <td>{{check.checkBox_clean}}</td>
                <td>{{check.checkNetoWeight}}</td>
                <td>{{check.checkBox_closedWaterProof}}</td>
                <td>{{check.checkBox_stickerPrinting}}</td>
                <td>{{check.checkBox_lotNumberPrinting}}</td>
                <td>{{check.checkBox_correctFinalPacking}}</td>
              </tr>
              <tr *ngIf="!disabledValue">
                <td><input [disabled]="disabledValue" [(ngModel)]="newTest.checkTime" class="form-control"></td>

                <td>
                  <select [disabled]="disabledValue" [(ngModel)]="newTest.checkBox_clean" class="form-control">
                    <option [ngValue]=true>True</option>
                    <option [ngValue]=false>False</option>
                  </select>
                </td>

                <td><input [disabled]="disabledValue" [(ngModel)]="newTest.checkNetoWeight" class="form-control"></td>

                <td>
                  <select [disabled]="disabledValue" [(ngModel)]="newTest.checkBox_closedWaterProof"
                    class="form-control">
                    <option [ngValue]=true>True</option>
                    <option [ngValue]=false>False</option>
                  </select>
                </td>

                <td>
                  <select [disabled]="disabledValue" [(ngModel)]="newTest.checkBox_stickerPrinting"
                    class="form-control">
                    <option [ngValue]=true>True</option>
                    <option [ngValue]=false>False</option>
                  </select>
                </td>

                <td>
                  <select [disabled]="disabledValue" [(ngModel)]="newTest.checkBox_lotNumberPrinting"
                    class="form-control">
                    <option [ngValue]=true>True</option>
                    <option [ngValue]=false>False</option>
                  </select>
                </td>

                <td>
                  <select [disabled]="disabledValue" [(ngModel)]="newTest.checkBox_correctFinalPacking"
                    class="form-control">
                    <option [ngValue]=true>True</option>
                    <option [ngValue]=false>False</option>
                  </select>
                </td>

                <td><button [disabled]="disabledValue" (click)="addNewTest(newTest)" class="btn btn-success">+</button>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>



      <!-- <tr>
              <td>שעת בדיקה</td>
              <td colspan="3">
                <input
                  id="div_checkTime1"
                  class="inputDiv"
                  style="width:100px; margin:10px"
                  [(ngModel)]="form.checkTime1"
                  [disabled]="disabledValue"
                />
                <input
                  id="div_checkTime2"
                  class="inputDiv"
                  style="width:100px; margin:10px"
                  [(ngModel)]="form.checkTime2"
                  [disabled]="disabledValue"
                />
                <input
                  id="div_checkTime3"
                  class="inputDiv"
                  style="width:100px; margin:10px"
                  [(ngModel)]="form.checkTime3"
                  [disabled]="disabledValue"
                />
                <input
                  id="div_checkTime4"
                  class="inputDiv"
                  style="width:100px; margin:10px"
                  [(ngModel)]="form.checkTime4"
                  [disabled]="disabledValue"
                />
              </td>
            </tr>
            <tr>
              <td>נקיון מכלים</td>
              <td colspan="3">
                <input
                  type="checkbox"
                  id="clean1"
                  style="margin-left:100px; margin-right:90px; margin-top:10px; margin-bottom:10px"
                  [disabled]="disabledValue"
                />
                <input
                  type="checkbox"
                  id="clean2"
                  style="margin-left:100px"
                  [disabled]="disabledValue"
                />
                <input
                  type="checkbox"
                  id="clean3"
                  style="margin-left:100px"
                  [disabled]="disabledValue"
                />
                <input
                  type="checkbox"
                  id="clean4"
                  style="margin-left:100px"
                  [disabled]="disabledValue"
                />
              </td>
            </tr>
            <tr>
              <td>משקל נטו</td>
              <td colspan="3">
                <div *ngFor=" let neto of netoWeightArr">
                    <input
                    id="div_netWeight1"
                    class="inputDiv"
                    style="width:100px; margin:10px"
                    [value] = neto
                    [disabled]="disabledValue"
                  />
                </div>
              </td>
            </tr>
            <tr>
                <td>משקל ממוצע</td>
                <td colspan="3">
                  <input
                    class="inputDiv"
                    style="width:100px; margin:10px"
                    [disabled]="disabledValue"
                    [value] = "averageNetoWeight"
                  />
                </td>
              </tr>
            <tr>
              <td>סגירה ואיטום</td>
              <td colspan="3">
                <input
                  type="checkbox"
                  id="div_seeling1"
                  style="margin-left:100px; margin-right:90px; margin-top:10px; margin-bottom:10px"
                />
                <input type="checkbox" id="div_seeling2" style="margin-left:100px" [disabled]="disabledValue"/>
                <input type="checkbox" id="div_seeling3" style="margin-left:100px" [disabled]="disabledValue"/>
                <input type="checkbox" id="div_seeling4" style="margin-left:100px" [disabled]="disabledValue"/>
              </td>
            </tr>
            <tr>
              <td>תקינות הדבקת התוויות</td>
              <td colspan="3">
                <input
                  type="checkbox"
                  id="div_lables1"
                  style="margin-left:100px; margin-right:90px; margin-top:10px; margin-bottom:10px"
                />
                <input
                  type="checkbox"
                  id="div_lables2"
                  style="margin-left:100px"
                  [disabled]="disabledValue"
                />
                <input
                  type="checkbox"
                  id="div_lables3"
                  style="margin-left:100px"
                  [disabled]="disabledValue"
                />
                <input
                  type="checkbox"
                  id="div_lables4"
                  style="margin-left:100px"
                  [disabled]="disabledValue"
                />
              </td>
            </tr>
            <tr>
              <td>בדיקת מס' אצוות</td>
              <td colspan="3">
                <input
                  type="checkbox"
                  id="div_batch1"
                  style="margin-left:100px; margin-right:90px; margin-top:10px; margin-bottom:10px"
                />
                <input type="checkbox" id="div_batch2" style="margin-left:100px" [disabled]="disabledValue"/>
                <input type="checkbox" id="div_batch3" style="margin-left:100px" [disabled]="disabledValue"/>
                <input type="checkbox" id="div_batch4" style="margin-left:100px" [disabled]="disabledValue"/>
              </td>
            </tr>
            <tr>
              <td>תקינות אריזה סופית</td>
              <td colspan="3">
                <input
                  type="checkbox"
                  id="div_finalPackage1"
                  style="margin-left:100px; margin-right:90px; margin-top:10px; margin-bottom:10px"
                />
                <input
                  type="checkbox"
                  id="div_finalPackage2"
                  style="margin-left:100px"
                  [disabled]="disabledValue"
                />
                <input
                  type="checkbox"
                  id="div_finalPackage3"
                  style="margin-left:100px"
                  [disabled]="disabledValue"
                />
                <input
                  type="checkbox"
                  id="div_finalPackage4"
                  style="margin-left:100px"
                  [disabled]="disabledValue"
                />
              </td>
            </tr> -->
      <tr style="background-color:50D7FF">
        <td colspan="4" class="subHeader"></td>
      </tr>
      <tr>
        <td>כמות שיוצרה</td>
        <td>
          <input type="text" id="div_qty" [(ngModel)]="form.quantity_Produced" disabled />
          <!-- <button onClick="update()">עדכן</button> -->
          <button (click)="loadQAPallets(form._id)" class="btn btn-light">משטחים</button>
        </td>

        <td>אישור נקיון מכונה לאחר מילוי</td>
        <td>
          <input id="div_cleanFinal" class="inputDiv form-control" style="width:100px" [disabled]="disabledValue"
            [(ngModel)]="form.cleanFillMachineSignature" />
        </td>
      </tr>
      <tr>
        <td>ייצור מלא</td>
        <td>
          <input class="form-control" *ngIf="form.batchStatus =='full'" style="width:5%" type="checkbox"
            [disabled]="disabledValue" [checked]='true' />
          <input class="form-control" *ngIf="form.batchStatus !='full'" style="width:5%" type="checkbox"
            [disabled]="disabledValue" [checked]='false' />
        </td>
        <td>ייצור חלקי</td>
        <td>
          <input class="form-control" *ngIf="form.batchStatus =='part'" style="width:14%" type="checkbox" id="ccc"
            [disabled]="disabledValue" [checked]='true' />
          <input class="form-control" *ngIf="form.batchStatus !='part'" style="width:14%" type="checkbox" id="ccc"
            [disabled]="disabledValue" [checked]='false' />
        </td>
      </tr>
      <tr *ngIf="form.leftBatchWeight !=''">
        <td><b>ייצור חלקי</b></td>
      </tr>
      <tr *ngIf="form.leftBatchWeight !=''">
        <td>אצווה</td>
        <td>
          <input class="form-control" type="text" [disabled]="disabledValue" [(ngModel)]="form.leftBatchNumber"
            style="width:100px" />
        </td>
        <td>כמות שנשארה</td>
        <td>
          <input class="form-control" type="text" [disabled]="disabledValue" [(ngModel)]="form.leftBatchWeight"
            style="width:100px" />
        </td>
      </tr>

      <tr>
        <td>רשיון לפריט</td>
        <td>
          <input type="checkbox" [checked]='form.itemHasLicense' style="width:5%" [disabled]="disabledValue"
            class="form-control" />
        </td>
        <td>אריזה אישית</td>
        <td>
          <input type="checkbox" [(ngModel)]="form.personalPackage" class="inputDiv form-control" style="width:14%"
            [disabled]="disabledValue" />
        </td>
      </tr>

      <tr>
        <td>הערות</td>
        <td colspan="3" style="border-bottom:0px solid;">
          <input id="div_qualityRemarks" class="inputDiv form-control" style="width:571px" [disabled]="disabledValue"
            [(ngModel)]="form.frontRemarks" />
        </td>
      </tr>

      <tr *ngIf="allowUpdateForm">
        <td></td>
        <td colspan="2">
          <button *ngIf="!newForm" [disabled]="disabledValue" (click)="updateFormDetails()" class="btn btn-success form-control">Update Form</button>
          <button *ngIf="newForm" [disabled]="disabledValue" (click)="createFormDetails()" class="btn btn-success form-control">Create Form</button>
        </td>
        <td></td>
      </tr>




      <!-- <tr> -->
      <!-- <td style="border-bottom:0px solid;">
                <button onclick="rotateYDIV(&quot;table_q&quot;)">טופס אריזה</button>
              </td>
            </tr> -->
    </table>


  </div>

  <div *ngIf="tabView == 'packingForm'">
    <table dir="rtl" style="width:100%;display: inline-table;font-size: 17px;font-weight: bold;" class="post"
      id="table_p">
      <!-- <table
          border="0"
          style="font-size:18px; width:800px;height:600px; font-family:Arial; border-collapse: collapse; display:inline-table;float:right"
          id="table_p"
          class="post"
        > -->
      <thead>
        <tr>
          <td colspan="4" [translate]="'Quality Control Form'" class="subHeader">Packing Form</td>
        </tr>
      </thead>
      <tr>
        <td>שם המוצר</td>
        <td colspan="3">
          <input id="div_productName2" class="inputDiv form-control" [disabled]="disabledValue" style="width:446px"
            [(ngModel)]="form.productName" />
        </td>
      </tr>
      <tr>
        <td>תאריך פתיחת טופס</td>
        <td>
          <input id="div_fillingDate2" class="inputDiv form-control" style="width:100px" [disabled]="disabledValue"
            [(ngModel)]="form.dateN" />
        </td>
        <td>מספר אצווה</td>
        <td>
          <input id="div_batchN2" class="inputDiv form-control" style="width:100px" [disabled]="disabledValue"
            [(ngModel)]="form.batchN" />
        </td>
      </tr>

      <tr>
        <td>כמות מוזמנת</td>
        <td>
          <input id="div_orderQty" class="inputDiv form-control" style="width:100px" [disabled]="disabledValue"
            [(ngModel)]="form.orderQuantity" />
        </td>
        <td>שם הלקוח</td>
        <td>
          <input id="div_costumerName2" class="inputDiv form-control" style="width:100px" [disabled]="disabledValue"
            [(ngModel)]="form.costumerName" />
        </td>
      </tr>
      <tr>
        <td>תחילת עבודה</td>
        <td>
          <input id="div_packageStartDate" class="inputDiv form-control" style="width:100px" [disabled]="disabledValue"
            [(ngModel)]="form.packageStartTime" />
        </td>
        <td>סוף עבודה</td>
        <td>
          <input id="div_packageEndDate" class="inputDiv form-control" style="width:100px" [disabled]="disabledValue"
            [(ngModel)]="form.packgeEndTime" />
        </td>
      </tr>
      <tr>
        <td>מק"ט מוצר</td>
        <td><input id="div_itemN2" class="inputDiv form-control" style="width:100px" [disabled]="disabledValue"
            [(ngModel)]="form.itemN" /></td>
        <td>מק"ט אריזה אישית</td>
        <td>
          <input id="div_personalPackageN" class="inputDiv form-control" style="width:100px" [disabled]="disabledValue"
            [(ngModel)]="form.personalPackageN" />
        </td>
      </tr>
      <tr>
        <td>מק"ט קרטון מאסטר</td>
        <td><input id="div_masterCtn" class="inputDiv form-control" style="width:100px" [disabled]="disabledValue"
            [(ngModel)]="form.masterCartonN"></td>
        <td>מס' יחידות בקרטון</td>
        <td><input id="div_untCtn" class="inputDiv form-control" style="width:100px" [disabled]="disabledValue"
            [(ngModel)]="form.cartonUnitNumber" /></td>
      </tr>
      <tr>
        <td>שם האורז</td>
        <td>
          <input id="div_packageName" class="inputDiv form-control" style="width:100px" [disabled]="disabledValue"
            [(ngModel)]="form.packagerName" />
        </td>
        <td>סה"כ קרטונים</td>
        <td>
          <input class="form-control" type="text" id="div_totalCtn" style="width:100px" [disabled]="disabledValue"
            [(ngModel)]="form.totalCartons" />
          <!-- <button onClick="update()"  > עדכן   </button> -->
        </td>
      </tr>
      <tr>
        <td>סה"כ יחידות פריט</td>
        <td>
          <input class="form-control" type="text" id="div_totalItemsN" style="width:100px" [disabled]="disabledValue"
            [(ngModel)]="form.totalUnits" />
          <!-- <button onClick="update()"> עדכן</button> -->
        </td>
        <!-- <td>משקל ברוטו</td>
            <td>
              <input id="div_brotoWeight" class="inputDiv form-control" style="width:100px" [disabled]="disabledValue"/>
            </td> -->
      </tr>
      <tr>
        <td colspan="2">
          <input type="radio" name="gender" id="delivery" [disabled]="disabledValue" />יוצא למשלוח
          <input type="radio" name="gender" id="wareHouse" style="margin-right:35px" [disabled]="disabledValue" />
          עבר למחסן מלאי<br />
        </td>
      </tr>
      <tr>
        <td style="border-bottom:0px solid;">הערות</td>
        <td colspan="3">
          <input class="form-control" type="text" id="div_totalItemsN" style="width:446px" [disabled]="disabledValue"
            [(ngModel)]="form.backRemarks" />
        </td>
      </tr>
      <!-- <tr>
            <td colspan="4">
              <input id="div_remarks" class="inputDiv form-control" style="width:500px" [disabled]="disabledValue"/>
            </td>
          </tr> -->
      <tr>
        <td>שם ותחימת מבקר איכות</td>
        <td>
          <input id="div_qualtySign" class="inputDiv form-control" style="width:100px" [disabled]="disabledValue"
            [(ngModel)]="form.checkSignature" />
        </td>
        <td>שם וחתימת מנהל</td>
        <td>
          <input id="div_managerSign" class="inputDiv form-control" style="width:100px" [disabled]="disabledValue"
            [(ngModel)]="form.directorBackSignature" />
        </td>
      </tr>
      <tr>
        <td style="border-bottom:0px solid;">
          <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
          <!-- <button onclick="rotateYDIV(&quot;table_p&quot;)">חזרה</button> -->
        </td>
      </tr>

      <tr *ngIf="allowUpdateForm">
        <td></td>
        <td colspan="2">
          <button *ngIf="!newForm" [disabled]="disabledValue" (click)="updateFormDetails()" class="btn btn-success form-control">Update Form</button>
          <button *ngIf="newForm" [disabled]="disabledValue" (click)="createFormDetails()" class="btn btn-success form-control">Create Form</button>
        </td>
        <td></td>
      </tr>

    </table>
  </div>

  <div *ngIf="tabView == 'itemTree'">
    <app-itemdetais [formDetailsItemNum]="formDetailsItemNum"></app-itemdetais>
  </div>


</div>


<div *ngIf="showQAPalletsModal == true" style="top:150px;"
  class="container bg-white fixed-top mx-auto my-auto text-center rounded shadow-lg border border-info">
  <div class="row mt-4">
    <div class="col-4"> </div>
    <div class="col-4">
      <h2>משטחי בקרת איכות  
      </h2>
    </div>
    <div class="col-4">
      <i style="cursor: pointer;font-size: large;" (click)="showQAPalletsModal = false" class="fa fa-times text-info"></i>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <table dir="rtl" class="table table-striped table-hover">
        <thead class="text-white bg-info">
          <tr>
            <th style="font-weight: bold;font-size: large;">#</th>
            <th style="font-weight: bold;font-size: large;">מספר קומות</th>
            <th style="font-weight: bold;font-size: large;">כמות קרטונים</th>
            <th style="font-weight: bold;font-size: large;">כמות בקרטון</th>
            <th style="font-weight: bold;font-size: large;">קומה אחרונה</th>
            <th style="font-weight: bold;font-size: large;">קרטון חלקי</th>
            <th style="font-weight: bold;font-size: large;">סה"כ</th>
            <th style="font-weight: bold;font-size: large;">סטטוס בקרת איכות</th>
            <th style="font-weight: bold;font-size: large;">סטטוס משטח</th>
            <th><i class="fas fa-pallet"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let QAPallet of formQAPalletsData; let i = index">
            <td style="font-weight: bold;font-size: medium;">{{i+1}}</td>
            <td style="font-weight: bold;font-size: medium;">{{QAPallet.floorNumber}}</td>
            <td style="font-weight: bold;font-size: medium;">{{QAPallet.kartonQuantity}}</td>
            <td style="font-weight: bold;font-size: medium;">{{QAPallet.unitsInKarton}}</td>
            <td style="font-weight: bold;font-size: medium;">{{QAPallet.lastFloorQuantity}}</td>
            <td style="font-weight: bold;font-size: medium;">{{QAPallet.unitsQuantityPartKarton}}</td>
            <td style="font-weight: bold;font-size: large;">{{QAPallet.sumAmount}}</td>
            <td style="font-weight: bold;font-size: medium;" [ngClass]="{green:QAPallet.qaStatus == 'מוכן לשליחה',red:QAPallet.qaStatus != 'מוכן לשליחה'}">
              {{QAPallet.qaStatus}}</td>
            <td style="font-weight: bold;font-size: medium;" [ngClass]="{green:QAPallet.palletStatus == 'הועלה על משטח',red:QAPallet.palletStatus == 'ממתין למשטח'}">
              {{QAPallet.palletStatus}}</td>
            <td *ngIf="allowUpdateForm"><button (click)="deleteQAPallet(QAPallet)" class="btn btn-danger"><i class="fa fa-times"></i></button></td>
          </tr>

          <tr *ngIf="allowUpdateForm">
            <td></td>
            <td><input [(ngModel)]="newQAPallet.floorNumber" type="number" style="font-weight: bold;font-size: medium;" placeholder="מספר קומות" class="form-control"></td>
            <td><input [(ngModel)]="newQAPallet.kartonQuantity" type="number" style="font-weight: bold;font-size: medium;" placeholder="כמות קרטונים" class="form-control"></td>
            <td><input [(ngModel)]="newQAPallet.unitsInKarton" type="number" style="font-weight: bold;font-size: medium;" placeholder="כמות בקרטון" class="form-control"></td>
            <td><input [(ngModel)]="newQAPallet.lastFloorQuantity" type="number" style="font-weight: bold;font-size: medium;" placeholder="קומה אחרונה" class="form-control"></td>
            <td><input [(ngModel)]="newQAPallet.unitsQuantityPartKarton" type="number" style="font-weight: bold;font-size: medium;" placeholder="קרטון חלקי" class="form-control"></td>
            <td></td>
            <td>
              <select [(ngModel)]="newQAPallet.qaStatus" style="font-weight: bold;font-size: medium;" class="form-control">
                <option value="">סטטוס</option>
                <option value="מוכן לשליחה">מוכן לשליחה</option>
                <option value="חסר מדבקות">חסר מדבקות</option>
                <option value="חסר קומפוננטים">חסר קומפוננטים</option>
                <option value="עובר לאריזה אישית">עובר לאריזה אישית</option>
                <option value="חסר לייזר">חסר לייזר</option>
                <option value="נשלח להדפסה">נשלח להדפסה</option>
                <option value="חסר קרטונים">חסר קרטונים</option>
                <option value="חסר קרטוני מאסטר">חסר קרטוני מאסטר</option>
                <option value="חסר עלונים לצרכן">חסר עלונים לצרכן</option>
                <option value="למלאי">למלאי</option>
              </select>
            </td>
            <td></td>
            <td><button (click)="addNewQAPallet()" style="font-weight: bold;font-size: medium;" class="btn btn-success">+</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mt-1">

      <div class="col-4"></div>
      <div class="col-4">
        <button style="font-size: large;" (click)="showQAPalletsModal = false" class="form btn btn-danger form-control">סגירה</button>
      </div>
      <div class="col-4"></div>

  </div>

</div>




<!-- <button printSectionId="print-section" ngxPrint>Print</button> -->