
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Filling">
    <div class="container-fluid bg-white text-center">
      <div class="row">
        <div class="col-12 mt-4">
          <h1 style="text-shadow: 2px 2px 4px #000000;" class="text-info">Filling Storage</h1>
        </div>
      </div>


      <div class="row mt-4">
        <div class="col-3">
        <label  class="form-control">Search By Number</label>
        </div>
        <div class="col-3">
          <label  class="form-control">Search By Order</label>
        </div>
        <div class="col-3">
          <label  class="form-control">From Date</label>
        </div>
        <div class="col-3">
          <label  class="form-control">To Date</label>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
        <input (change)="filterByNumber($event)" type="text" class="form-control" placeholder="Number">
        </div>
        <div class="col-3">
          <input (change)="filterByOrder($event)" type="text" class="form-control" placeholder="Order">
        </div>
        <div class="col-3">
          <input #fromDate type="date" class="form-control">
        </div>
        <div class="col-3">
          <input (change)="filterByDate()" #toDate type="date" class="form-control">
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12">
          <table class="table table-striped">
            <thead class="bg-info text-white">
              <tr style="box-shadow: inset 0px 0px 4px 1px black;">
                <th>Request Num</th>
                <th>Name</th>
                <th>Transfer Date</th>
                <th>Print Document</th>
                <th>Item Details</th>
              </tr>
            </thead>
          
                <tbody>
                  <ng-container *ngFor="let request of allFillingRequests">
                  <tr>
                    <td>{{request.reqNum}}</td>
                    <td>{{request.userName}}</td>
                    <td>{{request.deliveryDate | date: 'dd/MM/yyyy'}}</td>
                    <td><img (click)="openPrintDocument(request)" src="../../../../assets/images/print.png" alt="Print" style="width: 55px;"></td>
                    <td>
                      <table class="table table-striped table-hover">
                        <thead class="bg-dark text-white">
                          <tr>
                            <th>Name</th>
                            <th>Number</th>
                            <th>Order</th>
                            <th>Req Quantity</th>
                            <th>Arrived Qty</th>
                            <th>Arrival Date</th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                          <tbody>
                            <tr *ngFor="let item of request.reqList" [style.background-color]="item.arrived">
                            <td>{{item.itemName}}</td>
                            <td>{{item.itemNumber}}</td>
                            <td>{{item.relatedOrder}}</td>
                            <td>{{item.amount}}</td>

                            <td *ngIf="editRow != item.itemNumber" (click)="edit(item.itemNumber)">{{item.arrivedQty}}</td>
                            <td *ngIf="editRow == item.itemNumber">
                              <input #arrivedQuantity [value]="item.arrivedQty" type="text">
                            </td>

                            <td *ngIf="editRow != item.itemNumber" (click)="edit(item.itemNumber)">{{item.arrivalDate}}</td>
                            <td *ngIf="editRow == item.itemNumber">
                              <input #arrivalDate [value]="item.arrivalDate" type="date">
                            </td>

                            <td></td>

                            <td *ngIf="editRow != item.itemNumber"></td>
                            <td *ngIf="editRow == item.itemNumber"><i style="cursor: pointer;" (click)="clickIfArrived(request._id,item.itemNumber,item.relatedOrder)" class="fa fa-check text-info"></i></td>
                           
                          </tr>
                          </tbody>
                       
                      </table>
                    </td>
              
                    
                
                  </tr>
                </ng-container>
            </tbody>
            
          
          </table>
        </div>
      </div>
    </div>

      <div style="top:100px" *ngIf="printDocument == true" id="print-section" class="container fixed-top bg-white mx-auto my-auto rouned shadow-lg text-right">
        <div class="row text-right">
          <div class="col-1">
         
          </div>
          <div class="col-10">
            <button [printStyle]="{td : {'border': '1px solid black'}, tr : {'border': 'solid 1px black'}, div : {'text-align': 'right'}, table : {'float': 'right'}}" 
            style="background: none;border:none;font-size: 30px;" printSectionId="print-section" ngxPrint>פאר פארם בע"מ</button>
          </div>
          <div class="col-1">
            <i (click)="printDocument = false" class="fa fa-times text-info"></i>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <h5>עמל 17 אזור תעשיה, אפק ראש העין 4809256</h5>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <h5>טלפון 03-9024055 פקס 03-9024015 דואר אלקטרוני peerpharm@barak.net.il ח.פ 511899023</h5>
          </div>
        </div>

        <hr>

        <div class="row text-center">
          <div class="col-12">
            <h2>תעודת קבלה</h2>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-12">
            <h5>ממחסן: רכיבים -קאסם למחסן: רכיבים-ראש העין</h5>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>מספר פריט</th>
                  <th>שם פריט</th>
                  <th>כמות</th>
                  <th>תאריך הגעה</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of currRequest.reqList">
                  <td>{{item.itemNumber}}</td>
                  <td>{{item.itemName}}</td>
                  <td>{{item.arrivedQty}}</td>
                  <td>{{item.arrivalDate | date: 'dd//MM/yyyy'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
  
  </mat-tab>

</mat-tab-group>