<div *ngIf="formuleAdd == true" class="container formBackGround">
  <div style="text-align: center;" class="row">
    <div class="col-12">
      <h2>New Formule</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <label>Formule Type:</label>
    </div>
    <div class="col-5">
      <select (change)="fillTheNumberByType($event)" [(ngModel)]="newFormule.formuleType">
        <option value=""></option>
        <option value="father">אב</option>
        <option value="base">בסיס</option>
      </select>
    </div>
    <div *ngIf="chooseChildren != true" class="col-2">
      <label>Base Formule:</label>
    </div>
    <div *ngIf="chooseChildren != true" class="col-3">
      <select (change)="createFormuleFromBase($event)">
        <option></option>
        <option *ngFor="let formule of baseFormules" [value]="formule.formuleName">{{formule.formuleName}}</option>
      </select>
    </div>
    <div *ngIf="chooseChildren == true" class="col-2">
      <input #addChildren type="number">
      <select>
        <option *ngFor="let child of allChildren">{{child.childNumber}}</option>
      </select>

    </div>
    <div *ngIf="chooseChildren == true" class="col-3">
      <button (click)="addChildrenToFather()" class="btn-success">Add Child</button>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <label>Formule Number:</label>
    </div>
    <div class="col-5">
      <input (change)="fillTheNameByNumber($event)" style="width:346px" [(ngModel)]="newFormule.formuleNumber" type="text" placeholder="Formule Number">
    </div>
    <div class="col-2">
     <label>Add Child To Father</label>
    </div>
    <div class="col-3">
      <select #fatherFormule>
        <option  *ngFor="let formule of fatherFormules" [value]="formule.formuleName">{{formule.formuleName}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <label>Formule Name:</label>
    </div>
    <div class="col-5">
      <input [(ngModel)]="newFormule.formuleName" style="width:346px" type="text" placeholder="Formule Name">
    </div>
    <div class="col-2">
      <label>Type Child Number</label>
    </div>
    <div class="col-3">
      <input type="text"  [(ngModel)]="childrenToAdd" placeholder="Child Number">
      <i (click)="addChildToExistFather()" class="fa fa-plus"></i>
    </div>

  </div>

  <div class="row">
    <div class="col-2">
      <label>Formule Category:</label>
    </div>
    <div class="col-1">
      <select [(ngModel)]="newFormule.formuleCategory">
        <option *ngFor="let category of allFormuleCategory" [value]="category">{{category}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <label>Date:</label>
    </div>
    <div class="col-1">
      <input [(ngModel)]="newFormule.date" type="date">
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <label>User:</label>
    </div>
    <div class="col-3">
      <input [(ngModel)]="newFormule.user" type="text" disabled> 
      <img (click)="getUserDetails()" style="width:30px;" src="../../../assets/images/refreshData.png">
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <label>PH Range:</label>
    </div>
    <div class="col-2">
      <input [(ngModel)]="newFormule.phFrom" type="number" placeholder="From">
    </div>
    <div class="col-3">
      <input [(ngModel)]="newFormule.phTo" type="number" placeholder="To">
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <label>Important Remarks:</label>
    </div>
    <div class="col-4">
      <input [(ngModel)]="newFormule.impRemarks" style="width:346px !important;" type="text">
    </div>
  </div>

  <div style="text-align: center;margin-top:50px;" class="row">
    <div class="col-12">
      <button class="btn-success" (click)="moveToPhases()">מעבר לפאזות</button>
    </div>
  </div>

</div>


<div *ngIf="phaseAdd == true" class="container formBackGround">
  <div style="text-align: center;" class="row">
    <div class="col-12">
      <h2>Add New Phase</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <label>Phase Name:</label>
    </div>
    <div class="col-1">
      <input type="text" [(ngModel)]="newPhase.phaseName" placeholder="Phase Name">
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <label>Phase Remarks:</label>
    </div>
    <div class="col-1">
      <input type="text" [(ngModel)]="newPhase.remarks" placeholder="Phase Remarks">
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <label>Amount Of Items</label>
    </div>
    <div class="col-1">
      <input type="number" [(ngModel)]="newPhase.amountOfItems" placeholder="Amount of items in phase">
    </div>
  </div>

  <div style="text-align: center;margin-top:30px;" class="row">

    <table class="table table-striped">
      <thead>
        <tr>

        
          <th>מק"ט</th>
          <th>שם פריט</th>
          <th>אחוזים</th>
          <th>הערות</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input #itemNumber [(ngModel)]="newItem.itemNumber" (change)="fillMaterialName($event)" type="text"></td>
          <td *ngIf="chooseFromBuffer == false"><input list="materials" #itemName [(ngModel)]="newItem.itemName" (change)="fillMaterialNumber($event)" type="text"></td>
          <datalist id="materials">
            <option *ngFor="let material of allMaterials" [value]="material.componentName">{{material.componentName}}</option>

          </datalist>
          <td *ngIf="chooseFromBuffer == true">
            <select #itemName [(ngModel)]="newItem.itemName">
              <option *ngFor="let buffer of allFormuleBuffers" [value]="buffer">{{buffer}}</option>
            </select>
          </td>
          <td><input #percentage [(ngModel)]="newItem.percentage" type="number"></td>
          <td><input #remarks [(ngModel)]="newItem.remarks" type="text"></td>
          <td><button (click)="addItemsToPhase()" class="btn-success">Add</button></td>
        </tr>
      </tbody>
    </table>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>מק"ט</th>
          <th>שם פריט</th>
          <th>אחוזים</th>
          <th>הערות</th>
        </tr>
     
      </thead>
      <tbody>
        <tr *ngFor="let item of newPhase.items">
          <td>{{item.itemNumber}}</td>
          <td>{{item.itemName}}
            <table *ngIf="mixedMaterials?.length">
              <thead>

              </thead>
              <tbody>
                <tr *ngFor="let material of mixedMaterials">
                  <td>{{material.materialName}}  {{material.materialPercentage}}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>{{item.percentage}}</td>
          <td>{{item.remarks}}</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div style="text-align: center;" class="row">
    <div class="col-12">
      <button (click)="addNewPhase()" class="btn-success">הקם פאזה</button>
    </div>
  </div>
</div>

<div *ngIf="currentFormule" class="container formBackGround">
  <div class="row">
    <div class="col-12">

      <table class="table table-striped">
        <thead>
          <tr>
            
            <th>Phase Name</th>
            <th>Phase Remarks</th>
            <th>#</th>
            <th>Batch Number</th>
            <th>Execute</th>
            <th>No.</th>
            <th>Material Name</th>
            <th>Percentage</th>
            <th>Material Remarks</th>
            <th></th>

          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let phase of currentFormule.phases;">
            <tr *ngFor="let item of phase.items;let i = index">
              <td *ngIf="phase.formuleId!==EditRowId" (click)="edit(phase.formuleId)">{{phase.phaseName}}</td>
              <td *ngIf="phase.formuleId===EditRowId" (click)="edit(phase.formuleId)">
                <input #updatePhaseName [value]="phase.phaseName"  type="text">
              </td>
              <td>{{phase.remarks}}</td>
              <td *ngIf="phase.formuleId!==EditRowId" (click)="edit(phase.formuleId)">{{i+1}}</td>
              <td *ngIf="phase.formuleId===EditRowId" (click)="edit(phase.formuleId)">
                <input #updateItemsIndex [value]="i+1" type="number">
              </td>
              <td></td>
              <td></td>
              <td>{{item.itemNumber}}</td>
              <td>{{item.itemName}}</td>
              <td>{{item.percentage}}</td>
              <td>{{item.remarks}}</td>
              <td *ngIf="phase.formuleId===EditRowId"><i class="ti-save" (click)="saveEdit()"></i></td>
            </tr>
          </ng-container>

        </tbody>
      </table>

    </div>
  </div>
</div>
  <div *ngIf="allPercentage" style="text-align: center;" class="row">
    <div class="col-12">
        <label style="color:black;font-size:20px">Percentage:{{allPercentage}}</label> 
    </div>
  </div>
  <br><br>
  <div *ngIf="currentFormule" style="text-align: center;" class="row">
    <div class="col-12">
      <button (click)="FinishFormule()" class="btn-success">סיום הקמת פורמולה</button>
    </div>
  </div>


  <div *ngIf="updateCurrBaseFormule == true" class="container formBackGround">
    <div style="text-align: center;" class="row">
      <div class="col-12">
        <h2>Create Formule From Base: {{currentBaseFormule.formuleName}}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <label>Formule Type:</label>
      </div>
      <div class="col-5">
        <select (change)="fillTheNumberByType($event)" [(ngModel)]="newFormule.formuleType">
          <option value=""></option>
          <option value="father">אב</option>
          <option value="base">בסיס</option>
        </select>
      </div>
      <div *ngIf="chooseChildren == true" class="col-2">
        <input #addChildren type="number">
        <select>
          <option *ngFor="let child of allChildren">{{child.childNumber}}</option>
        </select>
        
       
      </div>
      <div *ngIf="chooseChildren == true" class="col-3">
        <button (click)="addChildrenToFather()" class="btn-success">Add Child</button>
      </div>
    
    </div> 
  <div class="row">
    <div class="col-2">
      <label>Formule Number:</label>
    </div>
    <div class="col-1">
      <input (change)="fillTheNameByNumber($event)" style="width:346px" [(ngModel)]="newFormule.formuleNumber" type="text" placeholder="Formule Number">
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <label>Formule Name:</label>
    </div>
    <div class="col-1">
      <input [(ngModel)]="newFormule.formuleName" style="width:346px" type="text" placeholder="Formule Name">
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <label>Formule Category:</label>
    </div>
    <div class="col-1">
      <select [(ngModel)]="newFormule.formuleCategory">
        <option *ngFor="let category of allFormuleCategory" [value]="category">{{category}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <label>Date:</label>
    </div>
    <div class="col-1">
      <input [(ngModel)]="newFormule.date" type="date">
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <label>User:</label>
    </div>
    <div class="col-1">
      <input [(ngModel)]="newFormule.user" type="text" disabled>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <label>PH Range:</label>
    </div>
    <div class="col-2">
      <input [(ngModel)]="newFormule.phFrom" type="number" placeholder="From">
    </div>
    <div class="col-3">
      <input [(ngModel)]="newFormule.phTo" type="number" placeholder="To">
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <label>Important Remarks:</label>
    </div>
    <div class="col-4">
      <input [(ngModel)]="newFormule.impRemarks" style="width:346px !important;" type="text">
    </div>
  </div>

  <div style="text-align: center;margin-top:50px;" class="row">
    <div class="col-12">
      <button class="btn-success" (click)="newFormuleFromBase()">מעבר לפאזות</button>
    </div>
  </div>
  </div>

  


  <div *ngIf="CurrBaseFormulePhases == true" class="container formBackGround">
    <div style="text-align: center;" class="row">
      <div class="col-12">
        <h2>Add New/To Phase</h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col-2">
        <label>Phase Name:</label>
      </div>
      <div class="col-1">
        <input type="text" [(ngModel)]="newPhase.phaseName" placeholder="Phase Name">
      </div>
    </div>
  
    <div class="row">
      <div class="col-2">
        <label>Phase Remarks:</label>
      </div>
      <div class="col-1">
        <input type="text" [(ngModel)]="newPhase.remarks" placeholder="Phase Remarks">
      </div>
    </div>
  
    <div class="row">
      <div class="col-2">
        <label>Amount Of Items</label>
      </div>
      <div class="col-1">
        <input type="number" [(ngModel)]="newPhase.amountOfItems" placeholder="Amount of items in phase">
      </div>
    </div>
  
    <div style="text-align: center;margin-top:30px;" class="row">
  
      <table class="table table-striped">
        <thead>
          <tr>
  
          
            <th>מק"ט</th>
            <th>שם פריט</th>
            <th>אחוזים</th>
            <th>הערות</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input #itemNumber [(ngModel)]="newItem.itemNumber" (change)="fillMaterialName($event)" type="text"></td>
            <td *ngIf="chooseFromBuffer == false"><input list="materials" #itemName [(ngModel)]="newItem.itemName" (change)="fillMaterialNumber($event)" type="text"></td>
            <datalist id="materials">
              <option *ngFor="let material of allMaterials" [value]="material.componentName">{{material.componentName}}</option>
  
            </datalist>
            <td *ngIf="chooseFromBuffer == true">
              <select #itemName [(ngModel)]="newItem.itemName">
                <option *ngFor="let buffer of allFormuleBuffers" [value]="buffer">{{buffer}}</option>
              </select>
            </td>
            <td><input #percentage [(ngModel)]="newItem.percentage" type="number"></td>
            <td><input #remarks [(ngModel)]="newItem.remarks" type="text"></td>
            <td><button (click)="addItemToBasePhase()" class="btn-success">Add</button></td>
          </tr>
        </tbody>
      </table>
  
    
  
    </div>
    <div style="text-align: center;" class="row">
      <div class="col-12">
        <button (click)="addItemToNewPhase()" class="btn-success">הקם פאזה חדשה</button>
      </div>
    </div>
  </div>

  <div *ngIf="CurrBaseFormulePhases == true" class="container formBackGround">
    <div class="row">
      <div class="col-12">
  
        <table class="table table-striped">
          <thead>
            <tr>
              
              <th>Phase Name</th>
              <th>Phase Remarks</th>
              <th>#</th>
              <th>Batch Number</th>
              <th>Execute</th>
              <th>No.</th>
              <th>Material Name</th>
              <th>Percentage</th>
              <th>Material Remarks</th>
              <th></th>
  
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let phase of currentBaseFormule.phases;">
              <tr *ngFor="let item of phase.items;let i = index">
                <td *ngIf="item.itemNumber!==EditRowId" (click)="edit(item.itemNumber)">{{phase.phaseName}}</td>
                <td *ngIf="item.itemNumber===EditRowId" (click)="edit(item.itemNumber)">
                  <input #updatePhaseName [value]="phase.phaseName"  type="text">
                </td>
                <td>{{phase.remarks}}</td>
                <td *ngIf="item.itemNumber!==EditRowId" (click)="edit(item.itemNumber)">{{i+1}}</td>
                <td *ngIf="item.itemNumber===EditRowId" (click)="edit(item.itemNumber)">
                  <input #updateItemsIndex [value]="i+1" type="number">
                </td>
                <td></td>
                <td></td>
                <td>{{item.itemNumber}}</td>
                <td>{{item.itemName}}
                  <table *ngIf="mixedMaterials?.length">
                    <thead>
      
                    </thead>
                    <tbody>
                      <tr *ngFor="let material of mixedMaterials">
                        <td>{{material.materialName}}  {{material.materialPercentage}}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                
                <td>{{item.percentage}}</td>
                <td>{{item.remarks}}</td>
                <td *ngIf="item.itemNumber===EditRowId"><i class="ti-save" (click)="saveEdit(item.itemNumber,phase.phaseName,i)"></i></td>
              </tr>
            </ng-container>
  
          </tbody>
        </table>
  
      </div>
    </div>
    <div class="row">
      <div style="text-align: center;" class="col-12">
        <button (click)="updatePhasesInNewFormule()" class="btn-success">הקם פורמולה חדשה</button>
      </div> 
  </div>
  <div *ngIf="allPercentage" style="text-align: center;" class="row">
    <div class="col-12">
        <label style="color:black;font-size:20px">Percentage:{{allPercentage}}</label> 
    </div>
  </div>