<div dir="rtl">

    <h1>קוים</h1>
    <div class="d-flex flex-row justify-content-around">
        <div *ngFor="let line of lines; let i = index">
            <button (click)="switchLine(i)" class="btn"
                [ngClass]="currentLine == line ? 'btn-primary' : 'btn-outline-primary'">{{line}}</button>
        </div>

    </div>
    {{currentLine}}
    <div class="m-4 border border-dark p-5">
        <form [formGroup]="currentYield">
            <div class="row">
                <div class="col-2">
                    <h3>קו</h3>
                    <input type="text" disabled formControlName="productionLine" class="form-control">
                </div>
                <div class="col-2">
                    <h3 for="">תאריך</h3>
                    <input type="date" disabled formControlName="productionDate" class="form-control">
                </div>
                <div class="col-2">
                    <h3>תחילת עבודה</h3>
                    <input type="time" formControlName="startTime" class="form-control">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-2 p-5">
                    <h3 class="mt-4">ניקיון</h3>
                    <label for="">התחלה</label>
                    <input type="time" formControlName="cleaningStart" class="form-control">
                    <label for="">סיום</label>
                    <input type="time" formControlName="cleaningEnd" (change)="calculateCleaningTime()"
                        class="form-control">
                    <label for="">משך</label>
                    <!-- {{currentYield.value.cleaningDuration | date: 'HH:mm'}} -->
                    <input type="time" disabled formControlName="cleaningDuration" class="form-control">
                </div>
                <div class="col-2 p-5">
                    <h3 class="mt-4">Set Up</h3>
                    <label for="">התחלה</label>
                    <input type="time" formControlName="setupStart" class="form-control">
                    <label for="">סיום</label>
                    <input type="time" formControlName="setupEnd" (change)="calculateSetupTime()" class="form-control">
                    <label for="">משך</label>
                    <input type="time" disabled formControlName="setupDuration" class="form-control">
                </div>
                <div class="col-2 p-5">
                    <h3 class="mt-4">זמן המתנה</h3>
                    <label for="">התחלה</label>
                    <input type="time" formControlName="waitingStart" class="form-control">
                    <label for="">סיום</label>
                    <input type="time" formControlName="waitingEnd" (change)="calculateWaitingTime()"
                        class="form-control">
                    <label for="">משך</label>
                    <!-- {{currentYield.}} -->
                    <input type="time" disabled formControlName="waitingCause" class="form-control">
                    <label for="">סיבה</label>
                    <input type="text" formControlName="waitingDuration" placeholder="סיבת המתנה" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label for="">סיום עבודה</label>
                    <input type="time" formControlName="endTime" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label for="">כמות שיוצרה</label>
                    <input type="number" (keyup)="calculateYield()" formControlName="dayProdQty" class="form-control">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-2">
                    <button class="btn btn-primary" type="button" (click)="saveYield()">
                        דווח סיום עבודה</button>
                </div>
                <div class="col-8">
                    <label for="">כמות לשעה</label>
                    <input type="number" disabled formControlName="hourProdQty" class="form-control w-25">
                </div>
            </div>
        </form>
    </div>
</div>