:host{
  display: inline-block;
  cursor: pointer;
  .zt_avatar{
    &-photo{
      width: 100%;
      height: auto;
      object-fit: cover;
      &.xl{
        width: 80px;
        height: 80px;
      }
    }
  }
}
