<div class="container-fluid">
  <div class="row text-center">
    <div class="col-12">
      <h2>Formule Production</h2>
    </div>
  </div>
</div>
<br>
<div *ngIf="chooseCookingFormule == true" class="container">
  <div class="row">
    <table class="table table-striped table-bordered table-hover">
      <thead class="text-center bg-primary text-white">
        <tr>
          <td></td>
          <td>Order Number</td>
          <td>Formule Number</td>
          <td>Formule Name</td>
          <td>Quantity</td>
          <td>netWeightGr</td>
          <td>User</td>
          <td>Date</td>
          <td></td>
        </tr>
      </thead>
      <tbody class="text-center">
        <ng-container *ngFor="let formule of allFormules">
        <tr *ngFor="let production of formule.production">
          <input (change)="isSelected($event,production)" style="width:20px;" class="form-control-lg" type="checkbox">
          <td>{{production.orderNumber}}</td>
          <td>{{production.formuleNumber}}</td>
          <td>{{production.formuleName}}</td>

          <td (click)="edit(production.formuleId,production.quantity)" *ngIf="production.formuleId != EditRowId && production.quantity != EditRowQ">{{production.quantity}}</td>
          <td (click)="edit(production.formuleId,production.quantity)" *ngIf="production.formuleId == EditRowId && production.quantity == EditRowQ"><input #productionQuantity class="form-control" style="width:100px" [value]="production.quantity" type="number"></td>

          
          <td (click)="edit(production.formuleId,production.quantity)" *ngIf="production.formuleId != EditRowId && production.quantity != EditRowQ">{{production.netWeightGr}}</td>
          <td (click)="edit(production.formuleId,production.quantity)" *ngIf="production.formuleId == EditRowId && production.quantity == EditRowQ"><input #productionNetWeight class="form-control" style="width:100px" [value]="production.netWeightGr" type="number"></td>

          <td>{{production.user}}</td>
          <td>{{production.date | date: 'dd/MM/yyyy'}}</td>
          <td *ngIf="production.formuleId != EditRowId && production.quantity != EditRowQ"><button  (click)="beginFormule(production.formuleNumber,production.quantity,production.netWeightGr)" class="btn btn-primary">Cook</button></td>
          <td *ngIf="production.formuleId == EditRowId && production.quantity == EditRowQ"><i style="cursor: pointer;" (click)="saveEdit(production)" class="fa fa-check"></i></td>

        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  <div class="row p-2">
    <div class="col-4"></div>
    <div class="col-4">
      <button (click)="loadMaterialsForFormule()" class="form-control btn btn-primary">Calculate Materials</button>
    </div>
    <div class="col-4"></div>
  </div>
</div>

<div *ngIf="showMaterialsForFormules == true" class="container p-2">
  <div id="materialsPrint" class="row">
    <div class="col-12">
      <table class="table table-striped table-bordered table-hover">
        <thead class="bg-primary text-white">
          <tr>
            <th>Material Number</th>
            <th>Material Name</th> 
            <th>KG Production</th>
            <th>Position</th>
          </tr>
        </thead>
        <tbody  id="table_body">
         <tr *ngFor="let material of materialsForFormules">
           <td>{{material.itemNumber}}</td>
           <td>{{material.itemName}}</td>
           <td>{{material.kgProduction}}</td>
           <td>
             <table *ngIf="material.materialArrivals.length > 0">
               <thead class="bg-light">
                 <tr>
                   <td>Position</td>
                   <td>Expire Date</td>
                   <td>Batch</td>
                 </tr>
               </thead>
               <tbody>
                <tr *ngFor="let arrival of material.materialArrivals">
                 <td>{{arrival.position}}</td> 
                 <td>{{arrival.expiryDate | date: 'dd/MM/yyyy'}}</td> 
                 <td>{{arrival.lotNumber}}</td> 
                 </tr>
               </tbody>
             </table>
            
           </td>
         </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-4"></div>
    <div class="col-4">
      <button ngxPrint printSectionId="materialsPrint" [printStyle]="{td : {'border': 'solid 1px black'},tr : {'border': 'solid 1px black'}}" class="form-control btn btn-primary">Print</button>
    </div>
    <div class="col-4"></div>
  </div>
</div>

<div  *ngIf="showFormuleModal == true" class="container bg-warning formuleModal text-center">
  <div class="row">
    <div class="col-12 text-black p-2">
      <h3>Begin Cooking</h3>
    </div>
  </div>
  <div class="row text-white p-2">
    <div class="col-4 font-weight-bold">Formule Type: {{currFormule.formuleType}}</div>
    <div class="col-4 font-weight-bold">Formule Category: {{currFormule.formuleCategory}}</div>
    <div class="col-4 font-weight-bold">Formule Ph: {{currFormule.phFrom}} - {{currFormule.phTo}}</div>
  </div>
  <hr>
  <div  class="row text-center">
    <div class="col-12 table-responsive">
      <table class="table table-hover">
        <thead>
         <tr>
           <td>Phase Name</td>
           <td>Item Number</td>
           <td>Item Name</td>
           <td>KG Production</td>
           <td>KG Production</td>
           <td>Scan Barcode</td>
         </tr>

        </thead>
        <tbody >
          <ng-container *ngFor="let phase of currFormule.phases; let i = index">
          <tr *ngFor="let item of phase.items">
          <td (click)="insertId(item.itemNumber,item.itemName)">{{phase.phaseName}}</td>
          <td (click)="insertId(item.itemNumber,item.itemName)">{{item.itemNumber}}</td>
          <td (click)="insertId(item.itemNumber,item.itemName)">{{item.itemName}}</td>
          <td (click)="insertId(item.itemNumber,item.itemName)">{{item.kgProduction}}</td>
          <td *ngIf="item.approve == false && showInput != item.itemNumber"></td>
          <td *ngIf="item.approve == false && showInput == item.itemNumber"><input (change)="checkKgAmount(item.itemNumber)" [(ngModel)]="kgProductionAmount" class="form-control" type="number"></td>
          <td *ngIf="item.approve == false && showInput != item.itemNumber"></td>
          <td *ngIf="item.approve == false && showInput == item.itemNumber"><input type="text" class="form-control" [(ngModel)]="materialScanId" (change)="searchMaterial($event,item.itemNumber)"></td>
          <td *ngIf="item.approve == true && approveAmount == true"><i class="fa fa-check"></i></td>
          <td *ngIf="item.approve == true && approveAmount == true"><i class="fa fa-check"></i></td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <button (click)="finishCooking()" class="btn btn-primary" *ngIf="showFinishBtn == true">Finish</button>
    </div>
  </div>
</div>

<div class="container" style="z-index: 999 !important" id="materialArrivals" *ngIf="showTable == true">
  <table class="table table-bordered table-striped">
    <thead class="bg-primary">
      <tr>
        <td>Material Number</td>
        <td>Material Name</td>
        <td>Arrival Date</td>
        <td>Expire Date</td>
        <td>Batch Number</td>
        <td>Location</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let material of materialArrivals">
        <td>{{material.internalNumber}}</td>
        <td>{{material.materialName}}</td>
        <td>{{material.arrivalDate | date: "dd/MM/yyyy"}}</td>
        <td>{{material.expiryDate | date: "dd/MM/yyyy"}}</td>
        <td>{{material.lotNumber}}</td>
        <td>{{material.position}}</td>
      </tr>
    </tbody>
  </table>
  <div class="col-12">
    <button (click)="continueCook()" class="form-control btn btn-primary">Continue</button>
  </div>
  <br>
  <div class="col-12 text-center">
    <h2 class="bg-danger text-white">שים לב , ייתכן וקיים אותו חומר גלם עם תאריך תפוגה קרוב יותר !</h2>
  </div>
</div>




