<div class="row">
  <div class="col-md-12">
    <div class="card mb-0">
      <div class="card-header bb">
        <h4 class="card-title">טיפול בהזמנות</h4>
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-6">
    <div class="card mb-0">
      <div class="card-header bb">
        <h4 class="card-title">סטטוס פרודוקטים</h4>
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-0">
      <div class="card-header bb">
        <h4 class="card-title">מלאי מחסנים</h4>
      </div>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
