<!--<div style="margin:1em">
  <label class="board-label">To Do!</label>
  <a [routerLink]="['/subcard']">sub card</a>
  <mat-form-field style="float:right">
    <input matInput placeholder="Search Tasks" type="search" [(ngModel)]="taskFilter.name" />
  </mat-form-field>
</div>-->

<div>
  <mat-grid-list cols="4" style="margin:8px;" gutterSize="20px">
    <mat-grid-tile class="board-list" *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
      [style.background]="tile.color" dnd-droppable (onDropSuccess)="simpleDrop($event, tile.text, tile.boardid)">
      <mat-grid-tile-header class="board-list-header" [style.background]="tile.titlecolor">
        <span class="list-header-text">{{tile.text}}</span>
        <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Sort">
          <mat-icon>sort</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Add new task" (click)="showAddtask(tile.text)" *ngIf="tile.text !== 'Done'">
          <mat-icon *ngIf="tile.add === false">add</mat-icon>
          <mat-icon *ngIf="tile.add === true">remove</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="sortByDate(tile.text)">
            <mat-icon style="color: black">update</mat-icon>
            <span>Due date</span>
          </button>
          <button mat-menu-item (click)="sortByPriority(tile.text)">
            <mat-icon style="color: red">priority_high</mat-icon>
            <span>Priority</span>
          </button>
        </mat-menu>
      </mat-grid-tile-header>
      <div class="task-card">
        <div class="new-task-card mat-card" *ngIf="tile.add === true">
          <h3>Add new task</h3>
          <form #newTaskForm="ngForm">
            <mat-form-field style="width: 60px">
              <input matInput placeholder="Priority" type="number" name="priority" [(ngModel)]="data.priority" min=1
                max=50 required />
            </mat-form-field>
            <!-- <material-datepicker class="duedate" placeholder="Due Date" [(date)]="data.duedate" name="duedate" dateFormat="DD-MM-YYYY"></material-datepicker> -->
            &nbsp; <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Due date" [(ngModel)]="data.duedate" name="duedate" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="error" [hidden]="data.duedate !== ''">Due date required</div>
            <mat-form-field class="example-full-width">&nbsp;
              <input matInput placeholder="Title" name="description" [(ngModel)]="data.description" maxlength="75"
                required />
            </mat-form-field>
            
               <button mat-raised-button [disabled]="!newTaskForm.form.valid" (click)="addNewTask(tile.text)">Create</button>

          </form>
        </div>
        <app-board-task-card *ngFor="let task of tasks | filterBy: taskFilter; let i = index" [tileName]="tile.text"
          [task]="task" [boardTitle]="boardTitle"  (click)='showTaskDetails(task, content)'></app-board-task-card>



      </div>



    </mat-grid-tile>
  </mat-grid-list>

  <ng-template #content let-c="close" let-d="dismiss" class="boardmodal">
    <div class="modal-header">
      <h4 class="modal-title">{{modalTitle}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style=' display: inline-table'>
      <div class='containerLeftDiv'>



    
  
  




        <app-sub-task-card *ngFor="let sb of subTasksArr" [subTask]="sb">
        </app-sub-task-card>
        
        <mat-card  class="new-task-card mat-card" style="overflow:auto; margin-bottom: 10px;" >
            <form #newTaskForm="ngForm">
  
              <h5>Add Sub-Task</h5>
  
              <mat-form-field style="width: 75px">
                <input matInput placeholder="Priority" type="number" name="priority" [(ngModel)]="subData.priority" min=1
                  max=50 required />
              </mat-form-field>
              <!-- <material-datepicker class="duedate" placeholder="Due Date" [(date)]="subData.duedate" name="duedate" dateFormat="DD-MM-YYYY"></material-datepicker> -->
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Due date"   [(ngModel)]="subData.dueDate" name="duedate" />
                <mat-datepicker-toggle matSuffix [for]="picker"   ></mat-datepicker-toggle>
                <mat-datepicker #picker   ></mat-datepicker>
              </mat-form-field>
              <div class="error" [hidden]="subData.dueDate !== ''">Due date required</div>
              <mat-form-field>
                <input matInput placeholder="Description" name="description" [(ngModel)]="subData.name" maxlength="275"
                  required />
              </mat-form-field>
  
              <br>
              <mat-form-field>
                <mat-select placeholder="User" maxlength="75" required  [(value)]="userselected"  >
                  <mat-option *ngFor="let user of allUsers" [value]="user._id">
                    <div><img src={{user.picture}} width="25" alt="user" class="rounded-circle"> {{user.firstName}} {{"
                      "+user.lastName}}</div>
                  </mat-option>
                </mat-select>
  
  
              </mat-form-field>
  
              <br>
  
              <button mat-raised-button (click)="addNewSubTask(taskid)">Add</button>
              <br>
            </form>
          </mat-card>
      </div>
      <div class="containerRightDiv">
        <h5>Chat</h5>
        <!--Chat Div Content-->
        <!-- ============================================================== -->
        <!-- Left Part  -->
        <!-- ============================================================== -->
        <!-- <div class="left-part bg-white fixed-left-part" style="overflow: hidden; display: inline-table; position:absolute;" [ngClass]="{'show-panel': showSidebar}">
         
          <a [ngClass]="(showSidebar)?'ti-close':'ti-menu'" class="btn btn-success show-left-part d-block d-md-none" href="javascript:void(0)"
            (click)="mobileSidebar()"></a>
          <div class="position-relative" style="height:100%;">
            <div class="p-l-15 p-r-25 p-t-25 p-b-25 d-flex align-items-center">
              <div>
                <img src="assets/images/users/user1.jpg" width="45" alt="user" class="rounded-circle">
              </div>
              <div class="text-dark m-b-0 m-l-15 font-18">
                Bruce Banner
                <p class="m-b-0 font-12">
                  <i class="fa fa-circle text-success font-10 m-r-5"></i>
                  <span>Online</span>
                </p>
              </div>
            </div>
            <hr class="m-t-0">
            <ul class="mailbox list-style-none">
              <li>
                <div class="message-center" style="height: calc(100vh - 215px);">-->
        <!--<div class="message-center" style="height: calc(100vh - 215px);" [perfectScrollbar]="config">-->
        <!-- <a (click)="onSelect(user)" *ngFor="let user of users" href="javascript:void(0)" class="message-item" id='chat_user_1'>
                    <span class="user-img">
                      <img src="{{user.avtar}}" alt="user" class="rounded-circle">
                      <span class="profile-status {{user.status}} pull-right"></span>
                    </span>
                    <div class="mail-contnet">
                      <h5 class="message-title">{{user.name}}</h5>-->
        <!--<span class="mail-desc">{{user.lastmsg}}</span>-->
        <!--   <span class="time">{{user.lastTaskVisit}}</span>
                    </div>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>-->
        <!-- ============================================================== -->
        <!-- End Left Part  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Part  Mail Compose -->
        <!-- ============================================================== -->
        <div class="right-part" style="margin:0px; width: 100%">
          <app-chat [taskid]="taskid"></app-chat>
        </div>

      </div>
    </div>


    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>

</div>



<!-- New task window -->