<div *ngIf="user.userName == 'dani' || user.userName == 'testuser2'">
  <!-- <a
    href="javascript:void(0)"
    class="btn btn-success show-left-part d-block d-md-none ti-menu"
  ></a> -->
  <div class="main-part" dir="rtl">
    <div class="left-part bg-white fixed-left-part">
      <div class="position-relative">
        <div class="px-3 py-3 d-flex align-items-center border-bottom">
          <p class="mb-0 mt-5 py-1 text-center font-18 font-bold heb">תפריט</p>
        </div>
        <ul class="tasklist list-style-none">
          <li
            style="cursor: pointer"
            class="task-item pr-2 py-1 d-flex incomplete border-bottom heb-menu"
            (click)="readyBarrelArrival()"
          >
            קליטת חביות חדשות
            <span
              class="badge badge-danger ml-auto pr-2 pt-1"
              [style.background]="1 | orderItemBatchStatusColor"
              >&nbsp; 1 &nbsp;
            </span>
          </li>
          <li
            style="cursor: pointer"
            class="task-item d-flex complete pr-2 border-bottom heb-menu"
            (click)="barrelCheckout()"
          >
            הוצאת חביות למילוי<span
              class="badge badge-success ml-auto pt-1"
              [style.background]="2 | orderItemBatchStatusColor"
            >
              &nbsp; 2 &nbsp;
            </span>
          </li>
          <li
            style="cursor: pointer"
            class="task-item d-flex complete pr-2 border-bottom heb-menu"
            (click)="barrelReturnArrival()"
          >
            החזרת עודפים ממילוי<span
              class="badge badge-success ml-auto pt-1"
              [style.background]="3 | orderItemBatchStatusColor"
            >
              &nbsp; 3 &nbsp;</span
            >
          </li>
          <li
            style="cursor: pointer"
            class="task-item d-flex complete pr-2 border-bottom heb-menu"
            (click)="barrelInventory()"
          >
            דו"ח מלאי חביות<span
              class="badge badge-success ml-auto pt-1"
              [style.background]="4 | orderItemBatchStatusColor"
              >&nbsp; 4 &nbsp;
            </span>
          </li>
          <li
            style="cursor: pointer"
            class="task-item d-flex complete border-bottom heb-menu pr-2"
            (click)="viewExpiredReport()"
          >
            דו"ח חביות פגי תוקף<span
              class="badge badge-success ml-auto pt-1"
              [style.background]="5 | orderItemBatchStatusColor"
              >&nbsp; 5 &nbsp;
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <h1 class="text-center">
        <span class="heading1"> Bulks Management - ניהול מלאי אצוות</span>
      </h1>
      <div class="right-part bg-white">
        <div class="text-center shadow bg-white w-75 mx-auto rounded p-5">
          <div class="row mt-4" *ngIf="barrelArivalView">
            <div class="col-12">
              <h1 style="text-shadow: 2px 2px 4px #000000" class="text-info">
                קליטת חביות אחרי בישול
              </h1>
            </div>
          </div>
          <div class="row mt-4" *ngIf="barrelCheckoutView">
            <div class="col-12">
              <h1 style="text-shadow: 2px 2px 4px #000000" class="text-info">
                הוצאת חביות למילוי
              </h1>
            </div>
          </div>
          <div class="row mt-4" *ngIf="barrelReturnView">
            <div class="col-12">
              <h1 style="text-shadow: 2px 2px 4px #000000" class="text-info">
                החזרת עודפים ממילוי
              </h1>
            </div>
          </div>
          <div class="row mt-4" *ngIf="barrelInventoryView">
            <div class="col-12">
              <h1 style="text-shadow: 2px 2px 4px #000000" class="text-info">
                דו"ח מלאי חביות
              </h1>
            </div>
          </div>
          <div class="row mt-4" *ngIf="expiredBarrelsView">
            <div class="col-12">
              <h1 style="text-shadow: 2px 2px 4px #000000" class="text-info">
                דו"ח חביות שפג תוקפן
              </h1>
            </div>
          </div>
          <div dir="rtl" class="row mt-4">
            <app-bulks-arrival
              *ngIf="barrelArivalView"
              [allWarehouses]="allWarehouses"
            ></app-bulks-arrival>
          </div>
          <div dir="rtl" class="row mt-4">
            <app-bulks-checkout
              *ngIf="barrelCheckoutView"
              [allWarehouses]="allWarehouses"
            ></app-bulks-checkout>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
