
  <div class="container">
    
    <div >
      <h2>Scan Material</h2>
      <input type="text" class='inputStyle' (keyup)="searchMaterial($event)">
      <!-- <button class="btn btn-success bigBtn" (click)="searchMaterial">Enter</button> -->
      <!-- <h3 *ngIf="wrongItem" style="color:red; font-size:bold;">Wrong Item</h3>
      <h3 *ngIf="sugestedItem">{{sugestedItem}}</h3> -->
    </div>

    <div>
      <h2>Search Material</h2>
      <input type="text" class="form-control" (change)="findMaterial($event)">
    </div>



    <div *ngIf="showTable == true">
      <table class="table table-responsive table-striped">
        <thead>
          <tr>
            <th>Material Name</th>
            <th>Arrival Date</th>
            <th>Expire Date</th>
            <th>Batch Number</th>
            <th>Package Qty</th>
            <th>Package Type</th>
            <th>Total Qty</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let material of materialArrivals">
            <td>{{material.materialName}}</td>
            <td>{{material.arrivalDate | date: "dd/MM/yyyy"}}</td>
            <td>{{material.expiryDate | date: "dd/MM/yyyy"}}</td>
            <td>{{material.lotNumber}}</td>
            <td>{{material.packageQnt}}</td>
            <td>{{material.packageType}}</td>
            <td>{{material.totalQnt}}</td>
            <td (click)="edit(material._id)" *ngIf="material._id != EditRowId">{{material.position}}</td>
            <td (click)="edit(material._id)" *ngIf="material._id == EditRowId">
              <input class="w-75" #materialPosition [value]="material.position" type="text">
              <button  (click)="updatePosition(material._id)" class="btn btn-success form-control w-25">+</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="showUpdateAll == true">
      <h3>Update All Position</h3>
      <input type="text" [(ngModel)]="positionForAll" class="form-control">
      <button (click)="updatePositionToAll()" class="form-control btn btn-success">עדכן מיקום לכולם</button>
    </div>

  </div>