<form action="" [formGroup]="emailDetailsForm">
  <div class="row mt-3">
    <div class="col-11">
      <h2 class="text-center">Email details</h2>
      <h4 dir="rtl">
        מחק או הוסף פרטים לפני המשלוח. יש להפריד כתובות באמצעות ;
      </h4>
    </div>
    <div class="col-1">
      <button class="btn btn-outline-info" (click)="closeModal()">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-1"></div>
    <div class="col-2">
      <h4 style="text-align: left">From:</h4>
    </div>
    <div class="col-8">
      <input
        type="text"
        class="form-control"
        placeholder="Your mail"
        formControlName="sender"
        disabled
      />
    </div>
  </div>
  <div class="row mt-3">
    <idv class="col-1"></idv>
    <div class="col-2">
      <h4 style="text-align: left">To:</h4>
    </div>
    <div class="col-8">
      <input
        type="text"
        class="form-control"
        placeholder="Recipient mail"
        formControlName="recipient"
      />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-1"></div>
    <div class="col-2">
      <h4 style="text-align: left">Subject:</h4>
    </div>
    <div class="col-8">
      <input
        type="text"
        class="form-control"
        placeholder="Mail subject"
        formControlName="subject"
      />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-1"></div>
    <div class="col-2">
      <h4 style="text-align: left">Content:</h4>
    </div>
    <div class="col-8">
      <textarea
        name="content"
        id=""
        cols="30"
        rows="10"
        class="form-control"
        formControlName="content"
      >
      </textarea>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-2"></div>
    <div class="col-2">
      <button class="btn btn-outline-warning" (click)="sendMail('remarks')">
        שלח עם הערות
      </button>
    </div>

    <div class="col-2">
      <button class="btn btn-outline-success" (click)="sendMail('noRemarks')">
        שלח בלי הערות
      </button>
    </div>
    <div class="col-3"></div>
    <div class="col-2">
      <button class="btn btn-outline-info" (click)="closeModal()">
        סגור ללא שליחה
      </button>
    </div>
  </div>
</form>
