<div dir="rtl">
  <form [formGroup]="componentArrival" (ngSubmit)="addToArrivals()">
    <h3>{{"inventory.GET_INVENTORIES" | translate }}</h3>
    <div class="row mt-4">
      <p class="h5">{{"inventory.MANDATORY_FIELDS" | translate}}</p>
    </div>
 
    <div class="row mt-2">
      <div class="col-2">
        <label>{{"inventory.WAREHOUSE" | translate}} *</label>
        <select
          class="form-control"
          (change)="getWhName()"
          formControlName="whareHouseID"
        >
          <option disabled value="">{{"inventory.SELECT_WAREHOUSE" | translate}}</option>
          <option
            *ngFor="let whareHouse of allWhareHouses"
            [value]="whareHouse._id"
          >
            {{ whareHouse.name }}
          </option>
        </select>
      </div>
      <div class="col-2">
        <label for="">{{"inventory.ORIGIN_OF_GOODS" | translate}} *</label>
        <select
          class="form-control"
          formControlName="sourceType"
          (change)="chooseSource()"
        >
          <option disabled value="">{{"inventory.SELECT_ORIGIN_OF_GOODS" | translate}}</option>
          <option value="supplier">{{"inventory.SUPPLIER" | translate}}</option>
          <option value="warehouse">מחסן אחר</option>
          <option value="customerSupply">לקוח (קומפוננטים)</option>
          <option value="customer">לקוח (החזרות)</option>
        </select>
      </div>
    </div>
    <div class="row mt-2">
      <ng-container *ngIf="supplierView">
        <div class="col-2">
          <label>ספק</label>
          <input
            list="suppliers"
            (change)="getPurchaseOrders()"
            class="form-control"
            formControlName="supplier"
          />
          <datalist id="suppliers">
            <option
              *ngFor="let supplier of allSuppliers"
              [value]="supplier.suplierNumber"
            >
              {{ supplier.suplierNumber }} - {{ supplier.suplierName }}
            </option>
          </datalist>
        </div>
        <div class="col-2">
          <label>מס' הזמנת רכש</label>
          <select
            class="form-control"
            formControlName="purchaseOrder"
            (change)="choosePO()"
          >
            <option selected value="">מס' הזמנה</option>
            <option
              *ngFor="let purchase of purchaseOrders"
              [value]="purchase.orderNumber"
            >
              {{ purchase.orderNumber }}
            </option>
          </select>
        </div>
      </ng-container>
      <ng-container *ngIf="warehouseView">
        <div class="col-2">
          <label for="">מחסן מקור</label>
          <select
            name=""
            id=""
            class="form-control"
            formControlName="sourceWhId"
            (change)="getWhActionLogs()"
          >
            <option>שם מחסן המקור</option>
            <option
              *ngFor="let wh of allWhList"
              [value]="wh._id"
              [disabled]="wh.inList"
              [style.background-color]="wh.color"
            >
              {{ wh.name }}
            </option>
          </select>
        </div>
        <div class="col-2">
          <label for="">{{"inventory.CERTIFICATE_NO" | translate}}</label>
          <select
            class="form-control"
            formControlName="sourceWhCertificateId"
            (change)="setSourceDeliveryNote()"
          >
            <option disabled>בחר תעודה</option>
            <option *ngFor="let log of whActionLogs" [value]="log.deliveryNote">
              {{ log.deliveryNote }}
            </option>
          </select>
        </div>
      </ng-container>
      <ng-container *ngIf="customerView">
        <div class="col-2">
          <label>לקוח</label>
          <input
            list="customers"
            (change)="getOrderNumber()"
            class="form-control"
            formControlName="customerId"
          />
          <datalist id="customers">
            <option
              *ngFor="let customer of customersList"
              [value]="customer.costumerId"
            >
              {{ customer.costumerId }} - {{ customer.costumerName }}
            </option>
          </datalist>
        </div>
        <div class="col-2">
          <label>מס' הזמנת לקוח</label>
          <select
            class="form-control"
            formControlName="customerOrder"
            (change)="chooseOrder()"
          >
            <option selected value="">מס' הזמנה</option>
            <option
              *ngFor="let order of customerOrders"
              [value]="order.orderNumber"
            >
              {{ order.orderNumber }}
            </option>
          </select>
        </div>
      </ng-container>
      <ng-container *ngIf="customerSupplyView">
        <div class="col-2">
          <label>לקוח</label>
          <input
            list="customers"
            (change)="getOrderNumber()"
            class="form-control"
            formControlName="customerId"
          />
          <datalist id="customers">
            <option
              *ngFor="let customer of customersList"
              [value]="customer.costumerId"
            >
              {{ customer.costumerId }} - {{ customer.costumerName }}
            </option>
          </datalist>
        </div>
        <div class="col-2">
          <label>מס' הזמנת לקוח</label>
          <select
            class="form-control"
            formControlName="customerOrder"
            (change)="chooseOrder()"
          >
            <option selected value="">מס' הזמנה</option>
            <option
              *ngFor="let order of customerOrders"
              [value]="order.orderNumber"
            >
              {{ order.orderNumber }}
            </option>
          </select>
        </div>
      </ng-container>
    </div>
    <div class="row mt-4 w-100">
      <table class="table table-hover" *ngIf="supplierView">
        <thead class="bg-info text-white">
          <tr>
            <th>#</th>
            <th class="text-center">סוג פריט</th>
            <th class="text-center">{{"inventory.SKU" | translate}}</th>
            <th class="text-center">שם פריט</th>
            <th class="text-center">כמות שהוזמנה</th>
            <th class="text-center">כמות שסופקה</th>
            <th class="text-center">יתרה להספקה</th>
          </tr>
        </thead>
        <tbody *ngIf="chosenPO && chosenPO.stockitems.length > 0">
          <tr
            *ngFor="let item of chosenPO.stockitems; let i = index"
            [style.background-color]="item.color"
          >
            <td class="text-center">{{ i + 1 }}</td>
            <td class="text-center">
              {{ item.componentType || chosenPO.orderType }}
            </td>
            <td class="text-center">
              {{ item.number }}
            </td>
            <td class="text-center">{{ item.name }}</td>
            <td class="text-center">{{ item.quantity || 0 }}</td>
            <td class="text-center">{{ item.arrivedAmount }}</td>
            <td class="text-center">
              {{ item.leftOver }}
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-hover" *ngIf="warehouseView">
        <thead class="bg-info text-white">
          <tr>
            <th>#</th>
            <th class="text-center">סוג פריט</th>
            <th class="text-center">{{"inventory.SKU" | translate}}</th>
            <th class="text-center">שם פריט</th>
            <th class="text-center">הגיע ממחסן</th>
            <th class="text-center">הגיע ממדף</th>
            <th class="text-center">כמות שנשלחה</th>
          </tr>
        </thead>
        <tbody *ngIf="chosenActionLog && chosenActionLog.logs.length > 0">
          <tr
            *ngFor="let item of chosenActionLog.logs; let i = index"
            [style.background-color]="item.color"
          >
            <td class="text-center">{{ i + 1 }}</td>
            <td class="text-center">
              {{ item.itemType }}
            </td>
            <td class="text-center">
              {{ item.item }}
            </td>
            <td class="text-center">{{ item.itemName }}</td>
            <td class="text-center">{{ item.WH_originName }}</td>
            <td class="text-center">
              {{ item.shell_position_in_whareHouse_Origin }}
            </td>
            <td class="text-center">{{ item.amount || 0 }}</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-hover" *ngIf="customerView">
        <thead class="bg-info text-white">
          <tr>
            <th>#</th>
            <th class="text-center">סוג פריט</th>
            <th class="text-center">{{"inventory.SKU" | translate}}</th>
            <th class="text-center">שם פריט</th>
            <th class="text-center">משקל (גר')</th>
            <th class="text-center">כמות שהוזמנה</th>
            <th class="text-center">כמות שסופקה</th>
          </tr>
        </thead>
        <tbody *ngIf="chosenOrder && chosenOrder.length > 0">
          <tr
            *ngFor="let item of chosenOrder; let i = index"
            [style.background-color]="item.color"
          >
            <td class="text-center">{{ i + 1 }}</td>
            <td class="text-center">Product</td>
            <td class="text-center">
              {{ item.itemNumber }}
            </td>
            <td class="text-center">{{ item.discription }}</td>
            <td class="text-center">{{ item.netWeightGr }}</td>
            <td class="text-center">{{ item.quantity || 0 }}</td>
            <td class="text-center">{{ item.quantityProduced }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row mt-2">
      <div *ngIf="!disabled && supplierView" class="col-2">
        <label> {{"inventory.SKU" | translate}} * </label>
        <select
          formControlName="item"
          (blur)="getShelfs()"
          class="form-control"
          #first
        >
          <option value="" selected="true" disabled>בחר מקט</option>
          <ng-container
            *ngIf="
              chosenPO && chosenPO.stockitems && chosenPO.stockitems.length > 0
            "
          >
            <option
              *ngFor="let item of chosenPO.stockitems"
              [value]="item.number"
              [disabled]="item.inList"
              [style.background-color]="item.color"
            >
              {{ item.number }}
            </option>
          </ng-container>
        </select>
      </div>
      <div *ngIf="!disabled && warehouseView" class="col-2">
        <label>{{"inventory.SKU" | translate}} * </label>
        <select
          formControlName="itemId"
          (blur)="getShelfs()"
          class="form-control"
          #first
        >
          <option value="" selected disabled>בחר מקט</option>
          <ng-container
            *ngIf="chosenActionLog && chosenActionLog.logs.length > 0"
          >
            <option
              *ngFor="let item of chosenActionLog.logs"
              [value]="item._id"
              [disabled]="item.inList"
              [style.background-color]="item.color"
            >
              {{ item.item }}
            </option>
          </ng-container>
        </select>
      </div>
      <div *ngIf="!disabled && customerView" class="col-2">
        <label>{{"inventory.SKU" | translate}} * </label>
        <select
          formControlName="item"
          (blur)="getShelfs()"
          class="form-control"
          #first
        >
          <option value="" selected="true" disabled>בחר מקט</option>
          <ng-container *ngIf="chosenOrder && chosenOrder.length > 0">
            <option
              *ngFor="let item of chosenOrder"
              [value]="item.itemNumber"
              [disabled]="item.inList"
              [style.background-color]="item.color"
            >
              {{ item.itemNumber }}
            </option>
          </ng-container>
        </select>
      </div>
      <div *ngIf="!disabled && customerSupplyView" class="col-2">
        <label>{{"inventory.SKU" | translate}} * </label>
        <input
          type="text"
          [disabled]="disabled"
          formControlName="item"
          (blur)="getShelfs()"
          class="form-control"
          #first
        />
      </div>
      <div *ngIf="!disabled" class="col-2">
        <label class="d-block">{{"inventory.NAME" | translate}}</label>
        <input
          class="d-inline form-control"
          formControlName="itemName"
          type="text"
          #name
          (click)="getShelfs()"
        />
        <button class="d-inline" type="button" (click)="getNames()">
          {{"inventory.FIND" | translate}}
        </button>
        <select class="form-control" (change)="setItemDetailsNumber($event)">
          <ng-container *ngIf="itemNames && itemNames.length > 0">
            <option
              *ngFor="let itemName of itemNames"
              [value]="itemName.componentN"
            >
              {{ itemName.componentName }}
            </option>
          </ng-container>
        </select>
      </div>
      <div class="col-2">
        <label>{{"inventory.SHELF" | translate}} *</label>
        <select class="form-control" formControlName="shell_id_in_whareHouse">
          <option disabled value="">בחר מדף</option>
          <ng-container *ngIf="shellNums && shellNums.length > 0">
            <option
              *ngFor="let shellNum of shellNums"
              [disabled]="shellNum.position == 'MINUS'"
              [value]="shellNum.shell_id_in_whareHouse"
              [ngStyle]="{ color: shellNum.amount >= 0 ? 'black' : 'red' }"
            >
              {{ shellNum.position }}: {{ shellNum.amount }} pcs
            </option>
          </ng-container>
        </select>
        <div class="mt-1">
          <span [ngbTooltip]="noItem ? 'יש להזין מספר פריט תקין' : ''">
            <button
              type="button"
              [disabled]="noItem"
              [style.cursor]="noItem ? 'not-allowed' : 'pointer'"
              (click)="getAllShellsOfWhareHouse()"
              class="btn btn-warning"
            >
            {{"inventory.ADD_TO_NEW_SHELF" | translate}}
            </button>
          </span>
        </div>
        <div class="mt-1" *ngIf="">
          <span [ngbTooltip]="noItem ? 'יש להזין מספר פריט תקין' : ''">
            <button
              type="button"
              [disabled]="noItem"
              [style.cursor]="noItem ? 'not-allowed' : 'pointer'"
              (click)="getAllShellsOfWhareHouse()"
              class="btn btn-warning"
            >
            {{"inventory.ADD_TO_NEW_SHELF" | translate}}
            </button>
          </span>
        </div>
      </div>
      <div class="col-2">
        <label>{{"inventory.QUANTITY" | translate}} *</label>
        <input type="number" formControlName="amount" class="form-control" />
        <div
          style="color: red; font-size: 1.2rem; font-weight: bold"
          *ngIf="componentArrival.controls.amount.errors?.min"
        >
          * הכמות חייבת להיות גדולה מאפס
        </div>
      </div>
      <div class="col-2 d-flex flex-column justify-content-around">
        <button
          type="submit"
          [disabled]="!componentArrival.valid"
          [style.cursor]="componentArrival.valid ? 'pointer' : 'not-allowed'"
          class="btn btn-info"
        >
          {{"inventory.ENTER" | translate}}
        </button>
        <button type="button" class="btn btn-secondary" (click)="resetValues()">
          {{"inventory.CLEAR_DATA" | translate}}
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <!-- <div class="col-2">
        <label>בעלות</label>
        <input list="customers" class="form-control" formControlName="ownerId">
        <datalist id="customers">
          <option value="0001" selected>PeerPharm</option>
          <option *ngFor="let customer of customersList" value="{{customer.costumerId}}">
            {{customer.costumerId}} - {{customer.costumerName}}
          </option>
        </datalist>

      </div> -->
      <div class="col-2"></div>
      <div class="col-2"></div>
      <div class="col-4"></div>
      <div class="col-2" *ngIf="itemNames && itemNames.length > 0">
        <img [src]="itemNames[0].img" alt="תמונה ראשית" class="pictureTabImg" />
      </div>
    </div>
    <!-- <div class="row">
      <img *ngIf="showStickerForm" class="img-refresh" (click)="loadStickerComponent()"
        src="../../../../../assets/images/refreshData.png" alt="">
    </div> -->
    <div class="row" *ngIf="showStickerForm"></div>
  </form>

  <!-- All Arrivals -->
  <div class="row mt-4 w-100">
    <table class="table table-hover">
      <thead class="bg-info text-white">
        <tr>
          <th>#</th>
          <th class="text-center">{{"inventory.ITEM" | translate}}</th>
          <th class="text-center">{{"inventory.QUANTITY" | translate}}</th>
          <th class="text-center">{{"inventory.IN_STORAGE_ROOM" | translate}}</th>
          <th class="text-center">{{"inventory.INTO_SHELF" | translate}}</th>
          <th class="text-center"></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let arrival of allArrivals; let i = index">
          <td class="text-center">{{ i + 1 }}</td>
          <td class="text-center">{{ arrival.item }}</td>
          <td class="text-center">{{ arrival.amount }}</td>
          <td class="text-center">{{ arrival.whareHouse }}</td>
          <td class="text-center">{{ arrival.position }}</td>
          <td class="text-center">
            <i
              (click)="removeFromArrivals(i)"
              class="fa fa-times text-danger"
            ></i>
          </td>
          <td>
            <button
              *ngIf="!showStickerForm"
              class="btn btn-outline-success"
              (click)="setStickerDetails(arrival)"
              (click)="open(invstck)"
            >
              הדפס מדבקה
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row mt-2 d-flex flex-row justify-content-around w-50">
    <button
      *ngIf="!sending"
      class="btn btn-info"
      (click)="addToStock()"
      [disabled]="allArrivals.length == 0"
      [style.cursor]="allArrivals.length == 0 ? 'not-allowed' : 'pointer'"
    >
    {{"inventory.ADD_TO_INVENTORY_SEND_CHANGES" | translate}}<i class="fa fa-check mr-2"></i>
    </button>
    <div class="smallerLoader" *ngIf="sending"></div>
    <!-- <button class="btn btn-success" (click)="justPrint()">
      הדפס <i class="fa fa-print"></i>
    </button> -->
    <button class="btn btn-warning" (click)="clearArrivals()">
      {{"inventory.CLEAR_TABLE" | translate}}<i class="fas fa-trash-alt mr-2"></i>
    </button>
  </div>

  <!-- תעודת קליטה -->
  <div class="row mt-4">
    <div
      id="print-section2"
      style="direction: rtl; text-align: right; display: none"
    >
      <header>
        <h1>פאר פארם בע"מ</h1>
        <p>עמל 17 אזור תעשיה ,אפק ראש העין 4809256</p>
        <p>
          <span>טלפון 03-9024055</span>&nbsp;&nbsp;
          <span>פקס 03-9024015</span>&nbsp;&nbsp;
          <span>דואר אלקטרוני info@peerpharm.com</span>&nbsp;&nbsp;
          <span>ח.פ: 511899023</span>
        </p>
      </header>
      <main>
        <h2 *ngIf="certificateReception">
          תעודת קליטה מס' {{ certificateReception }}
        </h2>
        <p class="originDestWh">
          <span><u>{{"inventory.DATE" | translate}}:</u></span
          >&nbsp;&nbsp; <span>{{ today | date: "dd-MM-yyyy" }}</span
          >&nbsp;&nbsp;
        </p>
        <br />
        <table>
          <tbody>
            <tr>
              <th>#</th>
              <th>{{"inventory.ITEM_NUMBER" | translate}}</th>
              <th class="itemNamePrint">שם פריט</th>
              <th>מחסן מקבל</th>
              <th>מיקום במחסן</th>
              <th>{{"inventory.QUANTITY" | translate}}</th>
              <th>מס' ספק/מחסן/לקוח</th>
              <th>מספר הזמנה/תעודת יציאה</th>
            </tr>
            <ng-container *ngFor="let arrival of allArrivals; let i = index">
              <tr>
                <td class="cellPadding">{{ i + 1 }}</td>
                <td>{{ arrival.item }}</td>
                <td>{{ arrival.itemName }}</td>
                <td>{{ arrival.whareHouse }}</td>
                <td>{{ arrival.position }}</td>
                <td>{{ arrival.amount }}</td>
                <ng-container *ngIf="arrival.sourceType == 'supplier'">
                  <td>{{ arrival.supplier || arrival.suplierN }}</td>
                  <td>{{ arrival.purchaseOrder }}</td>
                </ng-container>
                <ng-container *ngIf="arrival.sourceType == 'warehouse'">
                  <td>{{ arrival.sourceWhName }}</td>
                  <td>
                    {{ arrival.sourceWhCertificateId }}
                  </td>
                </ng-container>
                <ng-container
                  *ngIf="
                    arrival.sourceType == 'customer' ||
                    arrival.sourceType == 'customerSupply'
                  "
                >
                  <td>{{ arrival.customerId }}</td>
                  <td>{{ arrival.deliveryNote || arrival.customerOrder }}</td>
                </ng-container>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </main>
      <div class="signatures">
        <p>
          <span>שם המקבל:</span>&nbsp;&nbsp;
          <span>
            <u>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </u> </span
          >&nbsp;&nbsp; <span>חתימה:</span>&nbsp;&nbsp;
          <span>
            <u>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </u> </span
          >&nbsp;&nbsp; <span>{{"inventory.DATE" | translate}}:</span>&nbsp;&nbsp;
          <span>
            <u>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </u> </span
          >&nbsp;&nbsp;
        </p>
      </div>
      <footer></footer>
    </div>
    <button
      type="button"
      style="display: none"
      #printBtn2
      [printStyle]="{
        body: { 'text-align': 'right', direction: 'rtl' },
        header: { 'border-bottom': 'solid 1px' },
        main: { 'border-bottom': 'solid 1px' },
        table: {
          'border-collapse': 'collapse',
          border: '2px solid black',
          'text-align': 'right'
        },
        footer: { position: 'absolute', width: '100%' },
        h2: { 'text-align': 'center' },
        '.originDestWh': { 'text-align': 'right' },
        th: { border: '2px solid black', 'text-align': 'center' },
        td: { border: '1px solid black', padding: '5px' },
        '.itemNamePrint': { width: '35%' },
        '.signatures': { margin: '50px' },
        '.cellPadding': { padding: '5px 0px' }
      }"
      printTitle="תעודת קליטה"
      printSectionId="print-section2"
      ngxPrint
    >
      print
    </button>
    <!-- <button (click)="printStockTransferCertificate()">click</button> -->
  </div>
</div>

<ng-template #invstck let-modal>
  <div dir="rtl" class="fixNoaStupidStuff modal-header">
    <h4 class="modal-title" id="modal-basic-title">הדפס מדבקות</h4>
    <button
      type="button"
      class="float-left"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div dir="rtl" class="modal-body">
    <app-inventory-sticker [itemDetails]="stickerItem"> </app-inventory-sticker>
  </div>
  <div class="modal-footer"></div>
</ng-template>
