<input
  matInput
  placeholder="Item Number"
  (keyup)="FilterForms($event, 'item')"
  style="margin-right: 20px;"
/>

<input
  matInput
  placeholder="Filling Date"
  (keyup)="FilterForms($event, 'fill')"
  style="margin-right: 20px;"
/>

<input
  matInput
  placeholder="Batch Number"
  (keyup)="FilterForms($event, 'batch')"
  style="margin-right: 20px;"
/>

<table class="table">
  <thead>
    <tr style="background-color:white; ">
      <th></th>
      <th>ItemN</th>
      <th>Item Name</th>
      <th>
        <button style="background-color: transparent;" (click)="SortBy()">
          Filling Date
        </button>
      </th>
      <th>Batch</th>
      <th>Costumer</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let form of forms; let i = index">
      <td>
        <a routerLink="/peerpharm/forms/formDetails/{{ form._id }}">
          {{ i }}
        </a>
      </td>
      <td>{{ form.itemN }}</td>
      <td>{{ form.itemName }}</td>
      <td>{{ form.fillingDate }}</td>
      <td>{{ form.batchN }}</td>
      <td>{{ form.costumerName }}</td>
      <td></td>
    </tr>
  </tbody>
</table>
