<div class="container-fluid bg-white p-2">
  <div class="row mt-4 mb-5 center">
    <div class="col-2">
      <h1 class="text-info text-center">QA Forms</h1>
    </div>
    <div [class.read-only]="checkPermission()" class="col-1">
      <img
        src="../../../../assets/images/excel.png"
        alt="export to excel"
        style="width: 2.5rem;"
        (click)="exportAsXLSX()"
      />
    </div>
  </div>

  <div class="row center">
    <p><b>Search:</b></p>
  </div>

  <div class="row center">
    <div class="col-2" (change)="print()" >
      <select  class="form-control" [(ngModel)]="searchType"  style="display:inline;">
        <option value="" disabled>Select search filed</option>
        <option value="itemN">Item Number</option>
        <option value="orderNumber">Order Number</option>
        <option value="batchN">Batch Number</option>
        <option value="status">Status</option>
      </select>
    </div>

      <div class="col-2" *ngIf="searchType == 'status'">
        <select class="form-control" [(ngModel)]="statusSearch">
          <option value="" disabled>status</option>
          <option value="done">done</option>
          <option value="fillingPackage">fillingPackage</option>
          <option value="filling">filling</option>
          <option value="package">package</option>
        </select>
      </div>

      <div class="col-1" *ngIf="searchType != 'status'">
        <input placeholder="Enter Number" type="text" [(ngModel)]="searchInput"/>


      </div>

      <div class="col-1">
        <button *ngIf="searchType != 'status'" class="btn btn-primary" (click)="search()">Search <i class="fa fa-search" aria-hidden="true"></i></button>
        <button *ngIf="searchType == 'status'" class="btn btn-primary" (click)="searchByStatus()">Search <i class="fa fa-search" aria-hidden="true"></i></button>
      </div>


  </div>

  <div class="row center mt-2">
    <p><b>Filter on page:</b></p>
  </div>

  <div class="row mt-2 center">
    <div class="col-1">
      <select [(ngModel)]="year" (change)="getForms()" class="form-control" style="display:inline;">
        <option value="2022">2022</option>
        <option value="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
      </select>
  </div>
    <div class="col-2">
      <input
        matInput
        placeholder="Item Number"
        (keyup)="FilterForms($event, 'item')"
        class="form-control"
      />
    </div>
    <div class="col-2">
      <input
        matInput
        placeholder="Order Number"
        (keyup)="FilterForms($event, 'order')"
        class="form-control"
      />
    </div>
    <div class="col-2">
      <input
        matInput
        placeholder="Batch Number"
        (keyup)="FilterForms($event, 'batch')"
        class="form-control"
      />
    </div>
    <div class="col-2">
      <input
        matInput
        placeholder="Production Line Number"
        (keyup)="FilterForms($event, 'productionLine')"
        class="form-control"
      />
    </div>
    <div class="col-2">
      <select (change)="FilterForms($event, 'status')" class="form-control">
        <option value="" disabled>status</option>
        <option value="done">done</option>
        <option value="fillingPackage">fillingPackage</option>
        <option value="filling">filling</option>
        <option value="package">package</option>
        <option value="all">all</option>
      </select>
    </div>
  </div>

  <div *ngIf="showLoader" class="row text-center mt-4 mb-4">
    <div class="col-4"></div>
    <div class="col-4">
      <h2 class="peerLoader">
        <span>P</span>
        <span>E</span>
        <span>E</span>
        <span>R</span>
        <span>P</span>
        <span>H</span>
        <span>A</span>
        <span>R</span>
        <span>M</span>
      </h2>
      <h3 class="peerLoader">
        <span>{{ year }} </span>
        <span>QA </span>
        <span>Forms </span>
        <span>on </span>
        <span>the </span>
        <span>way</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
      </h3>
    </div>
    <div class="col-4"></div>
  </div>

  <div class="row mt-4" *ngIf="!showLoader">
    <div class="col-12">
      <table class="table table-hover table-striped">
        <thead class="text-white bg-info">
          <tr>
            <th>
              #
              <i
                class="ti-exchange-vertical"
                (click)="sortFormsByFormNumber()"
                style="cursor: pointer"
              ></i>
            </th>
            <th>Item Number</th>
            <th>Item Name</th>
            <th>
              Filling Date
              <!-- <i class="ti-exchange-vertical" (click)="sortFormsByFillingDate()" style="cursor:pointer" ></i> -->
              <!-- <button style="background-color: transparent;" (click)="SortBy()">
                Filling Date
              </button> -->
            </th>
            <th>Order Number</th>
            <th>Production Line</th>
            <th>Costumer</th>
            <th>Batch</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <!-- (click)="openFormDetails(form._id)"  -->
          <!-- routerLink="/peerpharm/forms/formDetails/{{form._id}}/0"  -->
          <tr
            [class.read-only]="checkPermission()"
            *ngFor="let form of forms; let i = index"
          >
            <td>
              {{ i + 1 }}
            </td>
            <td>
              <a
                routerLink="/peerpharm/forms/formDetails/{{ form._id }}/{{
                  form.scheduleId
                }}"
                >{{ form.itemN }}</a
              >
            </td>
            <td>{{ form.productName }}</td>
            <td>{{ form.fillingDate | date: "dd/MM/yyyy" }}</td>
            <td>{{ form.orderNumber }}</td>
            <td>{{ form.productionLine }}</td>
            <td>{{ form.costumerName }}</td>
            <td>{{ form.batchN }}</td>
            <td [ngClass]="{ statusDone: form.status == 'done' }">
              {{ form.status }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
