<div class="container-fluid text-center bg-white p-3">
  <div class="row mt-1">
    <div class="col-12">
      <h1 class="text-info">Projects Management</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <button (click)="newProjectModal = true" class="btn btn-success form-control">Start New Project</button>
    </div>
    <div class="col-10"></div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2">
      <select (change)="filterByManager($event)" class="form-control">
        <option selected="true" disabled="disabled">Filter By Manager</option>    
        <option value="all">All</option>
        <option [value]="manager" *ngFor="let manager of managers">{{manager}}</option>
        </select>
    </div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
  </div>

  <div class="row">
    <div style="overflow:scroll" class="col-12">

    <table dir="rtl" style="width:250%" class="table table-hover mt-5">
    <thead class="bg-info text-white">
      <tr>
        <th>פריטים</th>
        <th>סדרה</th>
        <th>מותג</th>
        <th>לקוח</th>
        <th>מנהל/ת פרויקט</th>
    
      </tr>
    </thead>
    <tbody >
      <ng-container *ngFor="let project of allProjects;let i = index">
        <tr>

          <td>
            <table class="table table-hover">
              <thead>
      
                <th>תיאום אספקה</th>
                <th>ייצור</th>
                <th>אישור עץ מוצר</th>
                <th>מסירה צפי אספקה ללקוח</th>
                <th>וידוא קבלת חומר</th>
                <th>וידוא קבלת קומפ'</th>
                <th>הזמנת קומפוננטים</th>
                <th>הזמנת חומרים</th>
                <th>גרפיקה</th>
                <th>התקבל רישיון</th>
                <th>נשלח לרישיון</th>
                <th>מוצר אב</th>
                <th>מספר הזמנת לקוח</th>
                <th>מספר הזמנת פארפארם</th>
                <th>תמחור</th>
                <th>אישור אצווה</th>
                <th>אישור קומפוננט</th>
                <th>הערות/שינויים</th>
                <th>מק"ט</th>
                <th>שם מוצר</th>
              </thead>
              <tbody>
                
              <tr *ngFor="let item of project.items">
                <td [ngClass]="doneOrNot(item.deliveryCoordination)" *ngIf="EditRowId != item._id" (click)="edit(item._id)">{{item.deliveryCoordination}}</td>
                <td [ngClass]="doneOrNot(item.deliveryCoordination)" *ngIf="EditRowId == item._id">
                  <input #projectDelCoor [value]="item.deliveryCoordination" class="form-control">
                </td>
          
                <td [ngClass]="doneOrNot(item.production)" *ngIf="EditRowId != item._id" (click)="edit(item._id,project._id)">{{item.production}}</td>
                <td [ngClass]="doneOrNot(item.production)" *ngIf="EditRowId == item._id">
                  <input #projectProduction [value]="item.production" class="form-control">
                </td>
          
                <td [ngClass]="doneOrNot(item.itemApproval)" *ngIf="EditRowId != item._id" (click)="edit(item._id,project._id)">{{item.itemApproval}}</td>
                <td [ngClass]="doneOrNot(item.itemApproval)" *ngIf="EditRowId == item._id">
                  <input #projecItemApproval [value]="item.itemApproval" class="form-control">
                </td>
          
                <td [ngClass]="doneOrNot(item.expectedCustomerDelivery)" *ngIf="EditRowId != item._id" (click)="edit(item._id,project._id)">{{item.expectedCustomerDelivery}}</td>
                <td [ngClass]="doneOrNot(item.expectedCustomerDelivery)" *ngIf="EditRowId == item._id">
                  <input #projectExpDel [value]="item.expectedCustomerDelivery" class="form-control">
                </td>
          
                <td [ngClass]="doneOrNot(item.materialArrivals)" *ngIf="EditRowId != item._id" (click)="edit(item._id,project._id)">{{item.materialArrivals}}</td>
                <td [ngClass]="doneOrNot(item.materialArrivals)" *ngIf="EditRowId == item._id">
                  <input #projectMatArrivals [value]="item.materialArrivals" class="form-control">
                </td>
          
                <td [ngClass]="doneOrNot(item.compArrivals)" *ngIf="EditRowId != item._id" (click)="edit(item._id,project._id)">{{item.compArrivals}}</td>
                <td [ngClass]="doneOrNot(item.compArrivals)" *ngIf="EditRowId == item._id">
                  <input #projectCompArrivals [value]="item.compArrivals" class="form-control">
                </td>
          
                <td [ngClass]="doneOrNot(item.componentOrder)" *ngIf="EditRowId != item._id" (click)="edit(item._id,project._id)">{{item.componentOrder}}</td>
                <td [ngClass]="doneOrNot(item.componentOrder)" *ngIf="EditRowId == item._id">
                  <input #projectCompOrder [value]="item.componentOrder" class="form-control">
                </td>
          
                <td [ngClass]="doneOrNot(item.materialOrder)" *ngIf="EditRowId != item._id" (click)="edit(item._id,project._id)">{{item.materialOrder}}</td>
                <td [ngClass]="doneOrNot(item.materialOrder)" *ngIf="EditRowId == item._id">
                  <input #projectMatOrder [value]="item.materialOrder" class="form-control">
                </td>
          
                <td [ngClass]="doneOrNot(item.graphic)" *ngIf="EditRowId != item._id" (click)="edit(item._id,project._id)">{{item.graphic}}</td>
                <td [ngClass]="doneOrNot(item.graphic)" *ngIf="EditRowId == item._id">
                  <input type="checkbox" #projectGraphic [checked]="item.graphic" class="form-control">
                </td>
          
                <td [ngClass]="doneOrNot(item.licenseReceived)" *ngIf="EditRowId != item._id" (click)="edit(item._id,project._id)">{{item.licenseReceived}}</td>
                <td [ngClass]="doneOrNot(item.licenseReceived)" *ngIf="EditRowId == item._id">
                  <input #projectLicRecieved [value]="item.licenseReceived" class="form-control">
                </td>
          
                <td [ngClass]="doneOrNot(item.sentToLicense)" *ngIf="EditRowId != item._id" (click)="edit(item._id,project._id)">{{item.sentToLicense}}</td>
                <td [ngClass]="doneOrNot(item.sentToLicense)" *ngIf="EditRowId == item._id">
                  <input #projectSentToLic [value]="item.sentToLicense" class="form-control">
                </td>
          
                <td [ngClass]="doneOrNot(item.fatherProduct)" *ngIf="EditRowId != item._id" (click)="edit(item._id,project._id)">{{item.fatherProduct}}</td>
                <td [ngClass]="doneOrNot(item.fatherProduct)" *ngIf="EditRowId == item._id">
                  <input #projectfatherProd [value]="item.fatherProduct" class="form-control">
                </td>
          
                <td [ngClass]="doneOrNot(item.customerOrderNumber)" *ngIf="EditRowId != item._id" (click)="edit(item._id,project._id)">{{item.customerOrderNumber}}</td>
                <td [ngClass]="doneOrNot(item.customerOrderNumber)"  *ngIf="EditRowId == item._id">
                  <input #projectCustumerOrder [value]="item.customerOrderNumber" class="form-control">
                </td>
          
                <td [ngClass]="doneOrNot(item.peerpharmOrderNumber)" *ngIf="EditRowId != item._id" (click)="edit(item._id,project._id)">{{item.peerpharmOrderNumber}}</td>
                <td [ngClass]="doneOrNot(item.peerpharmOrderNumber)" *ngIf="EditRowId == item._id">
                  <input #projectPeerOrder (change)="getOrderDetails($event,project)" [value]="item.peerpharmOrderNumber" class="form-control">
                </td>
          
                <td [ngClass]="doneOrNot(item.pricing)" *ngIf="EditRowId != item._id" (click)="edit(item._id)">{{item.pricing}}</td>
                <td [ngClass]="doneOrNot(item.pricing)" *ngIf="EditRowId == item._id">
                  <input #projectPricing [value]="item.pricing" class="form-control">
                </td>
          
                <td [ngClass]="doneOrNot(item.batchConfirm)" *ngIf="EditRowId != item._id" (click)="edit(item._id)">{{item.batchConfirm}}</td>
                <td [ngClass]="doneOrNot(item.batchConfirm)" *ngIf="EditRowId == item._id">
                  <input #projectBatchConfirm  [value]="item.batchConfirm" class="form-control">
                </td>
          
                <td [ngClass]="doneOrNot(item.compConfirm)" *ngIf="EditRowId != item._id" (click)="edit(item._id)">{{item.compConfirm}}</td>
                <td [ngClass]="doneOrNot(item.compConfirm)" *ngIf="EditRowId == item._id">
                  <input #projectCompConfirm type="checkbox" [checked]="item.compConfirm" class="form-control">
                </td>
          
                <td [ngClass]="doneOrNot(item.remarks)" *ngIf="EditRowId != item._id" (click)="edit(item._id)">{{item.remarks}}</td>
                <td [ngClass]="doneOrNot(item.remarks)" *ngIf="EditRowId == item._id">
                  <input #projectRemarks [value]="item.remarks" class="form-control">
                </td>
          
                <td [ngClass]="doneOrNot(item.itemNumber)" *ngIf="EditRowId != item._id" (click)="edit(item._id)">{{item.itemNumber}}</td>
                <td [ngClass]="doneOrNot(item.itemNumber)" *ngIf="EditRowId == item._id">
                  <input #projectItemNumber [value]="item.itemNumber" class="form-control">
                </td>
    
                <td [ngClass]="doneOrNot(item.productName)" *ngIf="EditRowId != item._id" (click)="edit(item._id)">{{item.productName}}</td>
                <td [ngClass]="doneOrNot(item.productName)" *ngIf="EditRowId == item._id">
                  <input #projectProduct [value]="item.productName" class="form-control">
                </td>
              </tr>
              </tbody>
            </table>
          </td>

      <td [ngClass]="doneOrNot(project.serie)" *ngIf="EditRowId != project._id" (click)="edit(project._id)">{{project.serie}}</td>
  

      <td [ngClass]="doneOrNot(project.brand)" *ngIf="EditRowId != project._id" (click)="edit(project._id)">{{project.brand}}</td>
   

      <td [ngClass]="doneOrNot(project.customer)" *ngIf="EditRowId != project._id" (click)="edit(project._id)">{{project.customer}}</td>
    
      
      <td style="background:lightblue">{{project.manager}} <img (click)="openNewItemModal(project._id)" style="width:30px" src="../../../../assets/images/add.png"/></td>
  
     
      
    </tr>
  </ng-container>
    </tbody>
    </table>
  </div>
</div>

</div>


<div *ngIf="addNewItemModal == true" style="top:80px" class="w-25 h-25 container p-2 bg-light text-center rounded fixed-top shadow-lg mx-auto my-auto border border-success">
  <div class="row mt-1">
    <div class="col-1">
    
    </div>
    <div class="col-10">
      <h3 class="text-success">New Item</h3>
    </div>
    <div class="col-1">
      <i (click)="addNewItemModal = false" class="fa fa-times text-success"></i>
    </div>
</div>
<div class="row">
<div class="col-2"></div>
<div class="col-4">
  <label class="form-control border border-success mb-0">מספר פריט</label>
  <label class="form-control border border-success mb-0">שם המוצר</label>
</div>
<div class="col-4">
  <input [(ngModel)]="newItem.itemNumber" type="text" class="form-control">
  <input [(ngModel)]="newItem.productName" type="text" class="form-control">
</div>
<div class="col-2"></div>
</div>
<div class="row mt-2">
  <div class="col-4"></div>
  <div class="col-4">
    <button (click)="addNewItem()" class="btn btn-success form-control">Submit</button>
  </div>
  <div class="col-4"></div>
</div>
</div>


<div *ngIf="newProjectModal == true" style="top:80px" class="w-50 h-50 container p-2 bg-light text-center rounded fixed-top shadow-lg mx-auto my-auto border border-success">
  <div class="row mt-3">
    <div class="col-1">
    
    </div>
    <div class="col-10">
      <h3 class="text-success">New Project</h3>
    </div>
    <div class="col-1">
      <i (click)="newProjectModal = false" class="fa fa-times text-success"></i>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-2"></div>
    <div class="col-4">
      <label class="form-control border border-success mb-0">מנהל/ת פרויקט</label>
      <label class="form-control border border-success mb-0">לקוח</label>
      <label class="form-control border border-success mb-0">מותג</label>
      <label class="form-control border border-success mb-0">סדרה</label>

    </div>
    <div class="col-4">
      <input [(ngModel)]="newProject.manager" type="text" class="form-control">
      <input list="costumers" [(ngModel)]="newProject.customer" type="text" class="form-control">
      <datalist id="costumers">
      <option *ngFor="let costumers of allCostumers" [value]="costumers.costumerName">{{costumers.costumerName}}</option>
      </datalist>
      <input [(ngModel)]="newProject.brand" type="text" class="form-control">
      <input [(ngModel)]="newProject.serie" type="text" class="form-control">
    </div>
    <div class="col-2"></div>
  </div>

  <div class="row mt-5">
    <div class="col-3"></div>
    <div class="col-3">
      <button (click)="addNewProject()" class="btn btn-success form-control">Add Project</button>
    </div>
    <div class="col-3">
      <button (click)="newProjectModal = false" class="btn btn-danger form-control">Cancel</button>
    </div>
    <div class="col-3"></div>
  </div>
</div>