
<table border=0 class='table' dir='rtl'>
	<tr>
		<td style='width:25%'>
			<div border=5 style='height:500px; overflow:scroll; overflow:auto; margin-bottom:20px'>
				<input type='text' placeholder='חפש גלופה' id='searchPallet_input' onkeyup="searchItem2()">
				<table>
					<tbody id='palletsTbody'>
						<tr *ngFor="let plate of plates">
							<td (click)="showPlate(plate)">{{plate.palletItemBrand}} {{plate.palletItemName}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</td>
		<td width='50%'>
			<div style='background-color: red; color: white; font-size: 30px; font-weight: bold; text-align: center' *ngIf="plate.tempRemarks=='delete'">גלופה לא בשימוש</div>
			<table>
				<tbody id='imgTbody' class='parent'>
					
					<tr>
						<td>
							<div ></div>
							<img [src]="showPlateData.palletImg" style='width:900px' *ngIf="showPlateData">

						</td>
					</tr>
				</tbody>
			</table>
		</td>
		<td align='left' width='25%'>
			<table style='background:-webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px)'>
				<tr>
					<td colspan=2>
						<h2 style='color: #09C; font-family:arial, verdana, sans-serif'>פרטי גלופה</h2>
					</td>
				</tr>
				<tr>
					<td style='padding:10px'>גלופה מספר</td>
					<td align='right'>
						<input type='text' [(ngModel)]='plate.palletNumber' class="form-control">
					</td>
				</tr>
				<tr>
					<td style='padding:10px'>מותגים</td>
					<td align='right'>
						<textarea rows='3' cols='30' [(ngModel)]='plate.palletItemBrand' style='width:200px' class="form-control"></textarea>
					</td>
				</tr>
				<tr>
					<td style='padding:10px'>שם פריט</td>
					<td align='right'>
						<textarea rows='7' cols='30' [(ngModel)]='plate.palletItemName' style='width:200px' class="form-control"></textarea>
					</td>
				</tr>
				<tr>
					<td style='padding:10px'>מפתח</td>
					<td align='right'>
						<input type='text' [(ngModel)]='plate._id' disabled class="form-control">
					</td>
				</tr>
				<tr>
					<td style='padding:10px'>קישור לתמונה</td>
					<td align='right'>
						<input type='text' [(ngModel)]='plate.palletImg' disabled class="form-control">
					</td>
				</tr>
				<tr>
					<td style='padding:10px'>תמונה חדשה</td>
					<td align='right'>
						<input type="file" id="id_GlofaImg" style='display:none' (change)="selectFile($event)">
						<label for="id_GlofaImg" class="custom-file-upload">

							<img src='./../../../assets/images/openFile.png' style='width:20px'>
							<i class="fa fa-cloud-upload"></i>
							<span>{{imgPath}}</span>
							<br>
						</label>
						<button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
						<!--<div class="custom-file">
							  	<input type="file" style='display: none' required (change)="selectFile($event)">
							<label class="custom-file-label" for="validatedCustomFile"><span>{{imgPath}}</span></label>
							<button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
						  </div>
											<label class="btn btn-default">
							<input type="file" (change)="selectFile($event)">
						</label>

						<button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>-->

					</td>
				</tr>
				<tr>
					<td style='padding:20px'>הערות חשובות</td>
					<td>
						<textarea rows='7' cols='30' [(ngModel)]='plate.palletRemarks' style='width:200px' class="form-control"></textarea>
					</td>
				</tr>
				<tr>
					<td style='padding:10px'>עדכון אחרון</td>
					<td align='right'>
						<input type='text' [(ngModel)]='plate.lastUpdate' disabled style='background-color:#DCDCDC; width:90px' class="form-control">&nbsp;&nbsp;&nbsp;
						<input type='text' [(ngModel)]='plate.lastUpdateUser' disabled style='background-color:#DCDCDC; width:80px' class="form-control">
					</td>
				</tr>
				<tr>
					<td colspan=2>
						<button  (click)='updatePallet("update")'   class="btn btn-info">עדכן גלופה</button>
						<button  (click)='updatePallet("new")'      class="btn btn-success">הקם גלופה</button>
						<button  (click)='resetForm()'              class="btn btn-outline-info">אפס</button>
						<button  (click)='updatePallet("destroy")'  class="btn btn-danger">החרב גלופה</button>
					</td>

				</tr>
			</table>

		</td>
	</tr>
</table>
<br>

<div class="progress">
	<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
	 aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
		{{progress.percentage}}%</div>
</div>