

 <div class="row">
  <div class="col-sm-12">
    <div class="card">

      <div class="card-body" *ngIf="!formuleSaved">
        <h4 class="card-title">Add a new Formule</h4>
        <h5 class="card-subtitle">Enter general formule details here</h5>
        <div class="clearfix" style="float:right;">
          <i  *ngIf="!formuleSaved && currentFormule._id" class="ti-check" style="color: blue; width: 40px; font-size: 35px;font-weight: bold; cursor: pointer;"
            (click)="editFormuleDetails('save')">
          </i>
        </div>
        <form class="form" [formGroup]="formulesForm" (submit)="onSubmit('new')" style="width: 50%;">

            <div class="form-group row">
                <label for="example-search-input" class="col-2 col-form-label"
                  >Parent Formule</label
                >
                <div class="col-10">

                
            <select [ngModelOptions]="{standalone: true}" [(ngModel)]="currTrue" (ngModelChange)="fillTheFields($event)" class="form-control">
                    <option *ngFor="let one of allTrueArr" value="{{one._id}}">{{one.name}}</option>
             </select>
       
           is Parent: <input  formControlName="parent" (change)="isChecked($event)" type="checkbox"/>
              
                </div>
              </div>

          <div class="form-group m-t-40 row">
            <label for="example-text-input" class="col-2 col-form-label"
              >Formule Number</label
            >
            <div class="col-9">
              <input
                class="form-control"
                type="text"
                formControlName="number"
              />
            </div>
            <div class="col-1">
              <img src="../../../../assets/images/search.png" alt="search formule number"
                style="cursor: pointer; width: 40px;" (click)="findFormuleByNumber()">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label"
              >Formule Name</label
            >
            <div class="col-10">
              <input
                class="form-control"
                type="search"
                value=""
                formControlName="name"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="example-category-input" class="col-2 col-form-label"
              >Formule Category</label
            >
            <div class="col-10">
              <select formControlName="category">
                <option
                  *ngFor="let category of allFormuleCategory"
                  [ngValue]="category"
                >
                  {{ category }}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="example-date-input" class="col-2 col-form-label"
              >Last updated</label
            >
            <div class="col-4">
              <input
                class="form-control"
                type="date"
                formControlName="lastUpdate"
              />
            </div>
            <div class="col-4">
              <input
                class="form-control"
                type="text"
                formControlName="lastUpdateUser"
                disabled
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label"
              >Client</label>
            <div class="col-10">
              <input
                class="form-control"
                type="search"
                formControlName="client"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="example-color-input" class="col-2 col-form-label"
              >Ph Range</label>
              <input class="col-2 form-control" type="text" [value]="phValue" (change)="changePH($event)">
            <div class="col-6">
              <input
                type="range"
                class="form-control col"
                formControlName="ph"
                value="5.5"
                min="0"
                max="14"
                [(ngModel)]="phValue"
                step="0.01"
              />
              
            </div>
            <div class="col-2">
              <input style="width:70px;" formControlName="phTo" [(ngModel)]="phValueTo" type="text"/>
                </div>
     
            
          </div>
        
          <button *ngIf="!formuleSaved && editSavedFormule!=true && currentFormule.id==null" class="btn btn-info m-r-10" type="submit">Save and Continue</button>
         
          <button *ngIf="formuleSaved && currentFormule.id != null" class="btn btn-success m-r-10" type="button" (click)="addFirstPhase()" [disabled]="disableAdding">Add Formule's Phases</button>
        </form>
      </div>

      
     
      <div class="card-body" *ngIf="formuleSaved" style="color: blue; font-size: 35px;">
        <div class="d-flex flex-row justify-content-end">
          <i *ngIf="formuleSaved && currentFormule._id" class="ti-pencil" style="width: 40px; font-weight: bold; cursor: pointer;"
            (click)="editFormuleDetails('edit')">
          </i>


        </div>
        <div class="d-flex flex-row justify-content-start">
          <div class="p-2">Number: {{currentFormule.number}}</div>
          <div class="p-2">Name: {{currentFormule.name}}</div>
        </div>  
        <div class="d-flex flex-row justify-content-start">
          <div class="p-2">Ph: {{currentFormule.ph}}</div>
          <div class="p-2">Category: {{currentFormule.category }}</div>
          <div class="p-2">Client: {{currentFormule.client}}</div>
        </div>
        <button *ngIf="disableAdding" class="btn btn-success m-r-10" type="button" (click)="addFirstPhase()">Add Formule's Phases</button>

      </div>      

    </div> 
   
  </div>
                                                                                                                                                                                                                                                                                                                                
</div> 



