<!-- .row -->
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add a new Formule</h4>
        <h5 class="card-subtitle">Enter formule values here</h5>

        <form class="form" [formGroup]="formulesForm" (submit)="onSubmit()">
          <div class="form-group m-t-40 row">
            <label for="example-text-input" class="col-2 col-form-label"
              >Formule Number</label
            >
            <div class="col-10">
              <input
                class="form-control"
                type="text"
                formControlName="number"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label"
              >Formule Name</label
            >
            <div class="col-10">
              <input
                class="form-control"
                type="search"
                value=""
                formControlName="name"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="example-category-input" class="col-2 col-form-label"
              >Formule Category</label
            >
            <div class="col-10">
              <select formControlName="category">
                <option
                  *ngFor="let category of allFormuleCategory"
                  [ngValue]="category"
                >
                  {{ category.value }}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="example-date-input" class="col-2 col-form-label"
              >Last updated</label
            >
            <div class="col-10">
              <input
                class="form-control"
                type="date"
                value="2011-08-19"
                formControlName="lastUpdate"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label"
              >Client</label
            >
            <div class="col-10">
              <input
                class="form-control"
                type="search"
                value=""
                formControlName="client"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="example-color-input" class="col-2 col-form-label"
              >Ph Range</label>
              <input class="col-1 form-control" type="text" [value]="phValue" (change)="changePH($event)">
            <div class="col-9">
              <input
                type="range"
                class="form-control col"
                formControlName="ph"
                value="5.5"
                min="0"
                max="14"
                [(ngModel)]="phValue"
                step="0.01"
              />
            </div>
            <!-- <label class="col-2 col-form-label">{{ phValue }}</label> -->
            
          </div>

          <button class="btn btn-success m-r-10" type="submit">Add Formule's  Phases</button>
        </form>
      </div>
    </div>
  </div>




  
</div>
<!-- /.row -->
