.addNewExpectedArrival .list-group-item {
    cursor: pointer;
}

button[name="addingItems"]{
    background: transparent;
    position: absolute;
    top: 28px;
    left: 10px;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

input[type=radio]
{
    width: 20px;
    /* padding: 10px; */
    float: right;
    margin-left: 10px;
    top: -7px;
    position: relative;
}
.sendUpdates{
    width: 85px;
    float: left;
    cursor: pointer;
    margin-left: 20px;
}