section {
    direction: rtl;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;

}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.sec{
    align-items: center;
    justify-content: center;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;

}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input{
    margin-right: 1rem;
}
.resultAlert{
    position: absolute;
    top: 20vh;
    right: 45vw;
    background-color: #009879;
    height: 5%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;

}
.resultAlert-msg{
    color: rgb(255, 255, 255);

}