<section *ngIf="isLogin" dir="rtl">
  <div class="search">
    <label for="searchByDate" class="search-label">חיפוש לפי תאריך:</label>
    <input type="date" id="searchByDate" name="searchByDate" class="search-input" [(ngModel)]="dateSearch" (change)="changeDate()"/>
  </div>
  <div class="search">
    <label for="positionFilter" class="search-label">סינון לפי מיקום:</label>
    <select name="positionFilter" id="positionFilter" (change)="positionFilter()" [(ngModel)]="position">
      <option disabled>בחר/י מיקום</option>
      <option value="peer2">חדר מכונות</option>
      <option value="peer1">חדר אריזה</option>
      <option value="all">כולם</option>
    </select>
  </div>
  <div class="resultAlert" *ngIf="resultAlert">
    <h4 class="resultAlert-msg">אין תוצאת בדף זה</h4>
  </div>
  <table class="styled-table" *ngIf="!resultAlert">
    <thead>
      <tr>
        <th>טמפרטורה</th>
        <th>
        מיקום
        </th>
        <th>
          לחות
        </th>
        <th>
         זמן
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of temperatures">
        <td style="width: 1%">
          {{log.temp}}
        </td>
        <td style="width: 3%">
          {{ log.device == "peer1" ? "חדר אריזה" : "חדר מכונות" }}
        </td>
        <td style="width: 5%">
          {{ log.humidity }}
        </td>
        <td style="width: 12%">
          {{ log.time | date: 'HH:mm dd/MM/YYYY' }}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="container">
    <div class="buttons-container">
      <button class="btn btn-success buttons-container-item" (click)="previousPage()">הקודם</button>
      <button class="btn btn-success buttons-container-item" (click)="nextPage()">הבא</button>
    </div>

  </div>
</section>
