<div style="font-size: 30px;" class="container-fluid bg-white text-center p-4">
  <div class="row mt-4">
    <div class="col-4"></div>
    <div class="col-4">
      <h1 class="text-info">Add New Batch</h1>
    </div>
    <div class="col-4"></div>
  </div>
  <div class="row mt-4">
    <div class="col-4"></div>
    <div *ngIf="lastBatch" class="col-4">
      <h3>Last Batch: <span class="text-danger">{{lastBatch.batchNumber}}</span></h3>
    </div>
    <div class="col-4"></div>
  </div>

  <hr class="mt-4 bg-info">

  <div class="row">
    <div class="container bg-white shadow-lg p-4">
      <form [formGroup]="newBatchForm" (ngSubmit)="addNewBatch()">
      <div class="row mt-4">
        <div class="col-3"></div>
        <div class="col-3">
          <label style="margin-bottom: 0" class="form-control"><b>Order Number</b></label>
          <label style="margin-bottom: 0" class="form-control"><b>Item Number</b></label>
          <label style="margin-bottom: 0" class="form-control"><b>Name</b></label>
          <label style="margin-bottom: 0" class="form-control"><b>Production Date</b></label>
          <label style="margin-bottom: 0" class="form-control"><b>Expiration Date</b></label>
          <label style="margin-bottom: 0" class="form-control"><b>Barrels</b></label>
          <label style="margin-bottom: 0" class="form-control"><b>KG</b></label>
          <label style="margin-bottom: 0" class="form-control"><b>PH</b></label>
          <label style="margin-bottom: 0" class="form-control"><b>Batch</b></label>
        </div>
        <div class="col-3"> 
            <input type="text" formControlName="order" class="form-control">
            <input type="text" (change)="fillItemName($event)" formControlName="item" class="form-control">
            <input type="text" formControlName="itemName" class="form-control">
            <input type="date" formControlName="produced" class="form-control">
            <input type="date" formControlName="expration" class="form-control">
            <input type="number" formControlName="barrels" class="form-control">
            <input type="text" formControlName="weightKg" class="form-control">
            <input type="text" formControlName="ph" class="form-control">
            <input type="text" formControlName="batchNumber" class="form-control">
          </div>
          <div class="col-3"></div>
        </div>
        
        <div class="row mt-4">
          <div class="col-4"></div>
          <div class="col-4">
            <button type="submit" class="btn btn-info form-control">Add Batch</button>
          </div>
          <div class="col-4"></div>
        </div>
      </form>
        
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <button style="visibility: hidden;" #printBtn [useExistingCss]="true" class="btn btn-success"
            printSectionId="print-section" ngxPrint>Print</button>
        </div>
        <div class="col-4"></div>
      </div>


    </div>
  </div>
</div>

<div class="clearfix" id="print-section" style="visibility: hidden">
  <div style="max-height: 600px;" *ngFor="let sticker of allStickers;let i=index">
    <div dir="rtl" class="container-fluid" style="width:370px;font-family: Arial;font-size: 24px;margin-bottom: 20px;">
      <div class="row">
        <div style="text-align: center;border-bottom: 1px solid black;height:120px;" class="col-12">
          <span>שם החומר:</span>{{newBatchForm.controls['itemName'].value}}
        </div>
      </div>
      <div class="row">
        <div style="border-bottom: 1px solid black;" class="col-12">
          <span>אצווה:</span> {{newBatchForm.controls['batchNumber'].value}}
        </div>
      </div>

      <div class="row">
        <div style="border-bottom: 1px solid black;" class="col-6">
          <span>ת.ייצור: </span>{{newBatchForm.controls['produced'].value}}
        </div>
        <div style="border-bottom: 1px solid black;" class="col-6">
          <span>מק"ט: </span>{{newBatchForm.controls['item'].value}}
        </div>
      </div>

      <div class="row">
        <div style="border-bottom: 1px solid black;" class="col-6">
          <span>ת.תפוגה: </span>{{newBatchForm.controls['expration'].value}} YEARS
        </div>
        <div style="border-bottom: 1px solid black;" class="col-6">
          <span>PH: </span>{{newBatchForm.controls['ph'].value}}{{newBatchForm.ph}}
        </div>
      </div>

      <div class="row">
        <div style="border-bottom: 1px solid black;" class="col-12">
          <span>מ' הזמנה: </span>{{newBatchForm.controls['order'].value}} {{newBatchForm.order}}
        </div>
      </div>

      <div class="row">
        <div style="border-bottom: 1px solid black;" class="col-6">
          <span>משקל: </span>{{newBatchForm.controls['weightKg'].value}}
        </div>
        <div style="border-bottom: 1px solid black;" class="col-6">
          <span>חביות: </span>{{sticker.printNum}}
        </div>
      </div>

    </div>
  </div>
</div>