<div style="font-size: 30px;" class="container-fluid bg-white text-center p-4">
  <div class="row mt-4">
    <div class="col-4"></div>
    <div class="col-4">
      <h1 class="text-info">Add New Batch</h1>
    </div>
    <div class="col-4"></div>
  </div>
  <div class="row mt-4">
    <div class="col-4"></div>
    <div *ngIf="lastBatch" class="col-4">
      <h3>Last Batch: <span class="text-danger">{{lastBatch.batchNumber}}</span></h3>
    </div>
    <div class="col-4"></div>
  </div>

  <hr class="mt-4 bg-info">


  <div class="container bg-light shadow-lg p-4">
    <h3>Add Item</h3>
    <div class="row">
      <div class="col-12">
        <input type="number" class="form-control w-25" placeholder="KG" #itemWeight>
        <input type="number" class="form-control w-25" #currentOrderNumber (change)="getOrderDetails($event)"
          placeholder="order number">
        <select class="form-control w-50" (change)="saveItem($event, itemWeight)">
          <option disabled value="">Choose Item</option>
          <option *ngFor="let item of currentItems" [value]="[item.itemNumber, item.discription]">{{item.itemNumber}} -
            {{item.discription}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row small">
      <div *ngFor="let item of newBatchForm.value.itemsToCook; let i = index" 
        [style.background]="item.itemNumber == newBatchForm.value.chosenFormule ? 'rgb(158, 185, 236)' : ''" 
        class="col-2 border border-black click hover" 
        (click)="setMainFormule(item)">
        <i class="float-left fa fa-times text-danger" ngbTooltip="Remove" (click)="removeItem(i)"></i>
        <div [ngbTooltip]="item.itemNumber == newBatchForm.value.chosenFormule ? 'Main Formule' : 'Set as main formule'">
          <p>Order: {{item.orderNumber}}</p> 
          <p class="text-info">Item: {{item.itemNumber}} - {{item.itemName}}</p>
          <p class="text-warning">{{item.weightKg}}KG</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="oneItem" class="row">
    <div class="container bg-white shadow-lg p-4">
      <form [formGroup]="newBatchForm" (ngSubmit)="addNewBatch(false)">
        <div class="row mt-4">
          <div class="col-3"></div>
          <div class="col-3">
            <label style="margin-bottom: 0" class="form-control"><b>Production Date</b></label>
            <!--4-->
            <label style="margin-bottom: 0" class="form-control"><b>Expires in (years)</b></label>
            <!--5-->
            <label style="margin-bottom: 0" class="form-control"><b>Barrels</b></label>
            <!--6-->
            <label style="margin-bottom: 0" class="form-control"><b>PH</b></label>
            <!--8-->
            <label style="margin-bottom: 0" class="form-control"><b>Batch</b></label>
            <!--9-->
          </div>
          <div class="col-3">
            <input type="date" formControlName="produced" value="{{ today | date:'yyyy-MM-dd' }}" class="form-control">
            <!--4-->
            <select formControlName="expration" class="form-control">
              <!--5-->
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4 selected='true'>4</option>
              <option value=5>5</option>
            </select>
            <input type="number" formControlName="barrels" class="form-control">
            <!--6-->
            <input type="text" formControlName="ph" class="form-control">
            <!--8-->
            <input type="text" formControlName="batchNumber" minlength="5" class="form-control">
            <!--9-->
          </div>
          <div class="col-3"></div>
        </div>

        <div class="row mt-4">
          <div class="col-4"></div>
          <div class="col-4">
            <button type="submit" class="btn btn-danger form-control" *ngIf="newBatchAllowed" [disabled]="disableButton"
              [style.cursor]="disableButton ? 'not-allowed' : 'pointer'">Add Batch
            </button>
          </div>
          <div class="col-4"></div>
        </div>
      </form>

      <div class="row mt-4">
        <div class="col-4"></div>
        <div class="col-4">
          <button (click)="addNewBatch(true)" class="btn btn-success form-control">Print Sticker
          </button>
        </div>
        <div class="col-4"></div>
      </div>

      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <button style="visibility: hidden;" #printBtn [useExistingCss]="true" class="btn btn-success"
            printSectionId="print-section" ngxPrint>Print</button>
        </div>
        <div class="col-4"></div>
      </div>


    </div>
  </div>
</div>

<div class="clearfix" id="print-section" style="visibility: hidden">
  <div style="max-height: 600px;" *ngFor="let sticker of allStickers;let i=index">
    <div dir="rtl" class="container-fluid" style="width:370px;font-family: Arial;font-size: 24px;margin-bottom: 20px;">
      <div class="row">
        <div style="text-align: center;border-bottom: 1px solid black;height:120px;" class="col-12">
          <span>שם החומר:</span>{{newBatchForm.controls['itemName'].value}}
        </div>
      </div>
      <div class="row">
        <div style="border-bottom: 1px solid black;" class="col-12">
          <span>אצווה:</span> {{newBatchForm.controls['batchNumber'].value}}
        </div>
      </div>

      <div class="row">
        <div style="border-bottom: 1px solid black;" class="col-6">
          <span>ת.ייצור: </span>{{newBatchForm.controls['produced'].value | date: 'yyyy-MM-dd' }}
        </div>
        <!-- <div style="border-bottom: 1px solid black;" class="col-6">
          <span>מק"טים: </span>
          <span *ngFor="let item of newBatchForm.value.itemsToCook">{{item.itemNumber}}</span>
        </div> -->
      </div>

      <div class="row">
        <div style="border-bottom: 1px solid black;" class="col-6">
          <span>ת.תפוגה: </span>{{newBatchForm.controls['expration'].value}}
        </div>
        <div style="border-bottom: 1px solid black;" class="col-6">
          <span>PH: </span>{{newBatchForm.controls['ph'].value}}{{newBatchForm.ph}}
        </div>
      </div>

      <div class="row">
        <div style="border-bottom: 1px solid black;" class="col-12">
          <span>הזמנות / פריטים: </span>
          <span *ngFor="let item of newBatchForm.value.itemsToCook">הזמנה {{item.orderNumber}}, מק"ט {{item.itemNumber}}, משקל {{item.weightKg}}</span>
        </div>
      </div>

      <div class="row">
        <div style="border-bottom: 1px solid black;" class="col-6">
          <span>משקל: </span>{{newBatchForm.controls['weightKg'].value}}
        </div>
        <div style="border-bottom: 1px solid black;" class="col-6">
          <span>חביות: </span>{{sticker.printNum}}
        </div>
      </div>

    </div>
  </div>
</div>