.form-control {
    border: 1px solid black;
}

label {
    font-size: 15px;

}

button, input {
    border-radius: 5px;
}

.click {
    cursor: pointer;
}

.hover:hover {
    background-color: rgb(158, 185, 236);
}

.small {
    font-size: 20px;
}

.smaller {
    font-size: 15px
}

.disable-pointer {
    pointer-events: none;
}

.batchbtn {
    margin-bottom: 16px;
}

// Hide arrows from input type number  :
/*********************************************** ********************/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*******************************************************************/