button, input {
  border-radius: 5px;
}

.read-only {
  pointer-events: none;
}

.batchTh {
    font-size: 16px;
    color:white;
}

.clearfix {
    overflow: auto;
  }
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

