
  <tr dir="ltr">

    <td><input   type="text" placeholder="Order Number" [(ngModel)]="newMkpBatch.order"></td>
    <td><input  (change)="fillItemName($event)" type="text" placeholder="Item Number" [(ngModel)]="newMkpBatch.item"></td>
    <td><input  type="text" placeholder="Name" [(ngModel)]="newMkpBatch.itemName"></td>
    <td><label>Production Date:</label><input  type="date" [(ngModel)]="newMkpBatch.produced"></td>
    <td><label>Exp Date:</label><input  type="date" [(ngModel)]="newMkpBatch.expration"></td>
    <td><input  type="number" placeholder="Barrels" [(ngModel)]="newMkpBatch.barrels"></td>
    <td><input  type="text" placeholder="Weight KG" [(ngModel)]="newMkpBatch.weightKg"></td>
    <td><input  type="text" placeholder="PH" [(ngModel)]="newMkpBatch.ph"></td>
    <td><input  type="text" placeholder="Batch" [(ngModel)]="newMkpBatch.batchNumber"></td>
    <td><button class="btn btn-success" (click)="addNewMkpBatch()">New Batch</button></td>
    <td><button style="visibility: hidden;" #printBtn class="btn btn-success" printSectionId="print-section"
      ngxPrint>Print</button></td>

  </tr>
<table dir="rtl" class="table table-striped">
  <thead style="background:rgb(89, 116, 175)">
    <tr>
      <th class="batchTh">#</th>
      <th class="batchTh">אצווה</th>
      <th class="batchTh">תאריך ייצור</th>
      <th class="batchTh">שם מוצר</th>
      <th class="batchTh">PH</th>
      <th class="batchTh">כמות(ק"ג)</th>
      <th class="batchTh">חביות</th>
      <th class="batchTh">מספר הזמנה</th>
      <th class="batchTh">מספר פריט</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let batch of mkpBatches;let i=index">
      <td>{{i+1}}</td>
      <td>{{batch.batchNumber}}</td>
      <td>{{batch.produced}}</td>
      <td>{{batch.itemName}}</td>
      <td>{{batch.ph}}</td>
      <td>{{batch.weightKg}}</td>
      <td>{{batch.barrels}}</td>
      <td>{{batch.order}}</td>
      <td>{{batch.item}}</td>
      <td></td>
    </tr>
  </tbody>
</table>

<div class="clearfix" id="print-section" style="visibility: hidden">
  <table 
  dir="rtl"
  [style.width.px]="400"
  [style.max-height.px]="600"
  [style.font-size.px]="25"
  style.font-weight="900"
  style.font-family="Arial"
  [style.border.px]="0">
    <tr>
      <td style="margin-right:10px;text-align: center;"> <label style="border-bottom: none;">שם החומר:</label>{{currentItemName}}</td>
    </tr>
    <tr>
      <td style="border-bottom: 2px solid black;"><label style="border-bottom: none;">אצווה:</label> {{currentBatchNumber}}</td>
    </tr>
    <tr>
    <td style="border-bottom: 2px solid black;width:150px"><label style="border-bottom: none;">ת.ייצור: </label>{{currentProduced}}</td>
    <td style="border-bottom: 2px solid black;width:150px"><label style="border-bottom: none;">מק"ט: </label>{{currentItem}}  </td>
  </tr>
  <tr>
    <td style="border-bottom: 2px solid black;width:150px"><label style="border-bottom: none;">ת.תפוגה: </label>{{currentExpDate}}</td> 
    <td style="border-bottom: 2px solid black;width:150px" dir="rtl"><label>PH: </label>{{currentPH}} </td>
  </tr>
  <tr>
    <td style="border-bottom: 2px solid black;"><label style="border-bottom: none;">מ' הזמנה: </label> {{currentOrderN}}</td>
  </tr>
  <tr>
    <td style="border-bottom: 2px solid black;width:150px"><label style="border-bottom: none;">משקל: </label>{{currentWeightKG}} </td>
    <td style="border-bottom: 2px solid black;width:150px"><label style="border-bottom: none;">חביות: </label> {{currentBarrels}} </td>
  </tr>

  </table>
</div>
