
  <tr dir="ltr">

    <td><input   type="text" placeholder="Order Number" [(ngModel)]="newMkpBatch.order"></td>
    <td><input  (change)="fillItemName($event)" type="text" placeholder="Item Number" [(ngModel)]="newMkpBatch.item"></td>
    <td><input  type="text" placeholder="Name" [(ngModel)]="newMkpBatch.itemName"></td>
    <td><label>Production Date:</label><input  type="date" [(ngModel)]="newMkpBatch.produced"></td>
    <td><label>Exp Date:</label><input  type="date" [(ngModel)]="newMkpBatch.expration"></td>
    <td><input  type="number" placeholder="Barrels" [(ngModel)]="newMkpBatch.barrels"></td>
    <td><input  type="text" placeholder="Weight KG" [(ngModel)]="newMkpBatch.weightKg"></td>
    <td><input  type="text" placeholder="PH" [(ngModel)]="newMkpBatch.ph"></td>
    <td><input  type="text" placeholder="Batch" [(ngModel)]="newMkpBatch.batchNumber"></td>
    <td><button class="btn btn-success" (click)="addNewMkpBatch()">New Batch</button></td>
    <td><button style="visibility: hidden;" #printBtn [useExistingCss]="true"
       class="btn btn-success" printSectionId="print-section" ngxPrint>Print</button></td>

  </tr>
<table dir="rtl" class="table table-striped">
  <thead style="background:rgb(89, 116, 175)">
    <tr>
      <th class="batchTh">#</th>
      <th class="batchTh">אצווה</th>
      <th class="batchTh">תאריך ייצור</th>
      <th class="batchTh">שם מוצר</th>
      <th class="batchTh">PH</th>
      <th class="batchTh">כמות(ק"ג)</th>
      <th class="batchTh">חביות</th>
      <th class="batchTh">מספר הזמנה</th>
      <th class="batchTh">מספר פריט</th>
      <th class="batchTh">הדפסה חוזרת</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let batch of mkpBatches;let i=index">
      <td>{{i+1}}</td>
      <td>{{batch.batchNumber}}</td>
      <td>{{batch.produced}}</td>
      <td>{{batch.itemName}}</td>
      <td>{{batch.ph}}</td>
      <td>{{batch.weightKg}}</td>
      <td>{{batch.barrels}}</td>
      <td>{{batch.order}}</td>
      <td>{{batch.item}}</td>
      <td><button (click)="rePrint(batch)" class="btn-success">הדפס</button></td>
    </tr>
  </tbody>
</table>

<div  class="clearfix" id="print-section" style="visibility: hidden">
  <div *ngFor="let sticker of allStickers;let i=index">
    <!-- <table 
    dir="rtl"
    [style.width.px]="400"
    [style.max-height.px]="600"
    [style.font-size.px]="25"
    style.font-weight="900"
    style.font-family="Arial"
    [style.border.px]="0">
      <tr>
        <td> <label style="border-bottom: none;">שם החומר:</label>{{sticker.item.currentItemName}}</td>
      </tr>
      <br>
      <br>
      <br>
      <tr>
        <td style="border-bottom: 2px solid black;"><label style="border-bottom: none;">אצווה:</label> {{sticker.item.currentBatchNumber}}</td>
      </tr>
      <tr>
      <td style="border-bottom: 2px solid"><label style="border-bottom: none;">ת.ייצור: </label>{{sticker.item.currentProduced}}</td>
      <td style="border-bottom: 2px solid"><label style="border-bottom: none;">מק"ט: </label>{{sticker.item.currentItem}}  </td>
    </tr>
    <tr>
      <td style="border-bottom: 2px solid"><label style="border-bottom: none;">ת.תפוגה: </label>{{sticker.item.currentExpDate}}</td> 
      <td style="border-bottom: 2px solid" dir="rtl"><label>PH: </label>{{sticker.item.currentPH}} </td>
    </tr>
    <tr>
      <td style="border-bottom: 2px solid black;"><label style="border-bottom: none;">מ' הזמנה: </label> {{sticker.item.currentOrderN}}</td>
    </tr>
    <tr>
      <td style="border-bottom: 2px solid"><label style="border-bottom: none;">משקל: </label>{{sticker.item.currentWeightKG}} </td>
      <td style="border-bottom: 2px solid"><label style="border-bottom: none;">חביות: </label>{{sticker.printNum}} </td>
    </tr>
  
    </table> -->
<div dir="rtl" class="container-fluid" style="width:370px;font-family: Arial;font-size: 24px;margin-bottom: 20px;">
<div class="row">
  <div style="text-align: center;border-bottom: 1px solid black;" class="col-12">
    <span>שם החומר:</span>{{sticker.item.currentItemName}}
  </div>
</div>
<div class="row">
  <div style="border-bottom: 1px solid black;" class="col-12">
    <span>אצווה:</span> {{sticker.item.currentBatchNumber}}
  </div>
</div>

<div class="row">
<div style="border-bottom: 1px solid black;" class="col-6">
  <span>ת.ייצור: </span>{{sticker.item.currentProduced}}
</div>
<div style="border-bottom: 1px solid black;" class="col-6">
  <span>מק"ט: </span>{{sticker.item.currentItem}}
</div>
</div>

<div class="row">
<div style="border-bottom: 1px solid black;" class="col-6">
  <span>ת.תפוגה: </span>{{sticker.item.currentExpDate}}
</div>
<div style="border-bottom: 1px solid black;" class="col-6">
  <span>PH: </span>{{sticker.item.currentPH}}
</div>
</div>

<div class="row">
  <div style="border-bottom: 1px solid black;" class="col-12">
    <span>מ' הזמנה: </span> {{sticker.item.currentOrderN}}
  </div>
</div>

<div class="row">
  <div style="border-bottom: 1px solid black;" class="col-6">
    <span>משקל: </span>{{sticker.item.currentWeightKG}}
  </div>
  <div style="border-bottom: 1px solid black;" class="col-6">
    <span>חביות: </span>{{sticker.printNum}}
  </div>
  </div>

</div>

  </div>

</div>
