<tr dir="ltr">

  <td><input type="text" placeholder="Order Number" [(ngModel)]="newMkpBatch.order"></td>
  <td><input (change)="fillItemName($event)" type="text" placeholder="Item Number" [(ngModel)]="newMkpBatch.item"></td>
  <td><input type="text" placeholder="Name" [(ngModel)]="newMkpBatch.itemName"></td>
  <td><label>Production Date:</label><input type="date" [(ngModel)]="newMkpBatch.produced"></td>
  <td><label>Exp Date:</label><input type="date" [(ngModel)]="newMkpBatch.expration"></td>
  <td><input type="number" placeholder="Barrels" [(ngModel)]="newMkpBatch.barrels"></td>
  <td><input type="number" placeholder="Weight KG" [(ngModel)]="newMkpBatch.weightKg"></td>
  <td><input type="text" placeholder="PH" [(ngModel)]="newMkpBatch.ph"></td>
  <td><input type="text" placeholder="Batch" [(ngModel)]="newMkpBatch.batchNumber"></td>
  <td><button class="btn btn-success" (click)="addNewMkpBatch()">New Batch</button></td>
  <td><button style="visibility: hidden;" #printBtn [useExistingCss]="false" class="btn btn-success"
      printSectionId="print-section"
      [printStyle]="{'#container':{'width':'10cm','height':'10cm', 'box-sizing':'border-box','padding':'20px','font-size':'24px', 'margin':'0'},div:{'font-family':'Arial', 'padding-right': '5px' }, '#product':{'text-align':'center', 'border-bottom':'solid 2px black', 'padding':'0px 0px 20px 0px'}}"
      ngxPrint>Print</button></td>

</tr>
<table dir="rtl" class="table table-striped">
  <thead style="background:rgb(89, 116, 175)">
    <tr>
      <th class="batchTh">#</th>
      <th class="batchTh">Batch Number</th>
      <th class="batchTh">Production Date</th>
      <th class="batchTh">Product Name</th>
      <th class="batchTh">PH</th>
      <th class="batchTh">qtyLeft(KG)</th>
      <th class="batchTh">Quantity(KG)</th>
      <th class="batchTh">Barrels</th>
      <th class="batchTh">Order Number</th>
      <th class="batchTh">Item Number</th>
      <th class="batchTh">rePrint</th>
    </tr>
  </thead>

  <tbody>
    <tr [class.read-only]="checkPermission()" *ngFor="let batch of mkpBatches;let i=index">
      <td>{{i+1}}</td>
      <td>{{batch.batchNumber}}</td>
      <td>{{batch.produced}}</td>
      <td>{{batch.itemName}}</td>
      <td>{{batch.ph}}</td>
      <td>{{batch.weightQtyLeft}}</td>
      <td>{{batch.weightKg}}</td>
      <td>{{batch.barrels}}</td>
      <td>{{batch.order}}</td>
      <td>{{batch.item}}</td>
      <td><button (click)="rePrint(batch)" class="btn-success">Print</button></td>
    </tr>
  </tbody>
</table>

<div [class.read-only]="checkPermission()" class="clearfix" id="print-section" style="visibility: hidden">
  <div *ngFor="let sticker of allStickers;let i=index">
    <div dir="rtl" class="container-fluid" id="container" style="margin-left:0px;">
      <div class="row">
        <div id="product" class="col-12">
          <span>שם החומר:</span>{{sticker.item.currentItemName}}
        </div>
      </div>
      <div class="row">
        <div style="border-bottom: 1px solid black;" class="col-12">
          <span>אצווה:</span> {{sticker.item.currentBatchNumber}}
        </div>
      </div>

      <div class="row">
        <div style="border-bottom: 1px solid black;" class="col-12">
          <span>ת.ייצור: </span>{{sticker.item.currentProduced}}
        </div>
        <div style="border-bottom: 1px solid black;" class="col-12">
          <span>מק"ט: </span>{{sticker.item.currentItem}}
        </div>
      </div>

      <div class="row">
        <div style="border-bottom: 1px solid black;" class="col-12">
          <span>ת.תפוגה: </span>{{sticker.item.currentExpDate}}
        </div>
        <div style="border-bottom: 1px solid black;" class="col-12">
          <span>PH: </span>{{sticker.item.currentPH}}
        </div>
      </div>

      <div class="row">
        <div style="border-bottom: 1px solid black;" class="col-12">
          <span>מ' הזמנה: </span> {{sticker.item.currentOrderN}}
        </div>
      </div>

      <div class="row">
        <div style="border-bottom: 1px solid black;" class="col-6">
          <span>משקל: </span>{{sticker.item.currentWeightKG}}
        </div>
        <div style="border-bottom: 1px solid black;" class="col-6">
          <span>חביות: </span>{{sticker.printNum}}
        </div>
      </div>

    </div>

  </div>

</div>
