<div dir="rtl" class="container">
    <div class="row mt-4">
        <h2>מצא ספקים עבור מוצר</h2>
    </div>
    <div class="row mt-4">
        <button (click)="addComponent()"><i class="fas fa-plus"></i> הוסף חיפוש</button>
    </div>
    <div>
        <div *ngFor="let component of components">
            <!-- <h4>מצא ספקים לפי מספר קומפוננט</h4>
                <input type="number" [(ngModel)]="component.componentN" class="form-control">
            <button (click)="findSuppsForComp(component)">מצא ספקים</button>

            <div class="mt-4">
                <h3>או</h3>
            </div>
            <h4>מצא ספקים לפי מאפייני קומפוננטים</h4> -->
            <form [formGroup]="mainForm" (ngSubmit)="findSuppliers()">
            <div class="row mt-2 border border-secondary p-2 m-2">

                    <div class="col-2">
                        <label>לפי קטגוריה</label>
                        <select class="form-control" formControlName="componentType">
                            <option disabled value="0">לפי קטגוריה</option>
                            <option *ngFor="let type of cmptTypes" [value]="type">{{type}}</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label>נפח בקבוק</label>
                        <select class="form-control" formControlName="mlCapacityMin">
                            <option disabled value="0">מ...</option>
                            <option value="0">0</option>
                            <option value="250">250</option>
                            <option value="500">500</option>
                            <option value="750">750</option>
                        </select>
                        <select class="form-control" formControlName="mlCapacityMax">
                            <option disabled value="0">עד (כולל)</option>
                            <option value="250">250</option>
                            <option value="500">500</option>
                            <option value="750">750</option>
                            <option value="1000">1,000</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label>מותג</label>
                        <select class="form-control" formControlName="componentCategory">
                            <option disabled value="0">לפי מותג</option>
                            <option *ngFor="let category of cmptCategoryList" [value]="category">{{category}}</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label>סוג </label>
                        <select class="form-control" formControlName="componentType2">
                            <option disabled value="0">לפי סוג </option>
                            <option *ngFor="let type of cmptTypes2" [value]="type">{{type}}</option>
                        </select>
                    </div>
                    <!-- <div class="col-2">
                        <select class="form-control" formControlName="componentType3">
                            <option disabled value="0">לפי סוג 3</option>
                            <option *ngFor="let type of cmptTypes3" [value]="type">{{type}}</option>
                        </select>
                    </div> -->
                    <div class="col-2">
                        <label>חומר</label>
                        <select class="form-control" formControlName="material">
                            <option disabled value="0">לפי חומר </option>
                            <option *ngFor="let material of cmptMaterials" [value]="material">{{material}}</option>
                        </select>
                    </div>
                    <!-- <div class="col-2">
                        <select class="form-control" formControlName="material2">
                            <option disabled value="0">לפי חומר 2</option>
                            <option *ngFor="let material of cmptMaterials2" [value]="material">{{material}}</option>
                        </select>
                    </div> -->
                    <div class="col-2">
                        <label>סוג אריזה</label>
                        <select class="form-control" formControlName="packageType">
                            <option disabled value="0">לפי סוג אריזה</option>
                            <option *ngFor="let packageType of packageTypes" [value]="packageType">{{packageType}}
                            </option>
                        </select>
                    </div>
                </div>
            </form>
            <button (click)="findSuppliersByCategories()">מצא ספקים</button>
        </div>
    </div>


    <div class="row mt-4">
        <h2>ספקים פוטנציאליים</h2>
        <table class="table table-bordered bg-light">
            <thead>
                <tr>
                    <th>מספר ספק</th>
                    <th>שם</th>
                    <th>טלפון</th>
                    <th>סלולרי</th>
                    <th>מיקום</th>
                    <th>מייל</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let supplier of potentialSuppliers">
                    <td>{{supplier.suplierNumber}}</td>
                    <td>{{supplier.suplierName}}</td>
                    <td>{{supplier.phoneNum}}</td>
                    <td>{{supplier.cellularNum}}</td>
                    <td>{{supplier.city}}</td>
                    <td>{{supplier.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>