<mat-card [@flyInOut]="'in'" class="card maincard" *ngIf="task.list == tileName  && !task.isArchived" dnd-draggable
    [dragEnabled]="true" [dragData]="task"    > 
    <span class="card-desc" style="width:100%; display:block">{{task.name}}</span>
    <mat-card-header>
            
        <mat-card-title style="font-size:12px; display: inline-block; margin: 10px;">Priority: {{task.priority}}</mat-card-title>
        <mat-card-subtitle style="font-size:12px; display:inline;" title={{task.dueDate}}><i class="material-icons" style="font-size:14px;" >alarm</i> {{ task.dueDate |date:short }}</mat-card-subtitle>
        <mat-card-subtitle *ngFor="let dep of depatments">
                <i class="material-icons" style="font-size:14px;" >group</i><span>{{dep.title}}</span>
        </mat-card-subtitle>
       
    </mat-card-header>
    <mat-card-content>
        
   <!--      <app-sub-task-card *ngFor="let sb of subTasksArr" [subTask]="sb" >
            
  


           


</app-sub-task-card>-->
      
    </mat-card-content>


</mat-card>