<div class="container bg-white text-center p-2 rounded shadow">

  <div class="row mt-1">
    <div class="col-4"></div>
    <div class="col-4">
      <h3 class="text-info">Formule Weight</h3>
    </div>
    <div class="col-4"></div>
  </div>

  <div class="row mt-3">
    <div class="col-3"></div>
    <div class="col-3">
      <input [(ngModel)]="formuleNumber" placeholder="Formule Number" class="form-control">
    </div>
    <div class="col-3">
      <input [(ngModel)]="formuleWeight" placeholder="Weight" class="form-control">
    </div>
    <div class="col-3"></div>
  </div>

  <div class="row mt-3">
    <div class="col-4"></div>
    <div class="col-4">
      <button (click)="getFormuleByNumber()" class="btn btn-info form-control">Start</button>
    </div>
    <div class="col-4"></div>
  </div>
  

  <div *ngIf="printStickerBtn == true" class="row p-2">
    <div class="col-12">
      <button (click)="printBarcode()" [useExistingCss]="true" printSectionId="print-section" ngxPrint class="btn btn-info form-control">Print Sticker</button>
    </div>
  </div>

</div>

<div class="container mt-2 bg-white text-center p-2 rounded shadow">
  <div class="row mt-1">
    <div class="col-4">
      <h3 class="text-success">Formule Number: {{currentFormule.formuleNumber}}</h3>
    </div>
    <div class="col-4">
      <h3 class="text-success">Formule Number: {{currentFormule.formuleName}}</h3>
    </div>
    <div class="col-4">
      <h3 class="text-success">PH: {{currentFormule.phFrom}}-{{currentFormule.phTo}}</h3>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <table class="table table-hover">
        <thead class="bg-success text-white">
          <tr>
            <th scope="col">Phase</th>
            <th scope="col">Raw Material Name</th>
            <th scope="col">Name</th>
            <th scope="col">Percentage</th>
            <th scope="col">KG</th>
            <th scope="col">Shelf</th>
    
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let phase of currentFormule.phases">
          
              <tr *ngFor="let item of phase.items; let i = index">
                
                <td style="padding:5px" *ngIf="i == 0"[attr.rowspan]="phase.items.length"class="phase">{{ phase.phaseName }}</td>
                <td style="padding:5px">{{ item.itemName }}</td>
                <td style="padding:5px">{{ item.itemNumber }}</td>
                <td style="padding:5px">{{ item.percentage }}%</td>
                <td style="padding:5px">{{ item.kgProd }}</td>
                <td style="padding:5px"><input (change)="saveShelfNumber($event,item.itemNumber)" class="form-control"></td>
   

              </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>




<div class="container" id="print-section" style="visibility: hidden">
  <div style="max-height: 500px;max-width:500px;">

  <div style="margin-top:25px" class="row">
    <div style="font-size: 35px;text-align: center;text-decoration: underline;" class="col-12">Number: {{barcode.materialNumber}}</div>
  </div>
  <div style="margin-top:25px" class="row">
    <div style="font-size: 35px;text-align: center;text-decoration: underline;" class="col-12"> Name: {{barcode.materialName}}</div>
  </div>
  <div style="margin-top:25px" class="row">
    <div style="font-size: 35px;text-align: center;text-decoration: underline;" class="col-12">Weight: {{barcode.weight}}</div>
  </div>
  <div style="margin-top:25px" class="row">
    <div style="font-size: 35px;text-align: center;text-decoration: underline;" class="col-12">Formule: {{barcode.formuleNumber}}</div>
  </div>
  <div style="margin-top:25px" class="row">
    <div class="col-12">
      <ngx-barcode  [bc-value]="barcode.materialId"></ngx-barcode>
    </div>
    
  </div>
  
</div>
</div>