<!-- <p>
  packing works!
</p>

<button (click)="">Get item tree table</button>
<table class="sjs-table">
  <thead>
      <tr >
          <th>itemNumber</th>
          <th>name</th>
          <th>subName</th>
          <th>discriptionK</th>
          <th>proRemarks</th>
          <th>impRemarks</th>
          <th>updateDate</th>
          <th>nameOfupdating</th>
          <th>versionNumber</th>
          <th>stickerTypeK</th>
          <th>boxNumber</th>
          <th>boxTypeK</th>
          <th>barcodeK</th>
          <th>StickerLanguageK</th>
          <th>volumeKey</th>
          <th>netWeightK</th>
          <th>grossUnitWeightK</th>
          <th>licsensNumber</th>
          <th>licsensDate</th>
          <th>country</th>
          <th>netCtnWeightK</th>
          <th>grossCtnWeightK</th>
          <th>PcsCarton</th>
          <th>pumpDirection</th>
          <th>paletteType</th>
          <th>st1layerCarton</th>
          <th>totalCartonPalette</th>
          <th>cbm</th>
          <th>motherP</th>
          <th>itemType</th>
        
            <th>item1w</th>
            <th>item1s</th>
            <th>item2w</th>
            <th>item2s</th>
            <th>item3w</th>
            <th>item3s</th>
            <th>item4w</th>
            <th>item4s</th>
            <th>itemStickerW</th>
            <th>itemStickerS</th>
            <th>itemBoxS</th>
            <th>itemBoxW</th>
            <th>itemCtnW</th>
            <th>itemCtnS</th>
        
            <th>pallet</th>
            <th>pallet1x</th>
            <th>pallet1y</th>
            <th>pallet2</th>
            <th>pallet2x</th>
            <th>pallet2y</th>
            <th>pallet3</th>
            <th>pallet3x</th>
            <th>pallet3y</th>
        
        
            <th>bottleNumber</th>
            <th>capNumber</th>
            <th>pumpNumber</th>
            <th>sealNumber</th>
        
            <th>bottleTube</th>
            <th>capTube</th>
            <th>pumpTube</th>
            <th>sealTube</th>
        
            <th>extraText1</th>
            <th>extraText2</th>
        
            <th>bottleImage</th>
            <th>capImage</th>
            <th>pumpImage</th>
            <th>laserImage1</th>
            <th>laserImage2</th>
            <th>imgMain1</th>
            <th>imgMain2</th>
            <th>imgMain3</th>
        
            <th>extraImage1</th>
            <th>extraImage2</th>
            <th>sealImage</th>
        
            <th>goddet</th>
            <th>goddetShape</th>
        
        
        
            <th>msdsFileLink</th>
            <th>msdsLastUpdateDate</th>
            <th>msdsLastUpdateUser</th>
            <th>msdsNotifaction</th>
        
            <th>licenceFileLink</th>
            <th>licenceExprationDate</th>
            <th>licenceLastUpdateDate</th>
            <th>licenceLastUpdateUser</th>
            <th>licenceNotifaction</th>
        
            <th>plateFileLink</th>
            <th>plateStatus</th>
            <th>plateLastUpdateDate</th>
            <th>plateLastUpdateUser</th>
            <th>plateNotifaction</th>
        
            <th>labelFileLink</th>
            <th>labelStatus</th>
            <th>labelLastUpdateDate</th>
            <th>labelLastUpdateUser</th>
            <th>labelNotifaction</th>
        
            <th>wordLabelFileLink</th>
            <th>wordLabelChangeText</th>
            <th>wordLabelLastUpdateDate</th>
            <th>wordLabelLastUpdateUser</th>
            <th>wordLabelNotifaction</th>
        
            <th>coaFileLink</th>
            <th>coaLastUpdateDate</th>
            <th>coaLastUpdateUser</th>
            <th>coaNotifaction</th>
        </tr>
      
  </thead>
  <tbody>
      <tr *ngFor="let row of data">
          <td>{{row.itemNumber}}</td>
          <td>{{row.name}}</td>
          <td>{{row.subName}}</td>
          <td>{{row.discriptionK}}</td>
          <td>{{row.proRemarks}}</td>
          <td>{{row.impRemarks}}</td>
          <td>{{row.updateDate}}</td>
          <td>{{row.nameOfupdating}}</td>
          <td>{{row.versionNumber}}</td>
          <td>{{row.stickerTypeK}}</td>
          <td>{{row.boxNumber}}</td>
          <td>{{row.boxTypeK}}</td>
          <td>{{row.barcodeK}}</td>
          <td>{{row.StickerLanguageK}}</td>
          <td>{{row.volumeKey}}</td>
          <td>{{row.netWeightK}}</td>
          <td>{{row.grossUnitWeightK}}</td>
          <td>{{row.licsensNumber}}</td>
          <td>{{row.licsensDate}}</td>
          <td>{{row.country}}</td>
          <td>{{row.netCtnWeightK}}</td>
          <td>{{row.grossCtnWeightK}}</td>
          <td>{{row.PcsCarton}}</td>
          <td>{{row.pumpDirection}}</td>
          <td>{{row.paletteType}}</td>
          <td>{{row.st1layerCarton}}</td>
          <td>{{row.totalCartonPalette}}</td>
          <td>{{row.cbm}}</td>
          <td>{{row.motherP}}</td>
          <td>{{row.itemType}}</td>
        
            <td>{{row.item1w}}</td>
            <td>{{row.item1s}}</td>
            <td>{{row.item2w}}</td>
            <td>{{row.item2s}}</td>
            <td>{{row.item3w}}</td>
            <td>{{row.item3s}}</td>
            <td>{{row.item4w}}</td>
            <td>{{row.item4s}}</td>
            <td>{{row.itemStickerW}}</td>
            <td>{{row.itemStickerS}}</td>
            <td>{{row.itemBoxS}}</td>
            <td>{{row.itemBoxW}}</td>
            <td>{{row.itemCtnW}}</td>
            <td>{{row.itemCtnS}}</td>
        
            <td>{{row.pallet}}</td>
            <td>{{row.pallet1x}}</td>
            <td>{{row.pallet1y}}</td>
            <td>{{row.pallet2}}</td>
            <td>{{row.pallet2x}}</td>
            <td>{{row.pallet2y}}</td>
            <td>{{row.pallet3}}</td>
            <td>{{row.pallet3x}}</td>
            <td>{{row.pallet3y}}</td>
        
        
            <td>{{row.bottleNumber}}</td>
            <td>{{row.capNumber}}</td>
            <td>{{row.pumpNumber}}</td>
            <td>{{row.sealNumber}}</td>
        
            <td>{{row.bottleTube}}</td>
            <td>{{row.capTube}}</td>
            <td>{{row.pumpTube}}</td>
            <td>{{row.sealTube}}</td>
        
            <td>{{row.extraText1}}</td>
            <td>{{row.extraText2}}</td>
        
            <td>{{row.bottleImage}}</td>
            <td>{{row.capImage}}</td>
            <td>{{row.pumpImage}}</td>
            <td>{{row.laserImage1}}</td>
            <td>{{row.laserImage2}}</td>
            <td>{{row.imgMain1}}</td>
            <td>{{row.imgMain2}}</td>
            <td>{{row.imgMain3}}</td>
        
            <td>{{row.extraImage1}}</td>
            <td>{{row.extraImage2}}</td>
            <td>{{row.sealImage}}</td>
        
            <td>{{row.goddet}}</td>
            <td>{{row.goddetShape}}</td>
        
        
        
            <td>{{row.msdsFileLink}}</td>
            <td>{{row.msdsLastUpdateDate}}</td>
            <td>{{row.msdsLastUpdateUser}}</td>
            <td>{{row.msdsNotifaction}}</td>
        
            <td>{{row.licenceFileLink}}</td>
            <td>{{row.licenceExprationDate}}</td>
            <td>{{row.licenceLastUpdateDate}}</td>
            <td>{{row.licenceLastUpdateUser}}</td>
            <td>{{row.licenceNotifaction}}</td>
        
            <td>{{row.plateFileLink}}</td>
            <td>{{row.plateStatus}}</td>
            <td>{{row.plateLastUpdateDate}}</td>
            <td>{{row.plateLastUpdateUser}}</td>
            <td>{{row.plateNotifaction}}</td>
        
            <td>{{row.labelFileLink}}</td>
            <td>{{row.labelStatus}}</td>
            <td>{{row.labelLastUpdateDate}}</td>
            <td>{{row.labelLastUpdateUser}}</td>
            <td>{{row.labelNotifaction}}</td>
        
            <td>{{row.wordLabelFileLink}}</td>
            <td>{{row.wordLabelChangeText}}</td>
            <td>{{row.wordLabelLastUpdateDate}}</td>
            <td>{{row.wordLabelLastUpdateUser}}</td>
            <td>{{row.wordLabelNotifaction}}</td>
        
            <td>{{row.coaFileLink}}</td>
            <td>{{row.coaLastUpdateDate}}</td>
            <td>{{row.coaLastUpdateUser}}</td>
            <td>{{row.coaNotifaction}}</td>
      </tr>
  </tbody>
  
</table> -->