<div class="container-fluid text-center bg-white p-2">

  <div class="row">
    <div class="col-12">
      <h1 style="text-shadow: 2px 2px 4px #000000;" class="text-success p-2">Supplier Index</h1>
    </div>
  </div>

  <div class="row p-2 mt-2">
    <div class="col-1">
      <img src="../../../../assets/images/excel.png" alt="export to excel" style="width: 40px;"
        (click)="exportAsXLSX(suppliers, 'ספקים')">
    </div>
    <div class="col-1"></div>
    <div class="col-8 d-flex flex-row justify-content-around p-2">
      <div class="cool">
        <h4>Filter by:</h4>
      </div>
      <div>
        <input type="text" placeholder="Supplier Name" (keyup)="filterSuppliers('suplierName', $event)" />
      </div>
      <div>
        <input type="text" placeholder="Supplier Number" (keyup)="filterSuppliers('suplierNumber', $event)" />
      </div>
      <div>
        <select class="form-control" (change)="filterSuppliers('country', $event)">
          <option value="" >Country</option>
          <option *ngFor="let country of countries" [value]="country">{{country}}</option>
        </select>
      </div>
      <div>
        <input type="text" placeholder="Item" (keyup)="filterSuppliersByItem($event)" />
      </div>
      <div>
        <button type="text" placeholder="Open Orders" (click)="filterSuppliersByOpenOrders()">open orders</button>
      </div>
    </div>
    <div class="col-2">
      <button class="form-control btn btn-success w-50" (click)="openData('Add Supplier')">New Supplier</button>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-12">
      <table class='table table-hover table-striped'>
        <thead class="bg-success text-center text-white">

          <tr>
            <th>#</th>
            <th>Supplier Number</th>
            <th>Name</th>
            <th>Currency</th>
            <th>Address</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Remarks</th>
          </tr>
        </thead>
        <tbody class="text-center text-dark">
          <tr *ngFor="let supplier of suppliers; let i=index;">
            <td>{{i}}</td>
            <td style="text-decoration: underline;cursor: pointer;" (click)="openData('Update Supplier', i)">
              {{supplier.suplierNumber}}</td>
            <td>{{supplier.suplierName}}</td>
            <td>{{supplier.currency}}</td>
            <td>{{supplier.city}} , {{supplier.address}}</td>
            <td>{{supplier.email}}</td>
            <td>{{supplier.phoneNum}}</td>
            <td>{{supplier.remarks}}</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<div *ngIf="supplierModal == true"
  class="p-5 text-center container mx-auto my-auto rounded shadow-lg fixed-top bg-white border border-success modal-inner">

  <div class="row bg-success">
    <div class="col-1"></div>
    <div class="col-10">
      <h2 class="text-white">כרטיס ספק</h2>
    </div>
    <div class="col-1">
      <i (click)="supplierModal = false" style="font-size: 23px;padding: 8px;" class="fa fa-times text-white"></i>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-1">
    </div>
    <div class="col-10">
      <h3 class="text-success">פרטים כלליים</h3>
    </div>
    <div class="col-1">
    </div>
  </div>



  <div class='row mt-3'>
    <div class='col-2'>
      <label class="form-control text-success">Number</label>
    </div>
    <div class="col-2">
      <label class="form-control text-success">Name</label>
    </div>
    <div class="col-2">
      <label class="form-control text-success">Address</label>
    </div>
    <div class="col-2">
      <label class="form-control text-success">City</label>
    </div>
    <div class="col-2">
      <label class="form-control text-success">Phone Number</label>
    </div>
    <div class="col-2">
      <label class="form-control text-success">Cell Number</label>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-2">
      <input type="text" class="form-control" [disabled]="addEditText == 'Update Supplier'" [(ngModel)]="currentSupplier.suplierNumber">
    </div>
    <div class="col-2">
      <input type="text" class="form-control" [(ngModel)]="currentSupplier.suplierName">
    </div>
    <div class="col-2">
      <input type="text" class="form-control" [(ngModel)]="currentSupplier.address">
    </div>
    <div class="col-2">
      <input type="text" class="form-control" [(ngModel)]="currentSupplier.city">
    </div>
    <div class="col-2">
      <input type="text" class="form-control" [(ngModel)]="currentSupplier.phoneNum">
    </div>
    <div class="col-2">
      <input type="text" class="form-control" [(ngModel)]="currentSupplier.cellularNum">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-2">
      <label class="form-control text-success">Fax Number</label>
    </div>
    <div class="col-2">
      <label class="form-control text-success">Country</label>
    </div>
    <div class="col-2">
      <label class="form-control text-success">Email</label>
    </div>
    <div class="col-2">
      <label class="form-control text-success">Contact</label>
    </div>
    <div class="col-2">
      <label class="form-control text-success">Currency</label>
    </div><div class="col-2">
      <label class="form-control text-success">Import</label>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-2">
      <input type="text" class="form-control" [(ngModel)]="currentSupplier.faxNum">
    </div>
    <div class="col-2">
      <input type="text" class="form-control" [(ngModel)]="currentSupplier.country">
    </div>
    <div class="col-2">
      <input type="text" class="form-control" [(ngModel)]="currentSupplier.email">
    </div>
    <div class="col-2">
      <input type="text" class="form-control" [(ngModel)]="currentSupplier.contactName">
    </div>
    <div class="col-2">
      <input type="text" class="form-control" [(ngModel)]="currentSupplier.currency">
    </div>
    <div class="col-2">
      <select class="form-control" [(ngModel)]="currentSupplier.import">
        <option value=""></option>
        <option value="outOfIsrael">Out Of Israel</option>
        <option value="israel">Israel</option>
      </select>
    </div>
  </div>

<div class="row mt-2">
  <div class="col-1"></div>
  <div class="col-2">
    <label class="form-control">Remarks</label>
  </div>
  <div class="col-8">
    <input type="text" class="form-control" [(ngModel)]="currentSupplier.remarks">
  </div>
  <div class="col-1"></div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <button (click)="updateCurrSupplier()" [disabled]="updatingData" [style.cursor]="updatingData ? 'not-allowed' : 'pointer'" class="btn w-50 btn-success form-control">{{addEditText}}</button>
  </div>
</div>

<div class="row p-2 mt-2 text-center">
  <div class="col-4">
  </div>
  <div class="col-4">
    <h3 style="text-shadow: 2px 2px 4px #000000;" class="text-success ">Items Purchased</h3>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12">
    <table class="table table-hover table-striped">
      <thead class="bg-success text-white">
        <tr>
          <th class="click" (click)="sortBy('supItems', 'number')">מספר פריט</th>
          <th class="click" (click)="sortBy('supItems', 'name')">שם פריט</th>
          <th class="click" (click)="sortBy('supItems', 'price')"><i class="fas fa-arrow-up"></i>מחיר<i class="fas fa-arrow-down"></i></th>
          <th class="click" (click)="sortBy('supItems', 'coin')"><i class="fas fa-arrow-up"></i>מטבע<i class="fas fa-arrow-down"></i></th>
          <th class="click" (click)="sortBy('supItems', 'quantity')"><i class="fas fa-arrow-up"></i>כמות<i class="fas fa-arrow-down"></i></th>
          <th class="click" (click)="sortBy('supItems', 'measurement')"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of supItems">
          <td (click)="showAllPurchases(item.itemNumber)" style="text-decoration: underline;cursor: pointer;">
            {{item.number}}</td>
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
          <td>{{item.coin}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.measurement}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row p-2 mt-2 text-center">
  <div class="col-4">
  </div>
  <div class="col-4">
    <h3 style="text-shadow: 2px 2px 4px #000000;" class="text-success ">Open Purchases</h3>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12">
    <table class="table table-hover table-striped">
      <thead class="bg-success text-white">
        <tr>
          <th class="click" (click)="sortBy('supPurchases', 'orderNumber')"><i class="fas fa-arrow-up"></i>מספר הזמנה<i class="fas fa-arrow-down"></i></th>
          <th class="click" (click)="sortBy('supPurchases', 'creationDate')"><i class="fas fa-arrow-up"></i>נפתחה ב..<i class="fas fa-arrow-down"></i></th>
          <th class="click" (click)="sortBy('supPurchases', 'user')">על ידי</th>
          <th class="click" (click)="sortBy('supPurchases', 'arrivalDate')"><i class="fas fa-arrow-up"></i>תאריך הגעה<i class="fas fa-arrow-down"></i></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of supPurchases">
          <td>{{order.orderNumber}}</td>
          <td>{{order.creationDate | date: 'short'}}</td>
          <td>{{order.user}}</td>
          <td>{{order.arrivalDate | date: 'short'}}</td>
          <td><button (click)="openItems(order.stockitems, order.orderNumber)" class="btn btn-secondary">פריטים</button> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>


<div *ngIf="showPurchaseItems == true" style="top: 200px"
  class="container rounded fixed-top shadow-lg bg-secondary text-white text-center p-3">
  <div class="row">
    <div class="col-1"></div>

    <div class="col-10">
      <h2 class="text-white">Purchase {{purchaseNumber}} Items</h2>
    </div>
    <div class="col-1">
      <i style="cursor: pointer;" (click)="showPurchaseItems = false" class="fa fa-times text-white"></i>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <table class="table table-striped table-hover text-white">
        <thead class="bg-secondary">
          <tr>
            <th>Item</th>
            <th></th>
            <th>Ordered</th>
            <th></th>
            <th>Price</th>
            <th></th>
            <th>Arrived</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of purchaseStockitems">
            <td>{{item.number}}</td>
            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.measurement}}</td>
            <td>{{item.price}}</td>
            <td>{{item.coin}}</td>
            <td>{{item.arrivedAmount}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>