<!--
<ngb-tabset #t="ngbTabset">
  <ngb-tab id="tab-selectbyid1" title="General">
     <ng-template ngbTabContent>
        ngfmjuy hgdeg
      </ng-template>
      </ngb-tab>
    <ngb-tab title="Tube" activeId="Documents" >
          <ng-template ngbTabContent >
            <span (click)="setType()">1131233  </span>12312312312  {{typeShown}}
          </ng-template>
    </ngb-tab>
    <ngb-tab title="Sales" activeId="mkp">
            <ng-template ngbTabContent>
              mamkdakdmasmlplp
            </ng-template>
     </ngb-tab>
</ngb-tabset>
<div style="background-color: lightblue; width: 1084px ; height: 70px" class='headDiv'>
  <h1 style='color:white'>
    <i>Create new products</i>
  </h1>
</div>-->
<table border=0 background='bg112.jpg' style=" background-size: cover">
<tr>
  <td  colspan='2'>
    <div style='background-color: red; color: white; font-size: 30px; font-weight: bold; text-align: center' *ngIf="itemShown.impRemarks!=''">{{itemShown.impRemarks}}</div>
  </td>
</tr>
  <form>
  </form>
  <tr>
    <td colspan='2'>
      <div class="alert" id='impAlert' style='display:none'>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan='2' align='center'>
      <br>
    </td>
  </tr>
  <tr>
    <td>
      <table border=0>
        <tr>
          <td>
            Last Update:
          </td>
          <td>
            <input type=date style="width:158px" class="form-control" [(ngModel)]="itemShown.updateDate" disabled>
          </td>
        </tr>
        <tr>
          <td>
            Name of Updataing:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </td>
          <td>
            <input type="text" [(ngModel)]=itemShown.nameOfupdating  disabled>
          </td>
        </tr>
        <tr>
          <td>
            Version Number:
          </td>
          <td>
            <input type="number " id="id_version" [(ngModel)]=itemShown.versionNumber disabled>
          </td>
        </tr>
      </table>
    </td>
    <td rowspan="2" align=" center">
      <b> Enter Product Title:</b>
      <br>
      <input type="text" [(ngModel)]=itemShown.name id="id_productTitle" style="width:480px">
      <br>
      <br>
      <b> Enter Sub title:</b>
      <br>
      <input type="text" [(ngModel)]=itemShown.subName id="id_subTitle" style="width:480px">
      <br>
      <br>
      <b> Enter discription:</b>
      <br>
      <input type="text" [(ngModel)]=itemShown.discriptionK id="id_discrip" style="width:480px">
      <br>
      <br>

      <div class="imgContainer">
        <div style='display: inline-table'>
            <input type="file" id="id_itemImg1" (change)="selectFile($event, 'main1')"><br>
            <button class="btn" [disabled]="!selectedFiles" (click)="upload('main1')" *ngIf='main1File'>>></button>
            <br>
            <img id="id_img1" [src]=itemShown.imgMain1>
        </div>
        <div style='display: inline-table'>
            <input type="file" id="id_itemImg2" (change)="selectFile($event, 'main2')"><br>
            <button class="btn" [disabled]="!selectedFiles" (click)="upload('main2')" *ngIf='main2File'>>></button>
            <br>
            <img id="id_img2" [src]=itemShown.imgMain2>
        </div>
        <div style='display: inline-table'>
          <input type="file" id="id_itemImg3" (change)="selectFile($event, 'main3')"><br>
          <button class="btn" [disabled]="!selectedFiles" (click)="upload('main3')" *ngIf='main3File'>>></button>
          <br>
          <img id="id_img3" [src]=itemShown.imgMain3>
    
          
        </div>
      </div>
     

      <br>
      <br>


     

      <br>
      <br>


      
      <br>
      <br>
      <b> Enter Remarks:</b>
      <br>

      <textarea rows="3" cols="30" id="id_mainRemarks" [(ngModel)]=itemShown.proRemarks> </textarea>
      <br>
      <br>
      <b> Enter Important note:</b>
      <br>

      <textarea rows="3" cols="30" id="id_impRemarks" [(ngModel)]=itemShown.impRemarks> </textarea>
      <br>
      <table  align=center>
        <tr>
          <td><b>Pallet 1</b></td>
          <td><input type=text [(ngModel)]="itemShown.pallet" style='width:80px' ondblclick='openPalletImg(this.value, this.id)'>
            <input [(ngModel)]="itemShown.pallet1x" disabled style='width:40px'><input [(ngModel)]="itemShown.pallet1y"
              disabled style='width:40px'></td>
        </tr>
        <tr>
          <td><b>Pallet 2</b></td>
          <td><input type=text [(ngModel)]="itemShown.pallet2" style='width:80px' ondblclick='openPalletImg(this.value  ,  this.id)'>
            <input [(ngModel)]="itemShown.pallet2x" disabled style='width:40px'><input [(ngModel)]="itemShown.pallet2y"
              disabled style='width:40px'></td>
        </tr>
        <tr>
          <td><b>Pallet 3</b></td>
          <td><input type=text [(ngModel)]="itemShown.pallet3" style='width:80px' ondblclick='openPalletImg(this.value ,  this.id)'>
            <input [(ngModel)]="itemShown.pallet3x" disabled style='width:40px'><input [(ngModel)]="itemShown.pallet3y"
              disabled style='width:40px'></td>
        </tr>
      </table>

      <br>
      <input #rows style='width:30px' (focusout)="showGoddet()">&nbsp;
      <input #colums style='width:30px' (focusout)="showGoddet()">&nbsp;
      <select class="selectpicker" [(ngModel)]=itemShown.goddetShape>
        <option value=''></option>
        <option value='round'>Round</option>
        <option value='sqaure'>Square</option>
        <option value='rectangle'>Rectangle</option>
      </select>
      <img src='assets/images/goddet2.png' (click)="showGoddet()" style='width:40px; display:none'>
      <!--Button if the focusout is not the option-->
      <div #container>

      </div>
    </td>
  </tr>

  <tr>
    <td>
      <table border=0>
        <tr>
          <td>
            <b>ITEM #</b>
          </td>
          <td colspan="2">
            <input type="text" [(ngModel)]=itemShown.itemNumber #itemNum id="id_item" (keydown)='search($event,itemNum.value )'>
          </td>
          <td>
            <img id="id_img_item" (click)='searchForItem(itemNum.value)' title="search" src='/assets/images/searchA2.png'
              style='width:30px;cursor:pointer; margin-left:5px; margin-top:0px;'>
          </td>
        </tr>
        <tr>
          <td>
            <b>Sticker</b>
          </td>
          <td>
            <input type="text" style='width: 150px' id="id_stickerNumber" [(ngModel)]=itemShown.stickerNumber onfocusout="loadOackagDetails(this.id, 'id_stickerWeight','id_stickerSelect')">
          </td>
          <td>
            <input type="text" style='width: 150px' id="id_stickerType" [(ngModel)]=itemShown.stickerTypeK>
          </td>
        </tr>
        <tr>
          <td>
            <b>Box</b>
          </td>
          <td>
            <input type="text" style='width: 150px' [(ngModel)]=itemShown.boxNumber id="id_boxNumber" onfocusout="loadOackagDetails(this.id, 'id_boxWeight','id_boxSelect')">
          </td>
          <td>
            <input type="text" style='width: 150px' [(ngModel)]=itemShown.boxTypeK id="id_boxType">
          </td>
        </tr>
        <tr>
          <td>
            <b>Barcode</b>
          </td>
          <td colspan="2">
            <input type="text" id="id_barcode" [(ngModel)]=itemShown.barcodeK>
          </td>

        <tr>
          <td>
            <b>Sticker Language</b>
          </td>
          <td colspan="2">
            <input type="text" id="id_stickerLanguge" [(ngModel)]=itemShown.StickerLanguageK>
          </td>
        </tr>
        <tr>
          <td>
            <b>Volume [ml] </b>
          </td>
          <td colspan="2">
            <input type="number" id="id_volume" [(ngModel)]=itemShown.volumeKey>
          </td>
        </tr>
        <tr>
          <td>
            <b>Net Weight [gr] </b>
          </td>
          <td colspan="2">
            <input type="number" id="id_netWeight" [(ngModel)]=itemShown.netWeightK>
          </td>
        </tr>
        <tr>
          <td>
            <b>Gross unit Weight [gr] </b>
          </td>
          <td colspan="2">
            <input type="number" id="id_grossUnitInput" [(ngModel)]=itemShown.grossUnitWeightK>
          </td>
        </tr>
      </table>
      <br>
      <table border=0>
        <tr>
          <td>
            <b>Sticker Wgt/Type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
          </td>
          <td>
            <input type="text" id="id_stickerWeight" style='width:40px; margin-left:0px' value="0.0" [(ngModel)]=itemShown.itemStickerW>

            <select id='id_stickerSelect' [(ngModel)]=itemShown.itemStickerS style='margin-left:10px'>
              PET HDPE LDPE PP PS פלסטיק אחר סה"כ פלסטיק מתכת עץ חומר אחר

              <option value='paperCarton'>נייר/קרטון</option>
              <option value='drinkCarton'>קרטוניות משקה</option>
              <option value='totalCarton'>סה"כ קרטון</option>
              <option value='transperentGlass'>זכוכית שקופה</option>
              <option value='colorGlass'>זכוכית צבעונית</option>
              <option value='totalGlass'>סה"כ זכוכית</option>

              <option value='pet'>PET</option>
              <option value='hdpe'>HDPE</option>
              <option value='ldpe'>LDPE</option>
              <option value='pp' selected>PP</option>
              <option value='ps'>PS</option>
              <option value='otherPlastic'>פלסטיק אחר</option>
              <option value='totalPlastic'>סה"כ פלסטיק</option>
              <option value='metal'>מתכת</option>
              <option value='wood'>עץ</option>
              <option value='otherMaterial'>חומר אחר</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <b>Box Wgt/Type</b>
          </td>
          <td>
            <input type="text" id="id_boxWeight" style='width:40px; margin-left:0px' placeholder=8 [(ngModel)]=itemShown.itemBoxW>
            <select id='id_boxSelect' [(ngModel)]=itemShown.itemBoxS style='margin-left:10px'>
              PET HDPE LDPE PP PS פלסטיק אחר סה"כ פלסטיק מתכת עץ חומר אחר

              <option value='paperCarton'>נייר/קרטון</option>
              <option value='drinkCarton'>קרטוניות משקה</option>
              <option value='totalCarton'>סה"כ קרטון</option>
              <option value='transperentGlass'>זכוכית שקופה</option>
              <option value='colorGlass'>זכוכית צבעונית</option>
              <option value='totalGlass'>סה"כ זכוכית</option>

              <option value='pet'>PET</option>
              <option value='hdpe'>HDPE</option>
              <option value='ldpe'>LDPE</option>
              <option value='pp'>PP</option>
              <option value='ps'>PS</option>
              <option value='otherPlastic'>פלסטיק אחר</option>
              <option value='totalPlastic'>סה"כ פלסטיק</option>
              <option value='metal'>מתכת</option>
              <option value='wood'>עץ</option>
              <option value='otherMaterial'>חומר אחר</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <b>Carton Wgt/Type</b>
          </td>
          <td>
            <input type="text" id="id_cartonWeight" [(ngModel)]=itemShown.itemCtnW style='width:40px; margin-left:0px'>
            <select id='id_cartonSelect' [(ngModel)]=itemShown.itemCtnS style='margin-left:10px'>
              PET HDPE LDPE PP PS פלסטיק אחר סה"כ פלסטיק מתכת עץ חומר אחר

              <option value='paperCarton'>נייר/קרטון</option>
              <option value='drinkCarton'>קרטוניות משקה</option>
              <option value='totalCarton'>סה"כ קרטון</option>
              <option value='transperentGlass'>זכוכית שקופה</option>
              <option value='colorGlass'>זכוכית צבעונית</option>
              <option value='totalGlass'>סה"כ זכוכית</option>

              <option value='pet'>PET</option>
              <option value='hdpe'>HDPE</option>
              <option value='ldpe'>LDPE</option>
              <option value='pp'>PP</option>
              <option value='ps'>PS</option>
              <option value='otherPlastic'>פלסטיק אחר</option>
              <option value='totalPlastic'>סה"כ פלסטיק</option>
              <option value='metal'>מתכת</option>
              <option value='wood'>עץ</option>
              <option value='otherMaterial'>חומר אחר</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>--------------</td>
        </tr>
        <tr>
          <td>
            <b>Net Ctn Weight</b>
          </td>
          <td colspan="2">
            <input type="number" id="id_netCtnInput" style='margin-left:10px' onfocusout='checkNetWgt()' [(ngModel)]=itemShown.netCtnWeightK>
          </td>
        </tr>
        <tr>
          <td>
            <b>Gross Ctn Weight</b>
          </td>
          <td colspan="2">
            <input type="number" id="id_grossCtnInput" style='margin-left:10px' onfocusout='checkGrossWgt()'
              [(ngModel)]=itemShown.grossCtnWeightK>
          </td>
        </tr>
        <tr>
          <td>
            <b>Licsens Number</b>
          </td>
          <td>
            <input type="text" id="id_licsensNumber" style='margin-left:10px' [(ngModel)]=itemShown.licsensNumber>
          </td>
        </tr>
        <tr>
          <td>
            <b>Licsens Exp Date</b>
          </td>
          <td>
            <input type="date" id="id_licsensDate" style="width:158px;margin-left:10px" [(ngModel)]=itemShown.licsensDate>
          </td>
        </tr>
        <tr>
          <td>
            <b>Export Counrty</b>
          </td>
          <td>
            <input type='text' id='id_country' style='margin-left:10px' [(ngModel)]=itemShown.country>
          </td>
        </tr>

      </table>
    </td>
  </tr>

  <tr>
    <td>
      <table border=0>
        <tr>
          <td>
            <b>Carton no'</b>
          </td>
          <td>
            <input type=t ext id="id_cartonNo" (focusout)="loadPackagDetails(itemShown.cartonNumber, 'carton')"
              [(ngModel)]=itemShown.cartonNumber>
          </td>
        </tr>
        <tr>
          <td>
            <b>PCS/carton</b>
          </td>
          <td>
            <input type="text" ext id="id_pcsCarton" [(ngModel)]=itemShown.PcsCarton>
          </td>
        </tr>
        <tr>
          <td>
            <b>Pump direction</b>
          </td>
          <td>
            <select id="id_pumpDirection" style="width:158px" [(ngModel)]=itemShown.pumpDirection>
              <option value="-">-</option>
              <option value="Right">Right</option>
              <option value="Left">Left</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <b>Palette</b>
          </td>
          <td>
            <input type=t ext id="id_Palette" [(ngModel)]=itemShown.paletteType>
          </td>
        </tr>
        <tr>
          <td>
            <b>1st layer carton/palette &nbsp;&nbsp;</b>
          </td>
          <td>
            <input type="number" ext id="id_layerCartonPalette" [(ngModel)]=itemShown.st1layerCarton>
          </td>
        </tr>
        <tr>
          <td>
            <b>Total Cartons/palette</b>
          </td>
          <td>
            <input type="number" ext id="id_totalCarton" [(ngModel)]=itemShown.totalCartonPalette>
          </td>
        </tr>
        <tr>
          <td>
            <b>Cbm</b>
          </td>
          <td>
            <input type="number" ext id="id_cbm" [(ngModel)]=itemShown.cbm>
          </td>
        </tr>
        <tr>
          <td>
            <b>Mother Product</b>
          </td>
          <td>
            <input type=t ext id="id_motherP">
          </td>
        </tr>
        <tr>
          <td>
            <b>Item Type</b>
          </td>
          <td>
            <select id="id_itemType" style="width:158px" [(ngModel)]=itemShown.itemType>
              <option value="-"></option>
              <option value="bodyCare">Body Care</option>
              <option value="faceCare">Face Care</option>
              <option value="hairCare">Hair Care</option>
              <option value="makeUp">Make Up</option>
            </select>
          </td>
        </tr>

   


      </table>



    </td>
  </tr>
  <tr>
    <td colspan="2">
      <table border=1 style='outline-color:blue;'>
        <tr>
          <td>
            <table border="0" width="200px">
              <tr>
                <td align='center'>
                  <input type="file" id="id_itemImg1" (change)="selectFile($event, 'bottle')"><br>
                  <button class="btn" [disabled]="!selectedFiles" (click)="upload('bottle')" *ngIf='bottleFile'>>></button>
                  <br>
                  <img id="id_img1" [src]=itemShown.bottleImage>
                </td>
              </tr>
              <tr>
                <td>
                  <b>Bottle no' </b>
                  <input type="text" id="id_bottleNo" (focusout)="loadPackagDetails(itemShown.bottleNumber, 'bottle')"
                    [(ngModel)]=itemShown.bottleNumber>
                </td>
              </tr>
              <tr>
                <td>
                  <b>Details : </b>
                  <input type="text" id="id_item1text" style='margin-left:10px' [(ngModel)]=itemShown.bottleTube>
                </td>
              </tr>
              <tr>
                <td>
                  <b>Weight (gr)</b>
                  <input type="text" id="id_item1weight" style='width:40px; margin-left:8px' [(ngModel)]=itemShown.item1w>
                  <select id='id_item1select' [(ngModel)]=itemShown.item1s>
                    PET HDPE LDPE PP PS פלסטיק אחר סה"כ פלסטיק מתכת עץ חומר אחר

                    <option value='paperCarton'>נייר/קרטון</option>
                    <option value='drinkCarton'>קרטוניות משקה</option>
                    <option value='totalCarton'>סה"כ קרטון</option>
                    <option value='transperentGlass'>זכוכית שקופה</option>
                    <option value='colorGlass'>זכוכית צבעונית</option>
                    <option value='totalGlass'>סה"כ זכוכית</option>

                    <option value='pet'>PET</option>
                    <option value='hdpe'>HDPE</option>
                    <option value='ldpe'>LDPE</option>
                    <option value='pp'>PP</option>
                    <option value='ps'>PS</option>
                    <option value='otherPlastic'>פלסטיק אחר</option>
                    <option value='totalPlastic'>סה"כ פלסטיק</option>
                    <option value='metal'>מתכת</option>
                    <option value='wood'>עץ</option>
                    <option value='otherMaterial'>חומר אחר</option>
                  </select>
                </td>
              </tr>

            </table>
          </td>
          <td>
            <table border="0" width="200px">
              <tr>
                <td align='center'>
                  <input type="file" id="id_itemImg2" (change)="selectFile($event, 'cap')"><br>
                  <button class="btn" [disabled]="!selectedFiles" (click)="upload('cap')" *ngIf='capFile'>>></button>
                  <br>
                  <img id="id_img2" [src]=itemShown.capImage>
                </td>
              </tr>
              <tr>
                <td>

                  <b>CAP no'</b>
                  <input type="text" id="id_capNo" [(ngModel)]=itemShown.capNumber  (focusout)="loadPackagDetails(itemShown.bottleNumber, 'cap')">
                </td>
              </tr>
              <tr>
                <td>
                  <b>Details :</b>
                  <input type="text" id="id_item2text" [(ngModel)]=itemShown.capTube>
                </td>
              </tr>
              <tr>
                <td>
                  <b>Weight (gr)</b>
                  <input type="text" id="id_item2weight" style='width:40px; margin-left:8px' [(ngModel)]=itemShown.item2w>
                  <select id='id_item2select' [(ngModel)]=itemShown.item2s>
                    PET HDPE LDPE PP PS פלסטיק אחר סה"כ פלסטיק מתכת עץ חומר אחר

                    <option value='paperCarton'>נייר/קרטון</option>
                    <option value='drinkCarton'>קרטוניות משקה</option>
                    <option value='totalCarton'>סה"כ קרטון</option>
                    <option value='transperentGlass'>זכוכית שקופה</option>
                    <option value='colorGlass'>זכוכית צבעונית</option>
                    <option value='totalGlass'>סה"כ זכוכית</option>

                    <option value='pet'>PET</option>
                    <option value='hdpe'>HDPE</option>
                    <option value='ldpe'>LDPE</option>
                    <option value='pp'>PP</option>
                    <option value='ps'>PS</option>
                    <option value='otherPlastic'>פלסטיק אחר</option>
                    <option value='totalPlastic'>סה"כ פלסטיק</option>
                    <option value='metal'>מתכת</option>
                    <option value='wood'>עץ</option>
                    <option value='otherMaterial'>חומר אחר</option>
                  </select>
                </td>
              </tr>
            </table>
          </td>
          <td>
            <table border="0" width="200px">
              <tr>
                <td align='center'>
                  <input type="file" id="id_itemImg1" (change)="selectFile($event, 'pump')"><br>
                  <button class="btn" [disabled]="!selectedFiles" (click)="upload('pump')" *ngIf='pumpFile'>>></button>
                  <br>
                  <img id="id_img3" [src]=itemShown.pumpImage>
                </td>
              </tr>
              <tr>
                <td>
                  <b>PUMP no'</b>
                  <input type="text" id="id_pumpNo" [(ngModel)]=itemShown.pumpNumber   (focusout)="loadPackagDetails(itemShown.bottleNumber, 'pump')">
                </td>
              </tr>
              <tr>
                <td>
                  <b>Details : </b>
                  <input type="text" id="id_item3text" style='margin-left:10px' [(ngModel)]=itemShown.pumpTube>
                </td>
              </tr>
              <tr>
                <td>
                  <b>Weight (gr)</b>
                  <input type="text" id="id_item3weight" style='width:40px; margin-left:8px' [(ngModel)]=itemShown.item3w>
                  <select id='id_item3select' [(ngModel)]=itemShown.item3s>
                    PET HDPE LDPE PP PS פלסטיק אחר סה"כ פלסטיק מתכת עץ חומר אחר

                    <option value='paperCarton'>נייר/קרטון</option>
                    <option value='drinkCarton'>קרטוניות משקה</option>
                    <option value='totalCarton'>סה"כ קרטון</option>
                    <option value='transperentGlass'>זכוכית שקופה</option>
                    <option value='colorGlass'>זכוכית צבעונית</option>
                    <option value='totalGlass'>סה"כ זכוכית</option>

                    <option value='pet'>PET</option>
                    <option value='hdpe'>HDPE</option>
                    <option value='ldpe'>LDPE</option>
                    <option value='pp'>PP</option>
                    <option value='ps'>PS</option>
                    <option value='otherPlastic'>פלסטיק אחר</option>
                    <option value='totalPlastic'>סה"כ פלסטיק</option>
                    <option value='metal'>מתכת</option>
                    <option value='wood'>עץ</option>
                    <option value='otherMaterial'>חומר אחר</option>
                  </select>
                </td>
              </tr>
            </table>
          </td>
          <td class='extraTd' id="extraTdId" *ngIf="(item.extraImage1!='' && item.extraImage1!='undefined') || itemShown.extraText1!='' || (item.extraImage2!='' && item.extraImage2!='undefined') || itemShown.extraText2!=''">
            <table border="0" width="200px">
              <tr>
                <td align='center'>
                  <input type="file" id="id_itemImg1" (change)="selectFile($event, 'extra1')"><br>
                  <button class="btn" [disabled]="!selectedFiles" (click)="upload('extra1')" *ngIf='extra1File'>>></button>
                  <br>
                  <img id="id_img6" [src]=itemShown.extraImage1>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="text" id="id_extraTextOne" [(ngModel)]=itemShown.extraText1>
                </td>
              </tr>
              <tr>
                <td align='center'>
                  <input type="file" id="id_itemImg1" (change)="selectFile($event, 'extra2')"><br>
                  <button class="btn" [disabled]="!selectedFiles" (click)="upload('extra2')" *ngIf='extra2File'>>></button>
                  <br>
                  <img id="id_img7" [src]=itemShown.extraImage2>
                </td>
              </tr>

              <tr>
                <td>
                  <input type="text" id="id_extraTextTow" [(ngModel)]=itemShown.extraText2>
                </td>
              </tr>

            </table>
          </td>
          <td class='sealTd' id="sealTdId" *ngIf="(item.sealImage!='' && item.sealImage!='undefined') || itemShown.sealTube!='' || itemShown.sealNumber!=''">
            <table border="0" width="200px">
              <tr>
                <td align='center'>
                  <input type="file" id="id_itemImg1" (change)="selectFile($event, 'seal')"><br>
                  <button class="btn" [disabled]="!selectedFiles" (click)="upload('seal')" *ngIf='sealFile'>>></button>
                  <br>
                  <img id="id_img8" [src]=item.sealImage>
                </td>
              </tr>
              <tr>
                <td>
                  <b>Seal no'</b>
                  <input type="text" id="id_sealNo" [(ngModel)]=itemShown.sealNumber   (focusout)="loadPackagDetails(itemShown.bottleNumber, 'seal')">
                </td>
              </tr>
              <tr>
                <td>
                  <b>_ Details : </b>
                  <input type="text" id="id_sealText" [(ngModel)]=itemShown.sealTube>
                </td>
              </tr>
              <tr>
                <td>
                  <b>Weight (gr)</b>
                  <input type="text" id="id_item4weight" style='width:40px; margin-left:8px' [(ngModel)]=itemShown.item4w>
                  <select id='id_item4select' [(ngModel)]=itemShown.item4s>
                    PET HDPE LDPE PP PS פלסטיק אחר סה"כ פלסטיק מתכת עץ חומר אחר

                    <option value='paperCarton'>נייר/קרטון</option>
                    <option value='drinkCarton'>קרטוניות משקה</option>
                    <option value='totalCarton'>סה"כ קרטון</option>
                    <option value='transperentGlass'>זכוכית שקופה</option>
                    <option value='colorGlass'>זכוכית צבעונית</option>
                    <option value='totalGlass'>סה"כ זכוכית</option>

                    <option value='pet'>PET</option>
                    <option value='hdpe'>HDPE</option>
                    <option value='ldpe'>LDPE</option>
                    <option value='pp'>PP</option>
                    <option value='ps'>PS</option>
                    <option value='otherPlastic'>פלסטיק אחר</option>
                    <option value='totalPlastic'>סה"כ פלסטיק</option>
                    <option value='metal'>מתכת</option>
                    <option value='wood'>עץ</option>
                    <option value='otherMaterial'>חומר אחר</option>
                  </select>
                </td>
              </tr>
            </table>
          </td>
          <td>
            <table border="0" width="300px">
              <tr>
                <td>
                  <button class='expandBtn' onClick="expandExtraTable()" id='expandBtnId'>E</button>
                  <button class='expandBtn' onClick="expandSealTable()" id='expandSealBtnId'>S</button>
                </td>
              </tr>

              <tr>
                <td align='center'>
                  <input type="file" id="id_itemImg2" (change)="selectFile($event, 'laser1')"><br>
                  <button class="btn" [disabled]="!selectedFiles" (click)="upload('laser1')" *ngIf='laser1File'>>></button>
                  <br>
                  <img id="id_img4" [src]=itemShown.laserImage1>
                </td>
              </tr>
              <tr>
                <td align='center'>
                  <input type="file" id="id_itemImg2" (change)="selectFile($event, 'laser2')"><br>
                  <button class="btn" [disabled]="!selectedFiles" (click)="upload('laser2')" *ngIf='laser2File'>>></button>
                  <br>
                  <img id="id_img5" [src]=itemShown.laserImage2>
                </td>
              </tr>
              <tr>
                <td>
                  <b>LASER</b>
                </td>
              </tr>

            </table>
          </td>
        </tr>
      </table>

    </td>

  </tr>

</table>
  <br>
  <button class="button" (click)="writeItemData()" style=' position: absolute; left:37%' class="btn">submit</button>
  <button type='reset' style=' position: absolute; left:57%' class="btn">Reset</button>