.cellDiv{
	background-color:lightblue;
	border:3px;
    border-style: inset;
    border-color:silver;
    border-radius: 30px;
    color:blue;
    width:55px;
    height: 55px;
	display:inline-flex;
	margin:3px;
    padding-top:14px;
    padding-left: 4px;
}

img{
    max-width: 180px;
}
input, textarea, select {
    padding: 4px 4px;
    margin: 2px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: 0px solid #ccc;
}
input:focus { 
    background-color: wheat;
    border: 1px solid rgb(131, 212, 233);
}

@media (max-width: 768px) {
    body {
        zoom: 0.6 !important;
    }
    }
    .treeTabContainer { 
        background: rgb(249, 239, 212)
    }
.productionLabel { 
    margin:8px;
}

.productionInput {
    margin:4px;
    width: 200px;
    
}

