<table class="table table-fixed">
  <thead class="text-white">
    <tr>
      <th style="width:5%;"></th>
      <th style="width:20%; padding:5px">Production Request Number</th>
      <th style="padding:5px">Formule Number</th>
      <th style="padding:5px">Formule Name</th>
      <th style="padding:5px">Quantity</th>
      <th style="padding:5px">User</th>
      <th style="padding:5px">Date</th>
      <th style="padding:5px">Related Items</th>
      <th style="width:5%;"></th>
    </tr>
  </thead>
  <tbody id="table_body">
    <tr *ngFor="let request of requests; let i = index">
      <td style="width:5%;">{{ i + 1 }}</td>
      <td>{{ request.reqNumber }}</td>
      <td>{{ request.formuleNumber}}</td>
      <td>{{ request.formuleName }}</td>
      <td>{{ request.quantity }}</td>
      <td>{{ request.user }}</td>
      <td>{{ request.dueDate | date: 'dd/MM/yyyy'  }}</td>
      <td>
          <p *ngFor="let item of request.relatedItems;">
            item:
              <a target="_blank"  routerLink="/peerpharm/items/itemDetails/{{item.itemNumber}}">
                {{item.itemNumber}}
              </a>
              order:
              {{item.orderNumber}}
          </p>
      </td>
      <td>
        <button *ngIf="request.status=='new'" class="btn btn-success" (click)="startFormuleForm(request)">Start</button>
        <button *ngIf="request.status=='process'" class="btn btn-success" (click)="continueFormuleForm(request)">Continue</button>
      </td>
    </tr>
  </tbody>
</table>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Related Orders</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="c('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form" [formGroup]="scheduleOrdersForm" (submit)="onSubmit()">
      <table class="table table-fixed">
        -->
        <thead class="text-white">
          <tr>
            <th style="width:5%;"></th>
            <th style="width:10%; padding:5px">Order Number</th>
            <th style="padding:5px">Delivery Date</th>
            <th style="padding:5px">Order Quantity</th>
            <th style="padding:5px">Produce Quantity</th>
            <th style="padding:5px">Produce status</th>
            <th style="width:5%;"></th>
          </tr>
        </thead>
        <tbody id="table_body">
          <tr *ngFor="let order of scheduleItems; let i = index">
            <td style="width:5%;">{{ i + 1 }}</td>
            <td>{{ order.orderNumber }}</td>
            <td>{{ order.orderDeliveryDate }}</td>
            <td>{{ order.orderQuantity }}</td>
            <td>
              <div class="form-group">
                <input
                  class="form-control"
                  type="number"
                  value=""
                  formControlName="producedQuantity"
                />
              </div>
              {{ order.producedQuantity }}
            </td>
            <td>
              <div class="form-group">
                <input
                  class="form-control"
                  type="string"
                  value=""
                  formControlName="produceStatus"
                />
              </div>
              {{ order.produceStatus }}
            </td>
            <td>
              <button class="btn btn-success m-r-10" type="submit">Save</button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
