<table class='table table-fixed'>
  <thead class='text-white'>

    <tr>
      <th style="width:5%;" ></th>
      <th style="padding:5px">Production Request Number</th>
      <th style="padding:5px">Item Number</th>
      <th style="padding:5px">Item Total Quantity</th>
      <th style="padding:5px">Order Number</th>
      <th style="padding:5px">Order Description</th>
      <th style="padding:5px">Order Quantity</th>
      <th style="width:6%; padding:5px">Makat Number</th>
      <th style="width:6%; padding:5px">Item Barkod</th>
    </tr>
  </thead>
  <tbody id="table_body">
    <tr *ngFor="let request of requests; let i=index">
      <td style="width:5%;">{{i+1}}</td>
      <td>{{request.prodRequestNumber}}</td>
      <td>
        <a target="_blank"  routerLink="/peerpharm/items/itemDetails/{{request.itemNumber}}">
          {{request.itemNumber}}
        </a>
      </td>
      <td>{{request.itemTotalQuantity}}</td>
      <td>{{request.orderNumber}}</td>
      <td>{{request.orderDes}}</td>
      <td>{{request.orderQuatity}}</td>
      <td>{{request.makatNumber}}</td>
      <td>{{request.itemBarkod}}</td>
    </tr>
  </tbody>
</table>
