<section class="mainPage" dir="rtl">
  <div class="heading">
    <h1 class="tittle">טופס ייצור</h1>
  </div>
  <div class="containerSixTop">
    <div class="containerThree">
      <div class="inputData">
      <label for="orderNumber">מס' הזמנה</label>
      <input type="number" name="orderNumber" id="orderNumber">
      </div>
      <div class="inputData">
      <label for="productName">שם מוצר</label>
      <input type="text" name="productName" id="productName">
      </div>
      <div class="inputData">
      <label for="customerName">שם לקוח</label>
      <input type="text" name="customerName" id="customerName">
      </div>
    </div>
    <div class="containerThree">
      <div class="inputData">
        <label for="orderQty">כמות מוזמנת</label>
        <input type="number" name="orderQty" id="orderQty">
      </div>
      <div class="inputData">
        <label for="itemNumber">מק"ט</label>
        <input type="number" name="itemNumber" id="itemNumber">
      </div>
      <div class="inputData">
        <label for="batchNumber">מס' אצווה</label>
        <input type="text" name="batchNumber" id="batchNumber">
      </div>
    </div>
  </div>
  <div class="containerSix2">
    <div class="containerThree">
      <div class="inputData"></div>
      <div class="inputData pend">
        <label for="endProductionDate">תאריך סיום ייצור</label>
        <input
          type="date"
          name="endProductionDate"
          id="endProductionDate"
          class="form-control"
        />
      </div>
      <div class="inputData">
        <label for="produceQty">כמות שיוצרה</label>
        <input
          type="number"
          name="produceQty"
          id="produceQty"
          class="form-control"
        />
      </div>
    </div>
    <div class="containerThree">
      <div class="inputData">
        <label for="startProductionTime">שעת התחלת ייצור</label>
        <input
          type="time"
          name="startProductionTime"
          id="startProductionTime"
          class="form-control"
        />
      </div>
      <div class="inputData">
        <label for="endProductionTime">שעת סיום ייצור</label>
        <input
          type="time"
          name="endProductionTime"
          id="endProductionTime"
          class="form-control"
        />
      </div>
      <div class="inputData">
        <label for="productionPerson">ייצור ע"י</label>
        <input
          type="text"
          name="productionPerson"
          id="productionPerson"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="containerTwo">
    <div class="inputData">
      <label for="deviationRange">טווח סטייה</label>
      <input
        type="number"
        name="deviationRange"
        id="deviationRange"
        class="form-control"
      />
    </div>
    <div class="inputData">
      <label for="netoWeight">משקל נטו</label>
      <input type="number" name="netoWeight" id="netoWeight">
    </div>
  </div>
  <h5 class="testingTittle">בדיקות לפני ייצור</h5>
  <div class="checkBefor">
    <div class="containerThree">
      <div class="inputData">
        <label for="sensoryTesting"
          >בדיקה סנסורית של המוצר (מול ריטה או דוגמאות)</label
        >
        <input
          type="checkbox"
          name="sensoryTesting"
          id="sensoryTesting"
          class="form-control"
        />
      </div>
      <div class="inputData">
        <label for="productIdentification"
          >זיהוי מוצר (גודט עגול או מרובע \ קומפוננט אם זה אבקה)</label
        >
        <input
          type="checkbox"
          name="productIdentification"
          id="productIdentification"
          class="form-control"
        />
      </div>
      <div class="inputData">
        <label for="productLicense">רישיון למוצר</label>
        <input
          type="checkbox"
          name="productLicense"
          id="productLicense"
          class="form-control"
        />
      </div>
    </div>
    <div class="containerThree">
      <div class="inputData">
        <label for="containers">זיהוי וניקוי מיכלים </label>
        <input
          type="checkbox"
          name="containers"
          id="containers"
          class="form-control"
        />
      </div>
      <div class="inputData">
        <label for="machine">אישור וכיוון ניקיון מכונה</label>
        <input
          type="checkbox"
          name="machine"
          id="machine"
          class="form-control"
        />
      </div>
      <div class="inputData">
        <label for="customerApproval">אישור לקוח</label>
        <input
          type="checkbox"
          name="customerApproval"
          id="customerApproval"
          class="form-control"
        />
      </div>
    </div>
    <div class="inputData">
      <label for="managerSignature">חתימת מנהל מאשר</label>
      <input
        type="text"
        name="managerSignature"
        id="managerSignature"
        class="form-control"
      />
    </div>
  </div> -->
  <div class="row mt-4">
    <h3 class="testingTittle" style="margin-top: 3rem">בקרה במהלך ייצור</h3>
  </div>
  <h5 class="testingTittle" style="margin-top: 3rem;">בקרה במהלך ייצור</h5>
  <table>
    <thead>
      <tr>
        <th>
          שעת בדיקה
        </th>
        <th>
           תקינות דחיסה
        </th>
        <th>
             ניקיון מיכלים
        </th>
        <th>
              אישור ניקין מכונה לאחר ייצור
        </th>
        <th>
           משקל נטו
        </th>
        <th>
            כמות שיוצרה
        </th>
        <th>
             קיימות שאריות באטצ'
        </th>
        <th>
               באטצ' נוצל במלואו
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="time" name="testingTime" id="testingTime">
        </td>
        <td>
          <input type="checkbox" name="testingCompression" id="testingCompression">
        </td>
        <td>
          <input type="checkbox" name="testingContainerClean" id="testingContainerClean">
        </td>
        <td>
          <input type="text" name="testingMachineClean" id="testingMachineClean">
        </td>
        <td>
          <input type="number" name="testingNetoWeigth" id="testingNetoWeigth">
        </td>
        <td>
          <input type="number" name="testingProduceQty" id="testingProduceQty">
        </td>
        <td>
          <input type="checkbox" name="testingBatchLeft" id="testingBatchLeft">
        </td>
        <td>
          <input type="checkbox" name="fullBatch" id="fullBatch">
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <div class="containerSix">
    <div class="containerThree">
      <div class="inputData">
        <label for="testingTime">שעת בדיקה</label>
        <input
          type="time"
          name="testingTime"
          id="testingTime"
          class="form-control"
        />
      </div>
      <div class="inputData">
        <label for="testingProduceQty">כמות שיוצרה</label>
        <input
          type="number"
          name="testingProduceQty"
          id="testingProduceQty"
          class="form-control"
        />
      </div>
      <div class="inputData">
        <label for="fullBatch">באטצ' נוצל במלואו</label>
        <input
          type="checkbox"
          name="fullBatch"
          id="fullBatch"
          class="form-control"
        />
      </div>
    </div>
    <div class="containerThree">
      <div class="inputData">
        <label for="testingNetoWeigth">משקל נטו</label>
        <input
          type="number"
          name="testingNetoWeigth"
          id="testingNetoWeigth"
          class="form-control"
        />
      </div>
      <div class="inputData">
        <label for="testingMachineClean">אישור ניקיון מכונה לאחר ייצור</label>
        <input
          type="text"
          name="testingMachineClean"
          id="testingMachineClean"
          class="form-control"
        />
      </div>
    </div>
    <div class="containerThree">
      <div class="inputData">
        <label for="testingCompression">תקינות דחיסה</label>
        <input
          type="checkbox"
          name="testingCompression"
          id="testingCompression"
          class="form-control"
        />
      </div>
      <div class="inputData">
        <label for="testingBatchLeft">קיימות שאריות באטצ'</label>
        <input
          type="checkbox"
          name="testingBatchLeft"
          id="testingBatchLeft"
          class="form-control"
        />
      </div>
      <div class="inputData">
        <label for="testingContainerClean">ניקיון מכלים</label>
        <input
          type="checkbox"
          name="testingContainerClean"
          id="testingContainerClean"
          class="form-control"
        />
      </div>
    </div>
  </div> -->
  <div class="containerSixR">
    <div class="containerThreeR">
      <div class="inputData">
        <label for="continueTab">ממשיך תהליך</label>
        <input
          type="checkbox"
          name="continueTab"
          id="continueTab"
          class="form-control"
        />
      </div>
      <div class="inputData">
        <label for="delivery">יוצא למשלוח</label>
        <input type="checkbox" name="delivery" id="delivery" />
      </div>
      <div class="inputData">
        <label for="signature">חתימת מנהל מאשר</label>
        <input type="text" name="signature" id="signature" />
      </div>
    </div>
  </div>
  <div class="remarksContainer">
    <div class="inputData">
      <p><b>הערות</b></p>
      <textarea name="remarks" id="remarks" rows="10" cols="100"></textarea>
    </div>
  </div>
</section>
