<link
  rel="stylesheet"
  type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.21/angular-material.min.css"
/>

<div class="container">
  <h4 class="mb-0 text-white">הזמנת רכש חדשה</h4>

  <form action="#">
    <div class="form-body">
      <div class="row">
        <div class="col-som-6">
          מס' הזמנה :
          <input
            type="number"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="newProcurement.orderNumber"
            class="form-control"
          />
          תאריך :
          <input
            type="date"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="newProcurement.date"
            class="form-control"
          />
        </div>
        <div class="col-md-6">
          <div class="form-group has-success">
            <label class="control-label">ספק</label>
            <mat-form-field>
              <input
                type="text"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto"
              />
            </mat-form-field>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let supplier of filteredValues"
                [value]="supplier.suplierName"
              >
                <option value="{{ supplier.suplierName }}">{{
                  supplier.suplierName
                }}</option>
              </mat-option>
            </mat-autocomplete>

            <!-- <select [ngModelOptions]="{standalone: true}" [(ngModel)]="newProcurement.supplierName"  (change)="findSupplierByNumber($event)" class="form-control custom-select"> -->

            <!-- </select> -->
          </div>
        </div>

        <div class="col-md-6 ">
          <div class="form-group">
            <label>מספר ספק</label>
            <input
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="newProcurement.supplierNumber"
              type="number"
              class="form-control"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">תאריך פרעון</label>
            <input
              type="date"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="newProcurement.outDate"
              class="form-control"
            />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">תאריך מבוקש</label>
            <input
              type="date"
              [ngModelOptions]="{ standalone: true }"
              [(ngModel)]="newProcurement.validDate"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <i
      title="New order"
      style="width: 40px;margin-left:20px;"
      (click)="neworder(content)"
      class="far fa-sticky-note"
    ></i>
    </div>
  </form>
  <div class="row">
    <table class="table table-striped">
      <tr   *ngFor="let item of allItems" >
        <td>{{item.compnentN}}</td>
        <td>{{item.componentName}}</td> 
        <td>{{item.amount}}</td>
        <td>{{item.price}}</td>
        <td>{{item.sum}}</td>
        <td>{{item.comment}}</td>
      </tr>
    </table>
  </div>
</div>