.card-title { 
    text-align: center;
    margin-left: auto;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}
.card-body{
    padding:0.25rem !important;
}
input[type=date] , select { 
    box-shadow: 1px 1px 2px black;
}

input[type=number] { 
    box-shadow: 1px 1px 2px black;
}

input[type=text] { 
    box-shadow: 1px 1px 2px black;
}

.card {
    box-shadow: 3px 3px 3px black;
}

.table thead th {
vertical-align: text-bottom !important;
}
.table th { 
    padding:0px !important
}

div {
    background: rgb(216, 195, 198);
}

.smallerLoader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  .ergent {
    margin-left: 247px; 
    font-family: 'Font Awesome 5 Brands';
  }