<div dir="rtl">
  <mat-button-toggle-group [(ngModel)]="resultView" (change)="viewChange()">
    <mat-button-toggle value="">{{
      "search.ALL-RESULTS" | translate
    }}</mat-button-toggle>
    <mat-button-toggle value="items">{{
      "search.ITEMS" | translate
    }}</mat-button-toggle>
    <mat-button-toggle value="order-items">{{
      "search.ORDER-ITEMS" | translate
    }}</mat-button-toggle>
    <mat-button-toggle value="customers">{{
      "search.CUSTOMERS" | translate
    }}</mat-button-toggle>
    <mat-button-toggle value="customer-orders">{{
      "search.CUSTOMER-ORDERS" | translate
    }}</mat-button-toggle>
    <mat-button-toggle value="orders">{{
      "search.ORDERS" | translate
    }}</mat-button-toggle>
    <mat-button-toggle value="purchase-orders">{{
      "search.PURCHASE-ORDERS" | translate
    }}</mat-button-toggle>
  </mat-button-toggle-group>

  <div *ngIf="!loading;">
    <div *ngIf="!resultView || resultView === 'items'" class="mt-5">
      <h2 class="mb-3">{{ "search.ITEMS" | translate }}</h2>
      <ag-grid-angular
        id="item-result"
        [style]="
          'width: 100%;' + (resultView ? 'height: calc(100vh - 320px)' : 'height: 250px')
        "
        class="ag-theme-alpine"
        [columnDefs]="itemSearchColumns"
        [rowData]="items"
        [enableRtl]="true"
        [defaultColDef]="defaultColDef"
        (rowClicked)="rowClicked($event, 'item')"
        (sortChanged)="onSortChanged($event)"
      ></ag-grid-angular>
      <div *ngIf="!resultView" class="d-flex justify-content-end">
        <button (click)="setView('items')" class="btn see-more">
          {{ "general.SEE-MORE" | translate }}
        </button>
      </div>
    </div>

    <div *ngIf="!resultView || resultView === 'order-items'" class="mt-5">
      <h2 class="mb-3">{{ "search.ORDER-ITEMS" | translate }}</h2>
      <ag-grid-angular
        id="order-items"
        [style]="
          'width: 100%;' + (resultView ? 'height: calc(100vh - 320px)' : 'height: 250px')
        "
        class="ag-theme-alpine"
        [columnDefs]="orderItemColumns"
        [rowData]="orderItems"
        [enableRtl]="true"
      ></ag-grid-angular>
      <div *ngIf="!resultView" class="d-flex justify-content-end">
        <button (click)="setView('order-items')" class="btn see-more">
          {{ "general.SEE-MORE" | translate }}
        </button>
      </div>
    </div>

    <div *ngIf="!resultView || resultView === 'customers'" class="mt-5">
      <h2 class="mb-3">{{ "search.CUSTOMERS" | translate }}</h2>
      <ag-grid-angular
        id="customers"
        [style]="
          'width: 100%;' + (resultView ? 'height: calc(100vh - 320px)' : 'height: 250px')
        "
        class="ag-theme-alpine"
        [columnDefs]="customerSearchColumns"
        [rowData]="customers"
        [enableRtl]="true"
      ></ag-grid-angular>
      <div *ngIf="!resultView" class="d-flex justify-content-end">
        <button (click)="setView('customer')" class="btn see-more">
          {{ "general.SEE-MORE" | translate }}
        </button>
      </div>
    </div>

    <div *ngIf="!resultView || resultView === 'customer-orders'" class="mt-5">
      <h2 class="mb-3">{{ "search.CUSTOMER-ORDERS" | translate }}</h2>
      <ag-grid-angular
        id="customer-orders"
        [style]="
          'width: 100%;' + (resultView ? 'height: calc(100vh - 320px)' : 'height: 250px')
        "
        class="ag-theme-alpine"
        [columnDefs]="orderSearchColumns"
        [rowData]="customerOrders"
        [enableRtl]="true"
      ></ag-grid-angular>
      <div *ngIf="!resultView" class="d-flex justify-content-end">
        <button
          (click)="setView('customer-orders')"
          class="btn border-0 bg-transparent see-more"
        >
          {{ "general.SEE-MORE" | translate }}
        </button>
      </div>
    </div>

    <div *ngIf="!resultView || resultView === 'orders'" class="mt-5">
      <h2 class="mb-3">{{ "search.ORDERS" | translate }}</h2>
      <ag-grid-angular
        id="orders"
        [style]="
          'width: 100%;' + (resultView ? 'height: calc(100vh - 320px)' : 'height: 250px')
        "
        class="ag-theme-alpine"
        [columnDefs]="orderSearchColumns"
        [rowData]="orders"
        [enableRtl]="true"
        (rowClicked)="rowClicked($event, 'order')"
      ></ag-grid-angular>
      <div *ngIf="!resultView" class="d-flex justify-content-end">
        <button (click)="setView('orders')" class="btn see-more">
          {{ "general.SEE-MORE" | translate }}
        </button>
      </div>
    </div>

    <div *ngIf="!resultView || resultView === 'purchase-orders'" class="mt-5">
      <h2 class="mb-3">{{ "search.PURCHASE-ORDERS" | translate }}</h2>
      <ag-grid-angular
        id="purchase-orders"
        [style]="
          'width: 100%;' + (resultView ? 'height: calc(100vh - 320px)' : 'height: 250px')
        "
        class="ag-theme-alpine"
        [columnDefs]="orderSearchColumns"
        [columnDefs]="purchaseOrderSearchColumns"
        [rowData]="resultView ? purchaseOrders : purchaseOrders.slice(0, 4)"
        [enableRtl]="true"
      ></ag-grid-angular>
      <div *ngIf="!resultView" class="d-flex justify-content-end">
        <button (click)="setView('puchase-orders')" class="btn see-more">
          {{ "general.SEE-MORE" | translate }}
        </button>
      </div>
    </div>
  </div>

  <ng-template #spinner>
    <div class="d-flex justify-content-center">
      <div class="p-5"><mat-spinner></mat-spinner></div>
    </div>
  </ng-template>
</div>
