<div class="wrapper">
    <div class="box click" (click)="openService(service)" *ngFor="let service of services">
        <div class="service-line">
            <h3>Service Order {{service.serviceOrder}}</h3>
        </div>
        <div class="service-line">
            <h4>Supplier:</h4>
            {{service.suplierName}}
        </div>
        <div class="service-line">
            <h4>Opened At:</h4>
            {{service.openedAt | date:'dd-MM-yy'}}
        </div>
        <div class="service-line">
            <h4>Service Type:</h4>
            {{service.type}}
        </div>
        <div class="service-line">
            <h4>Date:</h4>
            {{service.date}}
        </div>
        <div class="service-line">
            <h4>Opened by:</h4>
            {{service.userName}}
        </div>
    </div>
</div>


<div *ngIf="orderDetailsModal" class="container fixed-top bg-white mx-auto my-auto text-center w-100 p-5 modal-inner">
    <i class="fa fa-times float-right click h2 block" (click)="closeService()"></i>
    <h1>Service {{service.serviceOrder}}</h1>
    <h2>{{service.type}}</h2>
    <app-edit-out-service [service]="service"></app-edit-out-service>
</div>
