


<br>
<!-- <div class='mainDiv'>
    <div class='subContainer'>
      <div class='subHeader'>Ordered Last 7-Days</div>
      <div class='subMain'> 17 </div>
      <div class='subHeader'><br></div>
    </div>

    
    <div class='subContainer'>
        <div class='subHeader'>Orders Closed Last Month</div>
        <div class='subMain'> 12 </div>
        <div class='subHeader'><br></div>
    </div>


    <div class='subContainer'>
          <div class='subHeader'>Panding Orders</div>
          <div class='subMain'> 5  </div>
          <div class='subHeader'><br></div>
    </div>
    <button (click)="loadOrders()"  class='btn btn-info waves-effect waves-light' style='height:45px'> Load </button> &nbsp;&nbsp;&nbsp;
    <button (click)="loadOrdersItems()"  class='btn btn-info waves-effect waves-light' style='height:45px'> Show Items </button>
</div> -->
<br><br>
<div>
  <input matInput placeholder="Search Order By Number" (keyup)="changeText($event)"
    style=" box-shadow: 2px 2px 2px black; line-height: 40px; margin-bottom: 5px; width: 300px; font-size: 18px;" />
  <button (click)="loadCheckedOrders()"  class='btn btn-info waves-effect waves-light ml-2' style='height:40px; box-shadow: 2px 2px 2px black;'> Load </button>   
    <button (click)="loadOrdersItems()"  class='btn btn-info waves-effect waves-light ml-2' style='height:40px; box-shadow: 2px 2px 2px black;'> Show Items </button>

</div>

<table class='table table-fixed'>
  <thead class='tableHeader text-white'  (click)="edit(' ')">
    <tr style="box-shadow: inset 0px 0px 1px 0px black;">
      <th style="width:5%;"></th>
      <th style="width:5%;">
        <input type="checkbox" [(ngModel)]="selectAllOrders" (change)="checkboxAllOrders($event)">
      </th>
      <th style="padding:5px">Order Number
        <i class="ti-exchange-vertical" (click)="sortOrdersByOrderNumber()" style="cursor:pointer" ></i>
      </th>
      <th style="width:20%; padding:5px">Costumer</th>
      <th style="padding:5px">Order date</th>
      <th style="padding:5px">Delivery Date</th>
      <th style="width:15%; padding:5px">Reamrks</th>
      <th style="padding:5px">Type</th>
      <th ></th>
      <th style="width:5%;"></th>

    </tr>
  </thead>
  <tbody class='table-hover'>
    <tr style="box-shadow: inset 1px -1px 2px 0px black; margin-top: 1px;" *ngFor="let order of orders; let i = index" [style.background-color]="order.color" >
      <td style="width:5%;">{{i+1}}</td>
      <td (click)="edit('')" style="width:5%;">
        <input type="checkbox" [(ngModel)]="order.isSelected"> </td>
      <td (click)="edit('')">
        <a target="_blank"  routerLink='/peerpharm/allorders/orderitems/{{order.orderNumber}}'>
          <!-- <a routerLink="/orderitems/{{order._id}}">-->
          <!--<a  [routerLink]=['orderitems/{{order._id}}']>-->
          {{order.orderNumber}}

        </a>
      </td>
      <td style="width:20%;" *ngIf="order._id===EditRowId">
        <input #costumer type='text' [value]="order.costumer" style='width:170px'>
        <input [value]='order._id' #id type='hidden'>
        <input [value]='order.orderNumber' #orderNumber type='hidden'>
      </td>
      <td style="width:20%;" *ngIf="order._id!==EditRowId" (click)="edit(order._id)">{{order.costumer}}</td>
      <td *ngIf="order._id===EditRowId">
        <input #orderDate type='text' [value]="order.orderDate" style='width:170px'>
      </td>
      <td *ngIf="order._id!==EditRowId" (click)="edit(order._id)">{{order.orderDate}}</td>
      <td *ngIf="order._id===EditRowId">
        <input #deliveryDate type='text' [value]="order.deliveryDate" style='width:170px'>
      </td>
      <td *ngIf="order._id!==EditRowId" (click)="edit(order._id)">{{order.deliveryDate}}</td>
      <td style="width:15%;" *ngIf="order._id===EditRowId">
        <input #orderRemarks type='text' [value]="order.orderRemarks" style='width:170px'>
      </td>
      <td style="width: 15%; height: 100%; overflow-wrap: normal; overflow-y: auto;"  
      *ngIf="order._id!==EditRowId" (click)="edit(order._id)">{{order.orderRemarks}}</td>
      <td>{{order.type}}</td>
      <td >
        <!--<img *ngIf="order._id!==EditRowId" src='/assets/images/deleteBtn.png' style='width:40px' (click)="deleteOrder(order)">
        <img *ngIf="order._id!==EditRowId" src='/assets/images/aprroved.png' style='width:32px' (click)="saveEdit(true, order._id)">
        <img *ngIf="order._id===EditRowId" src='/assets/images/update2.png' style='width:30px; cursor: pointer' (click)="saveEdit()">-->
        <i class="ti-trash text-danger m-r-10" *ngIf="order._id!==EditRowId"  (click)="deleteOrder(order)"></i>&nbsp;
        <i class="ti-check text-success m-r-10" *ngIf="order._id!==EditRowId"  (click)="saveEdit(true, order._id)"></i>
        <i class="ti-save text-success m-r-10" *ngIf="order._id===EditRowId"  (click)="saveEdit(false, order._id)"></i>
      </td>
      
      <td style="width:5%;"></td>

    </tr>
  </tbody>
</table>
<ul class="cert-result">
</ul>