<div class="container-fluid text-center bg-white">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <h1 style="text-shadow: 2px 2px 4px #000000" class="text-info">
        Last Orders ({{ this.limit }})
      </h1>
    </div>
    <div class="col-4"></div>
  </div>
  <row class="mt-2">
    <form class="form-inline">
      <div class="col-1 px-1">
        <label for="">Filter by Status</label>
        <select
          class="form-control form-control-1"
          (change)="filterByStatus($event.target.value)"
          #filterStatus
        >
          <option value="" selected>סטטוס</option>
          <option value="all">All</option>
          <option value="open">Open</option>
          <option value="close">Close</option>
        </select>

        <!-- <button class="btn btn-outline-primary" (click)="clearFilter()">
          All
        </button> -->
      </div>
      <div class="col-3 px-2">
        <label for="">Filter By order/customer</label>
        <input
          class="form-control form-control-2"
          type="text"
          placeholder="Order Number/Customer Name"
          #orderFilter
          (keyup)="filterByOrder()"
        />
        <!-- <button class="btn btn-outline-danger" (clear)="clearFilter()">
        Clear
      </button> -->
      </div>

      <div class="col-3 px-1">
        <label for="">Find By Order</label>
        <input
          class="form-control"
          type="text"
          placeholder="Order Number"
          aria-label="Order Number"
          #orderNum
        />
        <button
          class="btn btn-outline-primary"
          type="button"
          (click)="findByOrder()"
        >
          Search
        </button>
      </div>
      <div class="col-3 px-2">
        <label for="">Find By Item</label>
        <input
          class="form-control form-control-2"
          type="text"
          placeholder="Item"
          #itemFilter
        />
        <button class="btn btn-outline-primary" (click)="filterByItem()">
          Search
        </button>
      </div>
      <div class="col-2">
        <label for="">Clear</label>
        <button class="btn btn-outline-danger" (click)="clearFilter()">
          Clear All
        </button>
      </div>
    </form>
  </row>
  <div class="row mt-4">
    <div class="col-2">
      <!-- <input
        class="form-control"
        matInput
        placeholder="Search Order By Number"
        (keyup)="changeText($event)"
      /> -->
    </div>
    <div class="col-3">
      <button (click)="loadCheckedOrders()" class="btn btn-info form-control">
        Load Selected Orders
      </button>
    </div>
    <div class="col-3">
      <button (click)="loadOrdersItems()" class="btn btn-info form-control">
        Show All Open Order Items
      </button>
    </div>
    <div class="col-8"></div>
  </div>

  <div class="row mt-4">
    <table class="table table-hover" style="table-layout: auto">
      <thead class="bg-info text-white" (click)="edit(' ')">
        <tr
          [class.read-only]="checkPermission()"
          style="box-shadow: inset 0px 0px 4px 1px black"
        >
          <th style="width: 5%"></th>
          <th style="width: 5%">
            <input
              type="checkbox"
              [(ngModel)]="selectAllOrders"
              (change)="checkboxAllOrders($event)"
            />
          </th>
          <th style="padding: 5px">
            Order Number
            <i
              class="ti-exchange-vertical"
              (click)="sortOrdersByOrderNumber()"
              style="cursor: pointer"
            ></i>
          </th>
          <th style="width: 20%; padding: 5px; text-align: left">Customer</th>
          <th style="padding: 5px">Order date</th>
          <th style="padding: 5px">Delivery Date</th>
          <th style="width: 15%; padding: 5px">Remarks</th>
          <th style="padding: 5px">Type</th>
          <th style="padding: 5px">Status</th>
          <th></th>
          <th style="width: 5%"></th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <tr
          [class.read-only]="checkPermission()"
          style="box-shadow: inset 1px -1px 2px 0px black; margin-top: 1px"
          *ngFor="let order of orders; let i = index"
          [style.background-color]="order.color"
        >
          <td style="width: 5%">{{ i + 1 }}</td>
          <td (click)="edit('')" style="width: 5%">
            <input type="checkbox" [(ngModel)]="order.isSelected" />
          </td>
          <td (click)="edit('')">
            <a
              target="_blank"
              routerLink="/peerpharm/allorders/orderitems/{{
                order.orderNumber
              }}"
            >
              <!-- <a routerLink="/orderitems/{{order._id}}">-->
              <!--<a  [routerLink]=['orderitems/{{order._id}}']>-->
              {{ order.orderNumber }}
            </a>
          </td>
          <td style="width: 20%" *ngIf="order._id === EditRowId">
            <input
              #costumer
              type="text"
              [value]="order.costumer"
              style="width: 170px"
            />
            <input [value]="order._id" #id type="hidden" />
            <input [value]="order.orderNumber" #orderNumber type="hidden" />
          </td>
          <td
            style="width: 20%"
            *ngIf="order._id !== EditRowId"
            (click)="edit(order._id)"
          >
            {{ order.costumer }}
          </td>
          <td *ngIf="order._id === EditRowId">
            <input
              #orderDate
              type="date"
              [value]="order.orderDateConverted"
              style="width: 170px"
            />
          </td>
          <td *ngIf="order._id !== EditRowId" (click)="edit(order._id)">
            <div>
              Old: {{ order.orderDate | date: "dd/MM/yyyy" }}
            </div>
            <div>
              New: {{ order.orderDateConverted | date: "dd/MM/yyyy" }}
            </div>
          </td>
          <td *ngIf="order._id === EditRowId">
            <input
              #deliveryDate
              type="date"
              [value]="order.deliveryDateConverted"
              style="width: 170px"
            />
          </td>
          <td *ngIf="order._id !== EditRowId" (click)="edit(order._id)">
            <div>
              Old: {{ order.deliveryDate | date: "dd/MM/yyyy" }}
            </div>
            <div>
              New: {{ order.deliveryDateConverted | date: "dd/MM/yyyy" }}
            </div>
          </td>
          <td style="width: 15%" *ngIf="order._id === EditRowId">
            <input
              #orderRemarks
              type="text"
              [value]="order.orderRemarks"
              style="width: 170px"
            />
          </td>
          <td
            style="
              width: 15%;
              height: 100%;
              overflow-wrap: normal;
              overflow-y: auto;
            "
            *ngIf="order._id !== EditRowId"
            (click)="edit(order._id)"
          >
            {{ order.orderRemarks }}
          </td>
          <td>{{ order.type }}</td>
          <td>{{ order.status }}</td>
          <td>
            <!--<img *ngIf="order._id!==EditRowId" src='/assets/images/deleteBtn.png' style='width:40px' (click)="deleteOrder(order)">
            <img *ngIf="order._id!==EditRowId" src='/assets/images/aprroved.png' style='width:32px' (click)="saveEdit(true, order._id)">
            <img *ngIf="order._id===EditRowId" src='/assets/images/update2.png' style='width:30px; cursor: pointer' (click)="saveEdit()">-->
            <!-- <i class="ti-trash text-danger m-r-10" *ngIf="order._id!==EditRowId"  (click)="deleteOrder(order)"></i>&nbsp; -->
            <i
              class="ti-check text-success m-r-10"
              *ngIf="order._id !== EditRowId"
              (click)="saveEdit(true, order._id)"
            ></i>
            <i
              class="ti-save text-success m-r-10"
              *ngIf="order._id === EditRowId"
              (click)="saveEdit(false, order._id)"
            ></i>
          </td>

          <td style="width: 5%"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div></div>
