
.styled-table {
    border-collapse: collapse;
    margin: 1.5625rem 0;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 25rem;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.15);
    width: 80%;

}

.styled-table thead tr {
    background-color: #f1be30;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 0.75rem 0.9375rem;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #f1be30;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #f1be30;
}
td{
    background-color:#f3f3f3;
    color: black;
}
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.searchBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.searchBox-item{
    margin-left: 1rem;
}

.smallerLoader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
.searchBox input{
    width: 100%;
}
.searchBox p{
    font-size: 1.3rem;
}
.parent{
    font-size: 1.3em;
}