<section *ngIf="isLogin">
  <table class="styled-table">
    <thead>
      <tr>
        <th>Line</th>
        <th>batch</th>
        <th>Open Lot</th>
        <th>Close Lot</th>
        <th>Total Work Time</th>
        <th>Order Quantity</th>
        <th>Produced Quantity</th>
        <th>Percentage Quantity From Order</th>
        <th>Single Unit Filling Time In Seconds</th>
        <th>Remarks</th>
        <th>Logs</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of table">
        <td>
          {{row.line}}
        </td>
        <td>
         {{row.batch}}
        </td>
        <td>
          {{row.openLot}}
        </td>
        <td>{{row.closeLot}}</td>
        <td>{{row.totalWorkTime}}</td>
        <td>{{row.orderQuantity}}</td>
        <td>{{row.producedQuantity}}</td>
        <td>{{row.percentageQuantity}}%</td>
        <td>
          {{row.unitFillingTime}} seconds
        </td>
        <td>
          <span *ngIf="row.remarksFront != '' ">
            {{row.remarksFront}}
          </span>
          <span *ngIf="row.remarksFront != '' && row.remarksBack != '' ">
            ,
          </span>
          <span *ngIf="row.remarksBack != '' ">
            {{row.remarksBack}}
          </span>
        </td>
        <td>
         Go to logs
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="paginatePrevious()">Previous</button>
  ...........
  <button (click)="paginateNext()">Next</button>



  <div
  *ngIf="showLogsModal == true"
  dir="rtl"
  class="bg-white fixed-top mx-auto w-100 p-5 my-auto text-center rounded shadow-lg border border-info scroll"
>

<div>
  <i
    style="cursor: pointer; font-size: large"
    (click)="showLogsModal = false"
    class="fa fa-times text-info"
  ></i>
</div>

<table class="styled-table">
  <thead>
    <tr>
      <th>שם משתמש</th>
      <th>מתי</th>
      <th>שם הפעולה</th>
      <th>סיבה</th>
      <th>מה שונה</th>
      <th>לפני שינוי</th>
      <th>אחרי שינוי</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>bla</td>
      <td>bla</td>
      <td>bla</td>
      <td>bla</td>
      <td>bla</td>
      <td>bla</td>
      <td>bla</td>
    </tr>
  </tbody>
</table>


</div>
</section>
