<section *ngIf="isLogin">
  <table class="styled-table">
    <thead>
      <tr>
        <th>Line</th>
        <th>batch</th>
        <th>Open Lot</th>
        <th>Close Lot</th>
        <th>Total Work Time</th>
        <th>Order Quantity</th>
        <th>Produced Quantity</th>
        <th>Percentage Quantity From Order</th>
        <th>Single Unit Filling Time In Seconds</th>
        <th>Remarks</th>
        <th>Logs</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of table">
        <td>
          {{row.line}}
        </td>
        <td>
         {{row.batch}}
        </td>
        <td>
          {{row.openLot}}
        </td>
        <td>{{row.closeLot}}</td>
        <td>{{row.totalWorkTime}}</td>
        <td>{{row.orderQuantity}}</td>
        <td>{{row.producedQuantity}}</td>
        <td>{{row.percentageQuantity}}%</td>
        <td>
          {{row.unitFillingTime}} seconds
        </td>
        <td>{{row.remarks}}</td>
        <td>
         Go to logs
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="paginatePrevious()">Previous</button>
  ...........
  <button (click)="paginateNext()">Next</button>
</section>
