

<nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
      <a ngbNavLink>General</a>
      <ng-template ngbNavContent>
        <app-itemdetais class="check"></app-itemdetais>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>Documents</a>
      <ng-template ngbNavContent>
        <app-item-documents></app-item-documents>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>Sales</a>
      <ng-template ngbNavContent>

      </ng-template>
    </ng-container>
  </nav>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>