<ngb-tabset #t="ngbTabset">
  <ngb-tab id="tab-selectbyid1" title="General">
     <ng-template  ngbTabContent>
        <app-itemdetais class="check"></app-itemdetais>
      </ng-template>
      </ngb-tab>
    <ngb-tab title="Documents" activeId="Documents" >
          <ng-template ngbTabContent >
           <app-item-documents></app-item-documents>
          </ng-template>
    </ngb-tab>
    <ngb-tab title="Sales" activeId="mkp">
            <ng-template ngbTabContent>
              mamkdakdmasmlplp
            </ng-template>
     </ngb-tab>
</ngb-tabset>