<!-- <div class="wrapper">
    <div class="box click" (click)="openBidding(bidding)" *ngFor="let bidding of biddings">
        <div class="bidding-line">
            <h3>For: {{bidding.customer}}</h3>
        </div>
        <div class="bidding-line">
            <h4>Product:</h4>
            <h4>{{bidding.productNumber}}</h4>
            <h4>{{bidding.productName}}</h4>
        </div>
        <div class="bidding-line">
            <h4>Total Price: {{bidding.productPrice}}</h4>
        </div>
    </div>
</div> -->


<div class="m-5">
    <div class="row mt-4">
        <div class="col-12">
            <table class="table table-hover">
                <thead class="text-center">
                    <tr>
                        <th>Biddding no.</th>
                        <th>Creation Date</th>
                        <th>Product Name</th>
                        <th>Product Number</th>
                        <th>Customer</th>
                        <th>remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bidding of biddings" class="click" (click)="openBidding(bidding)">
                        <td class="text-center">{{bidding.number}}</td>
                        <td class="text-center">{{bidding.date | date: 'dd/MM/yy'}}</td>
                        <td class="text-center">{{bidding.productName}}</td>
                        <td class="text-center">{{bidding.productNumber}}</td>
                        <td class="text-center">{{bidding.customerId}} - {{bidding.customer}}</td>
                        <td class="text-center">{{bidding.remarks}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div *ngIf="showBiddingDetails" class="bidding mx-auto my-auto text-center w-75 p-5 modal-inner">
    <i class="fa fa-times float-right click h2 p-2 block" (click)="closeBidding()"></i>
    <button class="btn btn-info float-left" (click)="editBidding = true">
        Edit &nbsp;<i class="fa fa-pencil-alt"></i>
    </button>

    <button class="btn btn-outline-success"
        [printStyle]="{tr : {'border': 'solid 1px black'}, td : {'border': 'solid 1px black'}}" printSectionId="bidding"
        ngxPrint>
        Print
        <i class="fas fa-print"></i>
    </button>



    <!--Presentation-->
    <div *ngIf="!editBidding">

        <div class="row mt-4">
            <div class="col-1">
                <img src="../../../assets/images/excel.png" alt="excel export"
                    style="width: 35px; float: left; cursor: pointer;">
            </div>
            <div class="col-10">
                <h2>Bidding {{chosenBidding.number}}</h2>
            </div>
            <div class="col-1">
            </div>
        </div>
        <div id="bidding">

            <h3>For: {{chosenBidding.customer}}</h3>
            <h3>Product {{chosenBidding.productNumber}} - {{chosenBidding.productName}}</h3>

            <div class="row mt-4 w-50">
                <label>Date: &nbsp;</label>
                <span class="text-info"> {{chosenBidding.date | date: 'dd/MM/yyyy'}}</span>
            </div>

            <div class="container mt-5 ml-5">
                <div class="row mt-4">
                    <div class="col-12">
                        <table class="table table-hover w-50">
                            <thead class="text-center">
                             <th colspan="3"><h4>Price Details:</h4></th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>bulk</td>
                                    <td>{{chosenBidding.ML}} ml</td>
                                    <td>{{chosenBidding.PPML | currency: 'ILS'}}</td>
                                </tr>
                                <tr *ngFor="let component of chosenBidding.itemComponents">
                                    <td>component {{component.componentN}} - {{component.componentName}}</td>
                                    <td></td>
                                    <td>{{component.price | currency: 'ILS'}} <span *ngIf="component.shippingPrice"> + {{component.shippingPrice | currency: 'ILS'}} (Shipping)</span></td>
                                </tr>
                                <tr>
                                    <td>Processing Fee</td>
                                    <td></td>
                                    <td>{{chosenBidding.processingFee | currency: 'ILS'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- <div class="row mt-2 border-bottom w-50">
                <label>One Time Expenses: {{chosenBidding.oneTimeExp | currency: 'ILS'}}</label>
            </div>
            <div class="row mt-2 border-bottom w-50">
                <label>Delivery Conditions: {{chosenBidding.deliveryConds | currency: 'ILS'}}</label>
            </div>
            <div class="row mt-2 border-bottom w-50">
                <label>Delivery Fee: {{chosenBidding.deliveryFee | currency: 'ILS'}}</label>
            </div> -->
            <div class="mt-4 h2">
                <label>Total Product Price: {{chosenBidding.productPrice | currency: 'ILS'}}</label>
            </div>
            <div class="row h4 mt-2 w-50">
                <label>Other Expenses: {{chosenBidding.otherExp | currency: 'ILS'}}</label>
            </div>
            <div class="row h4 mt-2 w-50">
                <label>Remarks:</label>
                <h5>{{chosenBidding.remarks}}</h5>
            </div>
        </div>


    </div>

    <div *ngIf="editBidding">
        <app-new-pricing [biddingToUpdate]="chosenBidding" (getAll)="getAllBiddings()"></app-new-pricing>
    </div>

    <div class="row mt-4">
        <button class="btn btn-danger float-right" (click)="deleteBidding(chosenBidding.number)"><i
                class="fa fa-times"></i> Delete Bidding</button>
    </div>


</div>