<div dir="rtl">


    <form [formGroup]="componentArrival" (ngSubmit)="addToStock()">
        <h3>הכנסה למלאי</h3>
        <div class="row mt-4">

            <div class="col-1">
                <label>מחסן</label>
                <select class="form-control" formControlName="whareHouseID" (change)="setWH()">
                    <option disabled value="">בחר מחסן</option>
                    <option *ngFor="let whareHouse of allWhareHouses" [value]="whareHouse._id">{{whareHouse.name}}
                    </option>
                </select>
            </div>

            <div class="col-1">
                <label>
                    פריט (לפי מספר)
                </label>
                <input type="number" formControlName="item" (change)="getShelfs()" class="form-control">
            </div>
            <div class="col-1">
                <label class="d-block">
                    (לפי שם) פריט 
                </label>
                <input class="d-inline form-control" type="text" #name>
                <button class="d-inline" type="button" (click)="getNames(name)">Find</button>
                <select class="form-control" (change)="setItemDetailsNumber($event)">
                    <option *ngFor="let itemName of itemNames" [value]="itemName.componentN">{{itemName.componentName}}
                    </option>
                </select>
            </div>
            <div class="col-1">
                <label>מדף</label>
                <select class="form-control" formControlName="shell_id_in_whareHouse">
                    <option disabled value="">בחר מדף</option>
                    <option *ngFor="let shellNum of shellNums" [value]="shellNum._id">{{shellNum.position}}
                    </option>
                </select>
            </div>
            <div class="col-1">
                <label>כמות</label>
                <input type="text" formControlName="amount" class="form-control">
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-success">הכנס</button>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-secondary" (click)="componentArrival.reset()">נקה נתונים</button>
            </div>
        </div>
    </form>

</div>