.table-fixed thead {
  width: 100%;
  display: block;
  }
  .table-fixed tbody {
    height: 700px;
    overflow-y: auto;
    width: 100%;
    display: block;
  }
  .table-fixed th{
    width:8%;
    display: inline-block;
    border: none;
  }
  .table-fixed td{
    width:8%;
    display: inline-block;
  }
  .table-fixed td.fullName{
    width:15%;
    display: inline-block;
  }
  .table-fixed tr{
    width: 100%;
    display: block;
    font-size: 18px;
  }
  tbody> tr{
    background-color: white;
    color: black;
  }
  
  input[type=checkbox]
  {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
  }

  .tableHeader {
    box-shadow: 2px 2px 12px 2px black !important;
    background: rgb(69, 69, 202);
    height: 50px;
    text-align: center;
  }

  td { 
    text-align: center;
  }