<div *ngIf="!authorized">
  <h3 class="text-center">אינך מורשה לראות מסך זה</h3>
</div>
<div dir="rtl" *ngIf="authorized">
  <form action="" [formGroup]="orderSimForm" class="form_1">
    <div class="row mt-2">
      <div class="col-1"></div>
      <div class="col-1">
        <label>מק"ט מוצר</label>
        <input
          type="text"
          formControlName="itemNumber"
          class="form-control"
          (change)="getItemName()"
          #first
        />
      </div>
      <div class="col-4">
        <label for="">שם המוצר</label>
        <input
          type="text"
          formControlName="itemName"
          class="form-control"
          disabled
        />
      </div>
      <div class="col-2">
        <label for="">ברקוד</label>
        <input
          type="text"
          disabled
          class="form-control"
          formControlName="barcode"
          disabled
        />
      </div>
      <div class="col-1">
        <label for="">משקל יחידה (גר')</label>
        <input
          type="number"
          class="form-control"
          formControlName="unitWeight"
        />
      </div>
      <div class="col-1">
        <label for="">כמות (יחידות)</label>
        <input type="number" formControlName="quantity" class="form-control" />
      </div>
      <div class="col-1">
        <button class="btn btn-outline-success mt-4" (click)="addItem()">
          הוסף
        </button>
      </div>
      <div class="col-1">
        <button class="btn btn-outline-danger mt-4" (click)="clearOrderSim()">
          נקה
        </button>
      </div>
    </div>
  </form>
  <div class="row mt-3">
    <div class="col-12">
      <table class="table table-hover w-75 align-items-center mx-auto">
        <thead>
          <tr>
            <th>#</th>
            <th>מק"ט</th>
            <th>תאור המוצר</th>
            <th>ברקוד</th>
            <th>משקל יחידה</th>
            <th>כמות</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itemsList; let i = index">
            <th>{{ i + 1 }}</th>
            <td>{{ item.itemNumber }}</td>
            <td>{{ item.itemName }}</td>
            <td>{{ item.barcode }}</td>
            <td>{{ item.unitWeight }}</td>
            <td>{{ item.quantity }}</td>
            <td>
              <button class="btn-outline-danger" (click)="removeItem(i)">
                <i class="fas fa-times"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-3" dir="rtl" *ngIf="itemsList && itemsList.length > 0">
    <div class="col-1"></div>
    <div class="col-1">
      <button class="btn btn-outline-primary" (click)="getComponentsForList()">
        קומפפוננטים
      </button>
    </div>
    <div class="col-1">
      <button class="btn btn-outline-warning" (click)="getMaterialsForList()">
        חומרי גלם
      </button>
    </div>
  </div>
  <div *ngIf="loading" class="loading"></div>
  <ng-container *ngIf="materialsList && materialsList.length > 0">
    <div class="row mt-3">
      <div class="col-12">
        <h2 class="text-center">כמויות חומרי גלם עבור המוצרים בתחזית</h2>
        <ng-container *ngIf="errors && errors.length > 0">
          <h3 class="mx-4">שגיאות:</h3>
          <ul class="mx-4">
            <li class="error" *ngFor="let error of errors">{{ error }}</li>
          </ul>
        </ng-container>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-1"></div>
      <div class="col-1">
        <button
          class="btn btn-outline-primary"
          printSectionId="print-section-materials"
          ngxPrint
          [useExistingCss]="true"
        >
          <i class="fas fa-print"></i>&nbsp;הדפס&nbsp;
        </button>
      </div>
      <div class="col-1"></div>
      <div class="col-1">
        <button
          class="btn btn-outline-success"
          (click)="exportMaterialsListXL()"
        >
          <i class="fas fa-file-excel"></i>&nbsp;ייצא לאקסל&nbsp;
        </button>
      </div>
    </div>
    <div class="row mt-3" dir="rtl" id="print-section-materials">
      <div class="col-12">
        <table class="table table-hover w-75 mx-auto">
          <thead>
            <tr>
              <th colspan="7" class="blue text-center">כתב כמויות לתחזית</th>
            </tr>
            <tr>
              <th>#</th>
              <th>מקט חומר גלם</th>
              <th>שם חומר גלם</th>
              <th>כמות נדרשת (ק"ג)</th>
              <th>מלאי קיים (ק"ג)</th>
              <th>כמות ברכש (ק"ג)</th>
              <th>פער</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let material of materialsList; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ material.item }}</td>
              <td>{{ material.itemName }}</td>
              <td>
                <strong>
                  {{ material.kgProd | number: "1.0-2" }}
                </strong>
              </td>
              <td>{{ material.stockAmount | number: "1.0-2" }}</td>
              <td>
                {{ material.purchaseAmount | number: "1.0-2" }}
              </td>

              <td dir="ltr" [ngClass]="material.diff < 0 ? 'error' : 'blue'">
                {{ material.diff | number: "1.0-2" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="componentsList && componentsList.length > 0">
    <div class="row mt-3">
      <div class="col-12">
        <h2 class="text-center">כמויות קומפוננטים עבור המוצרים בתחזית</h2>
        <ng-container *ngIf="errors && errors.length > 0">
          <h3 class="mx-4">שגיאות:</h3>
          <ul class="mx-4">
            <li class="error" *ngFor="let error of errors">{{ error }}</li>
          </ul>
        </ng-container>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-1"></div>
      <div class="col-1">
        <button
          class="btn btn-outline-primary"
          printSectionId="print-section-components"
          ngxPrint
          [useExistingCss]="true"
        >
          <i class="fas fa-print"></i>&nbsp;הדפס&nbsp;
        </button>
      </div>
      <div class="col-1"></div>
      <div class="col-1">
        <button
          class="btn btn-outline-success"
          (click)="exportComponentsListXL()"
        >
          <i class="fas fa-file-excel"></i>&nbsp;ייצא לאקסל&nbsp;
        </button>
      </div>
    </div>
    <div class="row mt-3" dir="rtl" id="print-section-components">
      <div class="col-12">
        <table class="table table-hover w-75 mx-auto">
          <thead>
            <tr>
              <th colspan="7" class="blue text-center">
                ריכוז כמויות קומפוננטים לתחזית
              </th>
            </tr>
            <tr>
              <th>#</th>
              <th>מק"ט פריט</th>
              <th>תאור פריט</th>
              <th>סוג פריט</th>
              <th>כמות נדרשת (יח')</th>
              <th>מלאי קיים (יח')</th>
              <th>כמות ברכש (יח')</th>
              <th>פער</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let component of componentsList; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ component.componentN }}</td>
              <td>{{ component.componentName }}</td>
              <td>{{ component.componentType }}</td>
              <td>
                <strong>
                  {{ component.qtyRequired | number: "1.0" }}
                </strong>
              </td>
              <td>{{ component.stockAmount | number: "1.0" }}</td>
              <td>
                {{ component.purchaseAmount | number: "1.0" }}
              </td>

              <td dir="ltr" [ngClass]="component.diff < 0 ? 'error' : 'blue'">
                {{ component.diff | number: "1.0" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
</div>
