.mainPage{
    margin-right: 8rem;
    margin-left: 8rem;
}
.heading{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.containerSix{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    text-align:center;
    margin-bottom: 2rem;
}
.containerSix5{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    text-align:center;
    margin-bottom: 2rem;
}
.containerSix6{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    text-align:center;
    margin-bottom: 2rem;

}

.containerSixTop{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    text-align:center;
    margin-bottom: 2rem;
}


.containerSixR{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    text-align:center;
    margin-bottom: 2rem;
}
.containerThree{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-end;
    text-align:right;
    margin-right: 2rem;
    margin-left: 2rem;
}
.containerThree2{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:baseline;
    text-align:right;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;

}
.containerThreeR{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:flex-end;
    text-align:right;
    margin-right: 2rem;
    margin-left: 2rem;
}
.containerThreeR input{
    margin-left: 1rem;
}
.inputData label{
    margin-left: 1rem;
    align-self:flex-start;
}
.containerTwo{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:flex-end;
    text-align:right;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;

}
.containerTwo input{
    margin-left: 2rem;
}
.testingTittle{
    margin-bottom: 2rem;
}
.rowFour{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: center;
}
.remarksContainer{
    margin-top: 2rem;
    margin-bottom: 3rem;
}
table, th, td {
    border: 1px solid;
    align-items: center;
    text-align: center;
  }
    th, td {
    padding: 3px;
    
    
  }
  table{
    margin-bottom: 2rem;
  }
@media screen and (max-width: 1200px) {
    .mainPage{
        margin-right: 0;
        margin-left: 0;
    }
    .containerSix{
        flex-direction: column;
    }
    .containerSixTop .containerThree .inputData{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .containerSix5{
        justify-content: start;
        align-items: flex-end;
    }
    .containerSix6{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .containerSix6 .containerThree{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    
  }
  @media screen and (max-width: 800px) {
    .mainPage{
        margin-right: 0;
        margin-left: 0;
    }
    .containerSix{
        flex-direction: column;
    }
    .containerSix5{
        justify-content: start;
        align-items: flex-end;
    }
    .containerSix6{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .containerSix6 .containerThree{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
  }
