<section class="mainPage" dir="rtl">
  <div class="heading">
    <h1 class="tittle">טופס הדבקה</h1>
  </div>
  <div class="containerSixTop">
    <div class="containerThree">
      <div class="inputData">
      <label for="orderNumber">מס' הזמנה</label>
      <input type="number" name="orderNumber" id="orderNumber">
      </div>
      <div class="inputData">
      <label for="productName">שם מוצר</label>
      <input type="text" name="productName" id="productName">
      </div>
      <div class="inputData">
      <label for="customerName">שם לקוח</label>
      <input type="text" name="customerName" id="customerName">
      </div>
    </div>
    <div class="containerThree">
      <div class="inputData">
        <label for="orderQty">כמות מוזמנת</label>
        <input type="number" name="orderQty" id="orderQty">
      </div>
      <div class="inputData">
        <label for="itemNumber">מק"ט</label>
        <input type="number" name="itemNumber" id="itemNumber">
      </div>
      <div class="inputData">
        <label for="batchNumber">מס' אצווה</label>
        <input type="text" name="batchNumber" id="batchNumber">
      </div>
    </div>
  </div>
  <div class="inputData" style="margin-bottom: 3rem;">
    <label for="uwAction">פעולה לא נדרשת</label>
    <input type="checkbox" name="uwAction" id="uwAction">
  </div>
  <div class="containerSix5">
    <div class="containerThree">
      <div class="inputData">
      <label for="startStickDate">תאריך תחילת הדבקה</label>
      <input type="date" name="startStickDate" id="startStickDate">
      </div>
      <div class="inputData">
      <label for="endStickDate">תאריך סיום הדבקה</label>
      <input type="date" name="endStickDate" id="endStickDate">
      </div>
    </div>
    <div class="containerThree">
      <div class="inputData">
        <label for="startStickTime">שעת התחלת הדבקה</label>
        <input type="time" name="startStickTime" id="startStickTime">
      </div>
      <div class="inputData">
        <label for="endStickTime">שעת סיום הדבקה</label>
        <input type="time" name="endStickTime" id="endStickTime">
      </div>
    </div>
    <div class="inputData">
      <label for="stickerPerson">הדבקה ע"י</label>
      <input type="text" name="stickerPerson" id="stickerPerson">
    </div>
  </div>
  <h5 class="testingTittle">בדיקות לפני הדבקה</h5>
  <div class="containerSix6">
    <div class="containerThree">
      <div class="inputData">
        <label for="detection">זיהוי מדבקה</label>
        <input type="checkbox" name="detection" id="detection">
      </div>
      <div class="inputData">
        <label for="confirmation">אישור מדבקה מול לקוח\רגולציה\גרפיקה</label>
        <input type="checkbox" name="confirmation" id="confirmation">
      </div>
    </div>
    <div class="containerThree">
      <div class="inputData">
        <label for="amount">כמות מדבקות (האם יספיק לכל ההזמנה)</label>
        <input type="checkbox" name="amount" id="amount">
      </div>
      <div class="inputData">
        <label for="managerAcceptence">חתימת מנהל מאשר</label>
        <input type="text" name="managerAcceptence" id="managerAcceptence">
      </div>
    </div>
  </div>
  <h5 class="testingTittle" style="margin-top: 3rem;">בקרה במהלך הדבקה</h5>
  <table>
    <thead>
      <tr>
        <th>
          שעת בדיקה
        </th>
        <th>
           תקינות מדבקה
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="time" name="testingTime" id="testingTime" style="margin-left:1rem;">
        </td>
        <td>
          <input type="checkbox" name="stickerCorrectness" id="stickerCorrectness" style="margin-left:1rem;">
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <div class="containerSix">
    <div class="inputData">
      <label for="testingTime">שעת בדיקה</label>
      <input type="time" name="testingTime" id="testingTime" style="margin-left:1rem;">
    </div>
    <div class="inputData">
      <label for="stickerCorrectness">תקינות הדבקה</label>
      <input type="checkbox" name="stickerCorrectness" id="stickerCorrectness" style="margin-left:1rem;">
    </div>
  </div> -->
  <div class="containerThree2">
    <div class="inputData">
      <label for="unitsInCarton">כמות יח' בקרטון</label>
      <input type="number" name="unitsInCarton" id="unitsInCarton" style="margin-left:1rem;">
    </div>
    <div class="inputData">
      <label for="Cartons">כמות קרטונים</label>
      <input type="number" name="Cartons" id="Cartons" style="margin-left:1rem;">
    </div>
    <div class="inputData">
      <label for="total">סך הכל</label>
      <input type="number" name="total" id="total" style="margin-left:1rem;">
    </div>
  </div>
  <div class="containerSixR">
    <div class="containerThreeR">
      <div class="inputData">
        <label for="continueTab">ממשיך תהליך</label>
        <input type="checkbox" name="continueTab" id="continueTab">
      </div>
      <div class="inputData">
        <label for="delivery">יוצא למשלוח</label>
        <input type="checkbox" name="delivery" id="delivery">
      </div>
      <div class="inputData">
        <label for="signature">חתימת מנהל מאשר</label>
        <input type="text" name="signature" id="signature">
      </div>
    </div>
  </div>
  <div class="remarksContainer">
    <div class="inputData">
      <p><b>הערות</b></p>
      <textarea name="remarks" id="remarks" rows="10" cols="100" ></textarea>
    </div>
  </div>
</section>


