<div style='width:100vw;' class="row">
  <div style='display: inline-block; vertical-align: top; ' class="col-sm-7 managingDiv">
    <!-- <h5>ניהול סחורה - בחר מחסן</h5> -->
    <!-- <span (click)="changeCurentWh()">{{curentWhareHouseName}}</span><br> -->
    <!-- <select #wh *ngIf='changeWh' (change)="setWhareHouse(wh.value)"> -->
    <!-- <select #wh (change)="setWhareHouse(wh.value)"> -->
      <!-- <option></option> -->
      <!-- <option *ngFor="let wh of whareHouses;">{{wh.name}}</option> -->
    <!-- </select>&nbsp;&nbsp;
    <span (click)="changeCurentWh()">{{curentWhareHouseName}} Wharehouse</span><br> -->

    <br>

    <ul class="nav nav-tabs justify-content-end">
        <li class="nav-item">
            <a class="nav-link" style="cursor:pointer;" (click)="dirSet('whManagment','')" [ngStyle]="{'background-color': WhMngNavBtnColor}" >ניהול מחסן</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" style="cursor:pointer;" (click)="dirSet('stkManagment','')" [ngStyle]="{'background-color': StkMngNavBtnColor}" >ניהול סחורה</a>
          </li>
    </ul>

    <div class="container" style="float: right;">
        <table style="float: right;">
            <!-- STOCK MANGEMENT -->
      
            <tr *ngIf="screen=='stkManagment' " >
      
              <td>
                <button (click)="dirSet('stkManagment','watchShelfs')" class='btn btn-info'>צפיה במדף</button>
              </td>
              <td>
                <button (click)="dirSet('stkManagment','in')" class='btn btn-info'>קבלת סחורה</button>
              </td>
              <td>
                <button (click)="dirSet('stkManagment','out')" class='btn btn-info'>הוצאת סחורה</button>
              </td>
              <td>
                <button (click)="dirSet('stkManagment','shelfChange')" class='btn btn-info'>שינוי מדף</button>
              </td>
              <!-- <td>
                <button (click)="dirSet('stkManagment','savedForOrder')" class='btn btn-info'>הקצאת סחורה</button>
              </td> -->
              <td>
                <button  (click)="dirSet('stkManagment','production')" class='btn btn-info'>העברה לייצור</button>
              </td>
      
            </tr>
          </table>
      
          <div style="float: right;">
            <h2>{{ dir | headingsWH  }}</h2>
          </div>
    </div>


    <br>

    <!-- <div *ngIf="screen=='stkManagment' && editWharehouses" > -->
    <div *ngIf="screen=='stkManagment' " >
        <h5>ניהול סחורה - בחר מחסן</h5>
        <select #wh (change)="setWhareHouse(wh.value)">
          <option *ngFor="let wh of whareHouses;">{{wh.name}}</option>
        </select>&nbsp;&nbsp;
        <span>{{curentWhareHouseName}} Wharehouse</span><br>
    </div>
    <br>





    <!-- STOCK MANGEMENT -->
    <div *ngIf="dir!='' && dir!='managment'  && dir!='watchShelfs'"  >


      <div class="container">
        <ng-container *ngIf="!multiInputLines">
            <form class="form-horizontal itemsList" [formGroup]="itemLine" >
                <div class="form-group row">
    
                    <div class="col-sm-2">
                      <label>מספר פריט</label>
                      <input type="text" class="form-control" placeholder="Item number" formControlName="itemNumber" (blur)="searchItemShelfs($event)">
                    </div>
                    <div class="col-sm-2">
                      <label>מדף</label>
                      <input type="text" class="form-control" placeholder="Position" formControlName="position">
                    </div>
                    <div class="col-sm-2">
                      <label>כמות</label>
                      <input type="number" class="form-control" placeholder="Amount" formControlName="amount" min="0">
                    </div>
                    <!-- if taking out stock from wh -->
                    <!-- <div class="col-sm-3"  *ngIf="dir!='in' && dir!='shelfChange'"> 
                      <label>מס' הזמנה</label>
                      <input type="text" class="form-control" placeholder="Related Order Number" formControlName="relatedOrder">
                    </div> -->
                    <!-- if recieving stock to wh  -->
                    <div class="col-sm-2" *ngIf="dir=='in'">
                      <label>הגעת משלוח</label>
                      <input type="date" class="form-control" placeholder="Arrival Date" formControlName="arrivalDate">
                    </div>
                    <div class="col-sm-2" *ngIf="dir=='in'">
                      <label>תעודת משלוח</label>
                      <input type="text" class="form-control" placeholder="Delivery Note" formControlName="deliveryNote">
                    </div>
                    <div class="col-sm-3" *ngIf="dir=='shelfChange'">
                      <label>מדף חדש</label>
                      <input type="text" class="form-control" placeholder="New Position" formControlName="destShelf">
                    </div>
                    <div class="col-sm-1" style="position: relative;">
                        <button type="submit" (click)="checkLineValidation(itemLine.value, $event.value)" style="cursor: pointer; position: absolute; bottom: 0px;">
                            <img src="assets/images/add.png"  width="30px" style="cursor: pointer;"/>
                        </button>
                    </div>
                </div>
  
                <div>
                  <label>Item position in {{curentWhareHouseName}} Wharehouse:</label>&nbsp;
                  <ng-container *ngFor="let shelf of currItemShelfs">
                    <span    
                    (click)="loadShelfToInput(shelf.position, $event)" style="cursor: pointer;"><b>{{shelf.position}}</b>: {{shelf.amount}} units</span>&nbsp;&nbsp;
                  </ng-container>
                </div>
            </form>
  
        </ng-container>
  
        <!-- multiLines for inventory requests load -->
        <ng-container  *ngIf="multiInputLines">
          <div *ngFor="let itemFromInvReq of multiLinesArr ; let i = index">
              <form class="form-horizontal itemsList" >
                  <div class="form-group row">
              
                      <div class="col-sm-2">
                        <label>מספר פריט</label>
                        <input [attr.data-lineid]="i" type="text" class="form-control" placeholder="Item number" [value]="itemFromInvReq.itemNumber" (blur)="searchItemShelfs()">
                      </div>
                      <div class="col-sm-2">
                        <label>מדף</label>
                        <input [attr.data-lineid]="i" type="text" class="form-control" placeholder="Position" [value]="itemFromInvReq.position" >
                      </div>
                      <div class="col-sm-2">
                        <label>כמות</label>
                        <input #lineqnt{{i}} [attr.data-lineid]="i" name="multiLineQntInput" type="number" class="form-control" placeholder="Amount" min="0" [(ngModel)]="itemFromInvReq.qnt">
                      </div>
                      <!-- if taking out stock from wh -->
                      <div class="col-sm-4 row" >
                        <div class="col-sm-6">
                            <label>מס' בקשת מלאי</label>
                            <input [attr.data-lineid]="i" type="text" class="form-control" placeholder="Related Request Number" [value]="itemFromInvReq.reqNum" disabled>
                        </div> 
                        <div class="col-sm-6">
                            <label>מס' הזמנה</label>
                            <input [attr.data-lineid]="i" type="text" class="form-control" placeholder="Related Order Number" [value]="itemFromInvReq.relatedOrder" disabled>                              
                        </div> 
                      </div>
                      <div class="col-sm-1" style="position: relative;">
                          <button [attr.data-lineid]="i" type="submit" (click)="checkLineValidation(itemFromInvReq,i, $event , qnt)" style="cursor: pointer; position: absolute; bottom: 0px;">
                              <img src="assets/images/add.png"  width="30px" style="cursor: pointer;"/>
                          </button>
                      </div>
                      <div class="col-sm-1" style="position: relative;">
                          <button [attr.data-lineid]="i" type="button" (click)="deleteLine(itemFromInvReq,i,$event)" style="cursor: pointer; position: absolute; bottom: 0px;">
                              <img src="assets/images/deleteBtn.png"  width="30px" style="cursor: pointer;"/>
                          </button>
                      </div>
                  </div>
              
                  <div>
                    <label>Item position in {{curentWhareHouseName}} Wharehouse:</label>&nbsp;
                    <ng-container *ngFor="let shelf of itemFromInvReq.currItemShelfs">
                      <span [attr.data-lineid]="i" style="border: grey solid; border-style: outset; margin-left:5px; cursor:pointer; padding: 3px; cursor: pointer;" 
                      (click)="loadShelfToInput(shelf.position, $event)">{{shelf.position}}: {{shelf.amount}} units</span>&nbsp;&nbsp;
                    </ng-container>
                  </div>
              </form>  

          </div>
        </ng-container>


<!--  -->     <br>
              <div class="ShouldBeNav">
                <!-- <button class="btn btn-success" (click)="createInventoryRow('item' , this)">add / הוסף</button> &nbsp;&nbsp; -->
                <button class="btn btn-warning" (click)="cleanList()">Reset / אפס</button>&nbsp;&nbsp;
                <button class="btn btn-info" (click)="sendList()">Submit / שלח שינויים <i class="ti-check m-l-10" ></i>
                </button>    
              </div>

              <br>

              <div class="form-group row">
                  <div class="col-sm-8">
                      <table class='table'>
                          <thead class='bg-info text-white'>
                            <tr>
                              <th>#</th>
                              <th>Item number</th>
                              <th>Item name</th>
                              <th>Position</th>
                              <th>Amount</th>
                              <th *ngIf="dir!='in'">Related Order</th>
                              <th *ngIf="dir=='in'">Arrival Date</th>
                              <th *ngIf="dir=='in'">Delivery Note</th>
                              <th></th>
                            </tr>
                          </thead>
                          <ng-container *ngFor="let reqItem of inventoryUpdateList; let i =index">
                            <tr>
                              <td>{{i+1}}</td>
                              <td>{{reqItem.item}}</td>
                              <td>{{reqItem.itemName}}</td>
                              <td>{{reqItem.position}}</td>
                              <td>{{reqItem.amount}}</td>
                              <td *ngIf="dir!='in'">{{reqItem.relatedOrder}}</td>
                              <td *ngIf="dir=='in'">{{reqItem.arrivalDate}}</td>
                              <td *ngIf="dir=='in'">{{reqItem.deliveryNoteNum}}</td>
                              <td><img src="assets/images/delete.png" (click)="deleteRow(i)"width="30px" style="cursor: pointer;"/></td>
                            </tr>
                          </ng-container>
                        </table>
                  </div>
                  <div  *ngIf="loadingToTable" class="col-sm-3">
                      <img  style="width:60px" src="http://avacdn.com/wp-content/uploads/2018/05/motosha-spinner.gif" />
                  </div>
                  <div  *ngIf="!loadingToTable" class="col-sm-3">
                  </div>
              </div>
          <!-- </form> -->
      </div>
      
    </div>

    <br><br>



<!-- <div *ngIf="dir=='' &&  dir!='whManagment'" style="text-align: right; " class="container">
  <h3 > צפיה בפריטים על מדף</h3>
  <form class="form-horizontal itemsList" [formGroup]="itemLine" >
    <div class="form-group row">
        <div class="col-sm-2">
          <label>חפש מדף</label>
          <input #shelfSearch type="text" class="form-control" placeholder="Item number" (blur)="searchItemsOnShelf($event)">
        </div>
      </div>
    </form>
    <div>

      <table>
        <thead>
          <th>Item Number</th>
          <th>Item Name</th>
          <th>Quantity on Shelf</th>
          <th>Item Image</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of ItemsOnShelf">
            <td>{{item.item}}</td>
            <td>{{item.componentName}}</td>
            <td>{{item.amount}}</td>
            <td> <img [src]="item.img" alt="תמונת פריט"></td>
          </tr>
        </tbody>
      </table>
    </div>
        
</div> -->
<div *ngIf="dir=='watchShelfs'">
    <form >
      <h4>צפיה בפריטים על מדף</h4>
      <input #shelfSearch type="text" placeholder="מדף">
      <button (click)="searchItemsOnShelf()">חפש</button>
  
      <table class='table'>
          <thead class='bg-info text-white'>
            <tr>
              <th>#</th>
              <th>Item number</th>
              <th>Item name</th>
              <th>Position</th>
              <th>Amount on Shelf</th>
              <th>Image</th>
            </tr>
          </thead>
          <ng-container *ngFor="let item of ItemsOnShelf; let i =index">
            <tr>
              <td>{{i+1}}</td>
              <td>{{item.item}}</td>
              <td>{{item.componentName}}</td>
              <td>{{item.position}}</td>
              <td>{{item.amount}}</td>
              <td><img [src]="item.img" alt="item image" width="70px"></td>
            </tr>
          </ng-container>
        </table>
  
    </form>
  </div>








    <div #container style='display: inline-table' *ngIf="dir!=''">

    </div>




    <!-- WH MANGEMENT -->
    <div style='display: inline-table' *ngIf="dir=='managment'">
      <h4>הוספת מחסן חדש</h4>
      <input type=text id='wh' #whName placeholder="WhareHouse Name">
      <button id='updateWh' class='btn btn-info' (click)="addNewWhareHouse(whName.value)">Add New WhareHouse</button><br><br>

      <div id='resultDiv' style='background-color: #D6D6D6  ;width:300px; font-weight: bold;'>

      </div>

      <h4>הוספת מדף חדש</h4>
      <u>בחר מחסן</u> <br>
      <select #wh class="form-control" (change)="getShelfsList(wh.value)">
        <option></option>
        <option *ngFor="let wh of whareHouses;">{{wh.name}}</option>
      </select>


      <h5>הוספת/חיפוש מדף</h5>
      <div id='whareHousesDiv' style='background-color: rgb(223, 255, 194)  ;width:300px; font-weight: bold;'>
        <input #shelf placeholder="הוסף מדף"><button class='btn btn-success' (click)="addNewShelf(shelf.value)">Add Shelf</button>

        <input #searchS placeholder="חפש מדף">
        <button class='btn btn-info' (click)="searchShelf(searchS.value)">Find Shelf</button>

        <div [style.background-color]="response.color">{{response.body}}</div>
        <table>
          <tr *ngFor="let shelf of shelfs;">
            <td>{{shelf._id}}</td>
            <td>{{shelf.position}}</td>
          </tr>
        </table>
      </div>
      <div id='shell_wh_div' style='background-color: #D6D6D6  ;width:300px; font-weight: bold;'>
      </div>

    </div>
  </div>
    <!-- INVENTORY REQUEST TABLE -->

  <div style='display: inline-block; vertical-align: top; ' class="col-sm-4">
      <app-inventory-requests *ngIf="screen!='whManagment'" (outPutItemsArray)="getChildArr($event)"></app-inventory-requests>
    </div>
</div>
<!-- <div style='width:45vw'>

</div> -->

