input, textarea {
    padding: 4px 4px;
    margin: 2px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: 0px solid #ccc;
}
input:focus { 
    background-color: wheat;
    border: 1px solid rgb(131, 212, 233);
}
td{
    padding: 5px;
}

.managingDiv{
    /* background-color: coral;  */
}
/* input[name="newDemandId"]{
    visibility: hidden;
} */
a{
    text-align: center;
}
.itemsList .form-group label{
    text-align: center;
    
}
.compImgInWh {
    width:45px;
    transition: 0.3s;
}
.compImgInWh:hover{
    transform: scale(2);
}