<div style='width:100vw'>
  <div style='display: inline-block; vertical-align: top;' class="col-sm-6 managingDiv">
    <!-- <h5>ניהול סחורה - בחר מחסן</h5> -->
    <!-- <span (click)="changeCurentWh()">{{curentWhareHouseName}}</span><br> -->
    <!-- <select #wh *ngIf='changeWh' (change)="setWhareHouse(wh.value)"> -->
    <!-- <select #wh (change)="setWhareHouse(wh.value)"> -->
      <!-- <option></option> -->
      <!-- <option *ngFor="let wh of whareHouses;">{{wh.name}}</option> -->
    <!-- </select>&nbsp;&nbsp;
    <span (click)="changeCurentWh()">{{curentWhareHouseName}} Wharehouse</span><br> -->

    <br>
    <table>
      <tr>
        <td>
          <button (click)="dirSet('whManagment','')" class='btn btn-primary'>ניהול מחסן</button>
        </td>
        <td>
          <button (click)="dirSet('stkManagment','')" class='btn btn-primary'>ניהול סחורה</button>
        </td>
      </tr>

      <tr *ngIf="screen=='stkManagment' ">

        <td>
          <button (click)="dirSet('stkManagment','in')" class='btn btn-info'>קבלת סחורה</button>
        </td>
        <td>
          <button (click)="dirSet('stkManagment','out')" class='btn btn-info'>הוצאת סחורה</button>
        </td>
        <td>
          <button (click)="dirSet('stkManagment','shellChange')" class='btn btn-info'>שינוי מדף</button>
        </td>
        <!-- <td>
          <button (click)="dirSet('stkManagment','savedForOrder')" class='btn btn-info'>הקצאת סחורה</button>
        </td> -->
        <td>
          <button  (click)="dirSet('stkManagment','production')" class='btn btn-info'>העברה לייצור</button>
        </td>
      </tr>
    </table>

    <div>
      <h2>{{ dir | headingsWH  }}</h2>
    </div>

    <br>

    <div *ngIf="screen=='stkManagment'">
        <h5>ניהול סחורה - בחר מחסן</h5>
        <select #wh (change)="setWhareHouse(wh.value)">
          <option *ngFor="let wh of whareHouses;">{{wh.name}}</option>
        </select>&nbsp;&nbsp;
        <span (click)="changeCurentWh()">{{curentWhareHouseName}} Wharehouse</span><br>
    </div>
    <br>
    <div *ngIf="dir!='' && dir!='managment'">
      <button class="btn btn-success" (click)="createInventoryRow('item' , this)">add / הוסף</button> &nbsp;&nbsp;
      <button class="btn btn-warning" (click)="resetForm()">Reset / אפס</button>&nbsp;&nbsp;
      <button class="btn btn-info" (click)="getFormData()">Submit / שלח שינויים <i class="ti-check m-l-10" ></i>
      </button>
    </div>
    <br><br>

    <div #container style='display: inline-table' *ngIf="dir!=''">

    </div>

    <div style='display: inline-table' *ngIf="dir=='managment'">
      <h4>הוספת מחסן חדש</h4>
      <input type=text id='wh' #whName placeholder="WhareHouse Name">
      <button id='updateWh' class='btn btn-info' (click)="addNewWhareHouse(whName.value)">Add New WhareHouse</button><br><br>

      <div id='resultDiv' style='background-color: #D6D6D6  ;width:300px; font-weight: bold;'>

      </div>

      <h4>הוספת מדף חדש</h4>
      <u>בחר מחסן</u> <br>
      <select #wh class="form-control" (change)="getShelfsList(wh.value)">
        <option></option>
        <option *ngFor="let wh of whareHouses;">{{wh.name}}</option>
      </select>

      <h5>הוספת/חיפוש מדף</h5>
      <div id='whareHousesDiv' style='background-color: rgb(223, 255, 194)  ;width:300px; font-weight: bold;'>
        <input #shelf placeholder="הוסף מדף"><button class='btn btn-success' (click)="addNewShelf(shelf.value)">Add Shelf</button>

        <input #searchS placeholder="חפש מדף">
        <button class='btn btn-info' (click)="searchShelf(searchS.value)">Find Shelf</button>

        <div [style.background-color]="response.color">{{response.body}}</div>
        <table>
          <tr *ngFor="let shelf of shelfs;">
            <td>{{shelf._id}}</td>
            <td>{{shelf.position}}</td>
          </tr>
        </table>
      </div>
      <div id='shell_wh_div' style='background-color: #D6D6D6  ;width:300px; font-weight: bold;'>

      </div>
    </div>
  </div>

  <div style='display: inline-block; vertical-align: top;' class="col-sm-4">
    <app-inventory-requests *ngIf="screen!='whManagment'" (outPutItemsArray)="getChildArr($event)"></app-inventory-requests>
  </div>
</div>