<div>
    <h1>Work Plans</h1>
    <i class="fas fa-check-double"></i>
    <div class="row mt-4">
        <!--side bar-->
        <div class="col-1 d-flex flex-column m-2 p-3 index" style="height: fit-content;">
            <div>
                <img class="click" ngbTooltip="רענן תכניות" (click)="getWorkPlans()" style="width: 50px"
                    src="../../../../../assets/images/update2.png" alt=""> - רענן
            </div>
            <div class="row mt-4"></div>
            <div>
                <img class="click" (click)="exportAll()" ngbTooltip="ייצוא לאקסל"
                    src="../../../../../assets/images/excel.png" style="width: 50px;" alt=""> - ייצא לאקסל
            </div>
            <div class="row mt-4"></div>
            <div>
                <button ngbTooltip="בחירת תכניות" (click)="showHideCheckBox()" class="btn btn-secondary"
                    style="width: 52px;">
                    <i class="fas fa-check-circle"></i>
                </button>- בחירה מרובה
            </div>
            <div class="row mt-4"></div>
            <div *ngIf="!loadData && authorized">
                <img class="click" (click)="loadMaterialsForFormule()" ngbTooltip="כתב כמויות" style="width: 50px"
                    src="../../../../../assets/images/allOrder.png" alt=""> -
                כתב כמויות
            </div>
            <div *ngIf="loadData" class="smallerLoader"></div>
        </div>
        <!--work plans-->
        <div *ngIf="showWorkPlan || showMaterialsForFormules" class="col-10"></div>
        <div *ngIf="!showWorkPlan && !showMaterialsForFormules" class="wrapper col-9">
            <ng-container *ngFor="let workPlan of workPlans; let i = index">

                <div class="box click" [style.background]="setColor(workPlan.status)"
                    *ngIf="filterByRole(workPlan.status)">
                    <input *ngIf="showCheckbox" [disabled]="disableCheckBox" class="checkbox" type="checkbox"
                        (change)="addOrRemove($event, i)">
                    <div (click)="openWorkPlan(workPlan.serialNumber)">
                        <div class="service-line mt-4">
                            <h3>{{workPlan.serialNumber}}</h3>
                        </div>
                        <div class="service-line">
                            <h4>{{workPlan.date | date: 'dd/MM/yy'}}</h4>
                        </div>
                        <div class="service-line remark">
                            <h4>{{workPlan.remark}}</h4>
                        </div>
                        <div class="service-line status">
                            <h4>{{workPlan.status | workPlanStatus}}</h4>
                            <i *ngIf="workPlan.status == 2" class="fas fa-check"></i>
                            <span *ngIf="workPlan.status == 3">
                                <i class="fas fa-check"></i>
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>
        <div class="col-1 d-flex flex-column justify-content-between index p-3" style="height: 475px;">
            <div class="status-index-item">Index:</div>
            <div class="status-index-item" [style.background]="'#68e37d'">PP&C <i class="fa fa-pencil-alt"></i>
            </div>
            <div class="status-index-item" [style.background]="'#5B9BD5'">Formula <i class="fas fa-check"></i></div>
            <div class="status-index-item" [style.background]="'#ED7D31'">Scheduled <i class="far fa-calendar-alt"></i>
            </div>
            <div class="status-index-item" [style.background]="'#C48170'">Materials <i class="fas fa-tint"></i>
            </div>
        </div>
    </div>

</div>

<!--Work Plan modal-->
<div class="position-fixed work-plan" *ngIf="showWorkPlan">
    <app-planning-details (updateWorkPlans)="getWorkPlans()" (closeWorkPlanEmitter)="closeWorkPlan($event)"
        [workPlan]="currentWorkPlan">
    </app-planning-details>
</div>

<!--כתבי כמויות-->
<div *ngIf="showMaterialsForFormules" class="position-fixed work-plan w-75 p-5 rounded">
    <button style="visibility: hidden" #printAmounts ngxPrint printSectionId="print-amounts"></button>
    <i (click)="showMaterialsForFormules = false" class="fa fa-times float-right h3 close"></i>
    <h1 class="text-center">כתב כמויות</h1>
    <h2 dir="rtl">
        <img (click)="exportExplosion(materialsForFormules, 'כתב כמויות')" src="../../../../../assets/images/excel.png"
            class="img" alt="">
        <img (click)="printAmounts.click()" src="../../../../../assets/images/print.png" class="img2" alt="">
    </h2>
    <div id="print-amounts">

        <h2 dir="rtl"> כתב כמויות לתכניות עבודה: <span
                *ngFor="let workPlan of checkedWorkPlans">{{workPlan.serialNumber}}, </span></h2>
        <br>
        <table class="table table-striped mt-4">
            <thead class="bg-success text-white">
                <tr>

                    <th>Material Number</th>
                    <th>Material Name</th>
                    <th>Required</th>
                    <th>In Stock</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let material of materialsForFormules">

                    <td>{{material.itemNumber}}</td>
                    <td>{{material.itemName}}</td>
                    <td>{{material.kgProduction}}</td>
                    <td
                        [style.backgroundColor]="checkAmountsForMaterial(material.kgProduction, material.materialArrivals[0].amount) < 0 ? 'red' : 'lightgreen'">
                        {{material.materialArrivals[0].amount | number}}</td>

                </tr>
            </tbody>
        </table>
    </div>

</div>