* {
  font-size: large;
  box-sizing: border-box;
}

.close {
  cursor: pointer;
  padding: 0.3125rem;
}

.close:hover {
  background-color: rgb(42, 117, 119);
  color: white;
}

.disabled {
  pointer-events: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 6.25rem 6.25rem 6.25rem 6.25rem;
  grid-gap: 17.81rem;
  grid-row-gap: 3.31rem;
  color: rgb(236, 117, 117);
}

.box {
  background-color: rgb(115, 181, 235);
  color: rgb(22, 6, 6);
  border-radius: 0.3125rem;
  padding: 1.25rem;
  font-size: 150%;
  width: 291%;
  height: 12.5rem;
}

.checkbox {
  width: 1.75rem;
  height: 1.75rem;
  color: aliceblue;
}

.click {
  cursor: pointer;
}

.smallerLoader {
  border: 0.375rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 0.3125rem solid #3498db;
  width: 3.125rem;
  height: 3.125rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.form-control-1 {
  display: inline !important;
  width: 75% !important;
}
.form-control-2 {
  display: inline !important;
  width: 90% !important;
}

.work-plan {
  top: 10vh;
  left: 10vw;
  background-color: #d4e3e4;
  width: 88%;
  border-radius: 10px;
  overflow-y: scroll;
  height: 90vh;
  z-index: 900;
}
.wpLink {
  cursor: pointer;
  text-decoration: underline;
}

.index {
  border: 1px solid black;
  border-radius: 10px;
}

.status-index-item {
  padding: 1.25rem;
}

.remark {
  max-height: 1.875rem;
  overflow-y: auto;
}

.status {
  text-decoration: underline;
}

.img {
  width: 2.1875rem;
  cursor: pointer;
}

.img2 {
  width: 3.125rem;
  cursor: pointer;
}

.smallLoader {
  margin: auto;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #0d10b8;
  width: 9.375rem;
  height: 9.375rem;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}
.toDoneBtn {
  z-index: 100;
  position: fixed;
}

/******************Scroll Bar********************************************/
::-webkit-scrollbar {
  width: 0.625rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(27, 27, 25);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #363638;
}
/*********************************************************************/
.flexContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}
.sideFlex {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}
.sidebarItemsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.sidebarItem {
  margin-bottom: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.reportWindow {
  position: fixed;
  background-color: #f3f3f3;
  top: 10%;
  left: 10%;
  width: 80%;
  padding: 5rem;
  height: 80%;
  overflow-y: scroll;
  border: 2px solid blue;
}

.closeBtn {
  float: right;
  margin-right: 4rem;
  border-radius: 99999999px;
}
