<div class="container-fluid" dir="rtl">
  <h2 class="text-center">אינדקס פריטים</h2>
  <form action="" [formGroup]="searchMenu">
    <div class="row mt-2">
      <div class="col-1">
        <label for="">מק"ט פריט</label>
        <input type="text" formControlName="itemNumber" class="form-control" />
      </div>
      <div class="col-1">
        <label for="">ברקוד</label>
        <input type="text" formControlName="barcode" class="form-control" />
      </div>
      <div class="col-2">
        <label for="">שם פריט</label>
        <input type="text" formControlName="itemName" class="form-control" />
      </div>
      <div class="col-2">
        <label for="">מותג</label>
        <select name="" id="" formControlName="brandId" class="form-control">
          <option value="">הכל</option>
          <option [value]="brand.brandId" *ngFor="let brand of brands">
            {{ brand.brandId }} - {{ brand.brandName }}
          </option>
        </select>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="row mt-2">
      <div class="col-2">
        <label>מחלקה</label>
        <select
          name=""
          id=""
          formControlName="department"
          class="form-control"
          (change)="filterGroup()"
        >
          <option value="">הכל</option>
          <option [value]="dep.departmentId" *ngFor="let dep of departments">
            {{ dep.departmentId }}-{{ dep.departmentName }}
          </option>
        </select>
      </div>
      <div class="col-2">
        <label>קבוצה</label>
        <select
          name=""
          id=""
          formControlName="group"
          class="form-control"
          (change)="filterSubGroups()"
        >
          <option value="">הכל</option>
          <option [value]="group.groupId" *ngFor="let group of groups">
            {{ group.groupId }}-{{ group.groupName }}
          </option>
        </select>
      </div>
      <div class="col-2">
        <label for="">תת קבוצה</label>
        <select name="" id="" formControlName="subGroup" class="form-control">
          <option value="">הכל</option>
          <option
            [value]="subGroup.subGroupId"
            *ngFor="let subGroup of subGroups"
          >
            {{ subGroup.subGroupId }} - {{ subGroup.subGroupName }}
          </option>
        </select>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-1">
        <button
          class="btn btn-outline-success form-control mt-4"
          (click)="getItems()"
        >
          חפש
        </button>
      </div>
      <div class="col-1">
        <button
          class="btn btn-outline-danger form-control mt-4"
          (click)="clearSearch()"
        >
          נקה
        </button>
      </div>
      <div class="col-8"></div>
      <div class="col-2" *ngIf="syncAuthorized">
        <button class="btn btn-outline-info" (click)="syncComax()">
          סנכרון קומקס
        </button>
      </div>
    </div>
  </form>
  <div *ngIf="loading" class="loading"></div>
  <h3 class="text-center">רשימת פריטים</h3>
  <div class="row mt-2">
    <table class="table table-border">
      <thead>
        <tr>
          <th>#</th>
          <th>מק"ט פריט</th>
          <th>ברקוד</th>
          <th>שם פריט</th>
          <th>מותג</th>
          <th>מחלקה</th>
          <th>קבוצה</th>
          <th>תת קבוצה</th>
          <th>שם ספק</th>
        </tr>
      </thead>
      <tbody *ngIf="itemsList && itemsList.length > 0">
        <tr *ngFor="let item of itemsList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.itemNumber }}</td>
          <td>{{ item.barcode }}</td>
          <td>{{ item.itemName }}</td>
          <td>{{ item.brandId }} - {{ item.brandName }}</td>
          <td>{{ item.departmentId }}-{{ item.departmentName }}</td>
          <td>{{ item.groupId }}-{{ item.groupName }}</td>
          <td>{{ item.subGroupId }}-{{ item.subGroupName }}</td>
          <td>{{ item.supplierId }}-{{ item.supplierName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
