<div class="container-fluid" dir="rtl">
  <h2 class="text-center">אינדקס פריטים</h2>
  <form action="" [formGroup]="searchMenu">
    <div class="row mt-2">
      <div class="col-1">
        <label for="">מק"ט פריט</label>
        <input type="text" formControlName="itemNumber" class="form-control" />
      </div>
      <div class="col-1">
        <label for="">ברקוד</label>
        <input type="text" formControlName="barcode" class="form-control" />
      </div>
      <div class="col-2">
        <label for="">שם פריט</label>
        <input type="text" formControlName="itemName" class="form-control" />
      </div>
      <div class="col-2">
        <label for="">מותג</label>
        <select name="" id="" formControlName="brandId" class="form-control">
          <option value="">הכל</option>
          <option [value]="brand.brandId" *ngFor="let brand of brands">
            {{ brand.brandId }} - {{ brand.brandName }}
          </option>
        </select>
      </div>
      <div class="col-4"></div>
    </div>
    <div class="row mt-2">
      <div class="col-2">
        <label>מחלקה</label>
        <select
          name=""
          id=""
          formControlName="department"
          class="form-control"
          (change)="filterGroup()"
        >
          <option value="">הכל</option>
          <option [value]="dep.departmentId" *ngFor="let dep of departments">
            {{ dep.departmentId }}-{{ dep.departmentName }}
          </option>
        </select>
      </div>
      <div class="col-2">
        <label>קבוצה</label>
        <select
          name=""
          id=""
          formControlName="group"
          class="form-control"
          (change)="filterSubGroups()"
        >
          <option value="">הכל</option>
          <option [value]="group.groupId" *ngFor="let group of groups">
            {{ group.groupId }}-{{ group.groupName }}
          </option>
        </select>
      </div>
      <div class="col-2">
        <label for="">תת קבוצה</label>
        <select name="" id="" formControlName="subGroup" class="form-control">
          <option value="">הכל</option>
          <option
            [value]="subGroup.subGroupId"
            *ngFor="let subGroup of subGroups"
          >
            {{ subGroup.subGroupId }} - {{ subGroup.subGroupName }}
          </option>
        </select>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-1">
        <button
          class="btn btn-outline-success form-control mt-4"
          (click)="getItems()"
        >
          חפש
        </button>
      </div>
      <div class="col-1">
        <button
          class="btn btn-outline-danger form-control mt-4"
          (click)="clearSearch()"
        >
          נקה
        </button>
      </div>
      <div class="col-8"></div>
      <div class="col-2" *ngIf="syncAuthorized">
        <button class="btn btn-outline-info" (click)="syncComax()">
          סנכרון קומקס
        </button>
      </div>
    </div>
  </form>
  <div *ngIf="loading" class="loading"></div>
  <h3 class="text-center">רשימת פריטים</h3>
  <div class="row mt-2">
    <table class="table table-border">
      <thead>
        <tr>
          <th>#</th>
          <th>מק"ט פריט</th>
          <th>ברקוד</th>
          <th>שם פריט</th>
          <th>מותג</th>
          <th>מחלקה</th>
          <th>קבוצה</th>
          <th>תת קבוצה</th>
          <th>שם ספק</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngIf="itemsList && itemsList.length > 0">
        <tr *ngFor="let item of itemsList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.itemNumber }}</td>
          <td>{{ item.barcode }}</td>
          <td>{{ item.itemName }}</td>
          <td>{{ item.brandId }} - {{ item.brandName }}</td>
          <td>{{ item.departmentId }}-{{ item.departmentName }}</td>
          <td>{{ item.groupId }}-{{ item.groupName }}</td>
          <td>{{ item.subGroupId }}-{{ item.subGroupName }}</td>
          <td>{{ item.supplierId }}-{{ item.supplierName }}</td>
          <td>
            <button
              class="btn btn-danger"
              type="button"
              (click)="handleDeleteItem($event, item._id, content)"
              *ngIf="!item.isDeleted"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Delete confimation of item {{ deleteItem?.item?.itemNumber }}</h4>
	</div>
	<div class="modal-body">
    <p>Are you sure want to delete item {{ deleteItem?.item?.itemNumber }}?</p>
    <p *ngIf="(deleteItem?.orders && deleteItem?.orders?.length > 0) || (deleteItem?.products && deleteItem?.products?.length > 0) || (deleteItem?.formulas && deleteItem?.formulas?.length > 0)">This items belongs below values.</p>
    <div *ngIf="deleteItem?.orders && deleteItem?.orders?.length > 0">
      <h4>Orders</h4>
      <div class="table-block special-scrollbar">
        <table class="custom-table">
          <thead>
            <tr>
              <th>Order number</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of deleteItem?.orders; let n = index">
              <td>{{ order?.orderNumber }}</td>
              <td>{{ order?.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="deleteItem?.products && deleteItem?.products?.length > 0" class="mt-4">
      <h4>Products</h4>
      <div class="table-block special-scrollbar">
        <table class="custom-table">
          <thead>
            <tr>
              <th>ComponentN</th>
              <th>Component name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of deleteItem?.products; let n = index">
              <td>{{ product?.componentN }}</td>
              <td>{{ product?.componentName }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="deleteItem?.formulas && deleteItem?.formulas?.length > 0" class="mt-4">
      <h4>Formulas</h4>
      <div class="table-block special-scrollbar">
        <table class="custom-table">
          <thead>
            <tr>
              <th>Formule number</th>
              <th>Formule name</th>
              <th>Formule type</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let formula of deleteItem?.formulas; let n = index">
              <td>{{ formula?.formuleNumber }}</td>
              <td>{{ formula?.formuleName }}</td>
              <td>{{ formula?.formuleType }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Close')">Close</button>
    <button type="button" class="btn btn-outline-primary" *ngIf="deleteItem?.item?._id" (click)="handleDeleteOk($event)">Confirm</button>
	</div>
</ng-template>

