
<div class="container text-center shadow bg-white">
  <div class="row mt-4">
    <div class="col-12">
      <h1 style="text-shadow: 2px 2px 4px #000000;" class="text-info ">Shelf List</h1>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-2">
      <button [printStyle]="{td : {'border': '1px solid black'}, tr : {'border': 'solid 1px black'}}" style="background: none;border:none" printSectionId="print-section" ngxPrint><img src="../../../../assets/images/print.png" alt="Print" style="width: 55px;"></button>  
    </div>
    <div class="col-2"></div>
    <div class="col-2">
      <label class="form-control">Shelf Number</label>
    </div>
    <div class="col-2">
      <input (change)="getAllItemShelfs($event)" class="form-control" type="text">
    </div>
    <div class="col-2"></div>
    <div class="col-2"></div>
  </div>

  <div id="print-section" class="row mt-4">
    <div class="col-12">
      <table class="table table-striped table-hover">
        <thead class="bg-info text-white">
          <tr>
            <th>Item Number</th>
            <th>Batch Number</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of shelfDetails">
            <td>{{item.item}}</td>
            <td>{{item.batchNumber}}</td>
            <td>{{item.amount}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>