
<nav ngbNav #nav="ngbNav" class="nav-tabs">
  <ng-container ngbNavItem>
    <a ngbNavLink>Entrance Floor - Этаж</a>
    <ng-template ngbNavContent>
      <div class="container shadow-sm rounded bg-light bg-light p-2">

        <div class="row text-center p-2">
          <div class="col-12">
            <h2 class="text-primary">קומת כניסה</h2>
            <h3 class="text-primary">Entrance Floor - Daily Cleaning</h3>
          </div>
        </div>



        <div class="row text-center p-2">
          <div class="col-4"></div>
          <div class="col-4">
            <input class="form-control" [(ngModel)]="dailyCleanForm.date" type="date" placeholder="Date/תאריך" >
          </div>
          <div class="col-4"></div>
        </div>

        <div class="row text-center p-2">
          <div class="col-4"></div>
          <div class="col-4">
            <input list="workerlist" class="form-control" [(ngModel)]="dailyCleanForm.worker">
            <datalist id="workerlist">
              <option value="Irena">Irena</option>
              <option value="Natasha">Natasha</option>
            </datalist>
          </div>
          <div class="col-4"></div>
        </div>

        <div class="row text-center p-2">
          <div class="col-12">
            <table class="table table-hover table-striped">
              <thead>

              </thead>
              <tbody>
                <tr>
                  <td> туалеты - мусор + уборка / Toilets - Garbage + Cleaning</td>
                  <td><input [(ngModel)]="dailyCleanForm.bathroom" type="checkbox"></td>
                </tr>
                <tr>
                  <td>
                    офисы - мусор + уборка / Offices - Garbage + Cleaning</td>
                  <td><input [(ngModel)]="dailyCleanForm.offices" type="checkbox"></td>
                </tr>
                <tr>
                  <td> Вход - Пол + мусор + Холодильник / Entrance - Floor + Garbage + Refrigerator</td>
                  <td><input [(ngModel)]="dailyCleanForm.entrance" type="checkbox"></td>
                </tr>
                <tr>
                  <td>Столовая - пол + мусор / Employees Dining Room - Floor + Garbage</td>
                  <td><input [(ngModel)]="dailyCleanForm.employeesKitchen" type="checkbox"></td>
                </tr>
              </tbody>
            </table>

            
          </div>
        </div>

        <div class="row text-center p-2">
          <div class="col-12">
            <button (click)="saveDailyCleanForm()" class="btn btn-primary form-control">Save/שמור</button>
          </div>
        </div>


        <div class="row text-center p-2">
          <div class="col-12">
            <table class="table table-hover table-striped">
              <thead class="bg-dark text-white">
                <tr>
                  <th>Date/תאריך</th>
                  <th>Toilets/שירותים</th>
                  <th>Offices/משרדים</th>
                  <th>Entrance/כניסה</th>
                  <th>Employees Dining Room/חדר אוכל עובדים</th>
                  <th>Worker/עובד</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let clean of allDailyCleanForms">
                  <td>{{clean.date | date: 'dd/MM/yyyy'}}</td>
                  <td>{{clean.bathroom}}</td>
                  <td>{{clean.offices}}</td>
                  <td>{{clean.entrance}}</td>
                  <td>{{clean.employeesKitchen}}</td>
                  <td>{{clean.worker}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink>Offices Floor 2 - Второй этаж</a>
    <ng-template ngbNavContent>

      <div class="container shadow-sm rounded bg-light bg-light p-2">

        <div class="row text-center">
       
          <div class="col-12">
            <h2 class="text-primary">דף ניקיון יומי - קומת שניה</h2> 
            <h3 class="text-primary">Second Floor - Daily Cleaning</h3>
          </div>
        
        </div>

          <div class="row text-center p-2">
            <div class="col-4"> </div>
            <div class="col-4">
              <input class="form-control" [(ngModel)]="dailyCleanFormSecond.date" type="date"
              placeholder="Date/תאריך">
            </div>
            <div class="col-4"> </div>
          </div>
        
  
          <div class="row text-center p-2">
            <div class="col-4"> </div>
            <div class="col-4"> 
              <input list="workerlist" class="form-control" [(ngModel)]="dailyCleanFormSecond.worker">
              <datalist id="workerlist">
                <option value="Irena">Irena</option>
                <option value="Natasha">Natasha</option>
              </datalist>
            </div>
            <div class="col-4"> </div>
          </div>
  

          <div class="row text-center p-2">
            <div class="col-12">
            <table class="table table-hover table-striped">
              <thead>

              </thead>
              <tbody>
                <tr>
                  <td>туалеты - мусор + уборка / Toilets - Garbage + Cleaning</td>
                  <td><input class="form-control" [(ngModel)]="dailyCleanFormSecond.bathroom" type="checkbox"></td>
                </tr>

                <tr>
                  <td>офисы - мусор + уборка / Offices - Garbage + Cleaning</td>
                  <td><input class="form-control" [(ngModel)]="dailyCleanFormSecond.offices" type="checkbox"></td>
                </tr>

              </tbody>
            </table>

          </div>
        </div>

        <div class="row text-center p-2">
          <div class="col-12">
            <button (click)="saveDailyCleanFormSecond()" class="btn btn-primary form-control">Save/שמור</button>
          </div>
        </div>

        <div class="row text-center p-2">
          <div class="col-12">
            <table  class="table table-hover table-striped">
              <thead class="bg-dark text-white">
                <tr>
                  <th>Date/תאריך</th>
                  <th>Toilets/שירותים</th>
                  <th>Offices/משרדים</th>
                  <th>Worker/עובד</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let clean of allDailyCleanSecondForms">
                  <td>{{clean.date | date: 'dd/MM/yyyy'}}</td>
                  <td>{{clean.bathroom}}</td>
                  <td>{{clean.offices}}</td>
                  <td>{{clean.worker}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink>Production - Производственный цех</a>
    <ng-template ngbNavContent>
      <div class="container shadow-sm rounded bg-light p-2">

        <div  class="row text-center p-2">
          <div class="col-12">
            <h2 class="text-primary">דף ניקיון יומי - ייצור</h2>
            <h3 class="text-primary">Production - Daily Cleaning</h3>
          </div>
        </div>


        <div class="row text-center p-2">
          <div class="col-4"></div>
          <div class="col-4">
            
            <input class="form-control" [(ngModel)]="productionDailyClean.date"  type="date"
              placeholder="Date/תאריך">
          
          </div>
          <div class="col-4"></div>
        </div>

        <div class="row text-center p-2">
          <div class="col-4"></div>
          <div class="col-4">
            <input list="workerlist" class="form-control" [(ngModel)]="productionDailyClean.worker">
            <datalist id="workerlist">
              <option value="Irena">Irena</option>
              <option value="Natasha">Natasha</option>
            </datalist>
       
          </div>
          <div class="col-4"></div>
        </div>

        <div class="row text-center p-2">
          <div class="col-12">
            <table  class="table table-hover table-striped">
              <thead>

              </thead>
              <tbody>

                <tr>
                  <td>туалеты - мусор + уборка / Toilets - Garbage + Cleaning</td>
                  <td><input [(ngModel)]="productionDailyClean.bathroom" type="checkbox"></td>
                </tr>
                <tr>
                  <td>Женские туалеты - мусор + уборка / Women Toilets - Garbage + Cleaning</td>
                  <td><input [(ngModel)]="productionDailyClean.womenBathroom" type="checkbox"></td>
                </tr>

                <tr>
                  <td>Производственный цех - пол + мусор / Production Area</td>
                  <td><input [(ngModel)]="productionDailyClean.productionArea" type="checkbox"></td>
                </tr>
                <tr>
                  <td> цех Заполнения - - пол + мусор / Filling Area</td>
                  <td><input [(ngModel)]="productionDailyClean.fillingArea" type="checkbox"></td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
           
          <div class="row text-center p-2">
            <div class="col-12">
              <button (click)="saveProdDailyClean()" class="btn btn-primary form-control">Save/שמור</button>
            </div>
          </div>
           

       

        <div  class="row text-center p-2">
          <div class="col-12">
            <table class="table table-hover table-striped">
              <thead class="bg-dark text-white">
                <tr>
                  <th>Date/תאריך</th>
                  <th>Entrance Toilets/שירותי כניסה</th>
                  <th>Women Toilets/שירותי נשים</th>
                  <th>Production Area/אולם ייצור</th>
                  <th>Filling Area/אולם מילוי</th>
                  <th>Worker/עובד</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let clean of allDailyProdCleanForms">
                  <td>{{clean.date | date: 'dd/MM/yyyy'}}</td>
                  <td>{{clean.bathroom}}</td>
                  <td>{{clean.womenBathroom}}</td>
                  <td>{{clean.productionArea}}</td>
                  <td>{{clean.fillingArea}}</td>
                  <td>{{clean.worker}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </ng-template>
  </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
