<section class="mainPage">
  <div class="heading">
    <h1 class="tittle">Makeup form</h1>
    <mat-tab-group>
      <mat-tab label="ייצור"> <app-mkupProduction></app-mkupProduction> </mat-tab>
      <mat-tab label="מילוי"> <app-filling></app-filling>  </mat-tab>
      <mat-tab label="הדבקה"> <app-sticker></app-sticker> </mat-tab>
      <mat-tab label="הדפסה"> <app-mkupFormPrinting></app-mkupFormPrinting> </mat-tab>
      <mat-tab label="לייזר"> <app-laser></app-laser> </mat-tab>
      <mat-tab label="אריזה אישית"> <app-personalPackaging></app-personalPackaging> </mat-tab>
      <mat-tab label="עץ מוצר"> <app-item-details-tab class="productTree"></app-item-details-tab> </mat-tab>
    </mat-tab-group>
  </div>
</section>
