<!-- <form class="form" [formGroup]="scheduleOrdersForm" (submit)="onSubmit()">
  <table class="table table-fixed"> -->
    <!-- <thead class="text-white">
      <tr>
        <th style="width:5%;"></th>
        <th style="width:10%; padding:5px">Order Number</th>
        <th style="padding:5px">Delivery Date</th>
        <th style="padding:5px">Order Quantity</th>
        <th style="padding:5px">Produce Quantity</th>
        <th style="padding:5px">Produce status</th>
        <th style="width:5%;"></th>
      </tr>
    </thead>
    <tbody id="table_body">
      <tr *ngFor="let order of scheduleOrders; let i = index">
        <td style="width:5%;">{{ i + 1 }}</td>
        <td>{{ order.orderNumber }}</td>
        <td>{{ order.orderDeliveryDate }}</td>
        <td>{{ order.orderQuantity }}</td>
        <td>
          <div class="form-group">
            <input
              class="form-control"
              type="number"
              value=""
              formControlName="producedQuantity"
            />
          </div>
          {{ order.producedQuantity }}
        </td>
        <td>
          <div class="form-group">
            <input
              class="form-control"
              type="string"
              value=""
              formControlName="produceStatus"
            />
          </div>
          {{ order.produceStatus }}
        </td>
        <td>
          <button class="btn btn-success m-r-10" type="submit">Save</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
 -->
