<p>
  schedule works!
</p>


<input  type ='date' #date (change)="dateChanged(date.value)">

<ngb-tabset #t="ngbTabset">
    <ngb-tab id="tab-selectbyid1" title="General">
       <ng-template ngbTabContent>
          ngfmjuy hgdeg
        </ng-template>
        </ngb-tab>
      <ngb-tab title="Tube" activeId="tube" >
            <ng-template ngbTabContent >
              <span (click)="setType()">1131233  </span>12312312312  {{typeShown}}
            </ng-template>
      </ngb-tab>
      <ngb-tab title="Make Up" activeId="mkp">
              <ng-template ngbTabContent>
                mamkdakdmasmlplp
              </ng-template>
       </ngb-tab>
  </ngb-tabset>
<br><br>
    <div (click)='setType("basic", this)' [ngStyle]="{'background-color': buttonColor}">General</div>
    <div (click)='setType("tube", this)' [ngStyle]="{'background-color': buttonColor2}">Tubes</div>
    <div (click)='setType("mkp", this)' [ngStyle]="{'background-color': buttonColor3}">Make Up</div>
 
<table class='table'>
  <thead class='bg-success text-white'>
  <tr align='center'>
      <th><b>P</b></th>
      <th><b>Order</b></th>
      <th><b>Item</b></th>
      <th><b>Costumer</b></th>
      <th><b>Name of product</b></th>
      <th><b>Batch number</b></th>
      <th><b>Package</b></th>
      <th colspan=2><b>Qty</b></th>
      <th><b>Date</b></th>
      <th><b>Remarks</b></th>
      <th class='printlessTd'><b>shift</b></th>
      <th class='printlessTd'><b>Mkp</b></th>
<th class='printlessTd'></th>
  </tr> 

  </thead>
  
  <tr id='inputTr'>
    <td><input type='text' id="input_position" [(ngModel)]="scheduleLine.positionN" style='width:20px'	></td>
    <td><input type='text' id="input_order"  [(ngModel)]="scheduleLine.orderN" style='width:60px' onfocusout="setCostumer()"></td>
     <td><input type='text' id="input_item" style='width:90px' [(ngModel)]="scheduleLine.item" onfocusout="setItemDetails()"><img class="btnImage" src= '/images/search.png' onClick='searchItem()' id='searchBtnImg'><img class="btnImage" src= '/images/paste.png' onClick='pasteNumber()' ></td>
     <td><input type='text' id="input_costumer" style='width:80px' [(ngModel)]="scheduleLine.costumer" ></td>
     <td><input type='text' id="input_productName" [(ngModel)]="scheduleLine.productName"></td>
     <td><input type='text' id="input_batchN" [(ngModel)]="scheduleLine.batch" style='width:110px'></td>
     <td><textarea rows='1' cols='20' id='input_package'   [(ngModel)]="scheduleLine.packageP" ></textarea></td>
     <td  colspan=2><input type='text' id="input_Qty" style='width:60px' [(ngModel)]="scheduleLine.qty"></td>
     <td><input type='date' id="input_Date" style='width:140px; font-size:13px' [(ngModel)]="scheduleLine.date"></td>			 
     <td><textarea rows='1' cols='30' id='input_marks'  style='width:150px' [(ngModel)]="scheduleLine.marks"></textarea></td>
     <td class='printlessTd'><select id="select_shift"  [(ngModel)]="scheduleLine.shift"><option value="Day">Day</option><option value="Night">Night</option></select></td>
      <td class='printlessTd'>
      <input type="radio"  name="type"   value='basic' checked  [(ngModel)]="scheduleLine.mkp" >Basic<br>
      <input type="radio"  name="type"   value='tube' [(ngModel)]="scheduleLine.mkp">Tube<br>
      <input type="radio"  name="type"   value='mkp' [(ngModel)]="scheduleLine.mkp">Mkp<br></td>
      <td class='printlessTd'><button class="button" (click)="writeScheduleData()"  style='width:110px'	id='addBtn'>Add</button><br>
      <button onclick='clearRow()' style='width:110px; background-color:red'>Clear</button>
      </td>
</tr>

<tbody id="table_body">
    <tr *ngFor = "let line of scheduleData">
      <ng-container  *ngIf='line !== undefined  && line.mkp===typeShown'>
        <td *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.positionN}}</td>
        <td *ngIf="line._id===EditRowId"><input #id type='hidden' [value]="line._id" ><input #position type='text' [value]="line.positionN"  style='width:30px'></td>
        <td  *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.orderN}}</td>
        <td *ngIf="line._id===EditRowId"><input #orderN type='text' [value]="line.orderN"  style='width:50px'></td>
        <td *ngIf="line._id!==EditRowId"  (click)="edit(line._id)">{{line.item}}</td>
        <td *ngIf="line._id===EditRowId"><input #item type='text' [value]="line.item"  style='width:80px'></td>
        <td  *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.costumer}}</td>
        <td *ngIf="line._id===EditRowId"><input #costumer type='text' [value]="line.costumer"  style='width:50px'></td>
        <td  *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.productName}}</td>
        <td *ngIf="line._id===EditRowId"><input #productName type='text' [value]="line.productName"  style='width:150px'></td>
        <td  *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.batch}}</td>
        <td *ngIf="line._id===EditRowId"><input #batch type='text' [value]="line.batch"  style='width:90px'></td>
        <td *ngIf="line._id!==EditRowId"  (click)="edit(line._id)">{{line.packageP}}</td>
        <!--<td *ngIf="line._id===EditRowId"><input #packageP type='text' [value]="line.packageP"  style='width:150px'></td>-->
        <td *ngIf="line._id===EditRowId"><textarea rows='1' cols='30' id='input_marks' #packageP style='width:150px' [value]="line.packageP"></textarea></td>
        <td  *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.qty}}</td>
        <td *ngIf="line._id===EditRowId"><input #qty type='text' [value]="line.qty"  style='width:60px'></td>
        <td></td>

        
        <td *ngIf="line._id!==EditRowId"  (click)="edit(line._id)">{{line.date3}}</td>
        <td *ngIf="line._id===EditRowId"><input #aaaa type='date' [value]="line.date3"  style='width:140px'></td>


        <td  *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.marks}}</td>
        <td *ngIf="line._id===EditRowId"><input #marks type='text' [value]="line.marks"  style='width:50px'></td>
        <td *ngIf="line._id!==EditRowId"  (click)="edit(line._id)">{{line.shift}}</td>
        <td *ngIf="line._id===EditRowId"><input #shift type='text' [value]="line.shift"  style='width:50px'></td>
        <td  *ngIf="line._id!==EditRowId" (click)="edit(line._id)">{{line.mkp}}</td>
        <td *ngIf="line._id===EditRowId"><input #mkp type='text' [value]="line.mkp"  style='width:50px'></td>
        <td *ngIf="line._id!==EditRowId"><img src='assets/images/deleteBtn.png' class='btnImg'> <img src='assets/images/aprroved.png' (click)='setDone()' class='btnImg'></td>
        <td *ngIf="line._id===EditRowId"><img src='assets/images/update2.png' (click)="updateSchedule()" class='btnImg'></td>
    </ng-container>
    </tr>
</tbody>
</table>