input[type="checkbox"] {
  /* Double-sized Checkboxes */
 
  padding: 10px;
  margin-left: 10px;
}
ul { 
  list-style-type: circle;
  font-size:15px;
 
}
li { 
  margin-top:50px;
}
div {
  float: left;
  margin-right: 5px;
  background-color: white;
  padding: 13px;
  cursor: pointer;
  border: 1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.read-only {
  pointer-events: none;
}

.click {
  cursor: pointer;
}

.click:hover {
  background: chartreuse;
}

.qc-batch{
  background-color: greenyellow;
    padding: 30px;
    border-radius: 50px;
    cursor: pointer;
}

.qc-check {
  background-color: rgb(238, 149, 15);
  padding: 30px;
  border-radius: 50px;
  cursor: pointer;
}

.smallLoader {
  margin: auto;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.barcodeTbl {
  margin: 0px auto;
  width: 360px;
  min-height: 360px;
  font-size: 20px;
  border: 0px;
  text-align: center;
  margin-top:20px;
}

div::selection {
  background-color: blue;
}
.btnImg {
  width: 30px;
  cursor: pointer;
}
i {
  font-size: 20px;
}
table {
  color: black;
  font-size: 17px;
  width: 100%;
  table-layout: fixed;
}
thead {
  text-align: center;
}
td {
  border-bottom: 1px solid #ddd;
  font-family: "Berlin Sans FB";
  padding:5px;
}

.positionClass {
  width:3%;
}
.mkpClass{
  width:7%;
}

.selectShiftClass{
  height:34px;
}

.fixNoaStupidStuff {
  float:none !important;
  margin-right:0px !important;
  padding:0
}

@media only screen and (max-width: 1024px) {

}

@media print {
  table {
    color: black;
    font-size: 15px;
  }
 
 
  @page {
    size: 25cm 35.7cm;
    margin: 5mm 5mm 5mm 5mm;
  }
}


tr { 
  margin-top: 10px !important;
}



 td { 
   text-align: center;
 }