
#print-schedule-section{
  display: none;
}
input[type="checkbox"] {
  /* Double-sized Checkboxes */
 
  padding: 10px;
  margin-left: 10px;
}
ul { 
  list-style-type: circle;
  font-size:15px;
 
}
li { 
  margin-top:50px;
}
div {
  float: left;
  margin-right: 5px;
  background-color: white;
  padding: 13px;
  cursor: pointer;
  border: 1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

// Hide arrows from input type number  :
/*********************************************** ********************/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 1367px) {
  .hideInTablet {
    display: none;
  }
}
@media (min-width: 1367px) {
  .showInTablet {
    display: none;
  }
}

/*******************************************************************/

.read-only {
  pointer-events: none;
}

.color-index {
  width: 150px;
  height: 50px;
}

.click {
  cursor: pointer;
}

.click:hover {
  background: chartreuse;
}

.qc-batch{
  background-color: greenyellow;
    padding: 30px;
    border-radius: 50px;
    cursor: pointer;
}

.qc-check {
  background-color: rgb(238, 149, 15);
  padding: 30px;
  border-radius: 50px;
  cursor: pointer;
}

.smallLoader {
  margin: auto;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.barcodeTbl {
  margin: 0px auto;
  width: 360px;
  min-height: 360px;
  font-size: 20px;
  border: 0px;
  text-align: center;
  margin-top:20px;
}

div::selection {
  background-color: blue;
}
.btnImg {
  width: 30px;
  cursor: pointer;
}
i {
  font-size: 20px;
}
table {
  color: black;
  font-size: 17px;
  width: 100%;
  table-layout: fixed;
}
thead {
  text-align: center;
}
td {
  border-bottom: 1px solid #ddd;
  font-family: "Berlin Sans FB";
  padding:5px;
}

.positionClass {
  width:3%;
}
.mkpClass{
  width:7%;
}

.selectShiftClass{
  height:34px;
}

.fixNoaStupidStuff {
  float:none !important;
  margin-right:0px !important;
  padding:0
}

tr { 
  margin-top: 10px !important;
}

 td { 
   text-align: center;
 }
 .reason{
   text-align: right;
   margin-left: -6rem;
 }
 .alert {
  padding: 70px;
  background-color: #f44336;
  color: white;
  position: absolute;
  z-index: 9999;
  width: 500px;
  font-size: 22px;
  top:50vh;
  right: 40vw;
}

.multiselect {
  width: 9rem;
  direction: rtl;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: small;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  overflow: scroll;
  height: 10rem;
}
#checkboxes2 {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 100%;
  top: 0;
  margin-right: 1rem;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
.lang{
  margin-left: .5rem;
}
.batchAlert {
  background-color: #1c87c9;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  border: none;
  color: #eeeeee;
  padding: 0.3125rem 0.9375rem;
  margin-right: 1rem;
  width: 10rem;
  position: absolute;
  right: 10%;
  z-index: 99999;
}
.styled-table {
  border-collapse: collapse;
  margin: 1.5625rem 0;
  font-size: 1em;
  font-family: sans-serif;
  min-width: 25rem;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.15);
  width:100%;

}
.batchesList{
  position: absolute;
  right: 50vh;
  width: 50%;
  z-index: 9999999999999999;
  overflow: scroll;
  direction: rtl;
}
.styled-table thead tr {
  background-color: #bd0524;
  color: #ffffff;
  text-align: center;
}
.styled-table th,
.styled-table td {
    padding: 0.75rem 0.9375rem;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #bd0524;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #bd0524;
}
.close{
  color: #ddddddc5;
  font-weight: bold;
  font-size: medium;
  background-color: #b6001e;
  width: 10%;
  height: 2rem;

}
@keyframes glowing {
  0% {
    background-color: #bd0524;
    box-shadow: 0 0 5px #bd0524;
  }
  50% {
    background-color: #e81919;
    box-shadow: 0 0 20px #e81919;
  }
  100% {
    background-color: #bd0524;
    box-shadow: 0 0 5px #bd0524;
  }
}
.batchAlert {
  animation: glowing 1300ms infinite;
}


@media only screen and (max-width: 1024px) {

}

@media print {
  table {
    color: black;
    font-size: 15px;
  }
 
 
  @page {
    size: 25cm 35.7cm;
    margin: 5mm 5mm 5mm 5mm;
  }
}


 