<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      {{ today }}<br />
      <input
        type="date"
        #date
        [(ngModel)]="today"
        (change)="dateChanged(date.value)"
      />
    </div>
    <div class="col-sm-6">
      <div  dnd-droppable (onDropSuccess)="deleteSchedule($event)">
        <button type="button" class="btn deleteBtn">
          <img src="./../../../../assets/images/deleteBtn.png" />
        </button>
      </div>
    </div>
  </div>
</div>

<div>
  <div
    class="machineBoard"
    dnd-droppable
    *ngFor="let line of pLines"
    (onDropSuccess)="simpleDrop($event, line.number)"
  >
    <div class="lineheader">
      {{ line.number }} - {{ line.discription }} Line
    </div>
    <br /><br />

    <div style=" overflow: scroll; height: 450px">
      <div
        *ngFor="let schedule of scheduleData"
        class="schedule-card"
        [dragData]="schedule"
        dnd-draggable
        [dragEnabled]="true"
        [style.background-color]="schedule.color"
      >
        <ng-container *ngIf="schedule.productionLine == line.number">
          {{ schedule.item }}, {{ schedule.batch }}<br />
          {{ schedule.productName }}
          <br />
          <mat-form-field class="example" style="margin-left: 250px">
            <input
              matInput
              placeholder="__"
              #pr
              (keyup)="setPriorty(schedule._id, pr.value)"
              [value]="schedule.pLinePositionN"
            />
          </mat-form-field>
        </ng-container>
      </div>
    </div>
  </div>

  <div
    class="machineBoard"
    dnd-droppable
    (onDropSuccess)="simpleDrop($event, '999')"
  >
    <div class="lineheader">Not assigned</div>
    <br /><Br />
    <div style=" overflow: scroll; height: 450px">
      <div
        *ngFor="let schedule of scheduleData"
        class="schedule-card"
        [dragData]="schedule"
        dnd-draggable
        [dragEnabled]="true"
      >
        <ng-container
          *ngIf="
            schedule.productionLine == '' ||
            schedule.productionLine == '999' ||
            schedule.productionLine == '99'
          "
        >
          <span style="background-color:wheat; font-weight:bold"
            >{{ schedule.positionN }}, &nbsp;{{ schedule.productionLine }},
            &nbsp; </span
          >{{ schedule.item }}, {{ schedule.batch }},<br />
          {{ schedule.productName }}
        </ng-container>
      </div>
    </div>
    <br />
  </div>
</div>
