.machineBoard{
    background: rgb(250, 255, 238);
    display: inline-block;
    margin: 12px;
    padding: 10px;
    width:20%;
    min-height: 400px;
}

.schedule-card{
    background: aqua;
    box-shadow: 3px 3px gray;
    margin-bottom: 15px;
}