<p>
  production works!
</p>

<div>
  <div class='machineBoard'  *ngFor="let line of pLines">

      Line: {{line.number}}  {{line.discription}}
      <br><br>
      <div *ngFor="let schedule of scheduleData" class="schedule-card">     
        <ng-container  *ngIf='schedule.productionLine == line.number'>
          {{schedule.item}}, {{schedule.batch}}<br>
          {{schedule.productionLine}} , {{line.number}}
          </ng-container>
      </div>

  </div>
  <div class='machineBoard'>
    Not assigned <br><Br>
      <div *ngFor="let schedule of scheduleData" class="schedule-card">
          <!--<ng-container  *ngIf='schedule.productionLine == {{line.number}}'>-->
        {{schedule.item}}, {{schedule.batch}}<br>
        
      </div><br>

  </div>

</div>