<!-- .row -->
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Production Request Form</h4>
        <h5 class="card-subtitle">Enter production request values here</h5>

        <form class="form" [formGroup]="requestForm" (submit)="onSubmit()">
          <div class="form-group m-t-40 row">
            <label for="example-number-input" class="col-2 col-form-label"
              >Production Request Number</label
            >
            <div class="col-10">
              <input
                class="form-control"
                type="number"
                formControlName="prodRequestNumber"
              />
            </div>
          </div>
          <div class="form-group m-t-40 row">
            <label for="example-search-input" class="col-2 col-form-label"
              >Item Number</label
            >
            <div class="col-10">
              <input
                class="form-control"
                type="search"
                formControlName="itemNumber"
                (focusout)="ValidateItemNumber()"
                value=""
              />
              <div *ngIf="errorItemNumber" style="font-size: 10pt; color: red;">
                Not valid Item number
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-makat-input" class="col-2 col-form-label"
              >Makat Number</label
            >
            <div class="col-4">
              <input
                type="text"
                class="form-control"
                formControlName="makatNumber"
                value=""
              />
            </div>
            <label for="example-makat-input" class="col-2 col-form-label"
              >Item's Barkod</label
            >
            <div class="col-4">
              <input
                type="text"
                class="form-control"
                formControlName="itemBarkod"
                value=""
              />
            </div>
          </div>
          <div *ngFor="let order of this.productionScheduleObject.orders">
            <app-production-orders
              #childOrders
              (sumQuantityChild)="UpdateTotalQuantity($event)"
            ></app-production-orders>
          </div>
          <div class="m-t-40 row">
            <button
              class="btn btn-success m-r-10 col-2"
              type="button"
              (click)="RealtedOrders()"
            >
              Add Related Orders
            </button>
          </div>

          <div class="form-group row" style="margin-top:30px">
            <label for="example-number-input" class="col-2 col-form-label"
              >Item production total quantity</label
            >
            <div class="col-10">
              <input
                class="form-control"
                type="number"
                value=""
                formControlName="itemTotalQuantity"
              />
            </div>
          </div>

          <button class="btn btn-success m-r-10" type="submit">Finish</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
