<p>
  order details works!
</p>
<table class='table' >
  <thead class='bg-info text-white'>
    <tr >
        <th> #</th><th *ngIf="multi==true">Order Number</th><th>Item Number	</th> <th>Description		</th> <th>Volume	</th> <th>Quantity		</th> <th>Weight		</th> <th>Remarks		</th><th>Status</th><th></th>
    </tr>
    </thead>
      
  <tbody>
    <tr *ngIf="multi==false">
        
         <td></td><td><input class="form-control form-control-sm" [(ngModel)]="itemData.itemNumber"></td> <td><input class="form-control form-control-sm" [(ngModel)]="itemData.discription" style='width:350px'  class="form-control form-control-sm"></td> <td><input type="text"  class="form-control form-control-sm" [(ngModel)]="itemData.unitMeasure"></td> <td><input [(ngModel)]="itemData.quantity"  class="form-control form-control-sm"></td> <td><input  class="form-control form-control-sm" [(ngModel)]="itemData.qtyKg"></td> <td><input #type  class="form-control form-control-sm"></td><td></td><td><button (click)="addItemOrder()" class='btn btn-success'>Add</button></td>
    
      </tr>  
  <tr>

  </tr>
  <ng-container *ngFor="let item of ordersItems; let i = index">
    <tr [style.background-color]="item.color">


          <td *ngIf="item._id===EditRowId" ><input #id type='hidden' [value]="item._id"  style='width:370px'><input #itemNumber type='hidden' [value]="item.itemNumber" >{{i}}</td>
          <td  *ngIf="item._id!==EditRowId" (click)="edit(item._id)"><b>{{i}}</b></td>
      
          <td *ngIf="multi==true">{{item.orderNumber}}</td>
          <td><span (click)="getDetails(item.itemNumber , item._id)">{{item.itemNumber}}</span></td>
          <td *ngIf="item._id===EditRowId"><input #itemname type='text' [value]="item.discription"  style='width:370px'></td>
          <td  *ngIf="item._id!==EditRowId" (click)="edit(item._id)">{{item.discription}}</td>
          <td *ngIf="item._id===EditRowId"><input #unitmeasure type='text' [value]="item.unitMeasure"  style='width:70px' ></td>
          <td  *ngIf="item._id!==EditRowId" (click)="edit(item._id)">{{item.unitMeasure}}</td>
          <td *ngIf="item._id===EditRowId"><input #quantity type='text' [value]=item.quantity  style='width:70px'></td>
          <td  *ngIf="item._id!==EditRowId" (click)="edit(item._id)">{{item.quantity}}</td>
          <td *ngIf="item._id===EditRowId"><input #weight type='text' [value]=item.qtyKg  style='width:70px'></td>
          <td  *ngIf="item._id!==EditRowId" (click)="edit(item._id)">{{item.qtyKg}}</td>
          <td *ngIf="item._id===EditRowId"><input  #itemRemarks type='text' [value]=item.itemRemarks   style='width:130px'/></td>
          <td  *ngIf="item._id!==EditRowId" (click)="edit(item._id)" [style.background-color]="item.infoColor">{{item.itemRemarks}}</td>
          <td>{{item.status}}</td>
          <!--<td><img  *ngIf="item._id!=EditRowId" src='/assets/images/deleteBtn.png' style='width:40px; cursor: pointer'  (click)="deleteItem(item)"><img  *ngIf="item._id===EditRowId" src='/assets/images/aprroved.png' style='width:30px; cursor: pointer' (click)="saveEdit()"></td>-->
          <td>
                  <i class="ti-trash text-danger m-r-10"  *ngIf="item._id!=EditRowId"    (click)="deleteItem(item)" ></i>
                  <i class="ti-save text-success m-r-10"  *ngIf="item._id===EditRowId"    (click)="saveEdit()"></i>
          </td>
          <td ></td>
      </tr>
      <tr *ngIf="item._id== EditRowId2nd && expand==true;">
        <td colspan="5">
              <table class='detilasTable'>
              <tr *ngFor="let det of detailsArr">
                <td></td><td></td> <td >{{det.type}} &nbsp;&nbsp; {{det.number}} &nbsp;&nbsp;&nbsp;<button  class='btn btn-info'>print</button></td><td></td><td></td><td></td><td></td>
              </tr>
              <tr >
                <td></td><td><h4>Set Schedule: </h4></td><td><input #date type='date'></td><td><input #shift type='text'></td><td><input #marks type='marks'></td>
                <td>
                    <input type="radio"  name="type" #type value='basic' [(ngModel)]="chosenType">Basic<br>
                    <input type="radio"  name="type"  #type value='tube' [(ngModel)]="chosenType">Tube<br>
                    <input type="radio"  name="type"   #type value='mkp' [(ngModel)]="chosenType">Mkp<br>
                </td>
                <td><button (click)='setSchedule(item ,type.value)'  class='btn btn-success'>Set</button></td>
              </tr> 
            </table>
  </td>
  </tr>
</ng-container>
</tbody>


</table>
<br>
Components:
<table>
  <tr *ngFor="let cmpt of components">
      <td>{{cmpt.componentN}}</td><td>{{cmpt.quantity}}</td><td>{{cmpt.amountExist}}</td><td>{{cmpt.allocation}}</td><td>{{cmpt.lack}}</td>
  </tr>
</table>
<!--

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
    </ng-container>

   
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let detail"> 
        The symbol for {{detail.element.name}} is {{detail.element.symbol}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
            matRipple 
            class="element-row" 
            [class.expanded]="expandedElement == row"
            (click)="expandedElement === row? expandedElement = null : expandedElement = row"></mat-row>
    <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
            [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
            style="overflow: hidden"> 
    </mat-row>
  </mat-table>
</div>
-->