/****************************************************/
button, input {
  border-radius: 5px;
}

.table-fixed thead {
  width: 100%;
  display: block;
  }
.table-fixed tbody {
  height: 700px;
  overflow-y: auto;
  width: 100%;
  display: block;
}

/* .table-fixed th{
  width:10%;
  display: inline-block;
  border: none;
}
.table-fixed td{
  width:10%;
  display: inline-block;
  border-bottom: none;
} */
.table-fixed tr{
  width: 100%;
  display: block;
  font-size: 18px;
}

.modal-inner {
  width: fit-content;
  max-height: 800px;
  overflow-y: auto;
}

.green {
  background-color: lightgreen;
}

.red{
  background-color: lightcoral;
}


.table-fixed[_ngcontent-c4] td[_ngcontent-c4] {
  width: 10%;
  display: inline-block;
  border-bottom: none;
  font-family: "Times New Roman", Times, serif;
}



input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}
/****************************************************/

#myModal{
  float: right;
}
#myModal table, #myModal h4{
  float: right;
}

#cmptModal{
  float: right;
}
#cmptModal table, #cmptModal h4{
  float: right;
}
.formuleBtn { 
  margin-right: 10px;
  background:rgb(216, 34, 34);
  border-radius: 30px;
  box-shadow: inset 0px 1px 3px 0px black;
  border: 1px solid black;
  width:50px;
}

.smallerLoader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.lightgreen { 
  background:lightgreen;
}

.lightred { 
  background:rgb(238, 86, 86);
}

.table{
  color:black;
  font-size: 15px;
}
td {
    border-bottom: 1px solid #ddd;
    font-family: "Berlin Sans FB"
}

.minAmount { 
  color:red;
}

.inStock { 
  background:green;
  
}
.noStock {
  background:lightcoral;
  
}
.ordered {
  background:lightblue;
 
}
.detilasTable tr{
  border: 0px ;
  background-color: cornsilk;
  border-radius: 8px;
}
.detilasTable tr td{
  border-radius: 0px;
}
i{
    font-size: 20px;
}
.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .element-row {
    position: relative;
  }
  
  .element-row:not(.expanded) {
    cursor: pointer;
  }
  
  .element-row:not(.expanded):hover {
    background: #f5f5f5;
  }
  
  .element-row.expanded {
    border-bottom-color: transparent;
  }
  .spanTitle{
      font-size: 18px;
      color: black;
      margin-left: 30px;
  }

  .click {
    cursor: pointer
  }

  .orderHeader{
    background-color: antiquewhite;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    width:98%;
    border: 1px solid black;
  }

.expendBtn{
  border: 0;
  border-radius: 13px 13px 13px 13px;
  padding: 7px;
  width: 30px;
  font-size: 29px;
  line-height: 61%;
}

td> a{
  font-size: 18px;
  text-align: center;
}

.noLicense{
background: repeating-linear-gradient(
    45deg,
    #ff0000,
    #FEFFEC 4px,
    #FFFFFF 5px,
    #e70c0c 20px
  );
}

.licenseExpirationClose {
  background: repeating-linear-gradient(
    45deg,
    #cf9517,
    #FEFFEC 4px,
    #FFFFFF 5px,
    #ee9d06 20px
  );
}

.license {
  background: repeating-linear-gradient(
    45deg,
    #4aeb0b,
    #FEFFEC 4px,
    #FFFFFF 5px,
    #54e013 20px
  );
}

.showCmptBtn{
  width: 70px;
  height: 73px;
  border: 4px outset darkseagreen;
  border-radius: 50px;
  padding: 5px;
  background: #fff;
  cursor: pointer;
}
.cmptListDiv{
  border: black solid 1px;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  background-color: white;
  font-size: 16px;
}
.cmptT tr{
  font-size: 18px;
  border-bottom: 1px grey black;
}
.cmptT th{
  background-color: whitesmoke ;
}
.cmptListContainer{
  width: 100%;
  float: right;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 40px;
}
.cmptListData{
  background-color: aliceblue;
  padding: 0px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.itemTreesTb thead{
background-color: aliceblue;

}
.itemTreesTb tbody{
background-color: white;

}


  @media print {
    .table{
      color:black;
      font-size: 20px;
    }
    .inputTr{    
      display: none;
    }
    i{
      display: none;
    }
    .left-sidebar{
      display: none;
    }
    .printTd{
      display: none;
    }
}




.modal-content, #myModal , #cmptModal
{
    height: 75vh;
    padding: 0px;
    margin: 0px;
    background-color: #ececec;
    width: 2265px;
}


.modal-content table
{
    background-color: #ececec;
    text-align: right;
    // direction: rtl;
}
.close
{
  padding: 5px;
  font-size: 2.3125rem;
  margin-left: 0px;
}

.clise:hover {
  background-color: rgb(87, 102, 87);
  color: white;
}

.tableHeader { 
  box-shadow: 1px 1px 3px 1px black !important;
    background: rgb(69, 69, 202);
    text-align: center;
}

tr { 
  text-align: center;
}
.orderSpanDetails{ 
  font-size: 19px;
  font-style: bold;
}
.header { 
  color: black;
  font-weight: bold;
}

.cmptListDiv[_ngcontent-c4] {
  font-size:14px !important;
}

.cmptListDiv { 
  font-size: 13px !important;
}
.modal-dialog { 
  margin-right: 15% !important;
}
.formuleTable td {
  width:14%;
}
.modal-backdrop
{
    opacity:0.1 !important;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

.reportImg {
  width: 74px;
  height: 73px;
}


// Hide arrows from input type number  :
/*********************************************** ********************/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*******************************************************************/



/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}