
  <div>
      <div style='background-color: aquamarine;display:inline-table'>לוקט</div>&nbsp;
      <div style='background-color: #CE90FF; display:inline-table'>מולא</div>&nbsp;
      <div style='background-color: #ffff00; display:inline-table'>בוצע תהליך</div>&nbsp;
      <div style='background-color: #FFC058; display:inline-table'>נארז</div>&nbsp;
      <div style='background-color: red; display:inline-table'>בעיה</div>&nbsp;
      <div style='background-color: lightblue; display:inline-table'>הודפס</div>&nbsp;
  </div>

<div class='orderHeader' *ngIf="!showingAllOrders">
  <span class='spanTitle'>Order: </span><span>{{number}} </span><i class="ti-check text-success m-r-10" (click)="closeOrder()"></i>
  <span class='spanTitle'> Order Date:</span><span> {{orderDate}} </span><span class='spanTitle'> Delivery Date: </span><span>{{deliveryDate}}</span>
  <span class='spanTitle'> Costumer :</span><span> {{costumer}} </span><span class='spanTitle'> Costumer Number:</span><span> {{costumerInternalId}} </span>
  <span class='spanTitle'> Remarks:</span><span>
    {{remarks}}</span>
</div>
<img src="assets/images/load_data2.gif" *ngIf="loadData==true" ><br>
<input matInput  placeholder="Search item by name" (change)="changeText($event)" class="form-control  mb-8" />
<table class='table' *ngIf="loadData==false">
  <thead class='bg-info text-white'>
    <tr>
      <th> #</th>
      <th *ngIf="!showingAllOrders && multi">Order Number</th>
      <th>Item Number </th>
      <th>Description </th>
      <th>Volume </th>
      <th>Quantity </th>
      <th class='printTd'>Weight</th>
      <th>Remarks </th>
      <th class='printTd'>Status</th>
      <th class='printTd'>Compile</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngIf="!showingAllOrders" class='inputTr'>
      <td></td>
      <td *ngIf="!showingAllOrders && multi"><input class="form-control form-control-sm" placeholder="Order Number" [(ngModel)]="itemData.orderNumber" #orderNum (focusout)="searchItem(orderNumber.value)"></td>
      <td><input class="form-control form-control-sm" placeholder="Item Number" [(ngModel)]="itemData.itemNumber" #itemNum (focusout)="searchItem(itemNum.value)"></td>
      <td><input class="form-control form-control-sm" placeholder="Discription" [(ngModel)]="itemData.discription" style='width:350px' class="form-control form-control-sm"></td>
      <td><input class="form-control form-control-sm" placeholder="Volume" [(ngModel)]="itemData.unitMeasure"></td>
      <td><input class="form-control form-control-sm" placeholder="Amount" [(ngModel)]="itemData.quantity"></td>
      <td><input class="form-control form-control-sm" placeholder="Weight" [(ngModel)]="itemData.qtyKg"></td>
      <td><input class="form-control form-control-sm" placeholder="Remarks" [(ngModel)]="itemData.itemRemarks"></td>
      <td></td>
      <td></td>
      <td><button (click)="addItemOrder()" class='btn btn-success'>Add</button></td>

    </tr>
    <tr>

    </tr>
    <ng-container *ngFor="let item of ordersItems; let i = index">
      <tr [style.background-color]="item.color">


        <td *ngIf="item._id===EditRowId"><input #id type='hidden' [value]="item._id" style='width:370px'><input
            #itemNumber type='hidden' [value]="item.itemNumber">{{i+1}}</td>
        <td *ngIf="item._id!==EditRowId" (click)="edit(item._id)"><b>{{i+1}}</b></td>

        <td *ngIf="multi==true">{{item.orderNumber}}</td>
        <td *ngIf="item.licsensNumber!=''">
          <button class='expendBtn' [style.background-color]="item.colorBtn" (click)="getDetails(item.itemNumber , item._id)">{{item.isExpand}}</button>&nbsp;&nbsp;
          <a target="_blank" routerLink="/peerpharm/items/itemDetails/{{item.itemNumber}}">
            {{item.itemNumber}}
          </a>
        </td>
        <td class="noLicense" *ngIf="item.licsensNumber==''">
          <button class='expendBtn' [style.background-color]="item.colorBtn" (click)="getDetails(item.itemNumber , item._id)">{{item.isExpand}}</button>&nbsp;&nbsp;
          <a target="_blank" routerLink="/peerpharm/items/itemDetails/{{item.itemNumber}}">
            {{item.itemNumber}}
          </a>
        </td>
        <td *ngIf="item._id===EditRowId"><input #itemname type='text' [value]="item.discription" style='width:370px'></td>
        <td *ngIf="item._id!==EditRowId" (click)="edit(item._id)">{{item.discription}}</td>
        <td *ngIf="item._id===EditRowId"><input #unitmeasure type='text' [value]="item.unitMeasure" style='width:70px'></td>
        <td *ngIf="item._id!==EditRowId" (click)="edit(item._id)">{{item.unitMeasure}}</td>
        <td *ngIf="item._id===EditRowId"><input #quantity type='text' [value]=item.quantity style='width:70px'></td>
        <td *ngIf="item._id!==EditRowId" (click)="edit(item._id)">{{item.quantity}}</td>
        <td *ngIf="item._id===EditRowId"><input #weight type='text' [value]=item.qtyKg style='width:70px' class='printTd'></td>
        <td *ngIf="item._id!==EditRowId" (click)="edit(item._id)">{{item.qtyKg}}</td>
        <td *ngIf="item._id===EditRowId"><input #itemRemarks type='text' [value]=item.itemRemarks style='width:130px' /></td>
        <td *ngIf="item._id!==EditRowId" (click)="edit(item._id)">{{item.itemRemarks}}</td>
        <td [style.background-color]="item.infoColor" class='printTd'>{{item.fillingStatus}}</td>

        <td *ngIf="item.compiled&&item.compiled.length==0" class='printTd' > </td>
        <td *ngIf="item.compiled&&item.compiled.length>0" class='printTd' style="cursor: pointer;" (click)="openPackingModal(item.itemNumber,i)">{{item.compiled[0].sum}}</td>
        
        <td></td>
        <!--<td><img  *ngIf="item._id!=EditRowId" src='/assets/images/deleteBtn.png' style='width:40px; cursor: pointer'  (click)="deleteItem(item)"><img  *ngIf="item._id===EditRowId" src='/assets/images/aprroved.png' style='width:30px; cursor: pointer' (click)="saveEdit()"></td>-->
        
        <td class='printTd'>
          <i class="ti-trash text-danger m-r-10" *ngIf="item._id!=EditRowId" (click)="deleteItem(item)"></i>
          <i class="ti-save text-success m-r-10" *ngIf="item._id===EditRowId" (click)="saveEdit()"></i>
        </td>

      </tr>
      <tr *ngIf="item._id== EditRowId2nd && expand==true;">
        <td colspan="5">

          <table class='detilasTable'>
            <tr>
              <td></td>
              <td>
                <h5>Batch</h5>
              </td>
              <td>{{item.batch}}</td>
              <td><input #inputBatch></td>
              <td><button class='btn btn-success'  (click)="setBatch(item, inputBatch.value, item.batch)">set</button></td>
              <td><i class="ti-check text-success m-r-10" (click)="updateBatchExist(item , item.batch)" style='cursor: pointer;'></i></td>
              <td></td>
            </tr>
            <tr *ngFor="let det of detailsArr">
              <td></td>
              <td></td>
              <td>{{det.type}} &nbsp;&nbsp; {{det.number}} &nbsp;&nbsp;&nbsp;<button class='btn btn-info'  (click)="openDetails(content, item, det)">print</button></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <h5>Set Schedule: </h5>
              </td>
              <td><input #date type='date'></td>
              <td><input #shift type='text' placeholder="Shift"></td>
              <td><input #marks placeholder="Remarks" type='marks' [value]="item.itemRemarks"></td>
              <td>
                <input type="radio" name="type" #type value='basic' [(ngModel)]="chosenType" checked>Basic<br>
                <input type="radio" name="type" #type value='tube' [(ngModel)]="chosenType">Tube<br>
                <input type="radio" name="type" #type value='mkp' [(ngModel)]="chosenType">Mkp<br>
              </td>
              <td><button (click)='setSchedule(item ,type.value)' class='btn btn-success'>Set</button></td>
            </tr>
          </table>

        </td>
      </tr>
    </ng-container>
  </tbody>


</table>
<br>
<div class='printTd'>components:
  <table>
    <tr *ngFor="let cmpt of components">
      <td>{{cmpt.componentN}}</td>
      <td>{{cmpt.quantity}}</td>
      <td>{{cmpt.amountExist}}</td>
      <td>{{cmpt.allocation}}</td>
      <td>{{cmpt.lack}}</td>
    </tr>
  </table>
</div>


















<!-- Print schedule Modal for open order items -->

<ng-template #content let-c="close" let-d="dismiss">

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Print Schedule</h4>
      <!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
      <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
        <!--  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">-->
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="form-group">
        <label for="a">Amount</label>
        <div class="input-group">
          <input class="form-control mb-4" placeholder="Amount" [(ngModel)]="printSchedule.qty">
        </div>
      </div>
  
      <div class="form-group">
        <label for="a">Date</label>
        <div class="input-group">
          <input type="date" class="form-control mb-4" placeholder="Date" [(ngModel)]="printSchedule.date">
        </div>
      </div>
  
  
  
  
      <div class="form-group">
        <label for="a">Transfer to</label>
        <div class="input-group">
          <select name="nextStage" id="nextStage" class="form-control mb-4"  [(ngModel)]="printSchedule.nextStation">
            <option value="production">Production</option>
            <option value="filling">Filling</option>
            <option value="packing">Packing</option>
          </select><br>
          <!-- <input class="form-control mb-4" placeholder="Invoice Adress" [(ngModel)]="costumer.invoice"> -->
        </div>
      </div>
  
  
      <div class="form-group">
        <label for="a">Color</label>
        <div class="input-group">
          <input class="form-control mb-8" placeholder="color" [(ngModel)]="printSchedule.color">
        </div>
      </div>
  
      <div class="form-group">
        <label for="a">Print type</label>
        <div class="input-group">
          <select name="printType" id="printType" class="form-control mb-4"  [(ngModel)]="printSchedule.printType">
              <option value="round">Round</option>
              <option value="Straight">Straight</option>
            </select><br>
        </div>
      </div>

      <div class="form-group">
          <label for="a">Remarks </label>
          <div class="input-group">
            <textarea [(ngModel)]="printSchedule.marks" class="form-control"></textarea>
          </div>
        </div>

      <div class="form-group">
        <label for="a">Image </label>
        <div class="input-group" id='img-conatiner'>
            <img [src]='plateImg'  style='width:100%;height:100%;'>
        </div>        
        <!-- <div #container>
        </div> -->
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Saved')">Save</button>
    </div>
  
  </ng-template>





  <div *ngIf="packingModal==true" id="myModal" class="modal2" style='border:1px; border-radius:5px;z-index: 1;position: fixed; left:230px;top:130px; box-shadow: 0px 0px 39px 8px rgba(0,0,0,0.3);'>

      <!-- Modal content -->
      <div class="modal-content" style='width:650px' id='modelC'>
        <div class="modal-header">
          <span class="close" id="closeId2" (click)="packingModal=false;newItem='';">&times;</span>
          <h2 id='div_h3'>{{openPackingModalHeader}}</h2><br>
        </div>

        <div class="modal-body" style="overflow-y:scroll; overflow-x:hidden; height: 500px; padding-left: 0px">
          <div clas="modalFullWidth" width="100%">

          </div>
          <table class="itemPackings" width="100%">
            <thead>
              <tr>
                <th><b>מספר פריט</b></th>
                <th><b>יח' בקרטון</b></th>
                <th><b>קרטונים במשטח</b></th>
                <th><b>מספר משטח</b></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let itemPackingPallet of itemPackingList">
                <td>{{itemPackingPallet.itemNumber}}</td>
                <td>{{itemPackingPallet.pcsCtn}}</td>
                <td>{{itemPackingPallet.ctnPallet}}</td>
                <td>{{itemPackingPallet.palletNumber}}</td>
              </tr>
            </tbody>
          </table>
<br><br>

          <div class="orerPallets" *ngFor="let orderPallet of orderPalletsArr" >
            <h4>משטח מספר {{orderPallet}}</h4>
            <table class="orerPalletsTable" width="100%">
              <thead>
                <tr>
                  <th><b>מספר פריט</b></th>
                  <th><b>יח' בקרטון</b></th>
                  <th><b>קרטונים במשטח</b></th>
  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let itemPackingPallet of itemPackingList">
                  
                 <ng-container *ngIf="itemPackingPallet.palletNumber==orderPallet">
                    <td>{{itemPackingPallet.itemNumber}}</td>
                    <td>{{itemPackingPallet.pcsCtn}}</td>
                    <td>{{itemPackingPallet.ctnPallet}}</td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
        <div class="modal-footer">
          <!-- <button  class="btn btn-success" (click)="updateItemPacking(itemNumber)" >עדכן</button> -->
        </div>
      </div>







