<div class="row">
   

    <div class="col-md-3 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <h4 class="card-title">Orders</h4>
                    <button class="btn btn-lg btn-block font-medium btn-outline-success onunblock">Open Orders</button>
                    <button class="btn btn-lg btn-block font-medium btn-outline-success onunblock">New Order</button>
                    <button class="btn btn-lg btn-block font-medium btn-outline-success onunblock">All Orders</button> 
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <h4 class="card-title">Schedule</h4>
                    <button class="btn btn-lg btn-block font-medium btn-outline-danger onunblock">Filling</button>
                    <button class="btn btn-lg btn-block font-medium btn-outline-danger onunblock">Printing</button>
                    <button class="btn btn-lg btn-block font-medium btn-outline-danger onunblock">Make-up</button> 
                    <button class="btn btn-lg btn-block font-medium btn-outline-danger onunblock">Barcode Print</button> 
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-3 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <h4 class="card-title">Items</h4>
                    <button class="btn btn-lg btn-block font-medium btn-outline-warning onunblock">Item List</button>
                    <button class="btn btn-lg btn-block font-medium btn-outline-warning onunblock">Item Tree</button>
                    <button class="btn btn-lg btn-block font-medium btn-outline-warning onunblock">All Orders</button> 
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-3 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <h4 class="card-title">Formules</h4>
                    <button class="btn btn-lg btn-block font-medium btn-outline-cyan onunblock">Add Formule</button>
                    <button class="btn btn-lg btn-block font-medium btn-outline-cyan onunblock">Scan Barcode</button>
                    <button class="btn btn-lg btn-block font-medium btn-outline-cyan onunblock">New Product Wizard</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <h4 class="card-title">Customers</h4>
                    <button class="btn btn-lg btn-block font-medium btn-outline-success onunblock">Add new customer</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <h4 class="card-title">Batches</h4>
                    <button class="btn btn-lg btn-block font-medium btn-outline-danger onunblock">Batch List</button>
                </div>
            </div>
        </div>
    </div>



    <div class="col-md-3 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <h4 class="card-title">Procurement</h4>
                      <button class="btn btn-lg btn-block font-medium btn-outline-warning onunblock">Procurement Orders</button>
                      <button class="btn btn-lg btn-block font-medium btn-outline-warning onunblock">Procurement Order Items</button>
                    <button class="btn btn-lg btn-block font-medium btn-outline-warning onunblock">Order-Item Balance</button>
                    <button class="btn btn-lg btn-block font-medium btn-outline-warning onunblock">New Procurement</button>
                </div>
            </div>
        </div>
    </div>





    <div class="col-md-3 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <h4 class="card-title">Plates</h4>
                    <button class="btn btn-lg btn-block font-medium btn-outline-cyan onunblock">Plate List</button>
                </div>
            </div>
        </div>
    </div>


    
    <div class="col-md-3 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <h4 class="card-title">Inventory</h4>
                        <button class="btn btn-lg btn-block font-medium btn-outline-success onunblock">Inventory List</button>
                        <button class="btn btn-lg btn-block font-medium btn-outline-success onunblock">Warehouse</button>
                        <button class="btn btn-lg btn-block font-medium btn-outline-success onunblock">New Request</button>
                        <button class="btn btn-lg btn-block font-medium btn-outline-success onunblock">Material Arrival</button>
                        <button class="btn btn-lg btn-block font-medium btn-outline-success onunblock">Suppliers</button>
                    </div>
                </div>
            </div>
        </div>


        
    <div class="col-md-3 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <h4 class="card-title">QA</h4>
                        <button class="btn btn-lg btn-block font-medium btn-outline-danger onunblock">Forms</button>
                    </div>
                </div>
            </div>
        </div>

        
    <div class="col-md-3 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <h4 class="card-title">Production</h4>
                        <button class="btn btn-lg btn-block font-medium btn-outline-warning onunblock">Lines</button>
                        <button class="btn btn-lg btn-block font-medium btn-outline-warning onunblock">Production Hall</button>
                        <button class="btn btn-lg btn-block font-medium btn-outline-warning onunblock">Production Request</button>
                        <button class="btn btn-lg btn-block font-medium btn-outline-warning onunblock">Production Schedule</button> 
                    </div>
                </div>
            </div>
        </div>


        
    <div class="col-md-3 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <h4 class="card-title">Reports</h4>
                        <button class="btn btn-lg btn-block font-medium btn-outline-cyan onunblock">History Action Logs</button>
                        <button class="btn btn-lg btn-block font-medium btn-outline-cyan onunblock">Active Users</button>
                    </div>
                </div>
            </div>
        </div>




</div>