<div class="row">
  <div class="col-md-3 col-sm-12" *ngIf="adminPanelView">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <h4 class="card-title">Administrator</h4>
          <a routerLink="/peerpharm/admin"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-primary onunblock"
            >
              Admin Panel
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <h4 class="card-title">Orders</h4>
          <a routerLink="/peerpharm/allorders/orders"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-success onunblock"
            >
              Open Orders
            </button></a
          >
          <a routerLink="/peerpharm/allorders/neworder"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-success onunblock"
            >
              New Order
            </button></a
          >
          <a routerLink="/peerpharm/allorders/orders/allorders"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-success onunblock"
            >
              All Orders
            </button></a
          >
          <a routerLink="/peerpharm/allorders/open-orderitems"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-success onunblock"
            >
              Open OrderItems
            </button></a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <h4 class="card-title">Schedule</h4>
          <a routerLink="/peerpharm/schedule/fillschedule"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-danger onunblock"
            >
              Filling
            </button></a
          >
          <a routerLink="/peerpharm/schedule/printschedule"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-danger onunblock"
            >
              Printing
            </button></a
          >
          <a routerLink="/peerpharm/schedule/makeupschedule"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-danger onunblock"
            >
              Make-up
            </button></a
          >
          <!-- <a routerLink="/peerpharm/schedule/barcode-print"><button class="btn btn-lg btn-block font-medium btn-outline-danger onunblock">Barcode Print</button></a>  -->
          <a routerLink="/peerpharm/schedule/projects"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-danger onunblock"
            >
              Projects
            </button></a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <h4 class="card-title">Items</h4>
          <a routerLink="/peerpharm/items/itemslist"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-warning onunblock"
            >
              Item List
            </button></a
          >
          <a routerLink="/peerpharm/items/itemDetails"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-warning onunblock"
            >
              Item Tree
            </button></a
          >
          <a routerLink="/peerpharm/items/itemreports"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-warning onunblock"
            >
              Item Reports
            </button></a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <h4 class="card-title">Formules</h4>
          <a routerLink="/peerpharm/formule/addnewformule"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-cyan onunblock"
            >
              Add Formule
            </button></a
          >
          <button
            class="btn btn-lg btn-block font-medium btn-outline-cyan onunblock"
          >
            Scan Barcode
          </button>
          <button
            class="btn btn-lg btn-block font-medium btn-outline-cyan onunblock"
          >
            New Product Wizard
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <h4 class="card-title">Customers</h4>
          <a routerLink="/peerpharm/costumers/costumers_list"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-success onunblock"
            >
              Add New Customer
            </button></a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <h4 class="card-title">Batches</h4>
          <a routerLink="/peerpharm/batches/newBatch"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-danger onunblock"
            >
              New Batch
            </button></a
          >
          <a routerLink="/peerpharm/batches/batchesList"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-danger onunblock"
            >
              Batch List
            </button></a
          >
          <a routerLink="/peerpharm/batches/mkpBatchesList"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-danger onunblock"
            >
              MakeUp Batch List
            </button></a
          >
          <a routerLink="/peerpharm/batches/bulksInventory"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-danger onunblock"
            >
              Bulks Inventory
            </button></a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <h4 class="card-title">Procurement</h4>
          <a routerLink="/peerpharm/procurement/procurementOrders"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-warning onunblock"
            >
              Procurement Orders
            </button></a
          >
          <a routerLink="/peerpharm/procurement/procurementOrderItems"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-warning onunblock"
            >
              Procurement Order Items
            </button></a
          >
          <a routerLink="/peerpharm/procurement/procurementOrderItemBalance"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-warning onunblock"
            >
              Order-Item Balance
            </button></a
          >
          <a routerLink="/peerpharm/procurement/newProcurement"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-warning onunblock"
            >
              New Procurement
            </button></a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <h4 class="card-title">Plates</h4>
          <a routerLink="/peerpharm/plates/plates"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-cyan onunblock"
            >
              Plate List
            </button></a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <h4 class="card-title">Inventory</h4>
          <a routerLink="/peerpharm/inventory/stock"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-success onunblock"
            >
              Inventory List
            </button></a
          >
          <a routerLink="/peerpharm/inventory/wharehouse"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-success onunblock"
            >
              Warehouse
            </button></a
          >
          <a routerLink="/peerpharm/inventory/inventoryRequest"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-success onunblock"
            >
              New Request
            </button></a
          >
          <a routerLink="/peerpharm/inventory/materialArrival"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-success onunblock"
            >
              Material Arrival
            </button></a
          >
          <a routerLink="/peerpharm/inventory/suppliers"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-success onunblock"
            >
              Suppliers
            </button></a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <h4 class="card-title">QA</h4>
          <a routerLink="/peerpharm/forms/forms_list"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-danger onunblock"
            >
              Forms
            </button></a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <h4 class="card-title">Production</h4>
          <a routerLink="/peerpharm/production/lines"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-warning onunblock"
            >
              Lines
            </button></a
          >
          <a routerLink="/peerpharm/production/productionHall"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-warning onunblock"
            >
              Production Hall
            </button></a
          >
          <a routerLink="/peerpharm/production/productionRequest"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-warning onunblock"
            >
              Production Request
            </button></a
          >
          <a routerLink="/peerpharm/production/productionSchedule"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-warning onunblock"
            >
              Production Schedule
            </button></a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <h4 class="card-title">Reports</h4>
          <a routerLink="/peerpharm/historylogs"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-cyan onunblock"
            >
              History Action Logs
            </button></a
          >
          <a routerLink="/peerpharm/activeusers"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-cyan onunblock"
            >
              Active Users
            </button></a
          >
          <a routerLink="/peerpharm/builder"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-cyan onunblock"
            >
              Report builder (Export data)
            </button></a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <h4 class="card-title">Customers</h4>
          <a routerLink="/peerpharm/customers"
            ><button
              class="btn btn-lg btn-block font-medium btn-outline-cyan onunblock"
            >
              Customers
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
