
<table class='table'>
  <thead class='bg-info text-white'>
    <tr>
      <td></td>
      <td>File</td>
      <td>Expiration Date</td>
      <td>Update Date</td>
      <td>Update By</td>
      <td>Upload File</td>
      <td>Notification</td>
      <td>Inform</td>
    </tr>
  </thead>
  <tr>
    <td>
      MSDS
    </td>
    <td>
      <a href='{{item.msdsFileLink}}'  target="_blank">Open</a>
    </td>
    <td>
    </td>
    <td>
      <span>14/07/2018</span>
    </td>
    <td>
      Sima 
    </td>
    <td>
      <div class="custom-file" >
        <input type="file" class="custom-file-input" id="customFile"  (change)="selectFile($event, 'msds')">
        <label class="custom-file-label" for="customFile" style='display: inline-flex'>MSDS - Choose file </label>
        <button class="btn" [disabled]="!selectedFiles" (click)="upload('msds')" *ngIf='msdsFile' >Upload</button>
      </div>
    </td>
    <td>
      <img class='notification' *ngIf='item.msdsFileLink==null || item.msdsFileLink=="" ' src='../../../../assets/images/alert2.png'>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      Licence
    </td>
    <td>
      <a href='google.co.il'>Open</a>
    </td>
    <td>
      <input type='date' class='form-control'>
    </td>
    <td>
      <span>14/07/2018</span>
    </td>
    <td>
      Sima
    </td>
    <td>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile"   (change)="selectFile($event, 'licence')">
        <label class="custom-file-label" for="customFile">Licence - Choose file</label>
        <button class="btn" [disabled]="!selectedFiles" (click)="upload('licence')" *ngIf='licenceFile'>Upload</button>
      </div>
    </td>
    <td>
      <img class='notification' *ngIf=' item.licenceFileLink==null || item.licenceFileLink=="" '  src='../../../../assets/images/alert2.png'> 
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      Plate
    </td>
    <td>
      <a href='google.co.il'>Open</a>
    </td>
    <td>
      <span><b>Status</b></span>&nbsp;&nbsp;<span>{{item.plateStatus}}</span>
    </td>
    <td>
      <span>14/07/2018</span>
    </td>
    <td>
      Sima
    </td>
    <td>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile"  (change)="selectFile($event, 'plate')">
        <label class="custom-file-label" for="customFile">Plate - Choose file</label>
        <button class="btn" [disabled]="!selectedFiles" (click)="upload('plate')" *ngIf='plateFile'>Upload</button>
      </div>
    </td>
    <td>
    <img class='notification' *ngIf='item.plateNotifaction=="notifiy"' src='../../../../assets/images/alert2.png'>
    </td>
    <td>
      <button class='btn btn-danger'  (click)='notifyDialog("plate")'>Notifty</button>
      <button class='btn btn-success' (click)='dismiss("plate")'>Dismiss</button>
      <button class='btn btn-info'>Arrived</button><br>
      <div  *ngIf='plateText'>
      <textarea rows='4' cols='50' class='form-control' #textPlate style='margin-top: 20px'></textarea>
      <button class='btn btn-info' (click)="notify('plate', textPlate.value)">Update</button>
    </div>
    </td>
  </tr>
  <tr>
    <td>
      Label
    </td>
    <td>
      <a href='google.co.il'>Open</a>
    </td>
    <td>
        <span><b>Status</b></span>&nbsp;&nbsp;<span>{{item.labelStatus}}</span>
    </td>
    <td>
      <span>14/07/2018</span>
    </td>
    <td>
      Sima
    </td>
    <td>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile"   (change)="selectFile($event, 'label')">
        <label class="custom-file-label" for="customFile">Label - Choose file</label>
        <button class="btn" [disabled]="!selectedFiles" (click)="upload('label')" *ngIf='labelFile' >Upload</button>
      </div>
    </td>
    <td>
      <img class='notification' *ngIf='item.labelNotifaction=="notifiy"' src='../../../../assets/images/alert2.png'>
    </td>
    <td>
      <button class='btn btn-danger'  (click)='notifyDialog("label")'>Notifty</button>
      <button class='btn btn-success' (click)='dismiss("label")'>Dismiss</button><br>
      <div *ngIf='labelText'>
        <textarea rows='4' cols='50' class='form-control'   #txtlabel style='margin-top: 20px'></textarea>
        <button class='btn btn-info'  (click)='notify("label" ,txtlabel.value)'>Update</button>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      Word-Label
    </td>
    <td>
      <a href='google.co.il'>Open</a>
    </td>
    <td>
      <textarea rows='1' cols='50' class='form-control' #txt placeholder="Text (changes)" [value]="item.wordLabelChangeText"></textarea>
    </td>
    <td>
      <span>14/07/2018</span>
    </td>
    <td>
      Sima
    </td>
    <td>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile"  (change)="selectFile($event, 'wordlabel')">
        <label class="custom-file-label" for="customFile">Word-Label - Choose file</label>
        <button class="btn" [disabled]="!selectedFiles" (click)="upload('wordlabel')" *ngIf='wordlabelFile' >Upload</button>
      </div>
    </td>
    <td>
    </td>
    <td>
      <button class='btn btn-danger'  (click)='notify("wordLabel" ,txt.value)'>Notifty</button>
      <button class='btn btn-success' (click)='dismiss("wordLabel")'>Dismiss</button>
    </td>
  </tr>
  <tr>
    <td>
      COA
    </td>
    <td>
      <a href='google.co.il'>Open</a>
    </td>
    <td>
    </td>
    <td>
      <span>14/07/2018</span>
    </td>
    <td>
      Sima
    </td>
    <td>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile"  (change)="selectFile($event, 'coa')">
        <label class="custom-file-label" for="customFile">COA - Choose file</label>
        <button class="btn" [disabled]="!selectedFiles" (click)="upload('coa')" *ngIf='coaFile' >Upload</button>
      </div>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>



</table>

   