main {
  overflow: auto;
  max-height: 150%;
}
.redColor {
  color: rgb(189, 22, 22);
  font-weight: bold;
}
.greenColor {
  color: green;
  font-weight: bold;
}

.read-only {
  pointer-events: none;
}

.tr {
  border: 1px solid black;
}
.th {
  border: 1px solid black;
}
.td {
  border: 1px solid black;
}

.zeroUnits {
  background: lightcoral;
}

.modal-inner {
  width: fit-content;
  max-height: 800px;
  overflow-y: auto;
}

.modal3 {
  border: 1px;
  border-radius: 5px;
  z-index: 1;
  position: fixed;
  top: 150px;
  left: 50px;
  right: 50px;
  width: auto;
  overflow-y: scroll;
  max-height: 150%;
  padding: 20px;
}
