<input type="text"  placeholder="Search item name" (change)="changeText($event)" />
From: <input (change)="dateChange()" #fromDateStr type="date"> To: <input (change)="dateChange()" #toDateStr type="date">

<img style="width:50px;" (click)="exportAsXLSX()" src="../../../../assets/images/excel.png">
<br>

<table class='table table-responsive'>
    <thead class='tableheader text-center text-white'>
      <tr>
        <th style="width:3%;"><strong>#</strong></th>
        <th style="width:9%;"><strong>הערות</strong></th>
        <th style="width:9%;"><strong>מספר פריט</strong></th>
        <th style="width:15%;"><strong>שם חו"ג</strong></th>
        <th style="width:5%;"><strong>מיקום</strong></th>
        <th style="width:8%;"><strong>מספר ספק</strong></th>
        <th style="width:6%;"><strong>כמות</strong></th>
        <th style="width:8%;"><strong>שם ספק</strong></th>
        <th style="width:8%;"><strong>אצוות יצרן</strong></th>
        <th style="width:8%;"><strong>תאריך תפוגה</strong></th>
        <th style="width:6%;"><strong>אנליזה</strong></th>
        <th style="width:10%;"><strong>תאריך הגעה</strong></th>
        <th style="width:3%;"><strong>הדפסה</strong></th>

      </tr>
    </thead>
    <tbody class='text-center table-hover'>
        <tr style="box-shadow: inset 1px -1px 2px 0px black; margin-top: 1px;"  *ngFor="let arrival of materialsArrivals; let i = index" >
            <td style="width:3%;"><strong>{{i+1}}</strong></td>

            <td *ngIf="arrival._id != EditRowId"  (click)="edit(arrival._id)" style="width:9%;">{{arrival.remarks}}</td>
            <td *ngIf="arrival._id==EditRowId"  (click)="edit(arrival._id)" style="width:9%;">
              <input  #remarks type='text' [value]="arrival.remarks" style='width: 200px'>
            </td>


            <td *ngIf="arrival._id != EditRowId"  (click)="edit(arrival._id)" style="width:9%;">{{arrival.internalNumber}}</td>
            <td *ngIf="arrival._id==EditRowId"  (click)="edit(arrival._id)" style="width:9%;">
              <input  #internalNumber type='text' disabled [value]="arrival.internalNumber" style='width: 60px'>
            </td>

            <td *ngIf="arrival._id!=EditRowId" (click)="edit(arrival._id)" style="width:15%; padding:5px">{{arrival.materialName}}</td>
            <td *ngIf="arrival._id==EditRowId"  style="width:15%; padding:5px">
              <input #materName type='text' disabled [value]="arrival.materialName" style='width: auto'>
            </td>

            <td *ngIf="arrival._id!=EditRowId" (click)="edit(arrival._id)" style="width:5%; padding:5px">{{arrival.position}}</td>
            <td *ngIf="arrival._id==EditRowId"  style="width:5%; padding:5px">
              <input #materialPosition type='text'  [value]="arrival.position">
            </td>

            <td *ngIf="arrival._id!=EditRowId" (click)="edit(arrival._id)" style="width:8%; padding:5px">{{arrival.supplierNumber}}</td>
            <td *ngIf="arrival._id==EditRowId"  style="width:5%; padding:5px">
              <!-- <input disabled #supplierNumber  type='text'  [value]="arrival.supplierNumber" > -->
            </td>

            <td *ngIf="arrival._id!=EditRowId" (click)="edit(arrival._id)" style="width:6%; padding:5px">{{arrival.totalQnt}} {{arrival.packageType}}</td>
            <td *ngIf="arrival._id==EditRowId"  style="width:6%; padding:5px">
              <input  #quantity  type='number'  [value]="arrival.totalQnt" style='width: 50px'>
              <input  #packageType  type='text'  [value]="arrival.packageType" style='width: 50px'>
            </td>

            <td *ngIf="arrival._id!=EditRowId" (click)="edit(arrival._id)" style="width:8%; padding:5px">{{arrival.supplierName}}</td>
            <td  *ngIf="arrival._id==EditRowId"  style="width:8%; padding:5px">
              <!-- <input #supplierName type='text' [value]="arrival.supplierName" style='width:170px'> -->
              
              <input class="form-control is-valid"  #supplierName type="text" [value]="arrival.supplierName" name='supplierName' (keyup)="filterSuppliers(supplierName.value)">
              <ul *ngIf="supplierName.value !=''" class="list-group" id="myList" style="overflow-y: auto; max-height: 200px;">
                <li *ngFor="let sup of suppliersList" class="list-group-item" (click)="chooseSupplierFromList(sup,$event)" style="width: auto; cursor:pointer;">{{sup.suplierName}}</li>
              </ul>  
            </td>

            <td *ngIf="arrival._id!=EditRowId" (click)="edit(arrival._id)" style="width:8%; padding:5px">{{arrival.lotNumber}}</td>
            <td *ngIf="arrival._id==EditRowId"  style="width:8%; padding:5px">
              <input class="text-center" #lotNum  type='text' [value]="arrival.lotNumber" style='width: 75px'>
            </td>

            <td *ngIf="arrival._id!=EditRowId" (click)="edit(arrival._id)" style="width:8%; padding:5px">{{arrival.expiryDate | date: "dd/MM/yyyy" }}</td>
            <td *ngIf="arrival._id==EditRowId"  style="width:8%; padding:5px">
              <input class="text-center" #expireDate type='date' [value]="dateString" style='width: auto'>
            </td>

            <td *ngIf="arrival._id!=EditRowId" style="width:6%; padding:5px">
              <div *ngIf="arrival.analysisApproval==true"><img style="width: 25px" src="../../../../assets/images/aprroved.png"/></div>
              <div *ngIf="arrival.analysisApproval!=true"><img style="width: 25px" src="../../../../assets/images/delete.png"/></div>
            </td>
            <td  *ngIf="arrival._id==EditRowId"  style="width:6%; padding:5px">
              <input class="text-center" #analysisApproval (change)="isChecked($event)" type='checkbox' [checked]="arrival.analysisApproval" style='width: 60px'>
            </td>

            <td *ngIf="arrival._id!=EditRowId" (click)="edit(arrival._id)" style="width:10%; padding:5px">{{arrival.arrivalDate | date: "dd/MM/yyyy" }}</td>
            <td *ngIf="arrival._id==EditRowId"  style="width:10%; padding:5px">
              <input #arriveDate type='date' disabled [value]="dateString2" style='width: auto'>
            </td>

            <td *ngIf="arrival._id!=EditRowId" style="width:3%; padding:5px">
              <img src="../../../../assets/images/printer.jpg" style="width: 40px; cursor: pointer;" (click)="printBarcode(arrival._id)">
            </td>
            <td *ngIf="arrival._id==EditRowId"  style="width:3%; padding:5px">
              <i class="ti-save text-success m-r-10" style="font-size: 30px; cursor: pointer"  (click)="saveEdit(currDoc)"></i>
            </td>


          </tr>
    </tbody>
    </table>
 

    <!-- 
    [printStyle]="{ 'body' : {'margin-top': '5px' }, '#itemNumber': {'margin-top': '10px'  }, 'table' : {'text-align': 'right','width': '80%'} }"
     -->

              <!-- PRINT BARCODE SECTION -->
            <div style="visibility: hidden;">
                <!-- <button #printBtn style="visibility: hidden" -->
              <button #printBtn 
              [printStyle]="{ 'body' : {'margin-top': '20px' }, 'table' : {'text-align': 'center','width': '100%'} , 'td': {'border-top': 'solid black 1px'} }"
              printSectionId="print-section"
              ngxPrint>print
              </button>
    
                <!-- <div class="row clearfix" id="print-section" style="visibility: hidden"> -->
              <div class="row clearfix" id="print-section" style="visibility: hidden">
                  <table
                    class="barcodeTbl"
                    dir="rtl"
                    [style.margin.px]="1"
                    [style.width.px]="600"
                    [style.max-height.px]="300"
                    [style.font-size.px]="40"
                    style.font-weight="900"
                    style.font-family="Arial"
                    style.float="right"
                    
                  >
                  <tr dir="ltr">
                    <td colspan="2" *ngIf="!smallText" [style.font-size.px]="40" [style.font-weight]="900">{{ materialName }}</td>
                    <td colspan="2" *ngIf="smallText" [style.font-size.px]="25" [style.font-weight]="900">{{ materialName }}</td>
                  </tr>  
                  <tr> 
                    <td colspan="2" id='itemNumber' ><span [style.font-size.px]="25" >מק"ט: </span> {{ materialNum }}</td>
                  </tr>
                  <tr>
                    
                    
                      <td dir="rtl"><span [style.font-size.px]="25" >אצווה: </span> {{ lotNumber }}</td>
                      <td><span [style.font-size.px]="25" >ת.תפוגה: </span> {{ expiryDate | date: 'dd/MM/yyyy' }}</td>
                  </tr>
                  <tr>
                      <td><span [style.font-size.px]="25" >ת.יצור: </span> {{ productionDate | date: 'dd/MM/yyyy' }}</td>
                      <td><span [style.font-size.px]="25" >ת.קבלה: </span> {{ arrivalDate | date: 'dd/MM/yyyy' }}</td>
                  </tr>
                
                  <!-- <tr>
                    <td colspan="2"><span [style.font-size.px]="25" >ת.יצור: </span> {{ productionDate | date: 'dd/MM/yyyy' }}</td>
                  </tr>
                  <tr>
                    <td colspan="2"><span [style.font-size.px]="25" >ת.קבלה: </span> {{ arrivalDate | date: 'dd/MM/yyyy' }}</td>
                  </tr> -->
                  <!-- <tr>
                  </tr> -->

                  <tr>
                    <td colspan="2" id='barcode'>
                      
                    <ngx-barcode 
                    [bc-element-type]="elementType" 
                    [bc-value]="bcValue" 
                    [bc-format]="format" 
                    [bc-line-color]="lineColor"
                    [bc-width]="width"
                    [bc-height]="height" 
                    [bc-display-value]="displayValue" 
                    [bc-font-options]="fontOptions" 
                    [bc-font]="font"
                    [bc-text-align]="textAlign" 
                    [bc-text-position]="textPosition" 
                    [bc-text-margin]="textMargin" 
                    [bc-font-size]="fontSize" 
                    [bc-background]="background"
                    [bc-margin]="margin"  
                    [bc-margin-top]="marginTop" 
                    [bc-margin-bottom]="marginBottom" 
                    [bc-margin-left]="marginLeft" 
                    [bc-margin-right]="marginRight">
                  </ngx-barcode>
                    </td>
                  </tr>
                  <tr>
                    <td><span [style.font-size.px]="15" >מיקום: </span> {{ position }}</td>
                  </tr>
                  <!-- <tr>
                    <td  >{{ bcValue }}</td>
                  </tr> -->
                </table>
              </div>
            </div>