<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
    <label class="p-2 click" style="background-color: rgb(2, 35, 128); color:white;">Now</label> 
    </ng-template>
    <table class='table'>
      <thead class='bg-info text-white'>
        <tr *ngIf="newReqIncoming"  style="background-color: tomato;" 
        (click)="getAllGeneralDemands()">
          <th colspan="5" style="font-size: 18px; text-align: right;"><b>נשלחו בקשות חדשות למחסן</b></th>
          <th colspan="1"><img src="../../../../assets/images/expand.png" alt="download new requests" 
            style="width: 35px; cursor:pointer; " >
          </th>
        </tr>
        <tr>
          <th>#</th>
          <th>Request Number</th>
          <th>Date</th>
          <th>Warehouse</th>
          <th>To Department:</th>
          <th></th>
          <th>
            <img src='assets/images/move.png' class='imgBtn' (click)="loadItems()">
          </th>
        </tr>
      </thead>
      <ng-container *ngFor="let demand of ordersDemands; let i =index">
        <tr [style.background]="demand.ergent ? 'lightcoral' : ''">
          <td>{{i+1}}</td>
          <td><a  (click)="getDetails(demand._id, demand.reqNum)" style='color: blue; cursor: pointer;'>{{demand.reqNum}}</a></td>
          <td>{{demand.deliveryDate}}</td>
          <td>{{demand.fromWH}}</td>
          <td>{{demand.toDepartment}}</td>
          <td>{{demand.userName}}</td>
          <td>
              <i class="ti-check text-success m-r-10" style="font-size:35px; cursor: pointer;"  
              (click)="closeInventoryReqManually(demand._id)"></i>
          </td>
        </tr>
        
        <tr *ngIf="demand._id== EditRowId2nd && expand==true;">   
          <th  class="cmptTh"></th>
          <th class="cmptTh">Item Number</th>
          <th class="cmptTh">Order</th>
          <th class="cmptTh">Delivery Date</th>
          <th class="cmptTh">Amount</th>
          <th class="cmptTh">Supplied</th>
          <th class="cmptTh">remark</th>
        </tr>
          <ng-container *ngFor="let cmpt of demand.reqList;" >
              <tr *ngIf="demand._id== EditRowId2nd && expand==true;" [style.background-color]='cmpt.cmptLineColor'>
                <td> <input type="checkbox" [(ngModel)]="cmpt.isSelected"> </td>
                <td>{{cmpt.itemNumber}}</td>
                <td>{{cmpt.relatedOrder}}</td>
                <td>{{demand.deliveryDate}}</td>
                <td>{{cmpt.amount}}</td>
                <td>{{cmpt.qntSupplied}}</td>
                <td>{{cmpt.remarks}}</td>
              </tr>
          </ng-container>
        
      </ng-container>
    </table>
    
  </mat-tab>
  <mat-tab>
    <ng-template  mat-tab-label>
    <label class="p-2 click" style="background-color:  rgb(206, 172, 19); color:white;">History</label>
    </ng-template>
    <table class='table'>
        <thead style="background-color:  rgb(206, 172, 19);" class='text-white'>
      <tr>
        <th>#</th>
        <th>Request Number</th>
        <th>Date</th>
        <th>Warehouse</th>
        <th></th>
        <th>
          <img src='assets/images/move.png' class='imgBtn' (click)="loadItems()">
        </th>
      </tr>
      </thead>
      <ng-container *ngFor="let request of allRequests; let i =index">
          <tr >
            <td>{{i+1}}</td>
            <td><a (click)="getDetails(request._id, request.reqNum)" style='color: blue; cursor: pointer;'>{{request.reqNum}}</a></td>
            <td>{{request.deliveryDate}}</td>
            <td>{{request.fromWH}}</td>
            <td>{{request.reqStatus}}</td>
            <td>{{request.userName}}</td>
            <td>
                <i class="ti-check text-success m-r-10" style="font-size:35px; cursor: pointer;"  
                (click)="closeInventoryReqManually(request._id)"></i>
            </td>
          </tr>

          <tr  *ngIf="request._id== EditRowId2nd && expand==true;">   
              <th  class="cmptTh"></th>
              <th class="cmptTh">Item Number</th>
              <th class="cmptTh">Delivery Date</th>
              <th class="cmptTh">Amount</th>
              <th class="cmptTh">Supplied</th>
              <th class="cmptTh">remark</th>
            </tr>
          
              <ng-container *ngFor="let cmpt of request.reqList;" >
                  <tr *ngIf="request._id== EditRowId2nd && expand==true;" [style.background-color]='cmpt.cmptLineColor'>
                    <td> <input type="checkbox" [(ngModel)]="cmpt.isSelected"> </td>
                    <td>{{cmpt.itemNumber}}</td>
                    <td>{{request.deliveryDate}}</td>
                    <td>{{cmpt.amount}}</td>
                    <td>{{cmpt.qntSupplied}}</td>
                    <td>{{cmpt.remarks}}</td>
                  </tr>
              </ng-container>
           
      </ng-container>
    </table>
 
  </mat-tab>
  <mat-tab>
    <ng-template disabled  mat-tab-label>
      </ng-template>
  </mat-tab>
  <mat-tab disabled>
    <ng-template  mat-tab-label>
      <img src="../../../../assets/images/excel.png" style="width: 37px; cursor: pointer;" (click)="export()" alt="">
      </ng-template>
  </mat-tab>
  <mat-tab ngbTooltip="Get all requests" disabled>
    <ng-template  mat-tab-label>
      <label><img style="width: 37px; cursor: pointer;"  (click)="getAllGeneralDemands()"  src="../../../../assets/images/refreshData.png" alt=""></label>
      </ng-template>
  </mat-tab>
</mat-tab-group>