<img src='assets/images/add.png' style='width:50px; cursor: pointer;' (click)="open(content)"><br><br>


<table class='table'>
  <thead class='tableHeader'>

    <tr>
      <th></th>
      <th style="padding:5px">Costumer Id</th>
      <th style="padding:5px">Name</th>
      <th style="padding:5px">Brand</th>
      <th style="padding:5px">Address</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="table_body">
    <tr style="box-shadow: inset 1px -1px 2px 0px black; margin-top: 1px;" *ngFor="let costumer of costumers; let i=index">
      <td>{{i}}</td>
      <td (click)='openDetails(content, i)' style="cursor:pointer;">{{costumer.costumerId}}</td>
      <td>{{costumer.costumerName}}</td>
      <td>{{costumer.brand}}</td>
      <td>{{costumer.invoice}}</td>
      <td></td>
    </tr>
  </tbody>
</table>














<ng-template #content let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Costumer</h4>
    <!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <!--  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">-->
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="a">Id (internal)</label>
      <div class="input-group">
        <input class="form-control mb-4" placeholder="Id" [(ngModel)]="costumer.costumerId">
      </div>
    </div>

    <div class="form-group">
      <label for="a">Name</label>
      <div class="input-group">
        <input class="form-control mb-4" placeholder="Name" [(ngModel)]="costumer.costumerName">
      </div>
    </div>

    <div class="form-group">
      <label for="a">Brand</label>
      <div class="input-group">
        <input class="form-control mb-4" placeholder="Name" [(ngModel)]="costumer.brand">
      </div>
    </div>



    <div class="form-group">
      <label for="a">Invoice adress </label>
      <div class="input-group">
        <input class="form-control mb-4" placeholder="Invoice Address" [(ngModel)]="costumer.invoice">
      </div>
    </div>


    <div class="form-group">
      <label for="a">Delivery adress </label>
      <div class="input-group">
        <input class="form-control mb-8" placeholder="Delivery Address	" [(ngModel)]="costumer.delivery">
      </div>
    </div>

    <div class="form-group">
      <label for="a">Vendor Fax </label>
      <div class="input-group">
        <input class="form-control mb-4" placeholder="Vendor Fax" [(ngModel)]="costumer.fax"><br>
        <input class="form-control mb-2" placeholder="Delivery Country" [(ngModel)]="costumer.country">
      </div>
    </div>
    <div class="form-group">
      <label for="a">Contact <img src='assets/images/add.png' (click)='addContact()' style='width:20px; height:20px; cursor: pointer;'></label>
      <div class="input-group" id='contact-conatiner'>
        <input class="form-control" placeholder="Name" [(ngModel)]="contact.name"> <input class="form-control"
          placeholder="Phone" [(ngModel)]="contact.phone">
        <input class="form-control" placeholder="E-Mail" type="email" [(ngModel)]="contact.mail">
      </div>
    </div>
    <div *ngFor="let contact of costumer.contact" id="cont"  #container>
      <span style="background: rgb(231, 229, 229)">{{contact.name}}  {{contact.phone}} {{contact.mail}}</span>
    </div>

    <div class="form-group">
      <label for="a">Remarks </label>
      <div class="input-group">
        <textarea [(ngModel)]="costumer.marks" class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="a">Important Remarks </label>
      <div class="input-group">
        <textarea [(ngModel)]="costumer.impRemark" class="form-control"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Saved')">Save</button>
  </div>

</ng-template>

