
<div class="container-fluid text-center bg-light">
  <div class="row">
    <div class="col-12">
      <h1 style="text-shadow: 2px 2px 4px #000000;" class="text-info p-2">All Costumers</h1>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-4"></div>
    <div class="col-1"></div>
    <div class="col-2">
      <button class="form-control btn btn-info border border-dark" style='cursor: pointer;' (click)="showCustomerModal = true">New Costumer</button>
    </div>
    <div class="col-1"></div>
    <div class="col-4"></div>
  </div>

  <div *ngIf="costumers.length == 0" class="row text-center mt-4 mb-4">
    <div class="col-4"></div>
    <div class="col-4">
      <h2 class="peerLoader mx-auto my-auto">
        <span>P</span>
        <span>e</span>
        <span>e</span>
        <span>r</span>
        <span>P</span>
        <span>h</span>
        <span>a</span>
        <span>r</span>
        <span>m</span>
      </h2>
    </div>
    <div class="col-4"></div>
  </div>

  <div class="row mt-4">
    <div class="col-12">

      <table style="color:black" class='table table-hover table-striped'>
        <thead style="box-shadow: inset 0px 0px 4px 1px black;" class='bg-info text-white'>
      
          <tr>
            <th></th>
            <th>Costumer Id</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Address</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="table_body">
          <tr style="box-shadow: inset 0px 0px 4px 1px black;" *ngFor="let costumer of costumers; let i=index">
            <td>{{i}}</td>
            <td (click)='openDetails(i)' style="cursor:pointer;">{{costumer.costumerId}}</td>
            <td dir="rtl">{{costumer.costumerName}}</td>
            <td>{{costumer.brand}}</td>
            <td>{{costumer.invoice}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<div *ngIf="showCustomerModal == true" style="top:100px" class="text-center container mx-auto my-auto rounded shadow-lg fixed-top bg-white border border-info">
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Customer Card">
    <div  class="container">
      <div class="row bg-info">
        <div class="col-1"></div>
        <div class="col-10">
          <h2 class="text-white">כרטיס לקוח</h2>
        </div>
        <div class="col-1">
          <i (click)="showCustomerModal = false" style="font-size: 23px;padding: 8px;" class="fa fa-times text-white"></i>
        </div>
      </div>
      
      <div class="row mt-3">
      <div class="col-2"></div>
      <div class="col-2">
        <label class="form-control text-info">Customer ID</label>
      </div>
      <div class="col-2">
        <label class="form-control text-info">Company Number</label>
      </div>
      <div class="col-2">
        <label class="form-control text-info">Customer Name</label>
      </div>
      <div class="col-2">
        <label class="form-control text-info">Brand</label>
      </div>
      <div class="col-2"></div>
      </div>
      
      <div class="row mt-3">
      <div class="col-2"></div>
      <div class="col-2">
        <input (change)="checkIfExist($event)" class="form-control mb-4" placeholder="Id" [(ngModel)]="costumer.costumerId">
      </div>
      <div class="col-2">
        <input class="form-control mb-4" placeholder="Company Number" [(ngModel)]="costumer.companyNumber">
      </div>
      <div class="col-2">
        <input dir="rtl" class="form-control mb-4" placeholder="Customer Name" [(ngModel)]="costumer.costumerName">
      </div>
      <div class="col-2">
        <input class="form-control mb-4" placeholder="Brand" [(ngModel)]="costumer.brand">
      </div>
      <div class="col-2"></div>
      </div>
      
      <div class="row mt-4">
        <div class="col-2"></div>
        <div class="col-3">
          <label class="form-control text-info">Payments</label>
        </div>
        <div class="col-2"></div>
        <div class="col-3">
          <label class="form-control text-info">Remarks</label>
        </div>
        <div class="col-2"></div>
      </div>
      
      <div class="row mt-1 mb-4">
        <div class="col-1"></div>
        <div class="col-2">
          <label style="margin-bottom: 0;" class="form-control">Terms of Payment</label>
          <label style="margin-bottom: 0;" class="form-control">Stickers Charge</label>
          <label style="margin-bottom: 0;" class="form-control">Peerpharm Agent</label>
        </div>
        <div class="col-3">
          <input class="form-control"  [(ngModel)]="costumer.paymentTerms"> 
          <input class="form-control"  [(ngModel)]="costumer.stickersCharge"> 
          <input class="form-control"  [(ngModel)]="costumer.peerpharmAgent"> 
        </div>
      
        <div class="col-2">
          <label style="margin-bottom: 0;" class="form-control">Remarks</label>
          <label style="margin-bottom: 0;margin-top:20px" class="form-control">Imporant Remarks</label>
        </div>
        <div class="col-3">
          <textarea [(ngModel)]="costumer.marks" class="form-control"></textarea>
          <textarea [(ngModel)]="costumer.ImpRemark" class="form-control"></textarea>
        </div>
        <div class="col-1"></div>
      </div>
      
      <div class="row mt-4">
        <div class="col-2"></div>
        <div class="col-3">
          <label class="form-control text-info">Address Details</label>
        </div>
        <div class="col-2"></div>
        <div class="col-3">
          <label class="form-control text-info">Contact Details</label>
        </div>
        <div class="col-2"></div>
      </div>
      
      <div class="row mt-1">
        <div class="col-1"></div>
        <div class="col-2">
          <label style="margin-bottom: 0;" class="form-control">Invoice Address</label>
          <label style="margin-bottom: 0;" class="form-control">Delivery Address</label>
          <label style="margin-bottom: 0;" class="form-control">Area</label>
        </div>
        <div class="col-3">
          <input class="form-control"  [(ngModel)]="costumer.invoice"> 
          <input class="form-control"  [(ngModel)]="costumer.delivery">
          <select class="form-control" [(ngModel)]="costumer.area">
            <option value="דרום">דרום</option>
            <option value="מרכז">מרכז</option>
            <option value="השרון">השרון</option>
            <option value="צפון מערבי">צפון מערבי</option>
            <option value="צפון מזרחי">צפון מזרחי</option>
            <option value="ירושלים">ירושלים</option>
          </select>
        </div>
      
        <div class="col-2">
          <label style="margin-bottom: 0;" class="form-control">Vendor Fax</label>
          <label style="margin-bottom: 0;" class="form-control">Contacts <img src='assets/images/add.png' (click)="addContactModal = true" style='width:20px; height:20px; cursor: pointer;'></label>
        </div>
        <div class="col-4">
          <input class="form-control" [(ngModel)]="costumer.fax"><br>
          <table style="font-size:11px" class="table table-striped table-bordered">
            <thead class="bg-info text-white">
              <tr>
                <th>Name</th>
                <th>Mail</th>
                <th>Phone</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contact of costumer.contact">
                <td>{{contact.name}}</td>
                <td>{{contact.mail}}</td>
                <td>{{contact.phone}}</td>
                <td (click)="deleteContact(contact)">X</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      
      <div class="row mt-4">
        <div class="col-5"></div>
        <div class="col-2 p-2">
          <button type="button" class="btn btn-info" (click)="saveCostumer()">Save</button>
        </div>
        <div class="col-5"></div>
      </div>
      
      </div>
  </mat-tab>
  <mat-tab label="Price List">Price List..</mat-tab>
</mat-tab-group>
</div>







<div *ngIf="addContactModal == true" style="top:450px;" class="container w-50 mx-auto my-auto rounded shadow text-center border border-dark fixed-top bg-white p-3">
  <div class="row mt-1">
    <div class="col-12">
      <h2 class="text-info">Add Contact</h2>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-2"></div>
    <div class="col-2">
      <input class="form-control" placeholder="Name" [(ngModel)]="contact.name">
    </div>
    <div class="col-3">
      <input class="form-control" placeholder="E-Mail" type="email" [(ngModel)]="contact.mail">
    </div>
    <div class="col-3">
      <input class="form-control"  placeholder="Phone" [(ngModel)]="contact.phone">
    </div>
    <div class="col-2"></div>
  </div>

<div class="row mt-3">
  <div class="col-3"></div>
  <div class="col-3">
    <button (click)="addContact()" class="form-control btn btn-info">Submit</button>
  </div>
  <div class="col-3">
    <button (click)="addContactModal = false" class="form-control btn btn-danger">Cancel</button>
  </div>
  <div class="col-3"></div>
</div>
</div>


<ng-template #content let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Costumer</h4>
    <!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <!--  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">-->
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="a">Id (internal)</label>
      <div class="input-group">
        <input class="form-control mb-4" placeholder="Id" [(ngModel)]="costumer.costumerId">
      </div>
    </div>

    <div class="form-group">
      <label for="a">Name</label>
      <div class="input-group">
        <input class="form-control mb-4" placeholder="Name" [(ngModel)]="costumer.costumerName">
      </div>
    </div>

    <div class="form-group">
      <label for="a">Brand</label>
      <div class="input-group">
        <input class="form-control mb-4" placeholder="Name" [(ngModel)]="costumer.brand">
      </div>
    </div>



    <div class="form-group">
      <label for="a">Invoice adress </label>
      <div class="input-group">
        <input class="form-control mb-4" placeholder="Invoice Address" [(ngModel)]="costumer.invoice">
      </div>
    </div>


    <div class="form-group">
      <label for="a">Delivery adress </label>
      <div class="input-group">
        <input class="form-control mb-8" placeholder="Delivery Address	" [(ngModel)]="costumer.delivery">
      </div>
    </div>
    <div class="form-group">
      <label for="a">Area</label>
      <div class="input-group">
        <select class="form-control mb-8" placeholder="Area" [(ngModel)]="costumer.area">
          <option value="דרום">דרום</option>
          <option value="מרכז">מרכז</option>
          <option value="השרון">השרון</option>
          <option value="צפון מערבי">צפון מערבי</option>
          <option value="צפון מזרחי">צפון מזרחי</option>
          <option value="ירושלים">ירושלים</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="a">Vendor Fax </label>
      <div class="input-group">
        <input class="form-control mb-4" placeholder="Vendor Fax" [(ngModel)]="costumer.fax"><br>
        <input class="form-control mb-2" placeholder="Delivery Country" [(ngModel)]="costumer.country">
      </div>
    </div>
    <div class="form-group">
      <label for="a">Contact <img src='assets/images/add.png' (click)='addContact()' style='width:20px; height:20px; cursor: pointer;'></label>
      <div class="input-group" id='contact-conatiner'>
        <input class="form-control" placeholder="Name" [(ngModel)]="contact.name"> <input class="form-control"
          placeholder="Phone" [(ngModel)]="contact.phone">
        <input class="form-control" placeholder="E-Mail" type="email" [(ngModel)]="contact.mail">
      </div>
    </div>
    <div *ngFor="let contact of costumer.contact" id="cont"  #container>
      <span style="background: rgb(231, 229, 229)">{{contact.name}}  {{contact.phone}} {{contact.mail}}</span>
    </div>

    <div class="form-group">
      <label for="a">Remarks </label>
      <div class="input-group">
        <textarea [(ngModel)]="costumer.marks" class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="a">Important Remarks </label>
      <div class="input-group">
        <textarea [(ngModel)]="costumer.impRemark" class="form-control"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Saved')">Save</button>
  </div>

</ng-template>

