<!-- <div (click)='setType("powder")' class="navtab">אבקות</div>
<div (click)='setType("wet")' class="navtab">נוזלי</div>
<div (click)='setType("lipstick")' class="navtab">אודם</div> -->
<div class="navtab">Make Up</div>



<table *ngIf="tableType=='powder'" class='table'>
  <thead class='tableHeader  text-center text-white'>

    <tr>
      <th>#</th>
      <th>Order Number</th>
      <th>Order Type</th>
      <th>Custumer</th>
      <th>Order Date</th>
      <th>Delivery Date</th>
    </tr>
  </thead>


  <tbody id="table_body">
    <tr class="tableTr" *ngFor="let order of orders; let i = index">

      <td>{{i+1}}</td>
      <td> <a target="_blank"  routerLink='/peerpharm/allorders/makeupdetails/{{order.orderNumber}}' >{{order.orderNumber}}</a></td>
      <td>{{order.type}}</td>
      <td>{{order.costumer}}</td>
      <td>{{order.orderDate}}</td>
      <td>{{order.deliveryDate}}</td>
    </tr>
  </tbody>
</table>


<!-- <table *ngIf="tableType=='powder'" class='table'>
  <thead class='tableHeader  text-center text-white'>

    <tr>
      <th>#</th>
      <th>Item Type</th>
      <th>Powder Name</th>
      <th>Powder Production(KG)</th>
      <th>Push To Godets </th>
      <th>Packing - Client Demand</th>
      <th>Production Date</th>
      <th>Printing</th>
      <th></th>
    </tr>
  </thead>

  <tr>
    <td></td>
  <td></td>
    <td>
      <select class="pdrInput" [(ngModel)]="makeup.itemName">
        <option value="Pudra">פודרה</option>
        <option value="Somek">סומק</option>
        <option value="Tslalit">צללית</option>
        <option value="Shimmer">שימר</option>
      </select>
    </td>
    <td>
      <input class="pdrInput" [(ngModel)]="makeup.production" placeholder="Powder Production (kg)" type="number" />
    </td>
    <td>
      <input class="pdrInput" [(ngModel)]="makeup.pushToGodets" placeholder="Push to godets (units)" type="number" />
    </td>
    <td>
      <input class="pdrInput" [(ngModel)]="makeup.packingClient" placeholder="Packing by client demand" type="text" />
    </td>
    <td>
      <input class="pdrInput" [(ngModel)]="makeup.productionDate" type="date" />
    </td>
    <td>
      <input class="pdrInput" [(ngModel)]="makeup.printing" type="text" />
    </td>



    <td class="printlessTd">
      <button style="cursor: pointer;" class="addBtn btn btn-info" (click)="addNewPowder()">Add</button><br />
    </td>
  </tr>

  <tbody id="table_body">
    <tr class="tableTr" *ngFor="let powder of powdersData; let i = index">

      <td>{{i+1}}</td>
      <td>{{powder.itemType}}</td>
      <td>{{powder.itemName}}</td>
      <td>{{powder.production}} KG</td>
      <td>{{powder.pushToGodets}} Units</td>
      <td>{{powder.packingClient}}</td>
      <td>{{powder.productionDate | date: "dd/MM/yyyy"}}</td>
      <td>{{powder.printing}}</td>
      <td></td>
    </tr>
  </tbody>
</table> -->

<!-- Wet Table Start Here  -->

<table *ngIf="tableType=='wet'" class='table'>
  <thead class='tableHeader  text-center text-white'>

    <tr>
      <th>#</th>
      <th>Item Type</th>
      <th>Item Name</th>
      <th>Production (KG)</th>
      <th>Production Date</th>

      <th></th>
    </tr>
  </thead>

  <tr>
      <td></td>
    <td></td>
    <td>
      <select class="pdrInput" [(ngModel)]="makeup.itemName">
        <option value="Makeup">מייק-אפ</option>
        <option value="Concealer">קונסילרים</option>
        <option value="Lip-Gloss">ליפגלוס</option>
        <option value="Liquid shimmer">שימר נוזלי</option>
        <option value="Eyeliner-jell">אייליינר ג'ל</option>
      </select>
    </td>
    <td>
      <input class="pdrInput" [(ngModel)]="makeup.production" placeholder="Production (kg)" type="number" />
    </td>
    <td>
      <input class="pdrInput" [(ngModel)]="makeup.productionDate"  type="date" />
    </td>
    

    <td class="printlessTd">
      <button style="cursor: pointer;" class="addBtn btn btn-info" (click)="addWetItem()">Add</button><br />
    </td>

  </tr>


  <tbody id="table_body">
    <tr class="tableTr" *ngFor="let item of wetItemsData; let i = index">
      
      <td>{{i+1}}</td>
      <td>{{item.itemType}}</td>
      <td>{{item.itemName}}</td>
      <td>{{item.production}}</td>
      <td>{{item.productionDate | date: "dd/MM/yyyy"}}</td>
      

      <td></td>


    </tr>
  </tbody>
</table>

<!-- lipstick table starts here  -->

<table *ngIf="tableType=='lipstick'" class='table'>
    <thead class='tableHeader  text-center text-white'>
  
      <tr>
        
        <th>#</th>
        <th>Item Type</th>
        <th>Item Name</th>
        <th>Production (KG)</th>
        <th>Tray</th>
        <th>Packing</th>
        <th>Production Date</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  
    <tr>
       <td></td>
      <td></td>
      <td>
        <select class="pdrInput" [(ngModel)]="makeup.itemName">
          <option value="lipstick">אודם</option>
        </select>
      </td>
      <td>
        <input class="pdrInput" [(ngModel)]="makeup.production" placeholder="Production (kg)" type="number" />
      </td>
      <td>
        <input class="pdrInput" [(ngModel)]="makeup.tray" placeholder="הכנה בתבנית" type="text" />
      </td>
      <td>
        <input class="pdrInput" [(ngModel)]="makeup.packing" type="number" />
      </td>
      <td>
        <input class="pdrInput" [(ngModel)]="makeup.productionDate"  type="date" />
      </td>
      
  
      <td class="printlessTd">
        <button style="cursor: pointer;" class="addBtn btn btn-info" (click)="addLipstick()">Add</button><br />
      </td>
  
    </tr>
  
  
    <tbody id="table_body">
      <tr class="tableTr" *ngFor="let lipstick of lipstickData; let i = index">
        
        <td>{{i+1}}</td>
        <td>{{lipstick.itemType}}</td>
        <td>{{lipstick.itemName}}</td>
        <td>{{lipstick.production}}</td>
        <td>{{lipstick.tray}}</td>
        <td>{{lipstick.packing}}</td>
        <td>{{lipstick.productionDate | date: "dd/MM/yyyy"}}</td>
        
  
        <td></td>
  
  
      </tr>
    </tbody>
  </table>