<div dir="rtl" class="container">



    <form [formGroup]="addOutservice" (ngSubmit)="updateOutService()">



        <div class="buxa">

            <i class="click fa fa-pencil-alt float-left h2" (click)="editDetails = !editDetails"></i>
            <h2 class="text-center">פרטים כלליים</h2>
            <div class="d-flex flex-row justify-content-between buxa">
                <div>
                    <h3>נפתח על ידי:</h3>
                    <h4>{{addOutservice.value.userName}}</h4>
                    <h4>{{addOutservice.value.userEmail}}</h4>
                </div>
                <div>
                    <h3>סטטוס:</h3>
                    <h4 *ngIf="!editDetails">{{addOutservice.value.status}}</h4>
                    <select *ngIf="editDetails" class="form-control" placeholder="סוג שירות" formControlName="status"
                    required>
                    <option value="open">open</option>
                    <option value="hold">hold</option>
                    <option value="done">done</option>
                    <option value="canceled">canceled</option>
                </select>
            </div>
            <!-- <div>
                <h3>סוג שירות:</h3>
                <h4>{{addOutservice.value.type}}</h4>
            </div> -->
            <div>
                <h3>תאריך ביצוע:</h3>
                <h4 *ngIf="!editDetails">{{addOutservice.value.date | date: 'short'}}</h4>
                <input *ngIf="editDetails" type="date" class="form-control" placeholder="תאריך ביצוע"
                formControlName="date" required>
            </div>
        </div>
        <div *ngIf="editDetails" class="form-group mt-4">
            <div class="form-group" [ngbTooltip]="addOutserviceErrors" placement="bottom">
                <button type="submit" class="btn btn-primary" [disabled]="addOutservice.invalid || sendingForm"
                    [style.cursor]="addOutservice.invalid || sendingForm ? 'not-allowed' : 'pointer'">
                    שמור
                </button>
            </div>
        </div>
    </div>
        
    <div class="buxa">

        <i class="click fa fa-pencil-alt float-left h2" (click)="editSupplier = !editSupplier"></i>
        <h2 class="text-center">מספק השירות</h2>
        <div class="d-flex flex-row justify-content-between buxa">
            <div>
                <h3>ספק:</h3>
                <h4 *ngIf="!editSupplier">{{addOutservice.value.suplierName}}</h4>
                <input *ngIf="editSupplier" type="date" class="form-control" placeholder="תאריך ביצוע"
                formControlName="date" required>
            </div>
            <div>
                <h3>איש קשר:</h3>
                <h4 *ngIf="!editSupplier">{{addOutservice.value.contactName}}</h4>
                <input *ngIf="editSupplier" type="date" class="form-control" placeholder="תאריך ביצוע"
                formControlName="date" required>
            </div>
            <div>
                <h3>טלפון:</h3>
                <h4 *ngIf="!editSupplier">{{addOutservice.value.phoneNum}}</h4>
                <input *ngIf="editSupplier" type="date" class="form-control" placeholder="תאריך ביצוע"
                formControlName="date" required>
            </div>
            <div>
                <h3>מייל:</h3>
                <h4 *ngIf="!editSupplier">{{addOutservice.value.email}}</h4>
                <input *ngIf="editSupplier" type="date" class="form-control" placeholder="תאריך ביצוע"
                formControlName="date" required>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-between buxa">
            <div>
                <h3>טלפון נוסף:</h3>
                <h4 *ngIf="!editSupplier">{{addOutservice.controls.cellularNum}}</h4>
                <input *ngIf="editSupplier" type="date" class="form-control" placeholder="תאריך ביצוע"
                formControlName="date" required>
            </div>
            <div>
                <h3>פקס:</h3>
                <h4>{{addOutservice.value.faxNum}}</h4>
            </div>
            <div>
                <h3>כתובת:</h3> <br>
                <h4>{{addOutservice.value.address}}</h4>
                <h4>{{addOutservice.value.city}}</h4>
                <h4>{{addOutservice.value.country}}</h4>
            </div>
        </div>
        <div *ngIf="editSupplier" class="form-group mt-4">
            <div class="form-group" [ngbTooltip]="addOutserviceErrors" placement="bottom">
                <button type="submit" class="btn btn-primary" [disabled]="addOutservice.invalid || sendingForm"
                    [style.cursor]="addOutservice.invalid || sendingForm ? 'not-allowed' : 'pointer'">
                    שמור
                </button>
            </div>
        </div>
    </div>
    

    </form>
</div>

<ng-template #addOutserviceErrors>
    <div *ngIf="addOutservice.invalid" class="bg-danger">
        <div class="d-flex flex-column">
            <div *ngFor="let control of addOutservice.controls | keyvalue">
                <h3 *ngIf="control.value.status == 'INVALID'">Please fill {{control.key}}</h3>
            </div>
        </div>
    </div>
</ng-template>