<div dir="rtl" class="container">



    <form [formGroup]="addOutservice" (ngSubmit)="updateOutService()">



        <div class="buxa">

            <i class="click fa fa-pencil-alt float-left h2" (click)="editDetails = !editDetails"></i>
            <h2 class="text-center">פרטים כלליים</h2>
            <div class="d-flex flex-row justify-content-between buxa">
                <div>
                    <h4>נפתח על ידי:</h4>
                    <h5>{{addOutservice.value.userName}}</h5>
                    <h5>{{addOutservice.value.userEmail}}</h5>
                </div>
                <div>
                    <h4>סטטוס:</h4>
                    <h5 *ngIf="!editDetails">{{addOutservice.value.status}}</h5>
                    <select *ngIf="editDetails" class="form-control" placeholder="סוג שירות" formControlName="status"
                    required>
                    <option value="open">open</option>
                    <option value="hold">hold</option>
                    <option value="done">done</option>
                    <option value="canceled">canceled</option>
                </select>
            </div>
            <div>
                <h4>סוג שירות:</h4>
                <h5>{{addOutservice.value.type}}</h5>
            </div>
            <div>
                <h4>תאריך ביצוע:</h4>
                <h5 *ngIf="!editDetails">{{addOutservice.value.date}}</h5>
                <input *ngIf="editDetails" type="date" class="form-control" placeholder="תאריך ביצוע"
                formControlName="date" required>
            </div>
        </div>
        <div *ngIf="editDetails" class="form-group mt-4">
            <div class="form-group" [ngbTooltip]="addOutserviceErrors" placement="bottom">
                <button type="submit" class="btn btn-primary" [disabled]="addOutservice.invalid || sendingForm"
                    [style.cursor]="addOutservice.invalid || sendingForm ? 'not-allowed' : 'pointer'">
                    שמור
                </button>
            </div>
        </div>
    </div>
        
    <div class="buxa">

        <i class="click fa fa-pencil-alt float-left h2" (click)="editSupplier = !editSupplier"></i>
        <h2 class="text-center">מספק השירות</h2>
        <div class="d-flex flex-row justify-content-between buxa">
            <div>
                <h4>ספק:</h4>
                <h5 *ngIf="!editSupplier">{{addOutservice.value.suplierName}}</h5>
                <input *ngIf="editSupplier" type="date" class="form-control" placeholder="תאריך ביצוע"
                formControlName="date" required>
            </div>
            <div>
                <h4>איש קשר:</h4>
                <h5 *ngIf="!editSupplier">{{addOutservice.value.contactName}}</h5>
                <input *ngIf="editSupplier" type="date" class="form-control" placeholder="תאריך ביצוע"
                formControlName="date" required>
            </div>
            <div>
                <h4>טלפון:</h4>
                <h5 *ngIf="!editSupplier">{{addOutservice.value.phoneNum}}</h5>
                <input *ngIf="editSupplier" type="date" class="form-control" placeholder="תאריך ביצוע"
                formControlName="date" required>
            </div>
            <div>
                <h4>מייל:</h4>
                <h5 *ngIf="!editSupplier">{{addOutservice.value.email}}</h5>
                <input *ngIf="editSupplier" type="date" class="form-control" placeholder="תאריך ביצוע"
                formControlName="date" required>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-between buxa">
            <div>
                <h4>טלפון נוסף:</h4>
                <h5 *ngIf="!editSupplier">{{addOutservice.controls.cellularNum}}</h5>
                <input *ngIf="editSupplier" type="date" class="form-control" placeholder="תאריך ביצוע"
                formControlName="date" required>
            </div>
            <div>
                <h4>פקס:</h4>
                <h5>{{addOutservice.value.faxNum}}</h5>
            </div>
            <div>
                <h4>כתובת:</h4> <br>
                <h5>{{addOutservice.value.address}}</h5>
                <h5>{{addOutservice.value.city}}</h5>
                <h5>{{addOutservice.value.country}}</h5>
            </div>
        </div>
        <div *ngIf="editSupplier" class="form-group mt-4">
            <div class="form-group" [ngbTooltip]="addOutserviceErrors" placement="bottom">
                <button type="submit" class="btn btn-primary" [disabled]="addOutservice.invalid || sendingForm"
                    [style.cursor]="addOutservice.invalid || sendingForm ? 'not-allowed' : 'pointer'">
                    שמור
                </button>
            </div>
        </div>
    </div>
    

    </form>
</div>

<ng-template #addOutserviceErrors>
    <div *ngIf="addOutservice.invalid" class="bg-danger">
        <div class="d-flex flex-column">
            <div *ngFor="let control of addOutservice.controls | keyvalue">
                <h4 *ngIf="control.value.status == 'INVALID'">Please fill {{control.key}}</h4>
            </div>
        </div>
    </div>
</ng-template>