<div dir="rtl" class="container">

    <h2></h2>
    <form [formGroup]="addOutservice" (ngSubmit)="updateOutService()">


        <label>סטטוס</label>
        <select class="form-control" placeholder="סוג שירות" formControlName="status" required>
            <option value="open">open</option>
            <option value="hold">hold</option>
            <option value="done">done</option>
            <option value="canceled">canceled</option>
        </select>


        <label>סוג שירות</label>
        <select class="form-control" placeholder="סוג שירות" formControlName="type" required>
            <option *ngFor="let serviceType of serviceTypes" [value]="serviceType.name">{{serviceType.name}}
            </option>
        </select>

        <label>תאריך ביצוע</label>
        <input type="date" class="form-control" placeholder="תאריך ביצוע" formControlName="date" required>


        <div class="d-flex flex-row justify-content-between">

            <div class="form-group mt-4">
                <h4>מספק השירות</h4>
                <label>ספק</label>
                <div>{{addOutservice.controls.suplierName.value}}</div>
                <label>מייל</label>
                <div>{{addOutservice.controls.email.value}}</div>
                <label>טלפון</label>
                <div>{{addOutservice.controls.phoneNum.value}}</div>
                <label>טלפון נוסף</label>
                <div>{{addOutservice.controls.cellularNum.value}}</div>
                <label>איש קשר</label>
                <div>{{addOutservice.controls.contactNamerName.value}}</div>
                <label>פקס</label>
                <div>{{addOutservice.controls.faxNum.value}}</div>
                <label>כתובת</label>
                <label>רחוב</label>
                <div>{{addOutservice.controls.address.value}}</div>
                <label>עיר</label>
                <div>{{addOutservice.controls.city.value}}</div>
                <label>ארץ</label>
                <div>{{addOutservice.controls.country.value}}</div>
            </div>

            <div class="form-group mt-4">


                <div class="form-group">
                    <label>ארץ</label>
                    <div>{{addOutservice.controls.userName.value}}</div>
                    <label>ארץ</label>
                    <div>{{addOutservice.controls.userEmail.value}}</div>
                </div>

                <div class="form-group" [ngbTooltip]="addOutserviceErrors" placement="bottom">
                    <button type="submit" class="btn btn-primary" [disabled]="addOutservice.invalid || sendingForm"
                        [style.cursor]="addOutservice.invalid || sendingForm ? 'not-allowed' : 'pointer'">
                       עדכן פרטים
                    </button>
                </div>
            </div>


        </div>

    </form>
</div>

<ng-template #addOutserviceErrors>
    <div *ngIf="addOutservice.invalid" class="bg-danger">
        <div class="d-flex flex-column">
            <div *ngFor="let control of addOutservice.controls | keyvalue">
                <h4 *ngIf="control.value.status == 'INVALID'">Please fill {{control.key}}</h4>
            </div>
        </div>
    </div>
</ng-template>