.click {
    cursor: pointer
}

.hover-black:hover {
    background-color: black;
    color: white;
}

.buxa {
    margin-top: 100px
}

h3 {
    text-decoration: underline;
}

h4 {
    color: royalblue
}