<a
  href="javascript:void(0)"
  class="btn btn-success show-left-part d-block d-md-none ti-menu"
></a>
<div class="main-part">
  <div class="left-part bg-white fixed-left-part">
    <div class="position-relative">
      <div class="px-3 py-3 d-flex align-items-center border-bottom">
        <p class="mb-0 mt-5 py-1 text-center font-18 font-bold">Order Items</p>
      </div>
      <ul class="tasklist list-style-none">
        <li
          style="cursor: pointer"
          class="task-item d-flex incomplete border-bottom"
          (click)="viewOrders(1)"
        >
          {{ 1 | orderItemBatchStatus }}
          <span
            class="badge badge-danger ml-auto pt-1"
            [style.background]="1 | orderItemBatchStatusColor"
            >{{ waitingCount }}</span
          >
        </li>
        <li
          style="cursor: pointer"
          class="task-item d-flex complete border-bottom"
          (click)="viewOrders(2)"
        >
          {{ 2 | orderItemBatchStatus
          }}<span
            class="badge badge-success ml-auto pt-1"
            [style.background]="2 | orderItemBatchStatusColor"
            >{{ plannedCount }}</span
          >
        </li>
        <li
          style="cursor: pointer"
          class="task-item d-flex complete border-bottom"
          (click)="viewOrders(3)"
        >
          {{ 3 | orderItemBatchStatus }}
          <span
            class="badge badge-success ml-auto pt-1"
            [style.background]="3 | orderItemBatchStatusColor"
            >{{ approvedCount }}</span
          >
        </li>
        <li
          style="cursor: pointer"
          class="task-item d-flex complete border-bottom"
          (click)="viewOrders(4)"
        >
          {{ 4 | orderItemBatchStatus
          }}<span
            class="badge badge-success ml-auto pt-1"
            [style.background]="4 | orderItemBatchStatusColor"
            >{{ scheduledCount }}</span
          >
        </li>
        <li
          style="cursor: pointer"
          class="task-item d-flex complete border-bottom"
          (click)="viewOrders(5)"
        >
          {{ 5 | orderItemBatchStatus
          }}<span
            class="badge badge-success ml-auto pt-1"
            [style.background]="5 | orderItemBatchStatusColor"
            >{{ allocatedCount }}</span
          >
        </li>
        <li
          style="cursor: pointer"
          class="task-item d-flex complete border-bottom"
          (click)="viewOrders(6)"
        >
          {{ 6 | orderItemBatchStatus
          }}<span
            class="badge badge-success ml-auto pt-1"
            [style.background]="6 | orderItemBatchStatusColor"
            >{{ inProdCount }}</span
          >
        </li>
        <li
          style="cursor: pointer"
          class="task-item d-flex complete border-bottom"
          (click)="viewOrders(7)"
        >
          {{ 7 | orderItemBatchStatus
          }}<span
            class="badge badge-success ml-auto pt-1"
            [style.background]="7 | orderItemBatchStatusColor"
            >{{ producedCount }}</span
          >
        </li>
        <li
          style="cursor: pointer"
          class="task-item d-flex all border-bottom active"
          (click)="viewOrders(8)"
        >
          {{ 8 | orderItemBatchStatus }}
          <span
            [style.background]="8 | orderItemBatchStatusColor"
            class="badge badge-primary ml-auto pt-1"
            >{{ canceledCount }}</span
          >
        </li>
        <li
          style="cursor: pointer"
          class="task-item d-flex all border-bottom active"
          (click)="viewOrders(9)"
        >
          All
          <span class="badge badge-primary ml-auto pt-1">{{
            orderItems.length
          }}</span>
        </li>
      </ul>
    </div>
    <div class="px-3 py-3 d-flex align-items-center border-bottom">
      <p class="mb-0 mt-5 py-1 text-center font-18 font-bold">Work Plans</p>
    </div>
    <ul class="tasklist list-style-none">
      <!-- <li class=" task-item d-flex complete border-bottom" style="cursor: pointer" (click)="viewWP(1)">
        {{1|orderItemBatchStatus}}<span class="badge badge-success ml-auto pt-1"
          style="background-color: #30E845;">{{draftWPCount}}</span>
      </li> -->
      <li
        class="task-item d-flex complete border-bottom"
        style="cursor: pointer"
        (click)="viewWP(2)"
      >
        {{ 2 | orderItemBatchStatus
        }}<span
          class="badge badge-success ml-auto pt-1"
          [style.background]="2 | orderItemBatchStatusColor"
          >{{ PPCWPCount }}</span
        >
      </li>
      <li
        class="task-item d-flex complete border-bottom"
        style="cursor: pointer"
        (click)="viewWP(3)"
      >
        {{ 3 | orderItemBatchStatus }}
        <span
          class="badge badge-success ml-auto pt-1"
          [style.background]="3 | orderItemBatchStatusColor"
          >{{ FormulaWPCount }}</span
        >
      </li>
      <li
        class="task-item d-flex complete border-bottom"
        style="cursor: pointer"
        (click)="viewWP(4)"
      >
        {{ 4 | orderItemBatchStatus
        }}<span
          class="badge badge-success ml-auto pt-1"
          [style.background]="4 | orderItemBatchStatusColor"
          >{{ ScheduledWPCount }}</span
        >
      </li>
      <li
        class="task-item d-flex complete border-bottom"
        style="cursor: pointer"
        (click)="viewWP(5)"
      >
        {{ 5 | orderItemBatchStatus
        }}<span
          class="badge badge-success ml-auto pt-1"
          [style.background]="5 | orderItemBatchStatusColor"
          >{{ MaterialsWPCount }}</span
        >
      </li>
      <li
        class="task-item d-flex complete border-bottom"
        style="cursor: pointer"
        (click)="viewWP(6)"
      >
        {{ 6 | orderItemBatchStatus
        }}<span
          this.onholdWPCount="this.filteredWorkPlans.length;"
          class="badge badge-success ml-auto pt-1"
          [style.background]="6 | orderItemBatchStatusColor"
          >{{ ProducedWPCount }}</span
        >
      </li>
      <li
        class="task-item d-flex complete border-bottom"
        style="cursor: pointer"
        (click)="viewWP(7)"
      >
        {{ 7 | orderItemBatchStatus
        }}<span
          class="badge badge-success ml-auto pt-1"
          [style.background]="7 | orderItemBatchStatusColor"
          >{{ DoneWPCount }}</span
        >
      </li>
      <li
        class="task-item d-flex complete border-bottom"
        style="cursor: pointer"
        (click)="viewWP(8)"
      >
        {{ 8 | orderItemBatchStatus
        }}<span
          class="badge badge-success ml-auto pt-1"
          [style.background]="8 | orderItemBatchStatusColor"
          >{{ CancelledWPCount }}</span
        >
      </li>
      <li
        class="task-item d-flex all border-bottom active"
        style="cursor: pointer"
        (click)="viewWP(9)"
      >
        All<span class="badge badge-primary ml-auto pt-1">{{
          workPlans.length
        }}</span>
      </li>
    </ul>
  </div>
  <div *ngIf="viewOrderItems">
    <h1 class="text-center">
      <span
        class="heading1"
        [style.backgroundColor]="currentView | orderItemBatchStatusColor"
      >
        {{ currentView | orderItemBatchStatus }} Order Items List
      </span>
    </h1>
    <div class="right-part bg-white">
      <div class="px-3 py-3 d-flex align-items-center border-bottom bg-light">
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="text"
            placeholder="Item/Order/Name"
            aria-label="Search"
            #oiFilter
            (keyup)="filterOrderItems()"
          />
          <input
            class="form-control mr-sm-2"
            type="text"
            placeholder="Formule Number"
            aria-label="Search"
            #oiFilter2
            (keyup)="filterOrderItemsNew()"
          />
          <button
            class="btn btn-outline-primary my-2 my-sm-0"
            type="button"
            (click)="clearOrderItems()"
          >
            Clear
          </button>
        </form>
        <form
          novalidate=""
          class="d-flex align-items-center ml-auto ng-pristine ng-valid ng-touched"
        >
          <button
            type="button"
            id="btnCreateWP"
            class="btn btn-primary flex-shrink-0"
            (click)="makePlan()"
            [disabled]="selectedArr.length == 0"
          >
            Create Workplan
          </button>
        </form>
        <form
          novalidate=""
          class="d-flex align-items-center ml-auto ng-pristine ng-valid ng-touched"
        >
          <button
            type="button"
            id="btnCreateWP"
            class="btn btn-success flex-shrink-0"
            (click)="openModal(wpList)"
            [disabled]="selectedArr.length == 0"
          >
            Add to Workplan
          </button>
        </form>
      </div>

      <table class="table table-light">
        <thead class="bg-secondary text-white">
          <tr>
            <th>Select</th>
            <th>
              <i
                class="ti-exchange-vertical"
                (click)="sortByFormuleNumber()"
                style="cursor: pointer"
              ></i
              >Parent/Formule
            </th>
            <th>
              <i
                class="ti-exchange-vertical"
                (click)="sortItemsOne('orderNumber')"
                style="cursor: pointer"
              ></i
              >Order
            </th>
            <th>
              <i
                class="ti-exchange-vertical click"
                (click)="sortItemsOne('itemNumber')"
              ></i
              >Item Number
            </th>
            <th>
              <i
                class="ti-exchange-vertical"
                (click)="sortItemsOne('discription')"
                style="cursor: pointer"
              ></i
              >Item Name
            </th>
            <th>
              <i
                class="ti-exchange-vertical"
                (click)="sortItemsOne('netWeightGr')"
                style="cursor: pointer"
              ></i
              >Unit Weight
            </th>
            <th>Order Qty (u)</th>
            <th>Remain Qty (u)</th>
            <th>WP Qty (u)</th>
            <th>Weight (Kg.)</th>
            <th>
              <i
                class="ti-exchange-vertical"
                (click)="sortItemsOne('itemOrderDate')"
                style="cursor: pointer"
              ></i
              >Order Date
            </th>
            <th>Priority</th>
            <th>
              <i
                class="ti-exchange-vertical"
                (click)="sortItemsOne('dueDate')"
                style="cursor: pointer"
              ></i
              >Due Date
            </th>
            <th>
              <i
                class="ti-exchange-vertical"
                (click)="sortItemsOne('pakaStatus')"
                style="cursor: pointer"
              ></i
              >Stage
            </th>
            <th>
              <i
                class="ti-exchange-vertical"
                (click)="sortItemsOne('workPlanId')"
                style="cursor: pointer"
              ></i
              >Workplan
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let item of filteredOrderItems; let i = index">
          <tr
            [style.backgroundColor]="item.isSelectedColor"
            class="border-bottom border-dark"
          >
            <td>
              <input
                [disabled]="item.pakaStatus != 1 && item.pakaStatus != 8"
                class="check-box"
                type="checkbox"
                (checked)="(item.isSelected)"
                (change)="isSelected($event, item)"
              />
            </td>
            <td>
              {{
                item.formule.parentNumber
                  ? item.formule.parentNumber
                  : item.formule.formuleNumber
              }}
            </td>
            <td>{{ item.orderNumber }}</td>
            <td>{{ item.itemNumber }}</td>
            <td>{{ item.discription }}</td>
            <td>{{ item.netWeightGr }}</td>
            <td>{{ item.origQty }}</td>
            <td>{{ item.maxQty }}</td>
            <td>
              <span *ngIf="edit == -1" (click)="edit = i">{{
                item.quantity
              }}</span>
              <span *ngIf="edit == i">
                <input
                  [attr.disabled]="item.isSelected ? '' : null"
                  type="number"
                  [attr.max]="item.maxQty"
                  min="0"
                  [(ngModel)]="item.quantity"
                /><i class="fas fa-save" (click)="edit = -1"></i>
                <!-- (click)="splitOrderItem(item)"></i> -->
              </span>
            </td>
            <td>{{ (item.quantity * item.netWeightGr) / 1000 }}</td>
            <td>{{ item.itemOrderDate | date: "dd/MM/YYYY" }}</td>
            <td>Medium</td>
            <td>{{ item.dueDate | date: "dd/MM/YYYY" }}</td>
            <td
              [style.background]="item.pakaStatus | orderItemBatchStatusColor"
            >
              {{ item.pakaStatus | orderItemBatchStatus }}
            </td>
            <td
              [style.background]="item.WPstatus | orderItemBatchStatusColor"
              style="text-decoration: underline; cursor: pointer"
              (click)="openWorkPlan(item.workPlanId)"
            >
              {{ item.workPlanId }}
            </td>
            <td>
              <button
                [disabled]="item.pakaStatus != 1"
                class="btn btn-danger"
                (click)="deleteItem(item, i)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="viewWorkPlans">
    <h1 class="text-center">
      <span
        class="heading1"
        [style.backgroundColor]="currentWPView | orderItemBatchStatusColor"
        >{{ currentWPView | orderItemBatchStatus }} Workplans List</span
      >
    </h1>
    <div class="right-part bg-white">
      <div
        class="px-3 py-3 d-flex align-items-center justify-content-between border-bottom bg-light"
      >
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2 ml-2 ml-sm-0"
            type="text"
            placeholder="Search WP"
            aria-label="Search WP"
            #wpFilter
            (keyup)="filterWorkPlans()"
          />
          <input
            class="form-control mr-sm-2 ml-2 ml-sm-0"
            type="text"
            placeholder="Search Order"
            aria-label="Search Order"
            #orderFilter
            (keyup)="filterByOrder()"
          />
          <input
            class="form-control mr-sm-2 ml-2 ml-sm-0"
            type="text"
            placeholder="Search Item"
            aria-label="Search Item"
            #itemFilter
            (keyup)="filterByItem()"
          />
          <button
            class="btn btn-outline-danger my-2 my-sm-0 ml-2 ml-sm-0"
            type="button"
            (click)="clearWorkPlans()"
          >
            Clear
          </button>
        </form>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2 ml-2 ml-sm-0"
            type="text"
            placeholder="Item by Family"
            aria-label="Item By Family"
            #familyFilter
          />
          <button
            class="btn btn-outline-primary my-2 my-sm-0 ml-2 ml-sm-0"
            type="button"
            (click)="filterByFamily()"
          >
            Search
          </button>
          <button
            class="btn btn-outline-danger my-2 my-sm-0 ml-2 ml-sm-0"
            type="button"
            (click)="clearWorkPlans()"
          >
            Clear
          </button>
        </form>
      </div>
      <table class="table table-striped">
        <thead class="bg-secondary text-white">
          <tr>
            <th (click)="sortWpOne('serialNumber')">
              <i class="ti-exchange-vertical" style="cursor: pointer"></i>
              WP Number
            </th>
            <th (click)="sortWpOne('date')">
              <i class="ti-exchange-vertical" style="cursor: pointer"></i>
              Created at
            </th>
            <th class="orders">Orders</th>
            <th class="orders">Items</th>
            <th>Remark</th>
            <th (click)="sortWpOne('status')">
              <i class="ti-exchange-vertical" style="cursor: pointer"></i>
              Status
            </th>
          </tr>
        </thead>
        <tbody
          class="border border-light"
          *ngFor="let workplan of filteredWorkPlans; let i = index"
        >
          <tr>
            <td
              style="text-decoration: underline; cursor: pointer"
              (click)="openWorkPlan(workplan.serialNumber)"
            >
              {{ workplan.serialNumber }}
            </td>
            <td>{{ workplan.date | date: "dd/MM/YYY" }}</td>
            <td class="orders">
              <span *ngFor="let order of workplan.orderItems"
                >{{ order.orderNumber }},&nbsp;</span
              >
            </td>
            <td class="orders">
              <span *ngFor="let order of workplan.orderItems"
                >{{ order.itemNumber }},&nbsp;</span
              >
            </td>
            <td>{{ workplan.remark }}</td>
            <td
              [style.backgroundColor]="
                workplan.status | orderItemBatchStatusColor
              "
            >
              {{ workplan.status | orderItemBatchStatus }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--Work Plan modal-->
<div class="position-fixed work-plan" *ngIf="showWorkPlan">
  <app-planning-details
    (updateWorkPlans)="getWorkPlansList()"
    (closeWorkPlanEmitter)="closeWorkPlan($event)"
    [workPlan]="currentWorkPlan"
    [orderItemsList]="orderItems"
  >
  </app-planning-details>
</div>

<ng-template #wpList let-modal>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Choose Workplan</h4>
        <button
          type="button"
          class="float-left"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead class="bg-secondary text-white">
            <tr>
              <th>Select</th>
              <th
                class="ti-exchange-vertical"
                (click)="sortWpOne('serialNumber')"
                style="cursor: pointer"
              >
                WP Number
              </th>

              <th class="orders">Orders</th>
              <th class="orders">Items</th>

              <th>Status</th>
            </tr>
          </thead>
          <tbody
            class="border border-light"
            *ngFor="let workplan of filteredWorkPlans; let i = index"
          >
            <tr>
              <td>
                <button class="btn btn-success" (click)="addToPlan(workplan)">
                  Select Wp
                </button>
              </td>
              <td>
                {{ workplan.serialNumber }}
              </td>

              <td class="orders">
                <span *ngFor="let order of workplan.orderItems"
                  >{{ order.itemNumber }},&nbsp;</span
                >
              </td>
              <td class="orders">
                <span *ngFor="let order of workplan.orderItems"
                  >{{ order.itemNumber }},&nbsp;</span
                >
              </td>
              <td
                [style.backgroundColor]="
                  workplan.status | orderItemBatchStatusColor
                "
              >
                {{ workplan.status | orderItemBatchStatus }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</ng-template>
