<a _ngcontent-eot-c271="" href="javascript:void(0)"
  class="btn btn-success show-left-part d-block d-md-none ti-menu "></a>
<div _ngcontent-eot-c271="" class="main-part ">
  <div _ngcontent-eot-c271="" class="left-part bg-white fixed-left-part">
    <div _ngcontent-eot-c271="" class="position-relative">
      <div _ngcontent-eot-c271="" class="px-3 py-3 d-flex align-items-center border-bottom">
        <p _ngcontent-eot-c271="" class="mb-0  mt-5 py-1 text-center font-18 font-bold">Order Items</p>
      </div>
      <ul _ngcontent-eot-c271="" class="tasklist list-style-none">
        <li _ngcontent-eot-c271="" class="task-item d-flex all border-bottom active" (click)="viewOrders() "> All <span
            _ngcontent-eot-c271="" class="badge badge-primary ml-auto pt-1">5</span></li>
        <li _ngcontent-eot-c271="" class="task-item d-flex incomplete border-bottom" click="getWokPlan(23)">
          Waiting <span _ngcontent-eot-c271="" class="badge badge-danger ml-auto pt-1"
            style="background-color: #FFC000;">3</span></li>
        <li _ngcontent-eot-c271="" class=" task-item d-flex complete border-bottom"> Planned PP&C<span
            _ngcontent-eot-c271="" class="badge badge-success ml-auto pt-1" style="background-color: #30E845;">2</span>
        </li>
        <li _ngcontent-eot-c271="" class="task-item d-flex complete border-bottom"> Approved Formules <span
            _ngcontent-eot-c271="" class="badge badge-success ml-auto pt-1" style="background-color: #5B9BD5;">2</span>
        </li>
        <li _ngcontent-eot-c271="" class="task-item d-flex complete border-bottom">Scheduled <span
            _ngcontent-eot-c271="" class="badge badge-success ml-auto pt-1" style="background-color: #ED7D31;">2</span>
        </li>
        <li _ngcontent-eot-c271="" class="task-item d-flex complete border-bottom">Allocated (materials) <span
            _ngcontent-eot-c271="" class="badge badge-success ml-auto pt-1" style="background-color: #C48170;">2</span>
        </li>
        <li _ngcontent-eot-c271="" class="task-item d-flex complete border-bottom">Produced <span _ngcontent-eot-c271=""
            class="badge badge-success ml-auto pt-1" style="background-color: #A5A5A5;">2</span></li>
      </ul>
    </div>
    <div _ngcontent-eot-c271="" class="px-3 py-3 d-flex align-items-center border-bottom">
      <p _ngcontent-eot-c271="" class="mb-0  mt-5 py-1 text-center font-18 font-bold">Work Plans</p>
    </div>
    <ul _ngcontent-eot-c271="" class="tasklist list-style-none">
      <li _ngcontent-eot-c271="" class="task-item d-flex all border-bottom active" style="cursor: pointer"
        (click)="viewWP(0)">All <span _ngcontent-eot-c271=""
          class="badge badge-primary ml-auto pt-1">{{workPlans.length}}</span>
      </li>
      <li _ngcontent-eot-c271="" class=" task-item d-flex complete border-bottom" style="cursor: pointer"
        (click)="viewWP(1)"> Draft<span _ngcontent-eot-c271="" class="badge badge-success ml-auto pt-1"
          style="background-color: #30E845;">{{draftWPCount}}</span>
      </li>
      <li _ngcontent-eot-c271="" class="task-item d-flex complete border-bottom" style="cursor: pointer"
        (click)="viewWP(2)"> Moved to Production <span _ngcontent-eot-c271="" class="badge badge-success ml-auto pt-1"
          style="background-color: #5B9BD5;">{{movedWPCount}}</span>
      </li>
      <li _ngcontent-eot-c271="" class="task-item d-flex complete border-bottom" style="cursor: pointer"
        (click)="viewWP(3)">In Production <span _ngcontent-eot-c271="" class="badge badge-success ml-auto pt-1"
          style="background-color: #ED7D31;">{{inProdWPCount}}</span>
      </li>
      <li _ngcontent-eot-c271="" class="task-item d-flex complete border-bottom" style="cursor: pointer"
        (click)="viewWP(4)">Manufactured <span _ngcontent-eot-c271="" class="badge badge-success ml-auto pt-1"
          style="background-color: #C48170;">{{manufWPCount}}</span>
      </li>
      <li _ngcontent-eot-c271="" class="task-item d-flex complete border-bottom" style="cursor: pointer"
        (click)="viewWP(5)">Closed <span _ngcontent-eot-c271="" class="badge badge-success ml-auto pt-1"
          style="background-color: #A5A5A5;">{{closedWPCount}}</span></li>
      <li _ngcontent-eot-c271="" class="task-item d-flex complete border-bottom" style="cursor: pointer"
        (click)="viewWP(5)">On Hold <span _ngcontent-eot-c271="" class="badge badge-success ml-auto pt-1"
          style="background-color: #dd1212;">{{onholdWPCount}}</span></li>
      <li _ngcontent-eot-c271="" class="task-item d-flex complete border-bottom" style="cursor: pointer"
        (click)="viewWP(5)">Cancelled <span _ngcontent-eot-c271="" class="badge badge-success ml-auto pt-1"
          style="background-color: #dd4b12;">{{cancelledWPCount}}</span></li>
    </ul>
  </div>
  <div *ngIf="viewOrderItems">
    <div _ngcontent-phl-c148="" class="px-3 py-3 d-flex align-items-center border-bottom bg-light">
      <h2 class="text-center">Order Items List</h2>

      <form novalidate="" class="d-flex align-items-center ml-auto ng-pristine ng-valid ng-touched"><button
          type="button" id="btnCreateWP" class="btn btn-primary flex-shrink-0" disabled="">Create Workplan</button>
      </form>
    </div>
    <div _ngcontent-eot-c271="" class="right-part bg-white">
      <table class="table table-striped">
        <thead class="bg-secondary text-white">
          <tr>
            <th>Select</th>
            <th>Order</th>
            <th>Item Number</th>
            <th>Item Name</th>
            <th>Quantity (u)</th>
            <th>Weight (Kg.)</th>
            <th>Order Date</th>
            <th>Priority</th>
            <th>Due Date</th>
            <th>Stage</th>
            <th>Workplan</th>
          </tr>

        </thead>
        <tbody class="border border-light" *ngFor="let item of orderItems ; let i = index">
          <tr>
            <td>
              <input type="checkbox" (change)="isSelected($event,item)">
            </td>
            <td>{{item.orderNumber}}</td>
            <td>{{item.orderItem.itemNumber}}</td>
            <td>{{item.orderItem.discription}}</td>
            <td>{{item.orderItem.quantity}}</td>
            <td>{{item.orderItem.qtyKg}}</td>
            <td>{{item.orderDate|date:'dd/MM/YYYY'}}</td>
            <td></td>
            <td></td>
            <td>{{item.status}}</td>
            <td>{{item.orderItem.user}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div *ngIf="viewWorkPlans">

    <h2 class="text-center">Workplans List</h2>
    <div _ngcontent-eot-c271="" class="right-part bg-white">
      <table class="table table-striped">
        <thead class="bg-secondary text-white">
          <tr>
            <th>Select</th>
            <th>WP Number</th>
            <th>Created at</th>
            <th>Related Orders</th>
            <th>Status</th>

          </tr>

        </thead>
        <tbody class="border border-light" *ngFor="let workplan of filteredWorkPlans; let i = index">
          <tr>
            <td>
              <div _ngcontent-eot-c271="" class="custom-control custom-checkbox"><input _ngcontent-eot-c271=""
                  type="checkbox" class="custom-control-input ng-untouched ng-pristine ng-valid" id="i"><label
                  _ngcontent-eot-c271="" class="custom-control-label" for="i"></label></div>
            </td>
            <td style=" text-decoration: underline; cursor:pointer" (click)="openWorkPlan(workplan.serialNumber)">
              {{workplan.serialNumber}}</td>
            <td>{{workplan.date|date:'dd/MM/YYY'}}</td>
            <td>{{workplan.orderItems[0].orderNumber}}</td>
            <td>{{workplan.status | workPlanStatus}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<!--Work Plan modal-->
<div class="position-fixed work-plan" *ngIf="showWorkPlan">
  <app-planning-details (updateWorkPlans)="getWorkPlans()" (closeWorkPlanEmitter)="closeWorkPlan($event)"
    [workPlan]="currentWorkPlan">
  </app-planning-details>
</div>
