<a href="javascript:void(0)" class="btn btn-success show-left-part d-block d-md-none ti-menu "></a>
<div class="main-part ">
  <div class="left-part bg-white fixed-left-part">
    <div class="position-relative">
      <div class="px-3 py-3 d-flex align-items-center border-bottom">
        <p class="mb-0  mt-5 py-1 text-center font-18 font-bold">Order Items</p>
      </div>
      <ul class="tasklist list-style-none">

        <li style="cursor: pointer" class="task-item d-flex incomplete border-bottom" (click)="viewOrders(1);">
          {{1|orderItemBatchStatus}} <span class="badge badge-danger ml-auto pt-1"
            [style.background]="1|orderItemBatchStatusColor">{{waitingCount}}</span></li>
        <li style="cursor: pointer" class=" task-item d-flex complete border-bottom" (click)="viewOrders(2) ">
          {{2|orderItemBatchStatus}}<span class="badge badge-success ml-auto pt-1"
            [style.background]="2|orderItemBatchStatusColor">{{plannedCount}}</span>
        </li>
        <li style="cursor: pointer" class="task-item d-flex complete border-bottom" (click)="viewOrders(3)">
          {{3|orderItemBatchStatus}} <span class="badge badge-success ml-auto pt-1"
            [style.background]="3|orderItemBatchStatusColor">{{approvedCount}}</span>
        </li>
        <li style="cursor: pointer" class="task-item d-flex complete border-bottom" (click)="viewOrders(4)">
          {{4|orderItemBatchStatus}}<span class="badge badge-success ml-auto pt-1"
            [style.background]="4|orderItemBatchStatusColor">{{scheduledCount}}</span>
        </li>
        <li style="cursor: pointer" class="task-item d-flex complete border-bottom" (click)="viewOrders(5)">
          {{5|orderItemBatchStatus}}<span class="badge badge-success ml-auto pt-1"
            [style.background]="5|orderItemBatchStatusColor">{{allocatedCount}}</span>
        </li>
        <li style="cursor: pointer" class="task-item d-flex complete border-bottom" (click)="viewOrders(6)">
          {{6|orderItemBatchStatus}}<span class="badge badge-success ml-auto pt-1"
            [style.background]="6|orderItemBatchStatusColor">{{inProdCount}}</span>
        </li>
        <li style="cursor: pointer" class="task-item d-flex complete border-bottom" (click)="viewOrders(7)">
          {{7|orderItemBatchStatus}}<span class="badge badge-success ml-auto pt-1"
            [style.background]="7|orderItemBatchStatusColor">{{producedCount}}</span></li>
        <li style="cursor: pointer" class="task-item d-flex all border-bottom active" (click)="viewOrders(0)"> All <span
            class="badge badge-primary ml-auto pt-1">{{orderItems.length}}</span></li>
      </ul>
    </div>
    <div class="px-3 py-3 d-flex align-items-center border-bottom">
      <p class="mb-0  mt-5 py-1 text-center font-18 font-bold">Work Plans</p>
    </div>
    <ul class="tasklist list-style-none">
      <li class="task-item d-flex all border-bottom active" style="cursor: pointer" (click)="viewWP(0)">All <span
          class="badge badge-primary ml-auto pt-1">{{workPlans.length}}</span>
      </li>
      <li class=" task-item d-flex complete border-bottom" style="cursor: pointer" (click)="viewWP(1)">
        {{1|workPlanStatus}}<span class="badge badge-success ml-auto pt-1"
          style="background-color: #30E845;">{{draftWPCount}}</span>
      </li>
      <li class="task-item d-flex complete border-bottom" style="cursor: pointer" (click)="viewWP(2)">
        {{2|workPlanStatus}}<span class="badge badge-success ml-auto pt-1"
          style="background-color: #5B9BD5;">{{movedWPCount}}</span>
      </li>
      <li class="task-item d-flex complete border-bottom" style="cursor: pointer" (click)="viewWP(3)">
        {{3|workPlanStatus}}
        <span class="badge badge-success ml-auto pt-1" style="background-color: #ED7D31;">{{inProdWPCount}}</span>
      </li>
      <li class="task-item d-flex complete border-bottom" style="cursor: pointer" (click)="viewWP(4)">
        {{4|workPlanStatus}}<span class="badge badge-success ml-auto pt-1"
          style="background-color: #C48170;">{{manufWPCount}}</span>
      </li>
      <li class="task-item d-flex complete border-bottom" style="cursor: pointer" (click)="viewWP(5)">
        {{5|workPlanStatus}}<span class="badge badge-success ml-auto pt-1"
          style="background-color: #A5A5A5;">{{closedWPCount}}</span></li>
      <li class="task-item d-flex complete border-bottom" style="cursor: pointer" (click)="viewWP(6)">
        {{6|workPlanStatus}}<span this.onholdWPCount=this.filteredWorkPlans.length;
          class="badge badge-success ml-auto pt-1" style="background-color: #dd1212;">{{onholdWPCount}}</span></li>
      <li class="task-item d-flex complete border-bottom" style="cursor: pointer" (click)="viewWP(7)">
        {{7|workPlanStatus}}<span class="badge badge-success ml-auto pt-1"
          style="background-color: #dd4b12;">{{cancelledWPCount}}</span></li>
    </ul>
  </div>
  <div *ngIf="viewOrderItems">
    <div _ngcontent-phl-c148="" class="px-3 py-3 d-flex align-items-center border-bottom bg-light">
      <h2 class="text-center">Order Items List</h2>

      <form novalidate="" class="d-flex align-items-center ml-auto ng-pristine ng-valid ng-touched"><button
          type="button" id="btnCreateWP" class="btn btn-primary flex-shrink-0" (click)="makePlan()"
          [disabled]="selectedArr.length==0">Create Workplan</button>
      </form>
    </div>
    <div class="right-part bg-white">
      <table class="table table-striped">
        <thead class="bg-secondary text-white">
          <tr>
            <th>Select</th>
            <th><i class="ti-exchange-vertical" (click)="sortItemsTwo('formule', 'formuleNumber');"
                style="cursor:pointer"></i>Parent/Formule</th>
            <th><i class="ti-exchange-vertical" (click)="sortItemsOne('orderNumber')" style="cursor:pointer"></i>Order
            </th>
            <th><i class="ti-exchange-vertical" (click)="sortItemsOne('itemNumber')" style="cursor:pointer"></i>Item
              Number</th>
            <th><i class="ti-exchange-vertical" (click)="sortItemsOne('discription');" style="cursor:pointer"></i>Item
              Name</th>
            <th><i class="ti-exchange-vertical" (click)="sortItemsOne('netWeightGr');" style="cursor:pointer"></i>Unit
              Weight</th>
            <th>Order Qty (u)</th>
            <th>Remain Qty (u)</th>
            <th>WP Qty (u)</th>
            <th>Weight (Kg.)</th>
            <th><i class="ti-exchange-vertical" (click)="sortItemsOne('itemOrderDate')" style="cursor:pointer"></i>Order
              Date
            </th>
            <th>Priority</th>
            <th><i class="ti-exchange-vertical" (click)="sortItemsOne('dueDate')" style="cursor:pointer"></i>Due
              Date
            </th>
            <th><i class="ti-exchange-vertical" (click)="sortItemsOne('pakaStatus');" style="cursor:pointer"></i>Stage
            </th>
            <th><i class="ti-exchange-vertical" (click)="sortItemsOne('workPlanId');"
                style="cursor:pointer"></i>Workplan</th>
          </tr>

        </thead>
        <tbody class="border border-light" *ngFor="let item of filteredOrderItems ; let i = index">
          <tr>
            <td>
              <input type="checkbox" (checked)="item.isSelected" (change)="isSelected($event,item)">
            </td>
            <td>{{item.formule.parentNumber? item.formule.parentNumber: item.formule.formuleNumber}}</td>
            <td>{{item.orderNumber}}</td>
            <td>{{item.itemNumber}}</td>
            <td>{{item.discription}}</td>
            <td>{{item.netWeightGr}}</td>
            <td>{{item.origQty}}</td>
            <td>{{item.maxQty}}</td>
            <td><span *ngIf="edit == -1" (click)="edit = i">{{item.quantity}}</span>
              <span *ngIf="edit == i">
                <input [attr.disabled]="item.isSelected? '' :null" type="number" [attr.max]="item.maxQty" min="0"
                  [(ngModel)]="item.quantity"><i class="fas fa-save" (click)="edit=-1"></i>
                <!-- (click)="splitOrderItem(item)"></i> -->
              </span>
            </td>
            <td>{{item.quantity*item.netWeightGr}}</td>
            <td>{{item.itemOrderDate|date:'dd/MM/YYYY'}}</td>
            <td>Medium</td>
            <td>{{item.dueDate| date:'dd/MM/YYYY'}}</td>
            <td [style.background]="item.pakaStatus | orderItemBatchStatusColor">
              {{item.pakaStatus |orderItemBatchStatus}}</td>
            <td [style.background]="item.WPstatus | orderItemBatchStatusColor">{{item.workPlanId}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div *ngIf="viewWorkPlans">

    <h2 class="text-center">Workplans List</h2>
    <div class="right-part bg-white">
      <table class="table table-striped">
        <thead class="bg-secondary text-white">
          <tr>
            <th>Select</th>
            <th>WP Number</th>
            <th>Created at</th>
            <th>Related Orders</th>
            <th>Status</th>

          </tr>

        </thead>
        <tbody class="border border-light" *ngFor="let workplan of filteredWorkPlans; let i = index">
          <tr>
            <td>
              <div class="custom-control custom-checkbox"><input type="checkbox"
                  class="custom-control-input ng-untouched ng-pristine ng-valid" id="i"><label
                  class="custom-control-label" for="i"></label></div>
            </td>
            <td style=" text-decoration: underline; cursor:pointer" (click)="openWorkPlan(workplan.serialNumber)">
              {{workplan.serialNumber}}</td>
            <td>{{workplan.date|date:'dd/MM/YYY'}}</td>
            <td>{{workplan.orderItems[0].orderNumber}}</td>
            <td>{{workplan.status | workPlanStatus}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<!--Work Plan modal-->
<div class="position-fixed work-plan" *ngIf="showWorkPlan">
  <app-planning-details (updateWorkPlans)="getWorkPlans()" (closeWorkPlanEmitter)="closeWorkPlan($event)"
    [workPlan]="currentWorkPlan">
  </app-planning-details>
</div>
