<app-add-formule 
(formuleCreated)='onFormuleAdded($event)'
(firstPhaseCreated)='onFirstPhaseCreated($event)'>

</app-add-formule>
<app-add-formule-phase #childPhases (phaseCreated)='onPhaseAdded($event)' *ngFor = 'let phase of allPhasesForm'>
</app-add-formule-phase>
<app-add-formule-item #childItem (itemAdded)='onItemAdded($event)' *ngFor = 'let item of allItemsForm'></app-add-formule-item>

<app-formule-form-table></app-formule-form-table>

<button class="btn btn-success m-r-10" type="button" (click)="onFinish()">Finish</button>
