<div class="row">
    <div class="col-6">
        <app-add-formule 
        (formuleCreated)='onNewFormuleAdded($event)'
        (formuleLoaded)='LoadingFormule($event)'
        (firstPhaseCreated)='onFirstPhaseCreated($event)'
        [disableAdding]="disableAddPhase"
        >
        
        </app-add-formule>
        <app-add-formule-phase #childPhases  
        [formuleBase]="newFormuleBasic"
        (phaseCreated)='onPhaseAdded($event)' 
        [phaseInfo]="phase"
        *ngIf="newPhase">

        </app-add-formule-phase>
        <app-add-formule-item #childItem 
        [itemInfo]="item"
        [phaseInfo]="phase"
        (itemAdded)='onItemAdded($event)' 
        *ngIf="newItem"
        >
        </app-add-formule-item>
    </div>    
    <div class="col-6">
        <app-formule-form-table [formulePhases]="allPhasesForm"></app-formule-form-table>
    </div>
</div>



<button class="btn btn-success m-r-10" type="button" (click)="onFinish()">Finish</button>
