
<table>
  <thead class="bg-success text-white">
    <tr>
      <th><b>Order Number</b></th>
      <th><b>Item Number</b></th>
      <th><b>Item Name</b></th>
      <th><b>Measure</b></th>
      <th><b>Order Quantity</b></th>
      <th><b>Price</b></th>
      <th><b>Supplied Quantity</b></th>
      <th><b>Order Date</b></th>
      <th><b>Remaining Quantity</b></th>
      <th><b>Remainning Quantity Value</b></th>
    </tr>
  </thead>
  <tbody id="table_body">
    <tr *ngFor="let line of procurementData">
      <td>
        <a
          target="_blank"
          routerLink="/peerpharm/allorders/orderitems/{{ line.orderNumber }}"
        >
          {{ line.orderNumber }}
        </a>
      </td>
      <td>
        <a
          target="_blank"
          routerLink="/peerpharm/items/itemDetails/{{ line.itemNumber }}"
        >
          {{ line.itemNumber }}
        </a>
      </td>
      <td>{{ line.itemName }}</td>
      <td>{{ line.measure }}</td>
      <td>{{ line.orderQnt }}</td>
      <td>{{ line.price }}</td>
      <td>{{ line.suppliedQnt}}</td>
      <td>{{ line.orderDate}}</td>
      <td>{{ line.remainingQnt }}</td>
      <td>{{ line.remainingQntValue }}</td>
    </tr>
  </tbody>
</table>
