<div class="row mt-4">
  <div class="col-3"></div>
  <div class="col-2 text-center">
    <h3 [ngClass]="setColors('title1')" (click)="setFormView('itemDetails')" class="text-center mx-auto p-2">
      Item
      Details</h3>
  </div>
  <div class="col-3"></div>

  <div class="col-2 text-center">
    <h3 [ngClass]="setColors('title2')" (click)="setFormView('movements')" class="text-center mx-auto p-2">
      Item Movements</h3>
  </div>

  <!-- <div class="col-2 text-center">
    <h3 [ngClass]="setColors('title3')" (click)="setFormView('sales')" class="text-center mx-auto p-2">
      Outgoing
    </h3>
  </div> -->
</div>


<!-- Item Details Form-->
<form *ngIf="showDetailsForm" [formGroup]="itemDetailsForm" (ngSubmit)="getItemData()">
  <div class="row border border-success rounded p-4 w-50 form-group mx-auto">
    <div class="col-2">
      <label>
        Enter number,
      </label>
      <input type="text" #itemNumber formControlName="itemNumber" class="form-control">
    </div>
    <div class="col-2">
      <label class="d-block">
        or find by name.
      </label>
      <input class="d-inline form-control" type="text" #name formControlName="itemName">
      <div *ngIf="itemName.touched && itemName.invalid" class="alert alert-danger">
        Enter 3 or more characters</div>
      <button class="d-inline" type="button" (click)="getNames(name)">Find</button>
      <select class="form-control" #nameSelect (change)="setItemDetailsNumber($event)">
        <option *ngFor="let itemname of itemNames" [value]="itemname.componentN">{{itemname.componentName}}</option>
      </select>
    </div>
    <div class="col-1">
      <button type="submit" class="btn btn-info">Go.</button>
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-light" (click)="item = undefined">Clear</button>
    </div>
    <div class="col-4"></div>
    <div class="col-2">
      <button type="button" class="btn btn-success form-control" (click)="open(itemType)">Create New Item</button>
    </div>

  </div>
</form>



<!--Item Movements Form-->

<form *ngIf="showMovementsForm" [formGroup]="itemMovementForm" (ngSubmit)="fetchMovements()">
  <div class="row border border-secondary rounded p-4 w-75 form-group mx-auto">
    <div class="col-1">
      <label>
        item type
      </label>
      <select formControlName="itemType" class="form-control">
        <option value="all">all</option>
        <option value="component">component</option>
        <option value="material">material</option>
        <option value="product">product</option>
      </select>
    </div>
    <div *ngIf="itemMovementForm.value.itemType == 'component'" class="col-2">
      <label>
        component type
      </label>
      <select formControlName="componentType" class="form-control">
        <option value="skip">Filter by Items</option>
        <option value='bottle_Glass'>בקבוק זכוכית</option>
        <option value='bottle_Plastic'>בקבוק פלסטיק</option>
        <option value='jar_Glass'>צנצנת זכוכית</option>
        <option value='jar_Plastic'>צנצנת פלסטיק</option>
        <option value='cap'>פקק</option>
        <option value='cover'>מכסה</option>
        <option value='pump'>משאבה</option>
        <option value='cosmetic_pump'>משאבה קוסמטית</option>
        <option value='over_cap'>מכסה עילי</option>
        <option value='tube'>שפורפרת</option>
        <option value='colons'>קולונים</option>
        <option value='hair_life'>היירלייפ</option>
        <option value='compacts'>קומפקטים</option>
        <option value='personal_package'>אריזות אישיות</option>
        <option value='master_carton'>קרטוני מאסטר</option>
        <option value='newsletter'>עלון לצרכן</option>
        <option value='irosol_valve'>אירוסול- שסתום</option>
        <option value='irosol_bottle'>איירוסול- בקבוק</option>
        <option value='irosol_hectotor'>אירוסול- הקטאטור</option>
        <option value='irosol_bottle'>איירוסול- בקבוק</option>
        <option value='cellophane'>צלופן</option>
        <option value='sticker'>מדבקה</option>
        <option value='sachet'>סאשט</option>
      </select>
    </div>
    <div class="col-2">
      <label>
        item numbers
      </label>
      <ng-container *ngFor="let item of itemMovementForm.value.itemNumbers; let i = index">
        <input (change)="setItemNumber(i, $event)" [value]="itemMovementForm.value.itemNumbers[i]" class="form-control"
          type="text">
        <button type="button" (click)="itemMovementForm.value.itemNumbers.push('')">+</button>
        <button *ngIf="i > 0" type="button" (click)="itemMovementForm.value.itemNumbers.pop()">-</button>
      </ng-container>
    </div>

    <div class="col-2">
      <label>from</label>
      <input formControlName="fromDate" class="form-control" type="date">
    </div>
    <div class="col-2">
      <label>to</label>
      <input formControlName="toDate" class="form-control" type="date">
    </div>
    <div class="col-1">
      <label>
        movement type
      </label>
      <select formControlName="movementType" class="form-control">
        <option value="all">all</option>
        <option value="in">in</option>
        <option value="out">out</option>
        <option value="production">production</option>
        <option value="shelfChange">Shelf Change</option>
      </select>
    </div>
    <div class="col-2">
      <label>
        amounts
      </label>
      <input formControlName="amount" class="form-control" type="number">
      <select formControlName="amountDir" class="form-control">
        <option value="higherThan">Higher than</option>
        <option value="lowerThan">Lower than</option>
      </select>
    </div>
    <div class="col-1">
      <button type="submit" class="btn btn-info">Go.</button>
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-secondary" (click)="resetMovements()">Clear</button>
    </div>
  </div>
</form>


<!--Sold Products-->
<form *ngIf="showSalesForm" [formGroup]="productsSoldForm" (ngSubmit)="fetchProducts">
  <div class="row border border-warning rounded p-4 w-75 form-group mx-auto">
    <!-- <h4 class="text-warning">Coming soon...</h4> -->

    <div class="col-2">
      <label>Product Number</label>
      <input formControlName="productNumber" class="form-control" type="number">
    </div>
    <div class="col-2">
      <label>from</label>
      <input formControlName="fromDate" class="form-control" type="date">
    </div>
    <div class="col-2">
      <label>to</label>
      <input formControlName="toDate" class="form-control" type="date">
    </div>
    <div class="col-2">
      <label>
        amounts
      </label>
      <input formControlName="amount" class="form-control" type="number">
      <select formControlName="amountDir" class="form-control">
        <option value="higherThan">Higher than</option>
        <option value="lowerThan">Lower than</option>
      </select>
    </div>
    <div class="col-1">
      <button type="submit" class="btn btn-warning">Go.</button>
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-secondary" (click)="resetMovements()">Clear</button>
    </div>
  </div>


</form>



<div class="row mt-2"></div>


<!--Item Details Start-->
<div *ngIf="item && !fetchingMovements" class="bg-light item-details">

  <!--Save / Edit Buttons-->
  <div class="row text-center p-5 container mx-auto">
    <div class="col-3"></div>
    <div class="col-3">
      <div *ngIf="allowUserEditItem">
        <button class="btn btn-info form-control h3" ngbTooltip="שמור שינויים" id="updateDataBtn"
          (click)="editItemDetails()">
          שמור
        </button>
      </div>
    </div>
    <div class="col-3">
      <button ngbTooltip="שחזור פרטים (אם לא שמרת)" class="btn btn-light form-control h3" id="newCbtn"
        (click)="getItemData()">
        שחזר פרטים
      </button>
    </div>
    <div class="col-3">
    </div>
  </div>

  <!--General Details Component / product-->
  <div dir="rtl" *ngIf="item.itemType!='material'" class="w-50 float-right modal-inner">
    <h1 class="text-center text-info">פרטים כלליים</h1>

    <div class="row mt-4 d-flex flex-row justify-content-around">

      <div>
        <p class="h5">פריט</p>
        <input [disabled]="!new" (change)="checkIfItemExist($event)" class="form-control" type='text'
          [value]="item.componentN">
      </div>
      <div>
        <p class="h5">סוג</p>
        <select class="form-control" [(ngModel)]="item.itemType">
          <option value="component">component</option>
          <option value="material">material</option>
          <option value="product">product</option>
        </select>
      </div>
      <div>
        <p class="h5">יח' מידה</p>
        <select class="form-control" [(ngModel)]="item.measurement">
          <option value="kilogram">kilogram</option>
          <option value="liter">liter</option>
          <option value="meter">meter</option>
          <option value="ml">ml</option>
          <option value="unit">Unit</option>
          <option value="ton">טון</option>
          <option value="unit">יחידה</option>
          <option value="box">קופסא</option>
        </select>
      </div>
      <div dir="rtl">
        <p dir="rtl" class="h5">?שקיל</p>
        <input type="checkbox" class="weighable" [(ngModel)]="item.weighable">
      </div>
      <div>
        <p class="h5">ברקוד</p>
        <input type="text" class="form-control" [(ngModel)]="item.barcode">
      </div>
    </div>

    <div class="row mt-4 d-flex flex-row justify-content-around">
      <div class="w-50">
        <p class="h5">שם</p>
        <input class="form-control w-75" type="text" [(ngModel)]="item.componentName">
      </div>

      <div class="w-50">
        <p class="h5">שם קומקס</p>
        <input class="form-control w-75" type="text" [(ngModel)]="item.comaxName">
      </div>
    </div>


    <div class="row mt-4 d-flex flex-row justify-content-around">
      <div>
        <p class="h5">פריט חלופי</p>
        <input class="form-control" type="text" [(ngModel)]="item.alternativeComponent">
      </div>
      <div>
        <p class="h5">מחיר אחרון (שקלים)</p>
        <input disabled class="form-control" type="text" [(ngModel)]="item.price">
      </div>

      <div>
        <p class="h5">מחיר העמסה (שקלים)</p>
        <input disabled class="form-control" type="number" [(ngModel)]="item.shippingPrice">
      </div>
    </div>

    <div class="row mt-4 d-flex flex-row justify-content-around">
      <div>
        <p class="h5">מספר ספק</p>
        <input class="form-control" list="suppliers" type='text' (change)="fillSupplierDetails()"
          [(ngModel)]="item.suplierN">
        <datalist id="suppliers">
          <option *ngFor="let supplier of allSuppliers" value="{{supplier.suplierName}}">
            {{supplier.suplierNumber}}
          </option>
        </datalist>
      </div>
      <div>
        <p class="h5">מק"ט ספק</p>
        <input class="form-control" type='text' [(ngModel)]="item.componentNs">
      </div>
      <div>
        <p class="h5">מחיר ספק</p>
        <input class="form-control" type='text' [(ngModel)]="item.price">
      </div>
      <div>
        <p class="h5">מלאי מינימום</p>
        <input class="form-control" type='number' [(ngModel)]="item.minimumStock">
      </div>
      <div>
        <p class="h5">כמות מינימלית להזמנה</p>
        <input class="form-control" type='number' [(ngModel)]="item.minimumPurchaseAmount">
      </div>
    </div>

    <div class="row mt-4 d-flex flex-row justify-content-around">
      <div>
        <p class="h5">מחלקה</p>
        <select class="form-control" [(ngModel)]="item.componentType">
          <option value=""></option>
          <option *ngFor="let cmptType of cmptTypes">{{cmptType}}</option>
        </select>
      </div>
      <div>
        <p class="h5">קטגוריה 2</p>
        <select class="form-control" [(ngModel)]="item.componentType2">
          <option value=""></option>
          <option *ngFor="let cmptType of cmptTypes2">{{cmptType}}</option>
        </select>
      </div>
      <div>
        <p class="h5">קטגוריה 3</p>
        <select class="form-control" [(ngModel)]="item.componentType3">
          <option value=""></option>
          <option *ngFor="let cmptType of cmptTypes3">{{cmptType}}</option>
        </select>
      </div>
      <div>
        <p class="h5">מותג</p>
        <select class="form-control" [(ngModel)]="item.componentCategory">
          <option value=""></option>
          <option *ngFor="let cmptCategory of cmptCategoryList">{{cmptCategory}}</option>
        </select>
      </div>
      <div>
        <p class="h5">סוג אריזה</p>
        <select class="form-control" [(ngModel)]="item.packageType">
          <option value='paperCarton'>נייר/קרטון</option>
          <option value='drinkCarton'>קרטוניות משקה</option>
          <option value='transperentGlass'>זכוכית שקופה</option>
          <option value='colorGlass'>זכוכית צבעונית</option>
          <option value='pet'>PET</option>
          <option value='hdpe'>HDPE</option>
          <option value='ldpe'>LDPE</option>
          <option value='pp'>PP</option>
          <option value='ps'>PS</option>
          <option value='otherPlastic'>פלסטיק אחר</option>
          <option value='metal'>מתכת</option>
          <option value='wood'>עץ</option>
          <option value='otherMaterial'>חומר אחר</option>
        </select>
      </div>
      <div>
        <p class="h5">כמות מל'</p>
        <input class="form-control" type="text" [(ngModel)]="item.actualMlCapacity">
      </div>
    </div>

    <div class="row mt-4 d-flex flex-row justify-content-around">
      <div>
        <p class="h5">על חשבון</p>
        <select class="form-control w-75" [(ngModel)]="item.whoPays">
          <option value="peerpharm">פארפארם</option>
          <option value="customers">לקוח/לקוחות</option>
        </select>
      </div>

      <div>
        <p class="h5">הערה</p>
        <textarea rows="2" cols="20" class="form-control" type='text' [(ngModel)]="item.remarks"></textarea>
      </div>

      <div>
        <p class="h5">הערה קופצת</p>
        <textarea rows="2" cols="20" class="form-control" type='text' [(ngModel)]="item.jumpRemark"></textarea>
      </div>

    </div>

  </div>

  <!--General Details Material-->
  <div dir="ltr" *ngIf="item.itemType=='material'" class="w-50 float-right modal-inner">
    <h1 class="mt-4 text-info text-center">פרטים כלליים</h1>
    <div class="row mt-4 d-flex flex-row justify-content-around">
      <div>
        <label>Item</label>
        <input class="form-control" disabled [value]="item.componentN">
      </div>
      <div>
        <label>Type</label>
        <select disabled class="form-control" [(ngModel)]="item.itemType">
          <option value="component">component</option>
          <option value="material">material</option>
          <option value="product">product</option>
        </select>
      </div>
      <div>
        <label>Name</label>
        <input class="form-control" (change)="checkIfExist($event)" [(ngModel)]="item.componentName">
      </div>
      <div>
        <label>Last Price (NIS)</label>
        <input type="number" class="form-control" disabled [(ngModel)]="item.price">
      </div>
      <div>
        <label>Supplier Item Number</label>
        <input class="form-control" [(ngModel)]="item.componentNs">
      </div>
    </div>
    <div class="row mt-4 d-flex flex-row justify-content-around">
      <div>
        <label>INCI Name</label>
        <input class="form-control" (change)="checkIfInciNameExist($event)" [(ngModel)]="item.inciName" type='text'>
      </div>
      <div>
        <label>Month Till Exp</label>
        <input class="form-control" [(ngModel)]="item.monthTillExp" type="number" />
      </div>
      <div>
        <label>CAS Number</label>
        <input class="form-control" [(ngModel)]="item.casNumber" type='text'>
      </div>
      <div>
        <label>Function</label>
        <input class="form-control" [(ngModel)]="item.function" type='text'>
      </div>
      <div>
        <label>מצב צבירה</label>
        <input list="som" class="form-control" [(ngModel)]="item.stateOfMatter" type='text'>
        <datalist id="som">
          <option value="liquid">Liquid</option>
          <option value="solid">Solid</option>
          <option value="gell">Gell</option>
        </datalist>
      </div>
    </div>
    <div dir="rtl" class="row mt-4"></div>
    <div dir="rtl" class="row mt-4">
      <div class="col-4">
        <h3 class="text-danger">חומרים מסוכנים בפירוק</h3>
        <textarea [(ngModel)]="item.dangerMaterials" cols="30" rows="4"></textarea>
      </div>
      <div style="height:210px;overflow-y: scroll;" class="col-8">
        <h4>הרכב</h4>
        <table style="font-size: 15px;">
          <tbody>
            <tr>
              <td>
                <input placeholder="composition" [(ngModel)]="compositionName" class='form-control'>
              </td>
              <td>
                <input placeholder="%" [(ngModel)]="compositionPercentage" class="form-control">
              </td>
              <td>
                <input placeholder="function" [(ngModel)]="compostionFunction" class="form-control">
              </td>
              <td>
                <input placeholder="CAS" [(ngModel)]="compositionCAS" class="form-control">
              </td>
              <td>
                <button class="btn btn-info form-control"><i (click)="addComposition()" class="fa fa-plus"></i></button>
              </td>
            </tr>
            <tr *ngFor="let comp of item.composition; let i = index" ngbTooltip="Click to edit" (click)="editComp(i)">
              <td *ngIf="compEdit != i">{{comp.compName}}</td>
              <td *ngIf="i == compEdit"><input class="form-control" type="text" [(ngModel)]="comp.compName"></td>
              <td *ngIf="compEdit != i">{{comp.compPercentage}}</td>
              <td *ngIf="i == compEdit"><input class="form-control" type="text" [(ngModel)]="comp.compPercentage"></td>
              <td *ngIf="compEdit != i">{{comp.compFunction}}</td>
              <td *ngIf="i == compEdit"><input class="form-control" type="text" [(ngModel)]="comp.compFunction"></td>
              <td *ngIf="compEdit != i">{{comp.compCAS}}</td>
              <td *ngIf="i == compEdit"><input class="form-control" type="text" [(ngModel)]="comp.compCAS"></td>
              <td><i (click)="deleteFromComposition(item._id,comp.compName)" class="fa fa-times text-danger click"></i>
              </td>
            </tr>
          </tbody>
        </table>
        <button *ngIf="compEdit != -1" class="btn btn-info" (click)="toastSrv.info('יש לשמור שינויים לפריט')"
          (click)="compEdit = -1">Save</button>
      </div>
    </div>
    <div dir="rtl" class="row mt-4 d-flex flex-row justify-content-around">
      <div>
        <h4>משפטי סיכון</h4>
        <textarea [(ngModel)]="item.riskSentence" cols="30" rows="4"></textarea>
      </div>
      <div class="text-center d-flex flex-column">
        <label>COA Master</label>
        <div>
          <button class="btn btn-info" ngbTooltip="Upload COA Master" (click)="coaMasterInput.click()"><i
              class="fa fa-upload" aria-hidden="true"></i></button>
        </div>
        <div>
          <a [ngbTooltip]="item.coaMaster ? 'Download COA Master' : 'No COA Master. Upload one.'"
            [href]="item.coaMaster">
            <img style="height: 45px; width:45px;" src="../../../../assets/images/pdf.png" alt="PDF" />
          </a>
          <input class="form-control" #coaMasterInput style="display:none" type="file"
            (change)="uploadCoaMaster($event)">
        </div>
      </div>
      <div class="text-center d-flex flex-column">
        <label>MSDS</label>
        <div>
          <button class="btn btn-info" ngbTooltip="Upload MSDS" (click)="msdsInput.click()"><i class="fa fa-upload"
              aria-hidden="true"></i></button>
        </div>
        <div>
          <a [ngbTooltip]="item.msds ? 'Download MSDS' : 'No MSDS. Upload one.'" [href]="item.msds" class="mt-2">
            <img style="height: 45px; width:45px;" src="../../../../assets/images/pdf.png" alt="PDF" />
          </a>
          <input class="form-control" #msdsInput style="display:none" type="file" (change)="uploadMsds($event)">
        </div>
      </div>
      <div dir="ltr">
        <h4>Formule Remarks</h4>
        <textarea [(ngModel)]="item.remarks" cols="30" rows="4"></textarea>
      </div>
    </div>
    <div dir="rtl" class="p-3 row mt-4 d-flex flex-row justify-content-around float-right w-50 border border-dark">
      <div class="d-flex flex-row justify-content-around">
        <div>
          <input type="checkbox" class="problematic" [disabled]="!allowedProblematicEdit"
            [(ngModel)]="item.isProblematic" [ngModelOptions]="{standalone: true}">
        </div>
        <label>חומר בעייתי?</label>
      </div>
      <div>
        <label>בעייתיות:</label>
        <select [disabled]="!item.isProblematic" class="form-control" [(ngModel)]="item.problem">
          <option value="פג תוקף קצר">פג תוקף קצר</option>
          <option value="פריט ייבוא / זמן אספקה">פריט ייבוא / זמן אספקה</option>
          <option value="כמויות מינימום">כמויות מינימום</option>
          <option value="אחר">אחר</option>
        </select>
      </div>
    </div>
  </div>

  <!--Purchase History-->
  <div class="w-50 modal-inner float-right" *ngIf="lastOrdersOfItem">
    <h1 class="mt-4 text-center text-info">הסטוריית רכש</h1>
    <div class="row mt-4">
    </div>
    <div>
      <div class="smallLoader" *ngIf="fetchingOrders"></div>
      <div *ngIf="lastOrdersOfItem.length > 0" class="row text-center p-2">
        <table class="table table-striped table-hover">
          <thead class="bg-info text-white">
            <tr>
              <th>#</th>
              <th>Order Number</th>
              <th>Supplier</th>
              <th>Status</th>
              <th>Order Date</th>
              <th>Arrival Date</th>
              <th>Arrived Amount</th>
              <th></th>
              <th>Ordered Amount</th>
              <th>Item Price (Foreign)</th>
              <th>Item Price (NIS)</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let lastorderitem of lastOrdersOfItem; let i = index">
              <tr>
                <td>{{i+1}}</td>
                <td>{{lastorderitem.orderNumber}}</td>
                <td>{{lastorderitem.supplierName}}</td>
                <td>{{lastorderitem.status}}</td>
                <td>{{lastorderitem.orderDate | date: 'dd/MM/yyyy'}}</td>
                <td><span *ngIf="lastorderitem.arrivalDate">{{lastorderitem.arrivalDate | date:
                    'dd/MM/yyyy'}}</span></td>
                <td>{{lastorderitem.arrivedAmount}}</td>
                <td>/</td>
                <td>{{lastorderitem.quantity}}</td>
                <td>{{lastorderitem.price}} {{lastorderitem.coin | currencySymbol}}</td>
                <td>{{lastorderitem.localPrice | currency: 'ILS'}}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!--Pricing-->
  <div *ngIf="screenPermission < 4" class="float-right w-50 modal-inner">
    <div class="" dir="rtl">
      <h1 class="text-info text-center">מחירים</h1>
      <div class=" row mt-4">
        <div class=" col-4">
          <h5>מחיר רכש אחרון</h5>
          <p>{{item.price}} {{item.coin | currencySymbol}}</p>
        </div>
        <div class="col-4">
          <h5>מחיר ידני</h5>
          <p>{{item.manualPrice}} {{item.manualCoin | currencySymbol}}</p>
        </div>
        <div class="col-2">
          <button (click)="open(updateManualPrice)">עדכן מחיר ידני</button>
        </div>
      </div>
    </div>
    <div dir="rtl" class=" row mt-4">
      <h2>היסטוריית מחירים</h2>
    </div>
    <div dir="rtl" class="row  mt-2">
      <div class="col-8">
      </div>
      <div class="col-2">
        <p>סוגי עדכונים: </p>
      </div>
      <div class="col-1">
        <div class="yellow p-2">עדכון ידני</div>
        <div class="cornflowerblue p-2">עדכון מערכת</div>
      </div>
      <table dir="rtl" class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>תאריך</th>
            <th>מחיר</th>
            <th>סיבת עדכון</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let update of item.priceUpdates let i=index">
            <td [style.background]="update.type == 'manual' ? 'yellow' : 'cornflowerblue'">{{i+1}}</td>
            <td>{{update.date | date:'dd/MM/yy'}}</td>
            <td>{{update.price}} {{update.coin | currencySymbol}}</td>
            <td *ngIf="update.type == 'manual'">ידני - ע"י {{update.user}}</td>
            <td *ngIf="update.type == 'auto'">סגירת הזמנת רכש מס' {{update.purchase}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--Storage / Cooking (Materials)-->
  <div dir="rtl" *ngIf="item.itemType=='material'" class="float-right modal-inner w-50 mt-4">
    <!-- <h1 class="text-secondary mt-4">מחסן/מחלקת בישול</h1> -->
    <h1 class="text-info text-center">מחסן / מחלקת בישול</h1>
    <div class="row mt-4 d-flex flex-row justify-content-around">
      <div>
        <label>קבוצת סיכון</label>
        <select class="form-control" [(ngModel)]="item.threatment">
          <option value="flammableLiquid">3 - נוזל דליק</option>
          <option value="flammableSolid">4 - מוצק דליק</option>
          <option value="oxidizer">5.1 - מחמצן אי אורגני</option>
          <option value="toxic">6 - רעיל</option>
          <option value="acid">8 - חומצה</option>
          <option value="base">8 - בסיס</option>
          <option value="otherDangerMaterials">9 - חומרים מסוכנים שונים</option>
          <option value="regular">אין מספר או"מ</option>
          <option value="cooling">איחסון בקירור</option>
          <option value="blockedByType">חסום לפי סוג חומר</option>
        </select>
      </div>
      <div>
        <label>מספר או"מ</label>
        <input [(ngModel)]="item.umNumber" type="text" class="form-control" />
      </div>
      <div>
        <label>קוד חירום</label>
        <input [(ngModel)]="item.imerCode" type="text" class="form-control" />
      </div>
      <div>
        <h5>טיפול בחירום</h5>
        <textarea [(ngModel)]="item.imerTreatment" cols="30" rows="3"></textarea>
      </div>
    </div>
    <div class="row mt-4 d-flex flex-row justify-content-around">
      <div>
        <label>כמות מותרת באחסון</label>
        <input [(ngModel)]="item.allowQtyInStock" type="text" class="form-control" />
      </div>
      <div>
        <label>היתר רעלים</label>
        <input [(ngModel)]="item.permissionDangerMaterials" type="checkbox" style="width:12px" class="form-control" />
      </div>
      <div>
        <label>מיקום במחסן</label>
        <input class="form-control" list="locations" [(ngModel)]="item.location"
          (change)="getAllMaterialLocations($event)" type="text">
        <datalist id="locations">
          <option *ngFor="let material of materialLocations" [value]="material.location">
            {{material.location}}</option>
        </datalist>
      </div>
      <div>
        <label>כמות במלאי</label>
        <input [(ngModel)]="item.quantityInStock" type="text" class="form-control" />
      </div>
      <div>
        <label>כמות פג תוקף</label>
        <input [(ngModel)]="item.expiredQty" type="text" class="form-control" />
      </div>
    </div>
    <div class="row mt-4 d-flex flex-row justify-content-around">
      <div>
        <label>טמפ' אחסון</label>
        <input [(ngModel)]="item.storageTemp" type="text" class="form-control" />
      </div>
      <div>
        <h5>הוראות אחסון</h5>
        <textarea [(ngModel)]="item.storageDirections" cols="30" rows="3"></textarea>
      </div>
    </div>
  </div>

  <!--Suppliers-->
  <div dir="rtl" class="float-right modal-inner pt-4 w-50 mt-4">
    <h1 class="mt-4 text-info text-center">ספקים</h1>
    <h3>רשימת ספקים</h3>
    <div dir='rtl' class="row text-center">
      <div class="col-12">
        <table *ngIf="item.itemType=='material'" class="table table-hover">
          <thead class="bg-info text-white">
            <tr>
              <th></th>
              <th></th>
              <th>ספק</th>
              <th>יצרן</th>
              <th>שם פריט ספק</th>
              <th>מק"ט ספק</th>
              <th>מחיר</th>
              <th>מטבע</th>
              <th>משקל</th>
              <th>סוג אריזה</th>
              <th>מחיר העמסה</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let supplier of item.alternativeSuppliers;let i = index">
              <tr [ngClass]="mainSupplier(supplier.isMain)">
                <td>
                  <button *ngIf="!supplier.isMain" (click)="makeAsMainSupplier(i)" class="btn btn-info">הגדר
                    כספק ראשי</button>
                  <span *ngIf="supplier.isMain">ספק ראשי!</span>
                </td>
                <td><i class="fa fa-pencil-alt" placement="bottom" ngbTooltip="ערוך פרטי ספק" (click)="edit(i)"></i>
                </td>
                <td>
                  {{supplier.supplierName}}</td>
                <td *ngIf="rowNumber != i">
                  {{supplier.manufacturer}}</td>
                <td *ngIf="rowNumber == i">
                  <input type="text" [(ngModel)]="supplier.manufacturer" class="form-control" #manufacturer>
                </td>
                <td *ngIf="rowNumber != i">
                  {{supplier.alterName}}</td>
                <td *ngIf="rowNumber == i">
                  <input type="text" [(ngModel)]="supplier.alterName" class="form-control" #alterName>
                </td>
                <td *ngIf="rowNumber != i">
                  {{supplier.alternativeMaterial}}</td>
                <td *ngIf="rowNumber == i">
                  <input type="text" [(ngModel)]="supplier.alternativeMaterial" class="form-control"
                    #alternativeMaterial>
                </td>
                <td *ngIf="rowNumber != i">
                  {{supplier.price}}</td>
                <td *ngIf="rowNumber == i">
                  <input type="text" [(ngModel)]="supplier.price" class="form-control" #price>
                </td>
                <td *ngIf="rowNumber != i">
                  {{supplier.coin}}</td>
                <td *ngIf="rowNumber == i">
                  <select [(ngModel)]="supplier.coin" #coin>
                    <option value="ILS">ILS</option>
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="GBP">GBP</option>
                    <option value="JPY">JPY</option>
                  </select>
                </td>
                <td *ngIf="rowNumber != i">
                  {{supplier.packageWeight}}</td>
                <td *ngIf="rowNumber == i">
                  <input type="text" [(ngModel)]="supplier.packageWeight" class="form-control" #packageWeight>
                </td>
                <td *ngIf="rowNumber != i">
                  {{supplier.subGroup}}</td>
                <td *ngIf="rowNumber == i">
                  <input type="text" [(ngModel)]="supplier.subGroup" class="form-control" #subGroup>
                </td>
                <td *ngIf="rowNumber != i">
                  {{supplier.shippingPrice | currency: 'ILS'}}</td>
                <td *ngIf="rowNumber == i">
                  <input type="number" [(ngModel)]="supplier.shippingPrice" class="form-control" #priceLoading>
                </td>
                <td *ngIf="rowNumber == i"><i placement="bottom" ngbTooltip="שמירה" class="fa fa-save"
                    (click)="rowNumber = -1"></i></td>
                <td><i placement="bottom" ngbTooltip="מחק מרשימת הספקים" (click)="deleteSupplier(i,item.componentN)"
                    class="fa fa-times text-danger"></i>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <table *ngIf="item.itemType=='component'" class="table table-hover">
          <thead class="bg-info text-white">
            <tr>
              <th></th>
              <th></th>
              <th>ספק</th>
              <th>יצרן</th>
              <th>שם פריט</th>
              <th>מספר פריט</th>
              <th>מחיר</th>
              <th>מטבע</th>
              <th>משקל</th>
              <th>מחיר העמסה (מטבע קניה)</th>
              <th>מטבע לפני טעינה</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let supplier of item.alternativeSuppliers;let i = index">
              <tr [ngClass]="mainSupplier(supplier.isMain)">

                <td (click)="edit(i)"><i placement="bottom" ngbTooltip="ערוך פרטי ספק"
                    class="click fa fa-pencil-alt"></i>
                </td>
                <td>
                  <span *ngIf="supplier.isMain">ספק ראשי!</span>
                  <button *ngIf="!supplier.isMain" placement="bottom" ngbTooltip="הגדר את הספק כספק הראשי של הפריט"
                    (click)="makeAsMainSupplier(i)" class="btn btn-info">הגדר כספק ראשי</button>
                </td>
                <td>{{supplier.supplierName}}</td>
                <td *ngIf="rowNumber != i">
                  {{supplier.manufacturer}}</td>
                <td *ngIf="rowNumber == i">
                  <input type="text" [(ngModel)]="supplier.manufacturer" class="form-control" #manufacturer>
                </td>
                <td *ngIf="rowNumber != i">
                  {{supplier.alterName}}</td>
                <td *ngIf="rowNumber == i">
                  <input type="text" [(ngModel)]="supplier.alterName" class="form-control" #alterName>
                </td>
                <td *ngIf="rowNumber != i">
                  {{supplier.alternativeMaterial}}</td>
                <td *ngIf="rowNumber == i">
                  <input type="text" [(ngModel)]="supplier.alternativeMaterial" class="form-control"
                    #alternativeMaterial>
                </td>
                <td *ngIf="rowNumber != i">
                  {{supplier.price}}</td>
                <td *ngIf="rowNumber == i">
                  <input type="text" [(ngModel)]="supplier.price" class="form-control" #price>
                </td>
                <td *ngIf="rowNumber != i">
                  {{supplier.coin}}</td>
                <td *ngIf="rowNumber == i">
                  <input type="text" [(ngModel)]="supplier.coin" class="form-control" #coin>
                </td>
                <td *ngIf="rowNumber != i">
                  {{supplier.packageWeight}}</td>
                <td *ngIf="rowNumber == i">
                  <input type="text" [(ngModel)]="supplier.packageWeight" class="form-control" #packageWeight>
                </td>
                <td *ngIf="rowNumber != i">
                  {{supplier.priceLoading}}</td>
                <td *ngIf="rowNumber == i">
                  <input type="text" [(ngModel)]="supplier.priceLoading" class="form-control" #priceLoading>
                </td>
                <td *ngIf="rowNumber != i">
                  <span *ngIf="supplier.shippingPrice"> {{supplier.shippingPrice | currency: 'ILS'}}</span>
                </td>
                <td *ngIf="rowNumber == i">
                  <input type="text" [(ngModel)]="supplier.coinLoading" class="form-control" #coinLoading>
                </td>
                <td><i placement="bottom" ngbTooltip="מחק מרשימת הספקים" (click)="deleteSupplier(i)"
                    class="fa fa-times text-danger"></i></td>
                <td><i *ngIf="rowNumber == i" placement="bottom" ngbTooltip="שמור" (click)="rowNumber = -1"
                    class="fa fa-save"></i></td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <div dir='rtl' class="p-2 mt-4 border border-info">
      <h3>הוסף ספק</h3>
      <div class="row mt-4 d-flex flex-row justify-content-around">
        <div>
          <label>ספק</label>
          <input list="suppliers" class="form-control" [(ngModel)]="supplier.supplierName">
          <datalist id="suppliers">
            <option *ngFor="let supplier of allSuppliers" value="{{supplier.suplierName}}">
              {{supplier.suplierNumber}}</option>
          </datalist>
        </div>
        <div>
          <label>יצרן</label>
          <input type="text" class="form-control" [(ngModel)]="supplier.manufacturer">
        </div>
        <div>
          <label>מספר פריט ספק</label>
          <input [(ngModel)]="supplier.alternativeMaterial" class="form-control" type='text'>
        </div>
        <div>
          <label>שם פריט ספק</label>
          <input [(ngModel)]="supplier.alterName" class="form-control" type='text'>
        </div>
      </div>
      <div class="row mt-4 d-flex flex-row justify-content-around">
        <div>
          <label>מחיר</label>
          <input [(ngModel)]="supplier.price" type="text" class="form-control">
        </div>
        <div>
          <label>מטבע</label>
          <input list="coins" [(ngModel)]="supplier.coin" class="form-control">
          <datalist id="coins">
            <option value="USD">USD</option>
            <option value="ILS">ILS</option>
            <option value="GBP">GBP</option>
            <option value="EUR">EUR</option>
            <option value="JPY">JPY</option>
          </datalist>
        </div>
        <div>
          <label>מחיר העמסה</label>
          <input [(ngModel)]="supplier.priceLoading" type="text" class="form-control" />
        </div>
        <div>
          <label>מטבע לאחר טעינה</label>
          <input list="coinsLoading" [(ngModel)]="supplier.coinLoading" class="form-control">
          <datalist id="coinsLoading">
            <option value="usd">USD</option>
            <option value="ILS">ILS</option>
            <option value="GBP">GBP</option>
            <option value="EUR">EUR</option>
            <option value="JPY">JPY</option>
          </datalist>
        </div>
      </div>
      <div class="row mt-4 d-flex flex-row justify-content-around">
        <div>
          <label>סוג אריזה</label>
          <input list="groups" [(ngModel)]="supplier.subGroup" class="form-control">
          <datalist id="groups">
            <option value="Cube">קובייה</option>
            <option value="barrel">חבית</option>
            <option value="small barrel">חביונית</option>
            <option value="packaging/cardboard">אריזות/קרטון</option>
            <option value="plastic barrel">חבית פלסטיק</option>
            <option value="jerrican">ג'ריקן</option>
            <option value="bag">שק</option>
            <option value="bottle barrel">דלי בקבוק</option>
          </datalist>
        </div>
        <div>
          <label>משקל יחידה</label>
          <input [(ngModel)]="supplier.packageWeight" type="text" class="form-control" />
        </div>
        <div>
          <label>יחידת מידה</label>
          <input list="measurement" [(ngModel)]="item.unitOfMeasure" class="form-control">
          <datalist id="measurement">
            <option value="kilogram">קילוגרם</option>
            <option value="pcs">יחידות</option>
            <option value="liter">ליטר</option>
          </datalist>
        </div>
      </div>
      <div class="row mt-4 text-center">
        <div class="col-5"></div>
        <div class="col-2">
          <button (click)="addSupplierToMaterial()" class="btn btn-info form-control">הוסף ספק</button>
        </div>
      </div>
    </div>
  </div>

  <!--Versions-->
  <div dir="rtl" *ngIf="item.itemType == 'component'" class="float-right modal-inner w-50 mt-4">

    <div dir="rtl" class="row mt-4">
      <h2>היסטוריית מהדורות לפריט {{item.componentN}}</h2>
    </div>
    <div dir="rtl" class="row mt-2">

      <table dir="rtl" class="table table-hover">
        <thead>
          <tr>
            <th>מס' מהדורה</th>
            <th>תאריך העדכון</th>
            <th>בוצע ע"י..</th>
            <th>סיבת העדכון</th>
            <th>תמונה</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let version of item.versionHistory">
            <td>{{version.versionNumber}}</td>
            <td>{{version.date | date:'dd/MM/yy'}}</td>
            <td>{{version.user}}</td>
            <td>{{version.description}}</td>
            <td>
              <img [src]="version.image" alt="Image not updated..">
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>


</div>

<!--Item Details End!-->





<div class="row mt-2">
</div>

<!--Item Movements-->
<div *ngIf="fetchingMovements">
  <div class="smallLoader"></div>
  <h5 class="text-center">This might take a while</h5>
</div>
<div *ngIf="!fetchingMovements" class="row mt-4 w-75 mx-auto">
  <table class="table table-hover">
    <thead class="text-info text-center">
      <tr>
        <th class="click text-center" (click)="sortBy('itemMovements', 'movementDate')">Date</th>
        <th class="click text-center" (click)="sortBy('itemMovements', 'movementType')">movement type</th>
        <th class="click text-center" (click)="sortBy('itemMovements', 'item')">item</th>
        <th></th>
        <th class="click text-center" (click)="sortBy('itemMovements', 'WH_originName')">whare house</th>
        <th class="click text-center" (click)="sortBy('itemMovements', 'amount')">in</th>
        <th class="click text-center" (click)="sortBy('itemMovements', 'amount')">out</th>
        <th class="click text-center" (click)="sortBy('itemMovements', 'amount')">production</th>
        <th class="click text-center" (click)="sortBy('itemMovements', 'amount')">shelf change</th>
        <th class="text-center">user</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movement of itemMovements">
        <td class="click click-td text-center" (click)="filter('movementDate', movement.movementDate)">
          {{movement.movementDate | date: 'dd/MM/yy'}}
        </td>
        <td class="click click-td text-center" (click)="filter('movementType', movement.movementType)">
          {{movement.movementType}}
        </td>
        <td class="click click-td text-center" (click)="filter('item', movement.item)">
          {{movement.item}}
        </td>
        <td class="click click-td text-center">{{movement.inventory_doc.componentName}}</td>
        <td class="click click-td text-center" (click)="filter('WH_originName', movement.WH_originName)">
          {{movement.WH_originName}}
        </td>
        <td class="click click-td text-center" (click)="filter('amount', movement.amount)">
          <span *ngIf="movement.movementType == 'in'">{{movement.amount}}</span>
        </td>
        <td class="click click-td text-center" (click)="filter('amount', movement.amount)">
          <span *ngIf="movement.movementType == 'out'">{{movement.amount}}</span>
        </td>
        <td class="click click-td text-center" (click)="filter('amount', movement.amount)">
          <span *ngIf="movement.movementType == 'production'">{{movement.amount}}</span>
        </td>
        <td class="click click-td text-center" (click)="filter('amount', movement.amount)">
          <span *ngIf="movement.movementType == 'shelfChange'">{{movement.amount}}</span>
        </td>
        <td class="click click-td text-center" (click)="filter('userName', movement.userName)">
          {{movement.userName}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--Products Sold-->
<div>

</div>


<ng-template #updateManualPrice let-modal>
  <div dir="rtl" class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">עדכן מחיר ידני לפריט</h4>
    <button type="button" class="float-left" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div dir="rtl" class=" modal-body">
    <div class=" row mt-2">
      <div class="col-3">
        <label>מחיר נוכחי:</label>
        <p class="form-control"> {{item.manualPrice}} {{item.manualCoin | currencySymbol}}</p>
        <label>מחיר רכש אחרון:</label>
        <p class="form-control">{{item.price}} {{item.coin | currencySymbol}}
        </p>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-3">
        <label>מחיר חדש:</label>
        <input (keyup)="checkUpdatePriceValidity()" class="form-control" type="number" [(ngModel)]="item.manualPrice">
      </div>
      <div class=" col-3">
        <label>מטבע:</label>
        <select [(ngModel)]="item.manualCoin" class="form-control" (change)="checkUpdatePriceValidity()">
          <option value="ILS">ILS</option>
          <option value="USD">USD</option>
          <option value="EUR">EUR</option>
          <option value="GBP">GBP</option>
        </select>
      </div>
    </div>
    <div class=" row mt-2">
      <button (click)="addToPriceHistory()" [disabled]="!allowPriceUpdate" ngbTooltip="יש לעדכן מטבע" type="button"
        [style.cursor]="allowPriceUpdate ? 'pointer' : 'not-allowed'">
        שמור
      </button>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>

<ng-template #editVersionDetails let-modal>

  <div dir="rtl" class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">שדרוג מהדורה לפריט {{item.componentN}}</h4>
    <button type="button" class="float-left" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div dir="rtl" class="modal-body">

    <form [formGroup]="editVersionForm" (ngSubmit)="updateComponentVersion()">
      <div class="row mt-2">
        <div class="form-group">
          <label>תאריך</label>
          <input class="form-control" type="date" value="{{ today | date:'yyyy-MM-dd' }}" disabled
            formControlName="date">
        </div>
        <div class="form-group">
          <label>מספר מהדורה</label>
          <input class="form-control" disabled type="number" formControlName="versionNumber">
        </div>
        <br>
        <div class="row form-group">
          <label>תאור השינוי </label>
          <p>(מדוע משדרגים את המהדורה?)</p>
          <textarea class="form-control" formControlName="description" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group">
          <label>העלה תמונה עדכנית</label>
          <img *ngIf="item.img!=''" [src]="item.img" style="max-height: 250px;"
            class="hoverImg w-25 h-100 border border-success" alt="Item main image please wait ...">
          <p *ngIf="item.img==''"><b> -No Image- </b></p>
          <input class="form-control" type='file' id="input_itemImgID" (change)='uploadImg($event)'
            style='display:block'>
          <!-- <input class="form-control" type="file"> -->
        </div>
      </div>

      <div class="row mt-2">
        <button type="submit" class="btn btn-primary" (click)="modal.dismiss('Cross click')">
          שדרג מהדורה
        </button>
      </div>
    </form>


  </div>

  <div class="modal-footer">
  </div>

</ng-template>

<ng-template #itemType let-modal>
  <button type="button" class="float-left" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <div dir="rtl" class="d-flex flex-column justify-content-around">
    <div>
      <h1>פתיחת פריט</h1>
    </div>
    <div>
      <h4 class="modal-title" id="modal-basic-title">הזן מספר פריט</h4>
      <input type="number" class="form-control" [(ngModel)]="newItem.componentN">
    </div>
  </div>
  <div *ngIf="newItem.componentN && newItem.componentN > 0" dir="rtl" class=" modal-body">
    <div class="row mt-4">
      <h4>בחר את סוג הפריט.</h4>
    </div>
    <div class="row mt-2">
      <div class="col-3">
        <button (click)="writeNewStockItem('component')" class="btn btn-primary">קומפוננט</button>
      </div>
      <div class="col-3">
        <button (click)="writeNewStockItem('material')" class="btn btn-warning">חומר גלם</button>
      </div>
      <div class="col-3">
        <button (click)="writeNewStockItem('product')" class="btn btn-success">מוצר מוגמר</button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>