.click {
    cursor: pointer;
}
  
  .click:hover {
    background-color: rgb(12, 75, 211);
    color: white
  }

  .click-td:hover {
    background-color: black;
    color: white
  }

  .title1:hover {
    cursor: pointer;
    background-color: rgb(32, 51, 221);
    color: white;
  }

  .title2:hover {
    cursor: pointer;
    background-color: rgb(21, 51, 223);
    color: white;
  }

  .title3:hover {
    background-color: rgb(226, 188, 21);
    color: rgb(14, 13, 13);
  }

.modal-inner {
  padding: 60px !important;
  height: 910px !important;
  overflow: auto;
}

// .modal-inner-smaller {
//   padding: 60px !important;
//   height: 610px !important;
//   overflow: auto;
// }

// Hide arrows from input type number  :
/*********************************************** ********************/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/*******************************************************************/

// scroll bar styling:
/*******************************************************************/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(48, 155, 218);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(51, 128, 216);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d6e73a;
}
/*******************************************************************/

.item-details {
  height: 3000px;
}

.problematic {
  width: 30px;
  height: 30px;
}

.smallLoader {
  margin: auto;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

//price updates:
.yellow {
  background: yellow;
  width: 200px;
}

.cornflowerblue {
  background: cornflowerblue;
  width: 200px;
}

.comp-input {
  width: 70px
}

.weighable {
  width: 100px;
  height: 21px;
}
.fixNoaStupidStuff {
  float:none !important;
  margin-right:0px !important;
  padding:5px !important
}
