.green {
  background: rgb(171, 213, 238);
}

.smallLoader {
  margin: auto;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.bigLoader {
  margin: auto;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 300px;
  height: 300px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
table {
  tr {
    td {
      text-align: left;
    }
  }
}
.sortable {
  text-align: center;
}

.sortable:hover {
  background: rgb(56, 123, 199);
  cursor: pointer;
}

.click {
  cursor: pointer;
}

.new-shelf {
  background: rgb(68, 129, 170);
  color: lightgrey;
}

.save-form {
  background: rgb(7, 92, 141);
  color: lightgrey;
  width: 275px;
  height: 98px;
  font-size: 28px;
}

// Hide arrows from input type number  :
/*********************************************** ********************/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*******************************************************************/
