


<nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
      <a ngbNavLink>Purchase Orders</a>
      <ng-template ngbNavContent>
        <div class="container-fluid bg-white text-center">
            <div class="row">
              <div class="col-4"></div>
              <div class="col-4 border border-primary rounded-pill">
                <h3 class="p-2 text-primary">Purchase Orders</h3>
              </div>
              <div class="col-4"></div>
            </div>
            <div class="row mt-4">
              <div class="col-3">
                <button (click)="newPurchaseModal = true" class="btn btn-warning rounded-pill">New Purchase - F2</button>
              </div>
              <div class="col-2"></div>
              <div class="col-2"></div>
              <div class="col-2"></div>
              <div class="col-3">
                <button (click)="purchaseRecommendationsModal = true" class="btn btn-warning rounded-pill">Recommendations - F4</button>
              </div>
            </div>
    
    
            <div class="row mt-4">
              <div class="col-3"><input type="text " class="form-control rounded-pill" placeholder="Search By Order Number"
                  (change)="searchNumber($event)" /></div>
              <div class="col-3">
                <input type="text" class="form-control rounded-pill" list="suppliers" placeholder="Search By Supplier Name"
                  (change)="searchBySupplier($event)" />
                <datalist id="suppliers">
                  <option *ngFor="let supplier of allSuppliers" value="{{supplier.suplierName}}">{{supplier.suplierNumber}}
                  </option>
                </datalist>
              </div>
              <div class="col-3"><input type="text" class="form-control rounded-pill" placeholder="Search By Item Number"
                  (change)="searchByItem($event)" /></div>
              <div class="col-3"><input type="text" class="form-control rounded-pill" placeholder="Search By Reference Number"
                  (change)="searchByReference($event)" /></div>
            </div>
    
            <div class="row mt-4">
              <div class="col-3"></div>
              <div class="col-3"></div>
              <div class="col-3"></div>
              <div class="col-3"></div>
            </div>
    
    
            <div class="row mt-4">
              <div class="col-2">
                חפש לפי סטטוס <select (change)="filterByStatus($event,'purchases')" class="form-control rounded-pill">
                  <option selected="true" disabled="disabled">בחר סטטוס</option>
                  <option value="allOrders">כל ההזמנות</option>
                  <option value="ongoing">בטיפול</option>
                  <option value="closed">הזמנות סגורות</option>
                  <option value="material">חומרי גלם</option>
                  <option value="component">קומפוננטים</option>
                </select>
              </div>
              <div class="col-2">
                חפש לפי קטגוריה <select (change)="filterByCategory($event,'category')" class="form-control rounded-pill">
                  <option selected="true" disabled="disabled">בחר קטגוריה</option>
                  <option value='bottle_Glass'>בקבוק זכוכית</option>
                  <option value='bottle_Plastic'>בקבוק פלסטיק</option>
                  <option value='jar_Glass'>צנצנת זכוכית</option>
                  <option value='jar_Plastic'>צנצנת פלסטיק</option>
                  <option value='cap'>פקק</option>
                  <option value='cover'>מכסה</option>
                  <option value='pump'>משאבה</option>
                  <option value='cosmetic_pump'>משאבה קוסמטית</option>
                  <option value='over_cap'>מכסה עילי</option>
                  <option value='tube'>שפורפרת</option>
                  <option value='colons'>קולונים</option>
                  <option value='hair_life'>היירלייפ</option>
                  <option value='compacts'>קומפקטים</option>
                  <option value='personal_package'>אריזות אישיות</option>
                  <option value='master_carton'>קרטוני מאסטר</option>
                  <option value='newsletter'>עלון לצרכן</option>
                  <option value='irosol_valve'>אירוסול- שסתום</option>
                  <option value='irosol_bottle'>איירוסול- בקבוק</option>
                  <option value='irosol_hectotor'>אירוסול- הקטאטור</option>
                  <option value='irosol_bottle'>איירוסול- בקבוק</option>
                  <option value='cellophane'>צלופן</option>
                  <option value='sticker'>מדבקה</option>
                  <option value='sachet'>סאשט</option>
                </select>
              </div>
              <div class="col-1">
                טען את כל הפריטים
                <button (click)="loadPurchasesItems()" class="btn btn-primary form-control">Load Items</button>
              </div>
    
              <div class="col-2">
                <img src="../../../../assets/images/excel.png" alt="export to excel" style="width: 40px;"
                  (click)="exportAsXLSX('purchaseData')">
                <button [printStyle]="{td : {'border': '1px solid black'}, tr : {'border': 'solid 1px black'}}"
                  style="background: none;border:none" printSectionId="print-section" ngxPrint><img
                    src="../../../../assets/images/print.png" alt="Print" style="width: 55px;"></button>
              </div>
              <div class="col-3"></div>
              <div class="col-1">
                From: <input class="form-control rounded-pill" (change)="dateChange()" #fromDateStr type="date">
              </div>
              <div class="col-1">
                To: <input class="form-control rounded-pill" (change)="dateChange()" #toDateStr type="date">
              </div>
            </div>
    
            
    
            <div id="print-section" class="row">
              <div class="col-12">
                <table class="table table-hover text-center">
                  <thead style="box-shadow: inset 0x 0x 4px 1px black !important" class="bg-primary text-white">
                    <tr>
                      <th><b>#</b></th>
                      <th><b>Purchase Number</b></th>
                      <th><b>Supplier Name</b></th>
                      <th><b>Supplier Number</b></th>
                      <th><b>Creation Date</b></th>
                      <th><b>Arrival Date</b></th>
                      <th><b>Remarks</b></th>
                      <th><b>Status</b></th>
                      <th></th>
                      <th>User</th>
                    </tr>
                  </thead>
                  <tbody id="table_body">
                    <tr style="margin-top: 1px;box-shadow: inset 0x 0x 4px 1px black !important"
                      *ngFor="let line of procurementData; let i = index" [style.background-color]="line.color">
                      <td>{{i+1}}</td>
                      <td style="cursor: pointer;" (click)="viewOrderDetails(i)"><span
                          style="color:blue;">{{line.orderNumber}}</span>
                      </td>
                      <td>{{ line.supplierName }}</td>
                      <td>{{ line.supplierNumber }}</td>
                      <td>{{ line.creationDate | date: 'dd/MM/yyyy' }}</td>
                      <td (click)="editRemarks(line.orderNumber)" *ngIf="EditRowId != line.orderNumber">
                        {{ line.arrivalDate | date: 'dd/MM/yyyy' }}</td>
                      <td *ngIf="EditRowId == line.orderNumber">
                        <input (change)="updateArrivalDate($event,line.orderNumber)" type="date" class="form-control">
                      </td>
                      <td (click)="editRemarks(line.orderNumber)" *ngIf="EditRowId != line.orderNumber">{{line.remarks}}
                      </td>
                      <td *ngIf="EditRowId == line.orderNumber">
                        <textarea [value]="line.remarks" #purchaseRemarks></textarea>
                        <button (click)="saveOrderRemarks(line)" class="btn btn-primary"><i class="fa fa-save"></i></button>
                      </td>
                      <!-- <td><i (click)="orderSentToClient(line.orderNumber)" class="fa fa-paper-plane" aria-hidden="true"></i></td>
                    <td><i (click)="clientGotTheOrder(line.orderNumber)" class="fa fa-check-square" aria-hidden="true"></i></td> -->
    
                      <td><label class="form-control">{{line.status}}</label></td>
                      <td><button class="btn btn-primary" (click)="printOrder(line)">Print</button></td>
                      <!-- <td>
                        <input [(ngModel)]="line.paymentStatus" (change)="changePaymentStatus($event,line.orderNumber)"
                          list="payments" class="form-control">
                        <datalist id="payments">
                          <option value=" "> </option>
                          <option value="fullyPaid">שולם במלואו</option>
                          <option value="partlyPaid">שולם חלקית</option>
                          <option value="advancePaid">שולם מקדמה</option>
    
                        </datalist>
                      </td>
                      <td><label class="form-control">{{line.paymentRemark}}</label></td> -->
    
    
                      <!-- <td><button class="btn btn-info form-control" (click)="orderInput.click()">O</button></td> -->
    
                      <!-- <td><button class="btn btn-info" (click)="sendOrder(line)">Send Order</button></td> -->
                      <!-- <td>   <a style="display:block" target="_blank" (click)="setLinkDownlowd(line._id)" [href]="linkDownload"><img style="height: 30px; width:30px;"
                    src="../../../../assets/images/pdf.png" alt="PDF" /></a>
    
                <input class="form-control" #orderInput style="display:none" type="file"
                  (change)="onSelectOrderBill($event,line.orderNumber)"></td>
    
                  <td><button class="btn btn-info form-control" (click)="swiftInput.click()">S</button></td>
                  <td>
                    <a style="display:block" target="_blank" (click)="setLinkDownlowdTwo(line._id)" [href]="linkDownload"> <img style="height: 30px; width:30px;"
                      src="../../../../assets/images/pdf.png" alt="PDF" /></a>
                  <input class="form-control" #swiftInput style="display:none" type="file" (change)="onSelectSwift($event,line.orderNumber)">
                  </td> -->
                      <td>{{line.user}}</td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="showLoader" class="smallLoader mx-auto my-auto"></div>
              </div>
            </div>
    
          </div>
      </ng-template>
    </ng-container>
  </nav>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>

<div *ngIf="changeItemQuantity == true" style="top:200px"
  class="container w-25 border border-primary bg-dark fixed-top text-center rounded shadow-lg mx-auto my-auto p-2">
  <div class="row">
    <div class="col-4 text-white">Change Quantity</div>
    <div class="col-4">
      <input (change)="changeCertifQuantity($event)" type="number">
    </div>
    <div class="col-4">
      <i (click)="changeItemQuantity = false" class="fa fa-times text-white"></i>
    </div>
  </div>
</div>

<div *ngIf="changeItemPrice == true" style="top:200px"
  class="container w-25 border border-primary bg-dark fixed-top text-center rounded shadow-lg mx-auto my-auto p-2">
  <div class="row">
    <div class="col-2 text-white">Change Price</div>
    <div class="col-2"></div>
    <div class="col-2">
      <input (change)="changeCertifPrice($event)" type="number">
    </div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2">
      <i (click)="changeItemPrice = false" class="fa fa-times text-white"></i>
    </div>
  </div>
</div>



<div *ngIf="showInfoModal == true" style="top:150px"
  class="container border border-primary bg-white fixed-top text-center rounded shadow mx-auto my-auto p-2">
  <div class="row">
    <div class="col-4">

    </div>
    <div class="col-4">
      <h3>הוסף צפי תאריך / כמות ששולמה</h3>
    </div>
    <div class="col-4">
      <i (click)="showInfoModal = false" class="fa fa-times"></i>
    </div>
  </div>
  <div class="row">

    <div class="col-2"></div>
    <div class="col-4">
      <input type="text" class="form-control" [(ngModel)]="infoToStatus">
    </div>
    <div class="col-4">
      <button (click)="addMoreInfo()" class="form-control btn btn-primary">Add</button>
    </div>
    <div class="col-2"></div>

  </div>

</div>
<div *ngIf="paymentRemarkModal == true" style="top:150px"
  class="container border border-primary bg-white fixed-top text-center rounded shadow mx-auto my-auto p-2">
  <div class="row">
    <div class="col-4">

    </div>
    <div class="col-4">
      <h3>הוסף הערה לסטטוס תשלום</h3>
    </div>
    <div class="col-4">
      <i (click)="paymentRemarkModal = false" class="fa fa-times"></i>
    </div>
  </div>
  <div class="row">

    <div class="col-2"></div>
    <div class="col-4">
      <input type="text" class="form-control" [(ngModel)]="paymentRemark">
    </div>
    <div class="col-4">
      <button (click)="addPaymentRemark()" class="form-control btn btn-primary">Add</button>
    </div>
    <div class="col-2"></div>

  </div>

</div>

<div id="bill-section" *ngIf="priceAlert == true" style="top:300px"
  class="container bg-danger fixed-top text-center rounded shadow mx-auto my-auto p-2">
  <div class="row">
    <div class="col-12">
      <h2 class="text-white">שים לב המחיר הסופי אינו תואם !</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <button (click)="priceAlert=false;" class="form-control btn">אישור</button>
    </div>
    <div class="col-4"></div>
  </div>
</div>
<div id="bill-section" *ngIf="bill == true" style="top:150px"
  class="container bg-white fixed-top text-center rounded shadow mx-auto my-auto p-2">
  <div class="row mt-2">
    <div class="col-4">
      <button [printStyle]="{td : {'border': '1px solid black'}, tr : {'border': 'solid 1px black'}}"
        style="background: none;border:none;cursor: pointer;" printSectionId="bill-section" ngxPrint><img
          src="../../../../assets/images/print.png" alt="Print" style="width: 30px;"></button>
    </div>
    <div class="col-4">
      <h3 class="text-primary">Bill</h3>
    </div>
    <div class="col-4">
      <i (click)="bill = false" style="cursor: pointer;" class="fa fa-times" aria-hidden="true"></i>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-12">
      <table class="table table-striped table-hover">
        <thead class="text-white bg-primary">
          <tr>
            <th>Item Number</th>
            <th>Price</th>
            <th>Comax Number</th>
            <th>Reference Number</th>
            <th>Arrived Amount</th>
            <th>Arrival Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bill of billToPrint">
            <td>{{bill.itemNumber}}</td>
            <td>{{bill.price}}</td>
            <td>{{bill.comaxNumber}}</td>
            <td>{{bill.referenceNumber}}</td>
            <td>{{bill.arrivedAmount}}</td>
            <td>{{bill.arrivalDate | date: 'dd/MM/yyyy'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>



<div *ngIf="printBill==true" id="myModal3" class="modal3 position-fixed"
  style='border:1px; border-radius:5px;z-index: 1; left:300px;top:160px;font-size:20px;'>
  <div id="billing-section">
    <div class="modal-content" id='modelC'>
      <div style="display: inline-block;" id="material-header" class="modal-header">

        <div class="row">
          <div class="col-5">
            <img src="../../../../assets/images/logo.png">
          </div>
          <div class="col-6">
            <p style="font-size: 12px;">Amal 17 Street, Afek Industry Park,Rosh Haayin 4809256</p>
            <p style="font-size: 12px;">Tel:+972-3-9024055 Fax: +972-3-9024015 </p>
            <p style="font-size: 12px;">Email: Office2@peerpharm.com</p>
          </div>

          <div class="col-1">
            <span class="close" id="closeId3" (click)="printBill=false;">&times;</span>
          </div>
        </div>

      </div>
      <hr>

      <div class="row">
        <div class="col-4">
        </div>

        <div class="col-4">
          <button style="border:none;background: none;margin-left:100px;font-size: 25px;" ngxPrint
            printSectionId="billing-section"
            [printStyle]="{th : {'border': '1px solid black'}, td : {'border': '1px solid black'},tr : {'border': '1px solid black'}}"><b>Order:{{currentOrder.orderNumber}}</b></button>
          <p style="margin-left:300px;">Order Date:{{orderDate | date: 'dd/MM/yyyy'}}</p>
        </div>

        <div class="col-4">

        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <p>{{currentOrder.supplierName}} - {{currentOrder.supplierNumber}}</p>
        </div>

        <div class="col-4"></div>

        <div class="col-4"></div>
      </div>

      <div class="row">
        <div class="col-4">
          <p>{{currentSupplier.address}}</p>
        </div>

        <div class="col-4"></div>

        <div class="col-4"></div>
      </div>

      <div class="row">
        <div class="col-4">
          <p *ngIf="currentSupplier.phoneNum">Tel:{{currentSupplier.phoneNum}}</p>
        </div>

        <div class="col-4"></div>

        <div class="col-4"></div>
      </div>

      <div class="row">
        <div class="col-4">
          <p *ngIf="currentSupplier.faxNum">Fax:{{currentSupplier.faxNum}}</p>
        </div>

        <div class="col-4"></div>

        <div class="col-4"></div>
      </div>



      <p>Order Details:</p>
      <div class="container" id="material-body" class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th *ngIf="showImage == true">Image</th>
              <th>Item</th>
              <th>SupplierN</th>
              <th>Item Name</th>
              <th>Remarks</th>
              <th>Qty</th>
              <th>Unit Price</th>
              <th>Amount</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of currentItems;let i = index;">
              <td>{{i+1}}</td>
              <td *ngIf="showImage == true"><img style="width:50px;" alt="Item Image" [src]="item.img"></td>
              <td>{{item.itemNumber}}</td>
              <td>{{item.componentNs}}</td>
              <td>{{item.itemName}}</td>
              <td>{{item.itemRemarks}}</td>
              <td>{{item.supplierAmount | number}}</td>
              <td>{{item.supplierPrice}}
                <span *ngIf="item.coin == 'nis'">&#8362;</span>
                <span *ngIf="item.coin == 'euro'">&#8364;</span>
                <span *ngIf="item.coin == 'eur'">&#8364;</span>
                <span *ngIf="item.coin == 'usd'">$</span>
              </td>
              <td>{{item.itemPrice | number}}</td>

            </tr>
            <tr *ngIf="country == true">
              <td></td>
              <td *ngIf="showImage == true"></td>
              <td></td>
              <td></td>
              <td></td>
              <td><b>{{totalAmount}}</b></td>
              <td></td>
              <td><b>{{totalPrice}}{{currCoin}}</b></td>
            </tr>
            <tr *ngIf="country == false">
              <td></td>
              <td *ngIf="showImage == true"></td>
              <td></td>
              <td></td>
              <td></td>
              <td><b>{{totalAmount}}</b></td>
              <td></td>
              <td dir="rtl"><b>סה"כ לפני מע"מ: {{totalPrice}}{{currCoin}}</b></td>
            </tr>

            <tr *ngIf="country == false">
              <td></td>
              <td *ngIf="showImage == true"></td>
              <td></td>
              <td></td>
              <td></td>
              <td><b>{{totalAmount}}</b></td>
              <td></td>
              <td dir="rtl"><b>17% מע"מ: {{priceTaxes}}{{currCoin}}</b></td>
            </tr>
            <tr *ngIf="country == false">
              <td></td>
              <td *ngIf="showImage == true"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td dir="rtl"><b>סה"כ כולל מע"מ: {{totalPriceWithTaxes}}{{currCoin}}</b></td>
            </tr>


          </tbody>

        </table>

        <div class="row">
          <div style="display: inline-block;" class="col-6">
            <!-- <p style="margin-left:480px;font-size: 15px;display: inline-block;">Total Amont: {{totalAmount}}</p> &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <p style="font-size: 15px;display: inline-block;">Total Price: {{totalPrice}}</p> -->
          </div>
          <div style="display: inline-block;" class="col-6">

          </div>
        </div>

        <div class="row">
          <div class="col-6">
            {{outOfCountry}}
          </div>
          <br>
          <div class="col-6">
            {{importantRemarks}}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p>This order must be confirmed by supplier.</p>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>

<div style="overflow: auto;" *ngIf="orderDetailsModal==true" class="container fixed-top mx-auto my-auto text-center bg-white rounded shadow-lg">
  <app-new-procurement (orderDetailsModal)='orderDetailsModal=$event' [purchaseData]="purchaseData"></app-new-procurement>
</div>

<div *ngIf="orderDetailsModalTwo==true" id="myModal3" class="modal3 rounded shadow-lg"
  style='border:1px; border-radius:5px;z-index: 1;position: fixed; left:175px;top:65px;font-size:20px;'>

  <div class="modal-content" id='modelC'>
    <div style="display: inline-block;" id="material-header" class="modal-header">

      <span class="close" id="closeId3" (click)="orderDetailsModal=false;">&times;</span>

      <h3 style="color:black">Order Number: <span class="text-primary">{{orderData[0].orderNumber}}</span></h3>

    </div>

    <div style="overflow: scroll;height: 650px;" class="container" id="material-body" class="modal-body">
      <table id="procurementItems" class="table table-striped">
        <thead style="box-shadow: 1px 1px 2px 0px black;" class="bg-primary text-white">
          <tr>
            <th></th>
            <th>Item Name</th>
            <th>Item Number</th>
            <th>Supplier Number</th>
            <th>Item Remarks</th>
            <th>Measurement</th>
            <th>Price</th>
            <th>Coin</th>
            <th>Amount</th>
            <!-- <th>Arrival Date</th>
          <th>Expected Date</th>
          <th>Reference Number</th> -->

            <th></th>
            <th></th>
            <th></th>

          </tr>
        </thead>
        <tbody id="table_body">
          <ng-container *ngFor="let order of orderData">
            <tr [style.background-color]="line.color" id="procurementOrderItems"
              style="box-shadow: inset 1px -1px 2px 0px black; margin-top: 1px;"
              *ngFor="let line of order.item; let i = index">
              <td>{{i+1}}</td>
              <td>{{ line.itemName }}</td>
              <td>{{ line.itemNumber }}</td>
              <td>{{ line.componentNs }}</td>
              <td *ngIf="line.itemNumber!=EditRowId " (click)="edit(line.itemNumber,i)">{{ line.itemRemarks }}</td>
              <td *ngIf="line.itemNumber==EditRowId && i == EditRowIndex">
                <textarea #itemRemarks [value]="line.itemRemarks"></textarea>
              </td>
              <td>{{ line.measurement }}</td>

              <td *ngIf="line.itemNumber!=EditRowId" (click)="edit(line.itemNumber,i)">{{line.supplierPrice}}</td>
              <td *ngIf="line.itemNumber==EditRowId && i == EditRowIndex">
                <input #supplierPrice [value]="line.supplierPrice" style="width:50px;" type="text">
              </td>
              <td *ngIf="line.itemNumber!=EditRowId" (click)="edit(line.coin,i)">{{ line.coin }}</td>
              <td *ngIf="line.itemNumber==EditRowId && i == EditRowIndex">
                <input #orderCoin [value]="line.coin" style="width:50px;" type="text">
              </td>

              <td *ngIf="line.itemNumber==EditRowId && i == EditRowIndex">


                <input #orderAmount [value]="line.supplierAmount" style="width:50px;" type="text">
              </td>

              <!-- <td *ngIf="line.itemNumber==EditRowId">
             
            </td> -->
              <td *ngIf="line.itemNumber!=EditRowId" (click)="edit(line.itemNumber,i)">
                {{line.arrivedAmount}}/{{ line.supplierAmount }}</td>
              <td *ngIf="line.itemNumber!=EditRowId"></td>
              <!--       
            <td *ngIf="line.itemNumber!=EditRowId" (click)="edit(line.itemNumber)">{{ line.arrivalDate }}</td>
            <td *ngIf="line.itemNumber==EditRowId">
              <input #arrivalDate [value]="line.arrivalDate" style="width:150px;" type="date">
            </td>

            <td *ngIf="line.itemNumber!=EditRowId" (click)="edit(line.itemNumber)">{{ line.expectedDate }}</td>
            <td *ngIf="line.itemNumber==EditRowId">
              <input #expectedDate [value]="line.expectedDate" style="width:150px;" type="date">
            </td>

            <td *ngIf="line.itemNumber!=EditRowId" (click)="edit(line.itemNumber)">{{ line.referenceNumber }}</td>
            <td *ngIf="line.itemNumber==EditRowId">
              <input #referenceNumber [value]="line.referenceNumber" style="width:150px;" type="text">
            </td> -->

              <td *ngIf="line.itemNumber==EditRowId"><i (click)="checkIfArrived(line.itemNumber,line.orderNumber,i)"
                  class="fa fa-save" aria-hidden="true"></i></td>
              <td><i (click)="deleteFromOrder(line.itemNumber,line.orderNumber)" class="fa fa-trash"></i></td>
              <td><i (click)="itemStatusDone(line.itemNumber,line.orderNumber)" class="fa fa-check"></i></td>
            </tr>
          </ng-container>
        </tbody>
      </table>

    </div>
    <div class="modal-footer">
      <tr>
        <td><input class="form-control" placeholder="Item Name" [(ngModel)]="newItem.itemName" type="text"></td>
        <td><input (change)="fillMaterialName($event)" class="form-control" placeholder="Item Number"
            [(ngModel)]="newItem.itemNumber" type="text"></td>
        <td><input class="form-control" placeholder="Item Remarks" [(ngModel)]="newItem.itemRemarks" type="text"></td>
        <td><input list="measurements" class="form-control" [(ngModel)]="newItem.measurement"
            class="form-control custom-select">
          <datalist id="measurements">
            <option value="kg">kg</option>''ג'
            <option value="liter">liter</option>
            <option value="meter">meter</option>
            <option value="ml">ml</option>
            <option value="unit">Unit</option>
            <option value="ton">טון</option>
            <option value="unit">יחידה</option>
            <option value="box">קופסא</option>
          </datalist>
        </td>
        <td><input class="form-control" placeholder="Quantity" [(ngModel)]="newItem.supplierAmount" type="text"></td>
        <td>
          <input list="coins" class="form-control" [(ngModel)]="newItem.coin" class="form-control custom-select">
          <datalist id="coins">
            <option value=""></option>
            <option value="usd">USD</option>
            <option value="nis">NIS</option>
            <option value="gbp">GBP</option>
            <option value="eur">EUR</option>
            <option value="yen">YEN</option>
          </datalist>
        </td>
        <td><input class="form-control" placeholder="Price" [(ngModel)]="newItem.supplierPrice" type="text"></td>
        <td><button class="btn btn-primary" (click)="addNewItem()">Add</button></td>
      </tr>

    </div>
  </div>

</div>

<div *ngIf="newPurchaseModal == true" style="z-index: 9999;top:0px !important;height: auto;border:2px 2px 2px blue;width: 50%;right:0px !important"
  class="fixNoaStupidStuff border border-primary bg-white shadow-lg container fixed-top mx-auto my-auto text-center p-1">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10"></div>
    <div class="col-1">
      <i (click)="newPurchaseModal = false" class="fa fa-times"></i>
    </div>
  </div>
  <app-new-procurement (newProcurementSaved)="showLoader = true; getAllProcurementOrders()"></app-new-procurement>
</div>

<div *ngIf="purchaseRecommendationsModal == true"
  style="z-index: 9999;top:50px !important;height: auto;border:2px 2px 2px blue;width: 50%;right:0px !important"
  class="fixNoaStupidStuff border border-primary bg-white shadow-lg container fixed-top mx-auto my-auto text-center p-1">

  <div class="row mt-2">
    <div class="col-1"></div>
    <div class="col-10">
      <h2>המלצות רכש</h2>
    </div>
    <div class="col-1">
      <i (click)="purchaseRecommendationsModal = false" class="fa fa-times"></i>
  </div>
</div>

<div class="row mt-1">
  <div class="col-3">
  <select (change)="filterRecByType($event)" class="form-control">
    <option selected="true" disabled="disabled">Choose Type</option>   
    <option value="all">All</option> 
    <option value="components">Components</option> 
    <option value="materials">Materials</option> 
  </select>
  </div>
  <div class="col-3">
  <input (change)="filterRecByNumber($event)" type="text" class="form-control" placeholder="Search By Number">
  </div>
  <div class="col-3">

  </div>
  <div class="col-3">
    <img (click)="getAllPurchaseRecommends()" style="width:50px" src="../../../../assets/images/refreshData.png">
  </div>
</div>

  <div class="row mt-1">
    <div style="height:700px;overflow-y: scroll;" class="col-12">
      <table class="table table-hover">
        <thead class="bg-warning text-white">
          <tr>
            <!-- <th></th> -->
            <th>Type</th>
            <th>Number</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Recommendation Date</th>
            <th>Remarks</th>
            <th>User</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let recommend of purchaseRecommendations">
            <tr>
              <!-- <td><input type="checkbox" (change)="isSelected($event,recommend._id)"></td> -->
              <td>{{recommend.type}}</td>
              <td>{{recommend.componentNumber}}</td>
              <td>{{recommend.componentName}}</td>
              <td>{{recommend.amount}}</td>
              <td>{{recommend.date | date: 'dd/MM/yyyy'}}</td>
              <td>{{recommend.remarks}}</td>
              <td>{{recommend.user}}</td>
              <td><button (click)="moveToNewPurchase(recommend._id,'single')" class="btn btn-success form-control">Order</button></td>
              <td><button (click)="setRecommendAsDone(recommend._id)" class="btn btn-warning form-control">Done</button></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-2"></div>
    <div class="col-8">
      <button (click)="moveToNewPurchase(selectedArr,'multi')" class="btn btn-success form-control">Order Multiple</button>
    </div>
    <div class="col-2"></div>
  </div>

</div>

<div *ngIf="invoiceModal == true" style="top:200px;"
  class="container bg-white fixed-top text-center rounded shadow mx-auto my-auto p-2">
  <div class="row">
    <div class="col-4">

    </div>
    <div class="col-4">
      <button [printStyle]="{td : {'border': '1px solid black'}, tr : {'border': 'solid 1px black'}}"
        style="border:none;background:transparent;font-size: 30px;" printSectionId="invoice-section" ngxPrint>אישור
        חשבונית</button>
    </div>
    <div class="col-4">
      <i (click)="invoiceModal = false;" class="fa fa-times text-primary"></i>
    </div>
  </div>

  <div id="invoice-section" class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>מספר פריט</th>
            <th>שם פריט</th>
            <th>כמות</th>
            <th>מחיר</th>
            <th>סכום</th>
            <th>פער כמות</th>
            <th>פער מחיר</th>
            <th>חיוב לקוח</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of currentInvoice.invoices">
            <tr *ngIf="item.changedQuantity || item.changedItemPrice">
              <td>{{item.itemNumber}}</td>
              <td>{{item.itemName}}</td>
              <td>{{item.quantity}} <small class="text-success font-weight-bold"><u>{{item.changedQuantity}}</u></small>
              </td>
              <td>{{item.supplierPrice}} <small
                  class="text-success font-weight-bold"><u>{{item.changedItemPrice}}</u></small></td>
              <td>{{item.price}}</td>
              <td class="text-success">{{item.fixedQuantity}}</td>
              <td>{{item.fixedPrice}}</td>
              <td>{{item.chargeSupplier}}</td>
            </tr>
            <tr *ngIf="!item.changedQuantity && !item.changedItemPrice">
              <td>{{item.itemNumber}}</td>
              <td>{{item.itemName}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.supplierPrice}}</td>
              <td>{{item.price}}</td>
              <td class="text-success">{{item.fixedQuantity}}</td>
              <td>{{item.fixedPrice}}</td>
              <td>{{item.chargeSupplier}}</td>
            </tr>

          </ng-container>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="font-weight-bold" dir="rtl">סה"כ לפני מע"מ: {{sumCharge}}</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="font-weight-bold" dir="rtl">סה"כ אחרי מע"מ: {{sumChargeTaxes}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>