<div class="row">
    <div class="col-12">
        <form class="ticket-form" [formGroup]="ticketForm" (ngSubmit)="onTicketFormSubmit()">
            <h1>Open BUG</h1>
            <hr>
            <div class="form-group row">
                <label
                       for="username"
                       class="col-sm-4 control-label">Username</label>
                <div class="col-sm-4">
                    <input
                           disabled 
                           type="text"
                           formControlName="username"
                           class="form-control"
                           placeholder="Username" />
                </div>
            </div>
            <div class="form-group row">
                <label
                       for="ticketTitle"
                       class="col-sm-4 control-label">Title</label>
                <div class="col-sm-4">
                    <input
                           type="text"
                           formControlName="ticketTitle"
                           class="form-control"
                           placeholder="מה הבעיה בכמה מילים?" />
                </div>
            </div>
            <div class="form-group row">
                <label
                       for="screen"
                       class="col-sm-4 control-label">What Screen ?</label>
                <div class="col-sm-4">
                    <select
                            formControlName="screen"
                            class="form-control">
                        <option *ngFor="let screen of tfScreens" [value]="screen">{{screen}}</option>
                        <!--from array of all screens -->
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label
                       for="severity"
                       class="col-sm-4 control-label">Severity</label>
                <div class="col-sm-4">
                    <select
                            formControlName="severity"
                            class="form-control">
                        <option *ngFor="let severity of tfSeverities" [value]="severity">{{severity}}</option>
                        <!--from array of all severities -->
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label
                       for="urgency"
                       class="col-sm-4 control-label">Urgency</label>
                <div class="col-sm-4">
                    <select
                            formControlName="urgency"
                            class="form-control">
                        <option *ngFor="let urgency of tfUrgencies" [value]="urgency">{{urgency}}</option>
                        <!--from array of all urgencies -->
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <!-- <label
                       for="description"
                       class="col-sm-4 control-label">Description</label> -->
                <div class="col-sm-4 description">
                    <label>Description:</label>
                    <p>What values did you input ?<br />
                        (serial number, customer name, order number etc...)</p>
                    <p>What buttons did you click ?</p>
                    <p>What text was input and in which fields ?</p>
                </div>
                <div class="col-sm-4">
                    <textarea
                              formControlName="description"
                              class="form-control"
                              placeholder="Description"
                              cols="30"
                              rows="10"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label
                       for="comments"
                       class="col-sm-4 control-label">Comments</label>
                <div class="col-sm-4">
                    <textarea
                              formControlName="comments"
                              class="form-control"
                              placeholder="Comments"
                              cols="30"
                              rows="10"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label
                       for="screenshot"
                       class="col-sm-4 control-label">Screenshot</label>
                <div class="col-sm-4">
                    <input
                           type="file"
                           accept="image/*"
                           class="form-control"
                           formControlName="screenshot"
                           (change)="validateFileInput($event)" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <button
                            type="submit"
                            class="btn btn-larg btn-primary">Submit</button>&nbsp;
                    <button
                            type="button"
                            class="btn btn-larg btn-danger"
                            (click)="onTicketFormReset()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>Open Bugs</h1>
        <table class="table table-striped tickets-table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ticket Number</th>
                    <th scope="col">Username</th>
                    <th scope="col">Title</th>
                    <th scope="col">Screen</th>
                    <th scope="col">Severity</th>
                    <th scope="col">Urgency</th>
                    <th scope="col">Description</th>
                    <th scope="col">Comments</th>
                    <th scope="col">Screenshot</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ticket of tickets; let i = index">
                    <th scope="row">{{i}}</th>
                    <td>
                        <p>{{ticket.ticketNumber}}</p>
                    </td>
                    <td>
                        <p>{{ticket.username}}</p>
                    </td>
                    <td>
                        <p>{{ticket.ticketTitle}}</p>
                    </td>
                    <td>
                        <p>{{ticket.screen}}</p>
                    </td>
                    <td>
                        <p>{{ticket.severity}}</p>
                    </td>
                    <td>
                        <p>{{ticket.urgency}}</p>
                    </td>
                    <td>
                        <p>{{ticket.description}}</p>
                    </td>
                    <td>
                        <p>{{ticket.comments}}</p>
                    </td>
                    <td class="screenshot"><img src={{ticket.screenshot}} alt="screenshot"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>