<div dir="rtl" class="container">

    <h2>דווח על פתיחת שירות</h2>
    <form [formGroup]="addOutservice" (ngSubmit)="addOutServiceToDB()">
        
        <div class="form-group">
            <label>סוג שירות</label>
            <select class="form-control" placeholder="סוג שירות" formControlName="type">
                <option *ngFor="let serviceType of serviceTypes" [value]="serviceType.name">{{serviceType.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>תאריך פתיחת הזמנה</label>
            <input type="date" class="form-control" placeholder="תאריך פתיחת הזמנה" formControlName="openedAt">
        </div>

        <div class="form-group">
            <label>מספק השירות</label>
            <select class="form-control" placeholder="מספק השירות" formControlName="supplierName">
                <option *ngFor="let supplier of suppliers" [value]="supplier._id">{{supplier.suplierName}}</option>
            </select>
        </div>

        <div class="form-group">
            <h4 class="click hover-black" (click)="newSup = !newSup">ספק חדש</h4>
            <div *ngIf="newSup">
                <label>שם ספק</label>
                <input type="text">
                <button>הוסף ספק</button>
            </div>
        </div>

        
        <div class="form-group">
            <label>תאריך ביצוע</label>
            <input type="date" class="form-control" placeholder="תאריך ביצוע" formControlName="date">
        </div>

        <div class="form-group">
            <label>מקים ההזמנה</label>
            <input type="text" disabled class="form-control" formControlName="userName">
            <label>כתובת מייל</label>
            <input type="text" disabled class="form-control" formControlName="userEmail">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">הוסף שירות</button>
        </div>
        
    </form>
</div>