<div dir="rtl" class="container">

    <h2>הוסף שירות חיצוני למעקב</h2>
    <form [formGroup]="addOutservice" (ngSubmit)="addOutServiceToDB()">
        
        <div class="form-group">
            <label>סוג שירות</label>
            <select class="form-control" placeholder="סוג שירות" formControlName="type" required>
                <option *ngFor="let serviceType of serviceTypes" [value]="serviceType.name">{{serviceType.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>תאריך פתיחת הזמנה</label>
            <input type="date" class="form-control" placeholder="תאריך פתיחת הזמנה" formControlName="openedAt" required>
        </div>

        <div class="form-group">
            <label>מספק השירות</label>
            <select class="form-control" placeholder="מספק השירות" formControlName="supplierName" required>
                <option *ngFor="let supplier of suppliers" [value]="supplier._id">{{supplier.suplierName}}</option>
            </select>
        </div>

        <!-- <div class="form-group">
            <h4 class="click hover-black" (click)="newSup = !newSup">ספק חדש</h4>
            <div *ngIf="newSup">
                <label>שם ספק</label>
                <input type="text">
                <button>הוסף ספק</button>
            </div>
        </div> -->

        
        <div class="form-group">
            <label>תאריך ביצוע</label>
            <input type="date" class="form-control" placeholder="תאריך ביצוע" formControlName="date" required>
        </div>

        <div class="form-group">
            <label>מקים ההזמנה</label>
            <input type="text" disabled class="form-control" formControlName="userName" required>
            <label>כתובת מייל</label>
            <input type="text" class="form-control" formControlName="userEmail" required>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" 
                [disabled]="addOutservice.invalid" 
                [style.cursor]="addOutservice.invalid ? 'not-allowed' : 'pointer'">
                הוסף שירות
            </button>
        </div>
        
    </form>
</div>