<div *ngIf="!authorized">אינך מורשה לראות מסך זה</div>
<div dir="rtl" *ngIf="authorized">
  <form [formGroup]="bulkArrival" class="form_1">
    <div class="row mt-4">
      <h3>קליטת חבית חדשה</h3>
    </div>
    <div class="row mt-2">
      <p>* שדה חובה</p>
    </div>
    <div class="row mt-2">
      <div class="col-2">
        <label>שם המחסן *</label>
        <select
          class="form-control"
          (change)="showWH()"
          formControlName="warehouse"
        >
          <option disabled value="null">בחר מחסן</option>
          <option *ngFor="let wh of allWarehouses" [value]="wh.name">
            {{ wh.name }}
          </option>
        </select>
        <div
          class="alert alert-danger"
          *ngIf="warehouse.touched && warehouse.errors?.required"
        >
          * שדה חובה
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-2">
        <label for="barrelNumber">שם החבית</label>
        <input
          type="text"
          class="form-control"
          formControlName="barrelNumber"
          (blur)="getBarrel()"
        />
        <div
          class="alert alert-danger"
          *ngIf="barrelNumber.touched && barrelNumber.errors?.required"
        >
          שדה חובה
        </div>
        <div
          class="text-danger"
          *ngIf="barrelNumber.touched && barrelNumber.errors?.minlength"
        >
          מספר החבית קצר מדי*
        </div>
      </div>
      <div class="col-2">
        <label>משקל החבית (יש לעדכן)</label>
        <input
          type="number"
          class="form-control"
          formControlName="barrelWeight"
          [placeholder]="
            currentBarrel.barrelWeight
              ? currentBarrel.barrelWeight + '(משוער)'
              : '' + ' עדכן משקל'
          "
        />
        <div
          class="alert alert-danger"
          *ngIf="barrelWeight.touched && barrelWeight.errors?.required"
        >
          * שדה חובה
        </div>
        <div
          class="text-danger"
          *ngIf="barrelWeight.touched && barrelWeight.errors?.max"
        >
          המשקל גדול מהמותר
        </div>
        <div
          class="text-danger"
          *ngIf="barrelWeight.touched && barrelWeight.errors?.min"
        >
          המשקל קטן מהמותר
        </div>
      </div>
    </div>

    <div class="row mt-4" *ngIf="barrelsList.length > 0">
      <div class="col-12">
        <h3>פרטי החבית</h3>
      </div>
      <div dir="ltr" class="col-10 mx-auto">
        <table class="table table-hover">
          <thead class="bg-info text-white">
            <tr>
              <th class="text-center">Batch Number</th>
              <th class="text-center">Prod. Date</th>
              <th class="text-center">Exp. Date</th>
              <th class="text-center">Formule</th>
              <th class="text-center">Status</th>
              <th class="text-center">pH</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let barrel of barrelsList">
              <td class="text-center">{{ barrel.batchNumber }}</td>
              <td class="text-center">
                {{ barrel.productionDate | date: "dd/MM/yyyy" }}
              </td>
              <td class="text-center">
                {{ barrel.expirationDate | date: "dd/MM/yyyy" }}
              </td>
              <td class="text-center">{{ barrel.formuleNumber }}</td>
              <td class="text-center">{{ barrel.barrelStatus }}</td>
              <td class="text-center">
                {{ barrel.ph }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-4" dir="rtl" *ngIf="barrelsList.length > 0">
      <div class="col-12">
        <h3>בחירת מיקום</h3>
      </div>
      <div class="col-2">
        <label for="">חיפוש מיקום</label>
        <div>
          <button
            class="btn btn-secondary"
            (click)="getShelves()"
            [disabled]="barrelWeight.invalid"
          >
            חפש
          </button>
        </div>
      </div>
      <div class="col-2">
        <label>מדף/איזור</label>
        <select
          formControlName="position"
          class="form-control"
          (change)="showWH()"
        >
          <option value="null" disabled>בחר מדף</option>
          <option *ngFor="let shell of shellNums" [value]="shell.position">
            {{ shell.position }}
          </option>
        </select>
        <div *ngIf="position.touched && position.errors?.required">
          שדה חובה
        </div>
      </div>
    </div>
    <div class="row mt-2" *ngIf="barrelsList.length > 0">
      <div class="col-12">
        <h3>הוספת חבית למלאי</h3>
      </div>
      <div class="col-2">
        <button
          class="btn btn-secondary"
          (click)="addBarrelToList()"
          [disabled]="position.invalid"
        >
          הוסף לרשימה
        </button>
      </div>
    </div>

    <div class="row mt-4" *ngIf="allBarrels.length > 0">
      <div class="col-10 mx-auto">
        <table class="table table-hover">
          <thead class="bg-info text-white">
            <tr>
              <th class="text-center">מספר החבית</th>
              <th class="text-center">משקל החבית</th>
              <th class="text-center">קליטה למחסן..</th>
              <th class="text-center">קליטה למיקום..</th>
              <th class="text-center"></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let barrel of allBarrels; let i = index">
              <td class="text-center">{{ barrel.item }}</td>
              <td class="text-center">{{ barrel.weightKg }}</td>
              <td class="text-center">{{ barrel.whareHouse }}</td>
              <td class="text-center">{{ barrel.position }}</td>
              <td class="text-center">
                <i
                  (click)="removeFrombarrels(i)"
                  class="fa fa-times text-danger"
                ></i>
              </td>
              <td>
                <button
                  *ngIf="!showStickerForm"
                  class="btn btn-outline-success"
                  (click)="setStickerDetails(barrel)"
                  (click)="open(invstck)"
                >
                  הדפס מדבקה
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-4" *ngIf="allBarrels.length > 0">
      <div class="col-12">
        <h3>קליטה ועדכון מלאי</h3>
      </div>
      <div class="col-2">
        <button
          class="btn btn-success"
          (click)="addBarrelToShelf()"
          [disabled]="allBarrels.length == 0"
        >
          קליטה למלאי
        </button>
      </div>
    </div>
  </form>
</div>
