<ngb-tabset>
  <ngb-tab title="טופס עזרה ראשונה">
    <ng-template ngbTabContent>
      <div class="container-fluid">
        <div style="padding:20px;" class="row">
         <div class="col-12">
           <h2 style="text-align: center;text-decoration: underline;">ארון עזרה ראשונה דגם קאליר - 6010</h2>
         </div>
        </div>

        <div class="row">
          <div class="col-12">

          <table class="table table-responsive">
            <thead>
            </thead>
            <tbody dir="rtl">
              <tr>
                <td>1</td>
                <td>תחבושת לכווית</td>
                <td>486</td>
              </tr>

              <tr>
                <td>1</td>
                <td>ג'ל אלוורה בשפופרת</td>
                <td>1891</td>
              </tr>

              <tr>
                <td>3</td>
                <td>משולש לקיבוע</td>
                <td>4080</td>
              </tr>

              <tr>
                <td>2</td>
                <td>תחבושת אישית</td>
                <td>865</td>
              </tr>

              <tr>
                <td>10</td>
                <td>פד גזה סטרילי</td>
                <td>648</td>
              </tr>

              <tr>
                <td>10</td>
                <td>אגד גזה בגליל</td>
                <td>567</td>
              </tr>

              <tr>
                <td>1</td>
                <td>פלסטר נייר בגליל</td>
                <td>336</td>
              </tr>

              <tr>
                <td>1</td>
                <td>מספרי מתכת לע"ר</td>
                <td>994</td>
              </tr>

              <tr>
                <td>1</td>
                <td>חוסם ורידים גלילי</td>
                <td>313</td>
              </tr>

              <tr>
                <td>3</td>
                <td>מקל למון גליצרין לבחילות</td>
                <td>329</td>
              </tr>

              <tr>
                <td>30</td>
                <td>פלסטריות</td>
                <td>7</td>
              </tr>

              <tr>
                <td>1</td>
                <td>תחבושת אלסטית</td>
                <td>187</td>
              </tr>

              <tr>
                <td>1</td>
                <td>תרסיס קירור קטן 150 מ"ל</td>
                <td>4125</td>
              </tr>

              <tr>
                <td>1</td>
                <td>פולידין נוזלי</td>
                <td>1189</td>
              </tr>

              <tr>
                <td>20</td>
                <td>כדורים להורדת חום וכאבים</td>
                <td>999</td>
              </tr>

              <tr>
                <td>1</td>
                <td>חב' צמר גפן</td>
                <td>1476</td>
              </tr>

              <tr>
                <td>3</td>
                <td>זוג כפפות</td>
                <td>999</td>
              </tr>

              <tr>
                <td>2</td>
                <td>נוזל לשטיפת עיניים</td>
                <td>7120</td>
              </tr>

              <tr>
                <td>1</td>
                <td>פינצטה להוצאת גוף זר</td>
                <td>989</td>
              </tr>

              <tr>
                <td>1</td>
                <td>הוראות עזרה ראשונה</td>
                <td>999</td>
              </tr>

              <tr>
                <td>1</td>
                <td>מדבקה של מגן דוד אדום</td>
                <td>999</td>
              </tr>

         
            </tbody>
          </table>


          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th>אולם בישול קרמים</th>
                  <th>אולם בישול איפור</th>
                  <th>משרדים</th>
                  <th>אולם מילוי</th>
                  <th>תאריך</th>
                </tr>
              </thead>
              <tbody>
                <td><input [(ngModel)]="firstAid.cremeCookingHall" type="checkbox"/></td>
                <td><input [(ngModel)]="firstAid.makeUpCookingHall" type="checkbox"/></td>
                <td><input [(ngModel)]="firstAid.offices" type="checkbox"/></td>
                <td><input [(ngModel)]="firstAid.fillingHall" type="checkbox"/></td>
                <td><input [(ngModel)]="firstAid.date" type="date"/></td>
               
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button (click)="saveFirstAid()">שמור</button>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <!-- <ngb-tab title="Simple">
    <ng-template ngbTabContent>

    </ng-template>
  </ngb-tab> -->
</ngb-tabset>