<ngb-tabset>
  <ngb-tab title="טופס עזרה ראשונה">
    <ng-template ngbTabContent>
      <div class="container bg-light rounded shadow-sm">
        <div class="row text-center p-2">
         <div class="col-12">
           <h1 style="text-shadow: 2px 2px 4px #000000;" class="text-info">ארון עזרה ראשונה דגם קאליר - 6010</h1>
         </div>
        </div>

        <div class="row text-center p-2">
          <div class="col-12">

          <table class="table table-hover table-striped">
            <thead class="bg-info text-white">
              <tr style="box-shadow: inset 0px 0px 4px 1px black;">
                <th>כמות</th>
                <th>תיאור</th>
                <th>מק"ט</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>תחבושת לכווית</td>
                <td>486</td>
              </tr>

              <tr>
                <td>1</td>
                <td>ג'ל אלוורה בשפופרת</td>
                <td>1891</td>
              </tr>

              <tr>
                <td>3</td>
                <td>משולש לקיבוע</td>
                <td>4080</td>
              </tr>

              <tr>
                <td>2</td>
                <td>תחבושת אישית</td>
                <td>865</td>
              </tr>

              <tr>
                <td>10</td>
                <td>פד גזה סטרילי</td>
                <td>648</td>
              </tr>

              <tr>
                <td>10</td>
                <td>אגד גזה בגליל</td>
                <td>567</td>
              </tr>

              <tr>
                <td>1</td>
                <td>פלסטר נייר בגליל</td>
                <td>336</td>
              </tr>

              <tr>
                <td>1</td>
                <td>מספרי מתכת לע"ר</td>
                <td>994</td>
              </tr>

              <tr>
                <td>1</td>
                <td>חוסם ורידים גלילי</td>
                <td>313</td>
              </tr>

              <tr>
                <td>3</td>
                <td>מקל למון גליצרין לבחילות</td>
                <td>329</td>
              </tr>

              <tr>
                <td>30</td>
                <td>פלסטריות</td>
                <td>7</td>
              </tr>

              <tr>
                <td>1</td>
                <td>תחבושת אלסטית</td>
                <td>187</td>
              </tr>

              <tr>
                <td>1</td>
                <td>תרסיס קירור קטן 150 מ"ל</td>
                <td>4125</td>
              </tr>

              <tr>
                <td>1</td>
                <td>פולידין נוזלי</td>
                <td>1189</td>
              </tr>

              <tr>
                <td>20</td>
                <td>כדורים להורדת חום וכאבים</td>
                <td>999</td>
              </tr>

              <tr>
                <td>1</td>
                <td>חב' צמר גפן</td>
                <td>1476</td>
              </tr>

              <tr>
                <td>3</td>
                <td>זוג כפפות</td>
                <td>999</td>
              </tr>

              <tr>
                <td>2</td>
                <td>נוזל לשטיפת עיניים</td>
                <td>7120</td>
              </tr>

              <tr>
                <td>1</td>
                <td>פינצטה להוצאת גוף זר</td>
                <td>989</td>
              </tr>

              <tr>
                <td>1</td>
                <td>הוראות עזרה ראשונה</td>
                <td>999</td>
              </tr>

              <tr>
                <td>1</td>
                <td>מדבקה של מגן דוד אדום</td>
                <td>999</td>
              </tr>

            </tbody>
          </table>


          </div>
        </div>

        <div class="row text-center p-2">
          <div class="col-12">
            <table class="table table-hover table-striped">
              <thead class="bg-info text-white">
                <tr style="box-shadow: inset 0px 0px 4px 1px black;">
                 
                  <th>האם נבדק</th>
                  <th>סוג חדר</th>
                  <th>תאריך</th>
                </tr>
              </thead>
              <tbody>
                <td><input class="form-control" [(ngModel)]="firstAid.isChecked" type="checkbox"/></td>
                <td><select class="form-control" [(ngModel)]="firstAid.roomType" >
                  <option value="offices">מזכירות</option>
                  <option value="qaRoomMaterial">חדר בקר איכות חו"ג</option>
                  <option value="qaRoomFilling">חדר בקר איכות מילוי</option>
                  <option value="managerFillingRoom">חדר מנהל מילוי</option>
                  <option value="inventoryStorage">מחסן מלאי</option>
                  <option value="oldFillingHall">אולם בישול ישן</option>
                </select></td>
                
                <td><input class="form-control" [(ngModel)]="firstAid.date" type="date"/></td>
               
              </tbody>
            </table>
            <div dir="rtl" class="col-12 text-right">
              <input [(ngModel)]="firstAid.remarks" type="text" class="form-control" placeholder="Remarks">
            </div>
          </div>
        </div>
        <div class="row text-center p-2">
          <div class="col-12">
            <button class="form-control btn btn-info" (click)="saveFirstAid()">Save</button>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="בדיקות עזרה ראשונה">
    <ng-template ngbTabContent>
      <div class="container bg-light rounded shadow-sm text-center">
        <div class="row text-center p-2">
         <div class="col-12">
           <h1 style="text-shadow: 2px 2px 4px #000000;" class="text-info">תוצאות בדיקת ארונות</h1>
         </div>
        </div>
        
        <div class="row">
          <div class="col-12">
            <table class="table table-hover table-striped">
            <thead class="bg-info text-white">
            <tr style="box-shadow: inset 0px 0px 4px 1px black;">
              <th>תאריך בדיקה</th>
              <th>סוג ארון</th>
              <th>האם נבדק</th>
              <th>הערות</th>
            </tr>
            </thead>
            <tbody *ngFor="let test of allFirstAids">
              <td>{{test.date | date: 'dd/MM/yyyy'}}</td>
            <td>{{test.roomType}}</td>
            <td>{{test.isChecked}}</td>
            <td>{{test.remarks}}</td>
            </tbody>
            </table>
          </div>
        </div>
        </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>