.form-control{ 
    border-radius: 15px;
}

input:focus::-webkit-input-placeholder {
    color: #7460ee;
}
select:focus,input:focus,textarea:focus {
 
    border-color: #7460ee;
    box-shadow: 0 0 5px #7460ee;
  
}

.container {
  background: rgb(228, 206, 238) !important
}

.hover-red:hover {
  background-color: red;
  color: black;
} 

input:hover {
    cursor: auto;
}

.smaller-input {
  width: 70px;
}

::ng-deep .modal-content  {
 border-radius: 10px;
}
::ng-deep .modal-header  {
 border-top-right-radius: 10px;
 border-top-left-radius: 10px;
}

.red {
  color: lightcoral;
}

.purchase-details {
  transition-property: height;
  transition-duration: 2s;
}

.click { 
  cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(226, 180, 80);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4e3bcf;
  }


  