.form-control{ 
    border-radius: 15px;
}

input:focus::-webkit-input-placeholder {
    color: #7460ee;
    
    
}
select:focus,input:focus {
 
    border-color: #7460ee;
    box-shadow: 0 0 5px #7460ee;
  
}
input:hover {
    cursor: auto;
}


  