<div *ngIf="purchaseData" style="border-radius: 15px;"
  class="container bg-white border border-primary shadow-lg text-center p-5">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="newPurchase">

        <div class="row">
          <div class="col-2">
            <button class="btn btn-warning rounded-pill form-control" (click)="open(recieveDeliveryCertificate)">
              New Certificate</button>
          </div>
          <div class="col-2">
            <button (click)="open(invoiceDelivery)" class="btn btn-warning rounded-pill form-control">New Invoice</button>
          </div>
          <div class="col-5"></div>
          <div class="col-2">
            <button (click)="disabled = false" class="btn btn-warning rounded-pill form-control">Edit</button>
          </div>
          <div class="col-1">
            <i (click)="orderDetailsModal.emit(false)" class="fa fa-times text-primary"></i>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-3">

          </div>
          <div class="col-6 bg-primary rounded-pill">
            <h3 class="text-white p-2">{{purchaseData.orderNumber}}</h3>
          </div>
          <div class="col-3">

          </div>
        </div>

        <hr class="text-muted">
        <div class="row mt-5">
          <div class="col">
            <h5 class="text-secondary">Purchase Details</h5>
          </div>
        </div>
        <div class="row">
          <div class="col form-group">
            <select [disabled]="disabled" type="text" class="form-control" placeholder="Order Type">
              <option [value]="purchaseData.orderType">{{purchaseData.orderType}}</option>
            </select>
          </div>
          <div class="col form-group">
            <input [disabled]="disabled" value="{{purchaseData.creationDate | date: 'dd/MM/yyyy'}}" type="text"
              class="form-control" placeholder="Order Date">
          </div>
        </div>

        <hr class="text-muted">
        <div class="row mt-3">
          <div class="col">
            <h5 class="text-secondary">Supplier Details</h5>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-12 col-md-4 form-group">
            <input [disabled]="disabled" [value]="purchaseData.supplierName" name="supplierName"
              (change)="fillSupplierDetails($event)" list="suppliers" type="text" class="form-control"
              placeholder="Supplier Name">
            <datalist id="suppliers">
              <option *ngFor="let supplier of allSuppliers" [value]="supplier.suplierName">{{supplier.suplierNumber}}
              </option>
            </datalist>
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <input [disabled]="disabled" [value]="purchaseData.supplierNumber" type="text" class="form-control"
              placeholder="Supplier Number">
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <input [disabled]="disabled" [value]="purchaseData.supplierEmail" type="text" class="form-control"
              placeholder="Supplier Email">
          </div>

        </div>

        <hr class="text-muted">

        <div class="row mt-3">
          <div class="col">
            <h5 class="text-secondary">Item Details</h5>
          </div>
        </div>


        <div class="row mt-2">
          <div class="col">
            <h6 class="text-primary">Add Item</h6>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm-12 col-md-4 form-group">
            <input [disabled]="disabled" (blur)="findStockItemByNumber()" [(ngModel)]="stockitem.number"
              [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Item Number">
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <input [disabled]="disabled" [(ngModel)]="stockitem.name" [ngModelOptions]="{standalone: true}" type="text"
              class="form-control" placeholder="Item Name">
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <input [disabled]="disabled" [(ngModel)]="stockitem.quantity" [ngModelOptions]="{standalone: true}"
              type="number" class="form-control" placeholder="Quantity">
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <select [disabled]="disabled" [ngModelOptions]="{standalone: true}" [(ngModel)]="stockitem.measurement"
              class="form-control custom-select">
              <option value="kg">kg</option>
              <option value="liter">liter</option>
              <option value="meter">meter</option>
              <option value="ml">ml</option>
              <option value="unit">Unit</option>
              <option value="ton">טון</option>
              <option value="unit">יחידה</option>
              <option value="box">קופסא</option>
            </select>
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <input [disabled]="disabled" [(ngModel)]="stockitem.coin" [ngModelOptions]="{standalone: true}" type="text"
              class="form-control" placeholder="Coin">
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <input [disabled]="disabled" [(ngModel)]="stockitem.price" [ngModelOptions]="{standalone: true}"
              type="number" class="form-control" placeholder="Price">
          </div>

        </div>

        <div class="row mt-1">
          <div class="col-5"></div>
          <div class="col-2">
            <button [disabled]="disabled" (click)="addItemToPurchase()" class="btn btn-primary form-control">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div class="col-5"></div>
        </div>

        <div class="row mt-4">
          <div class="col-4"></div>
          <div class="col-4">
            <h6 class="text-primary">Purchase Items</h6>
          </div>
          <div class="col-4"></div>
        </div>

        <div class="row mt-3 bg-muted">
          <div style="background: #d5cff9" class="col-12 shadow rounded">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Item Name</th>
                  <th>Measurement</th>
                  <th>Quantity</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let stockitem of this.newPurchase.controls.stockitems.value">
                  <td>{{stockitem.number}}</td>
                  <td>{{stockitem.name}}</td>
                  <td>{{stockitem.measurement}}</td>
                  <td>{{stockitem.quantity}}</td>
                  <td>{{stockitem.price}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <hr class="text-muted">

        <div class="row mt-3">
          <div class="col-4"></div>
          <div class="col-4">
            <button (click)="sendNewProc()" [disabled]="disabled" class="btn btn-primary form-control">Confirm</button>
          </div>
          <div class="col-4"></div>
        </div>
      </form>
    </div>
  </div>
</div>

<!----------------------------------------------------------------------------------------------------------------------->

<div *ngIf="!purchaseData" style="border-radius: 15px;"
  class="container bg-white border border-primary shadow-lg text-center p-5">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="newPurchase">

        <div class="row mt-3">
          <div class="col-3">

          </div>
          <div class="col-6 bg-primary rounded-pill">
            <h3 class="text-white p-2">New Purchase Order</h3>
          </div>
          <div class="col-3">

          </div>
        </div>

        <hr class="text-muted">
        <div class="row mt-5">
          <div class="col">
            <h5 class="text-secondary">Purchase Details</h5>
          </div>
        </div>
        <div class="row">
          <div class="col form-group">
            <select formControlName="orderType" type="text" class="form-control" placeholder="Order Type">
              <option selected="true" disabled="disabled">Choose Type</option>
              <option value="component">Component</option>
              <option value="material">Material</option>
            </select>
          </div>
          <div class="col form-group">
            <input formControlName="creationDate" type="date" class="form-control" placeholder="Order Date">
          </div>
        </div>

        <hr class="text-muted">
        <div class="row mt-3">
          <div class="col">
            <h5 class="text-secondary">Supplier Details</h5>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-12 col-md-4 form-group">
            <input formControlName="supplierName" name="supplierName" (change)="fillSupplierDetails($event)"
              list="suppliers" type="text" class="form-control" placeholder="Supplier Name">
            <datalist id="suppliers">
              <option *ngFor="let supplier of allSuppliers" [value]="supplier.suplierName">{{supplier.suplierNumber}}
              </option>
            </datalist>
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <input formControlName="supplierNumber" type="text" class="form-control" placeholder="Supplier Number">
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <input (change)="updateSupplierEmail($event)" formControlName="supplierEmail" type="text"
              class="form-control" placeholder="Supplier Email">
          </div>

        </div>

        <hr class="text-muted">
        <div class="row mt-2">
          <div class="col">
            <h4 class="text-primary">Add Item</h4>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <h5 class="text-secondary">Item Details</h5>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-sm-12 col-md-4 form-group">
            <input (blur)="findStockItemByNumber()" [(ngModel)]="stockitem.number" [ngModelOptions]="{standalone: true}"
              type="text" class="form-control" placeholder="Item Number">
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <input [(ngModel)]="stockitem.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              placeholder="Item Name">
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <input [(ngModel)]="stockitem.quantity" [ngModelOptions]="{standalone: true}" type="number"
              class="form-control" placeholder="Quantity">
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <select [ngModelOptions]="{standalone: true}" [(ngModel)]="stockitem.measurement"
              class="form-control custom-select">
              <option value="kg">kg</option>
              <option value="liter">liter</option>
              <option value="meter">meter</option>
              <option value="ml">ml</option>
              <option value="unit">Unit</option>
              <option value="ton">טון</option>
              <option value="unit">יחידה</option>
              <option value="box">קופסא</option>
            </select>
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <input [(ngModel)]="stockitem.coin" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              placeholder="Coin">
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <input [(ngModel)]="stockitem.price" [ngModelOptions]="{standalone: true}" type="number"
              class="form-control" placeholder="Price">
          </div>

        </div>

        <div class="row mt-1">
          <div class="col-5"></div>
          <div class="col-2">
            <button (click)="addItemToPurchase()" class="btn btn-primary form-control">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div class="col-5"></div>
        </div>

        <div class="row mt-4">
          <div class="col-4"></div>
          <div class="col-4">
            <h6 class="text-primary">Purchase Items</h6>
          </div>
          <div class="col-4"></div>
        </div>

        <div class="row mt-3 bg-muted">
          <div style="background: #d5cff9" class="col-12 shadow rounded">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Item Name</th>
                  <th>Measurement</th>
                  <th>Quantity</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let stockitem of this.newPurchase.controls.stockitems.value">
                  <td>{{stockitem.number}}</td>
                  <td>{{stockitem.name}}</td>
                  <td>{{stockitem.measurement}}</td>
                  <td>{{stockitem.quantity}}</td>
                  <td>{{stockitem.price}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <hr class="text-muted">

        <div class="row mt-3">
          <div class="col-4"></div>
          <div class="col-4">
            <button (click)="sendNewProc()" class="btn btn-primary form-control">Confirm</button>
          </div>
          <div class="col-4"></div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template class="p-6" #recieveDeliveryCertificate let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-center" id="modal-basic-title">קבלת משלוח</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div dir="rtl" class="modal-body p-5">
    <h1>דווח על קבלת תעודת משלוח</h1>
    
    <div class="container bg-white border border-primary shadow-lg text-center p-5">
      
      <form [formGroup]="deliveryCertificateForm" (ngSubmit)="saveCertificate()">
        <div class="row mt-2">* שדה חובה</div>
        <div class="row mt-2">
          <div class="col-md-4 form-group">
            <label for="certificateNumber">מספר תעודה<span class="red">*</span></label>
            <input formControlName="certificateNumber" maxlength="4"  type="text" 
            class="form-control" placeholder="4 ספרות אחרונות" required>
          </div>
          <div class="col-md-4 form-group">
            <label for="deliveryArrivalDate">תאריך קבלת משלוח<span class="red">*</span></label>
            <input formControlName="deliveryArrivalDate" type="date" class="form-control" required>
          </div>
          <div class="col-md-4 form-group">
            <label for="itemNumber">מס' פריט<span class="red">*</span></label>
            <input formControlName="itemNumber" type="text" class="form-control" placeholder="מס' פריט" required>
          </div>
          <div class="col-md-4 form-group">
            <label for="amount">כמות<span class="red">*</span></label>
            <input formControlName="amount" type="number" class="form-control" required>
          </div>
          <div class="col-md-4 form-group">
            <label for="remarks">הערות</label>
            <input formControlName="remarks" type="text" class="form-control" placeholder="הערות">
          </div>
          <br>
          
          <button type="submit" [disabled]="!deliveryCertificateForm.valid" class="btn btn-primary form-control">
            שלח את עמי
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <h2>ישר כח!</h2>
  </div>
</ng-template>
<ng-template #invoiceDelivery let-modal>
  <div class="modal-header bg-primary">
    <h4 class="modal-title text-white" id="modal-basic-title">קבלת חשבונית</h4>
    <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h1>דווח על קבלת תעודת משלוח</h1>
  </div>

  <div class="modal-footer">
    <h2>ישר כח!</h2>
  </div>
</ng-template>