<!--UPDATE-->
<div *ngIf="purchaseData" style="border-radius: 15px;" class="container bg-white border shadow-lg text-center p-3">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="newPurchase">
        <div class="row mt-3">
          <div class="col-3">
          </div>
          <div class="col-6">
            <h3 class="p-2">Purchase {{purchaseData.orderNumber}}</h3>
          </div>
          <div class="col-3">
          </div>
        </div>
        <div class="row"></div>

        <div class="row">
          <div class="col-2">
            <button class="btn btn-primary rounded-pill form-control" (click)="open(recieveDeliveryCertificate)">
              New Certificate</button>
          </div>
          <div class="col-2">
            <button (click)="open(receiveInvoice)" class="btn btn-primary rounded-pill form-control">New
              Invoice</button>
          </div>
          <div class="col-5"></div>
          <div class="col-2">
            <button (click)="disabled = false" class="btn btn-warning rounded-pill form-control">Edit
              Purchase</button>
          </div>
          <div class="col-1">
            <i (click)="closeOrderModal.emit(false)" class="big click fa fa-times text-primary"></i>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-4">
            <button (click)="open(certAndInvModal)" class="btn btn-primary rounded-pill form-control">Watch
              Certificates & Invoices</button>
          </div>
          <div class="col-5"></div>
          <div class="col-2">
            <select [disabled]="disabled" (change)="setPurchaseStatus($event)" class="form-control rounded-pill">
              <option selected="true" disabled="disabled">Choose Status</option>
              <option value="sentToSupplier">נשלח לספק</option>
              <option value="supplierGotOrder">לקוח קיבל הזמנה</option>
              <option value="closed">סגירת הזמנה</option>
            </select>
          </div>
          <div class="col-1"></div>
        </div>


        <div class="row mt-4">
          <div class="col-4"></div>
          <div class="col-4">
            <h5 class="text-primary">Purchase Items</h5>
          </div>
          <div class="col-4"></div>
        </div>

        <div class="row mt-3 bg-muted">
          <div class="col-12 shadow rounded items">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Item Name</th>
                  <th>Remarks</th>
                  <th>Measurement</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th></th>
                </tr>
              </thead>


              <tbody>
                <tr *ngFor="let stockitem of newPurchase.controls.stockitems.value">
                  <td>{{stockitem.number}}</td>
                  <td>{{stockitem.name}}</td>
                  <td>{{stockitem.itemRemarks}}</td>
                  <td *ngIf="!editItem">{{stockitem.measurement}}</td>
                  <td *ngIf="editItem">
                    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="stockitem.measurement" class="form-control">
                  </td>

                  <td *ngIf="!editItem">{{stockitem.quantity}}</td>
                  <td *ngIf="editItem">
                    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="stockitem.quantity" class="form-control">
                  </td>

                  <td *ngIf="!editItem">{{stockitem.price}}</td>
                  <td *ngIf="editItem">
                    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="stockitem.price" class="form-control">
                  </td>

                  <td><i *ngIf="!disabled  && !editItem" (click)="editItem = !editItem" class="click fa fa-pencil-alt text-primary"></i></td>
                  <td><i *ngIf="!disabled  && editItem" (click)="editItem = !editItem" class="click fa fa-times text-primary"></i></td>
                  <td><i *ngIf="!disabled && editItem" (click)="updateItems(stockitem)" class="click fa fa-save text-primary h4"></i></td>
                  <td><i *ngIf="!disabled && !editItem" (click)="removeStockitemFromPurchase(stockitem)" class="click fa fa-times text-danger"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <hr class="text-muted">

        <div class="row mt-2">
          <div class="col">
            <button (click)="showItemDetails = !showItemDetails" class="btn btn-primary dropdown-toggle" >
              {{showItemDetails ? 'Hide Details' : 'Add Item'}}
            </button>
          </div>
        </div>
        <div *ngIf="showItemDetails" class="row mt-3">
          <div class="col-sm-12 col-md-4 form-group">
            <label for="">Item</label>
            <input [disabled]="disabled" (blur)="findStockItemByNumber()" [(ngModel)]="stockitem.number"
              [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Item Number">
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <label for="">Quantity</label>
            <input [disabled]="disabled" [(ngModel)]="stockitem.quantity" [ngModelOptions]="{standalone: true}"
              type="number" class="form-control" placeholder="Quantity">
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <label for="">Price</label>
            <input [disabled]="disabled" [(ngModel)]="stockitem.price" [ngModelOptions]="{standalone: true}"
              type="number" class="form-control" placeholder="Price">
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <input [disabled]="disabled" [(ngModel)]="stockitem.name" [ngModelOptions]="{standalone: true}" type="text"
              class="form-control" placeholder="Item Name">
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <select [disabled]="disabled" [ngModelOptions]="{standalone: true}" [(ngModel)]="stockitem.measurement"
              class="form-control custom-select">
              <option value="kg">kg</option>
              <option value="liter">liter</option>
              <option value="meter">meter</option>
              <option value="ml">ml</option>
              <option value="unit">Unit</option>
              <option value="ton">טון</option>
              <option value="unit">יחידה</option>
              <option value="box">קופסא</option>
            </select>
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <input [disabled]="disabled" [(ngModel)]="stockitem.coin" [ngModelOptions]="{standalone: true}" type="text"
              class="form-control" placeholder="Coin">
          </div>
          
        </div>
               
        <div *ngIf="showItemDetails" class="row mt-1">
          <div class="col-5"></div>
          <div class="col-2">
            <button type="button" [disabled]="disabled" (click)="addItemToPurchase()" class="btn btn-primary form-control">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div class="col-5"></div>
        </div>

        <hr class="text-muted">

        <div class="wrapper">
            <div class="col">
              <button (click)="showPurchaseDetails = !showPurchaseDetails" class="btn btn-primary dropdown-toggle" >
                More Details
              </button>
              <h5  class="text-secondary click">
              </h5>
            </div>
          <div *ngIf="showPurchaseDetails"  class="purchase-details">

            <div class="row">
              <div class="col form-group">
                <label for="">Item Type</label>
                <select disabled type="text" class="form-control" placeholder="Order Type">
                  <option [value]="purchaseData.orderType">{{purchaseData.orderType}}</option>
                </select>
              </div>
              <div class="col form-group">
                <label for="">Order Date</label>
                <input disabled value="{{purchaseData.creationDate | date:'yyyy-MM-dd'}}" type="date"
                  class="form-control" placeholder="Order Date">
              </div>
              <div class="col form-group">
                <label for="">Arrival Date</label>
                <input formControlName="arrivalDate" [disabled]="disabled" value="{{purchaseData.arrivalDate | date:'yyyy-MM-dd'}}"  type="date"
                  class="form-control" placeholder="Arrival Date">
              </div>
            </div>

            <hr class="text-muted">
            <div class="row mt-3">
              <div class="col">
                <h5 class="text-secondary">Supplier Details</h5>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-sm-12 col-md-4 form-group">
                <label for="supplierName">Supplier Name</label>
                <input disabled [value]="purchaseData.supplierName" name="supplierName"
                  (change)="fillSupplierDetails($event)" list="suppliers" type="text" class="form-control"
                  placeholder="Supplier Name">
                <datalist id="suppliers">
                  <option *ngFor="let supplier of allSuppliers" [value]="supplier.suplierName">
                    {{supplier.suplierNumber}}
                  </option>
                </datalist>
              </div>
              <div class="col-sm-12 col-md-4 form-group">
                <label for="">Supplier Number</label>
                <input disabled [value]="purchaseData.supplierNumber" type="text" class="form-control"
                  placeholder="Supplier Number">
              </div>
              <div class="col-sm-12 col-md-4 form-group">
                <label for="">Supplier Email</label>
                <input disabled [value]="purchaseData.supplierEmail" type="text" class="form-control"
                  placeholder="Supplier Email">
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-sm-12 col-md-12 form-group">
                <label for="remarks">Remarks</label>
                <textarea formControlName="remarks" [disabled]="disabled" value="purchaseData.remarks"
                class="form-control" placeholder="Purchase Remarks"></textarea>
              </div>
            </div>
          </div>
        </div>

        <hr class="text-muted">

        <div class="row mt-3">
          <div class="col-4"></div>
          <div class="col-4">
            <button (click)="sendNewProc('update')" [disabled]="disabled" 
            class="btn btn-primary form-control" [ngClass]="showPurchaseDetails && showItemDetails ? 'fixed' : ''"
            >Confirm</button>
          </div>
          <div class="col-4"></div>
        </div>
      </form>
    </div>
  </div>
</div>

<!----------------------------------------------------------------------------------------------------------------------->
<!--ADD-->
<div *ngIf="!purchaseData" style="border-radius: 15px;" class="container bg-white border shadow-lg text-center p-2">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="newPurchase">

  
          <div class="bg-primary rounded-pill">
            <h3 class="text-white p-2">New Purchase Order</h3>
          </div>
        
        <div class="row mt-5">
          <div class="col">
            <h5 class="text-secondary">Purchase Details</h5>
          </div>
        </div>
        <div class="row">
          <div class="col form-group">
            <select formControlName="orderType" type="text" class="form-control" placeholder="Order Type">
              <option selected="true" disabled="disabled">Choose Type</option>
              <option value="component">Component</option>
              <option value="material">Material</option>
            </select>
          </div>
          <div class="col form-group">
            <input formControlName="creationDate" type="date" class="form-control" placeholder="Order Date">
          </div>
        </div>

        <div class="row">
          <div class="col-12 form-group">
            <textarea placeholder="Purchase Remarks" formControlName="remarks" class="form-control"></textarea>
          </div>
        </div>

        <hr class="text-muted">
        <div class="row mt-3">
          <div class="col">
            <h5 class="text-secondary">Supplier Details</h5>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-12 col-md-4 form-group">
            <input formControlName="supplierName" name="supplierName" (change)="fillSupplierDetails($event)"
              list="suppliers" type="text" class="form-control" placeholder="Supplier Name">
            <datalist id="suppliers">
              <option *ngFor="let supplier of allSuppliers" [value]="supplier.suplierName">{{supplier.suplierNumber}}
              </option>
            </datalist>
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <input formControlName="supplierNumber" type="text" class="form-control" placeholder="Supplier Number">
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <input (change)="updateSupplierEmail($event)" formControlName="supplierEmail" type="text"
              class="form-control" placeholder="Supplier Email">
          </div>

        </div>

        <hr class="text-muted">
        <div class="row mt-2">
          <div class="col">
            <button (click)="showItemDetails = !showItemDetails" class="btn btn-primary dropdown-toggle" >
              {{showItemDetails ? 'Hide Details' : 'Add Item'}}
            </button>
          </div>
        </div>
        <div *ngIf="showItemDetails">

          <div class="row mt-3">
            <div class="col">
              <h5 class="text-secondary">Item Details</h5>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-sm-12 col-md-4 form-group">
              <input (blur)="findStockItemByNumber()" [(ngModel)]="stockitem.number" [ngModelOptions]="{standalone: true}"
              type="text" class="form-control" placeholder="Item Number">
            </div>

            <div class="col-sm-12 col-md-4 form-group">
              <input [(ngModel)]="stockitem.quantity" [ngModelOptions]="{standalone: true}" type="number"
              class="form-control" placeholder="Quantity">
            </div>

            <div class="col-sm-12 col-md-4 form-group">
              <input [(ngModel)]="stockitem.price" [ngModelOptions]="{standalone: true}" type="number"
              class="form-control" placeholder="Price">
            </div>

            <div class="col-sm-12 col-md-4 form-group">
              <input [(ngModel)]="stockitem.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              placeholder="Item Name">
            </div>
        
            <div class="col-sm-12 col-md-4 form-group">
              <select [ngModelOptions]="{standalone: true}" [(ngModel)]="stockitem.measurement"
              class="form-control custom-select">
              <option value="kg">kg</option>
              <option value="liter">liter</option>
              <option value="meter">meter</option>
              <option value="ml">ml</option>
              <option value="unit">Unit</option>
              <option value="ton">טון</option>
              <option value="unit">יחידה</option>
              <option value="box">קופסא</option>
            </select>
          </div>
          <div class="col-sm-12 col-md-4 form-group">
            <input [(ngModel)]="stockitem.coin" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
            placeholder="Coin">
          </div>
        
          
        </div>

        <div *ngIf="showItemDetails" class="row mt-1">
        <textarea [(ngModel)]="stockitem.itemRemarks" [ngModelOptions]="{standalone: true}" type="number"
        class="form-control" placeholder="Item Remarks" ></textarea>
        </div>

        <div *ngIf="showItemDetails" class="row mt-1">
          <div class="col-5"></div>
          <div class="col-2">
            <button type="button" (click)="addItemToPurchase()" class="btn btn-primary form-control">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div class="col-5"></div>
        </div>
      </div>
        

        <div class="row mt-4">
          <div class="col-4"></div>
          <div class="col-4">
            <h6 class="text-primary">Purchase Items</h6>
          </div>
          <div class="col-4"></div>
        </div>

        <div class="row mt-3 bg-muted">
          <div class="col-12 shadow rounded items">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Item Name</th>
                  <th>Measurement</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>-</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let stockitem of this.newPurchase.controls.stockitems.value">
                  <td>{{stockitem.number}}</td>
                  <td>{{stockitem.name}}</td>
                  <td>{{stockitem.measurement}}</td>
                  <td>{{stockitem.quantity}}</td>
                  <td>{{stockitem.price}}</td>
                  <td><i (click)="removeStockitemFromPurchase(stockitem)" class="click fa fa-times text-danger"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <hr class="text-muted">

        <div class="row mt-3">
          <div class="col-4"></div>
          <div class="col-4">
            <button (click)="sendNewProc('add'); closeOrderModal.emit(false)" 
            class="btn btn-primary form-control" [ngClass]="showItemDetails ? 'fixed' : ''">Confirm</button>
          </div>
          <div class="col-4"></div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template class="p-6" #recieveDeliveryCertificate let-modal>
  <div class="modal-header bg-primary">
    <h4 class="modal-title text-center" id="modal-basic-title">קבלת משלוח</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div dir="rtl" class="modal-body p-5">
    <h1>דווח על קבלת תעודת משלוח</h1>

    <div class="container bg-white border border-primary shadow-lg text-center p-5">

      <form [formGroup]="deliveryCertificateForm" (ngSubmit)="saveCertificate()">
        <div class="row mt-2"><span class="red">*</span> שדה חובה </div>
        <div class="row mt-2">
          <div class="col-md-4 form-group">
            <label for="certificateNumber">מספר תעודה<span class="red">*</span></label>
            <input formControlName="certificateNumber" maxlength="4" type="text" class="form-control"
              placeholder="4 ספרות אחרונות" required>
          </div>
          <div class="col-md-4 form-group">
            <label for="deliveryArrivalDate">תאריך קבלת משלוח<span class="red">*</span></label>
            <input formControlName="deliveryArrivalDate" type="date" class="form-control" required>
          </div>
          <div class="col-md-4 form-group">
            <label for="itemNumber">מס' פריט<span class="red">*</span></label>
            <input formControlName="itemNumber" type="text" class="form-control" placeholder="מס' פריט" required>
          </div>
          <div class="col-md-4 form-group">
            <label for="amount">כמות<span class="red">*</span></label>
            <input formControlName="amount" type="number" class="form-control" required>
          </div>
          <div class="col-md-4 form-group">
            <label for="remarks">הערות</label>
            <input formControlName="remarks" type="text" class="form-control" placeholder="הערות">
          </div>
          <br>
          <button type="submit" [disabled]="!deliveryCertificateForm.valid" class="btn btn-primary form-control">
            הוסף את התעודה להזמנה מס' {{purchaseData.orderNumber}}
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>



<ng-template #receiveInvoice let-modal>
  <div class="modal-header bg-primary">
    <h4 class="modal-title text-white" id="modal-basic-title">קבלת חשבונית</h4>
    <button type="button" class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div dir="rtl" class="modal-body">
    <h5>קבלת חשבונית</h5>
    <div class="row mt-2"><span class="red">*</span> שדה חובה </div>
    <div class="row mt-2">
      <div class="col-md-4 form-group">
        <label for="invoiceNumber">מספר חשבונית<span class="red">*</span></label>
        <input type="number" class="form-control" #invoiceNumber="ngModel" name="invoiceNumber" id="invoiceNumber"
          [(ngModel)]="purchaseInvoiceNumber" placeholder="מספר חשבונית" required>
      </div>
      <div class="col-md-4 form-group">
        <label for="remarks">הערות</label>
        <input type="text" class="form-control" [(ngModel)]="invoiceRemarks" placeholder="הערות">
      </div>
      <button [disabled]="!invoiceNumber.value" (click)="saveInvoiceToPurchase()" class="btn btn-primary form-control">
        הוסף חשבונית להזמנה מס' {{purchaseData.orderNumber}}
      </button>
    </div>
  </div>
</ng-template>


<ng-template class="p-6" #certAndInvModal let-modal>
  <div class="modal-header bg-primary">
    <h4 class="modal-title text-center" id="modal-basic-title">קבלת משלוח</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div dir="rtl" class="modal-body p-5">

    <h3> חשבוניות ותעודות משלוח להזמנה {{purchaseData.orderNumber}}</h3>

    <div class="container bg-white border border-primary shadow-lg text-center p-5">


      <h5>חשבוניות</h5>
      <div *ngIf="purchaseData.billNumber" class="row mt-3 bg-muted">
        <div style="background: #d5cff9" class="col-12 shadow rounded">
          <table style=" overflow: auto;" class="table table-hover">
            <thead>
              <tr>
                <th>מספר חשבונית</th>
                <th>הערות</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let invoice of purchaseData.billNumber">
                <td>{{invoice.invoiceNumber}}</td>
                <td>{{invoice.remarks}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <h5>תעודות משלוח</h5>
      <div class="row mt-3 bg-muted">
        <div *ngIf="purchaseData.deliveryCerts" style="background: #d5cff9" class="col-12 shadow rounded">
          <table style="overflow: auto;" class="table table-hover">
            <thead>
              <tr>
                <th>מספר תעודה</th>
                <th>תאריך הגעה</th>
                <th>מספר פריט</th>
                <th>כמות</th>
                <th>מקבל התעודה</th>
                <th>הערות</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let deliveryCert of purchaseData.deliveryCerts">
                <td>{{deliveryCert.certificateNumber}}</td>
                <td>{{deliveryCert.deliveryArrivalDate | date:'shortDate'}}</td>
                <td>{{deliveryCert.itemNumber}}</td>
                <td>{{deliveryCert.amount}}</td>
                <td>{{deliveryCert.userName}}</td>
                <td>{{deliveryCert.remarks}}</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</ng-template>