<mat-card   class="card"    >
 
    <span class="card-desc">{{subTask.name}}</span>
    <mat-card-subtitle>Due date: {{ subTask.dueDate }}</mat-card-subtitle> 
    <mat-card-subtitle>Status {{ subTask.status }}</mat-card-subtitle>
      <mat-card-subtitle  > 
          <div class="user" *ngIf="user" [ngStyle]="{ 'background-image': 'url(' + user.picture + ')'}">
            </div>
      </mat-card-subtitle>
      <mat-checkbox >Done</mat-checkbox>
 
</mat-card>
 <!--

 <mat-card class="card">
              
              
            </mat-card>

 -->