<!--<mat-card [@flyInOut]="'in'" class="card" *ngIf="type == 'sub-tasks'"  dnd-draggable [dragEnabled]="true" [dragData]="task">
  <mat-card-header>
      <mat-card-title style="font-size:12px">Priority: {{subTask.discrption}}</mat-card-title>
      <mat-card-subtitle style="font-size:12px">Due date: {{ subTask.dueDate }}</mat-card-subtitle>
      <mat-card-subtitle style="font-size:12px">Due date: {{ subTask.user }}</mat-card-subtitle>
      <mat-card-subtitle style="font-size:12px">Due date: {{ subTask.dep }}</mat-card-subtitle>
  </mat-card-header>
  <span class="card-desc">{{subTask.name}}</span>
 
</mat-card>-->
<div>
  <h1>subtask</h1>
</div>