.runner {
    width: 2%;
}

.item {
    width: 3%;
}

.desc {
    width: 25%;
}

.batch {
    width: 10%;
}

.position {
    width: 5%;
}

.measure {
    width: 5%;
}

.count {
    width: 10%;
}

.owner {
    width: 10%;
    text-align: center;
}

.remarks {
    width: 30%;
}

tr {
    border: none;
}

td {
    border: 1px solid black;
    height:37px;
}

.header {
    text-align: center;
    margin: auto;
}