From: <input (change)="dateChange()" #fromDateStr type="date"> To: <input (change)="dateChange()" #toDateStr type="date">
Filter By Order: <input (change)="filterByOrderNumber($event)" type="number">


<form class="form" [formGroup]="addScheduleForm" (submit)="onSubmit()">
  <table>
    <thead class="printHeader bg-success text-white">
      <tr>
        <th class="positionClass"><b>P</b></th>
        <th><b>Order</b></th>
        <th><b>Item</b></th>
        <th><b>Costumer</b></th>
        <th><b>Name of product</b></th>
        <th><b>Batch number</b></th>
        <th><b>Package</b></th>
        <th><b>Qty</b></th>
        <th><b>Date</b></th>
        <th><b>Remarks</b></th>
        <th class="mkpClass printlessTd"><b>shift</b></th>
        <th><input class="mkpClassInput" value="MKP" /></th>
        <th>
          <img
            src="assets/images/24p.png"
            style="width:55px; cursor: pointer;"
            alt="Random second slide"
          />
        </th>
      </tr>
    </thead>
    <tr [class.read-only]="checkPermission()">
      <td class="positionClass">
        <input
          type="text"
          id="input_position"
          formControlName="positionN"
          class="form-control"
        />
      </td>
      <td>
        <input
          type="text"
          id="input_order"
          formControlName="orderN"
          class="form-control"
        />
      </td>
      <td>
        <input
          type="text"
          id="input_item"
          formControlName="item"
          class="form-control"
        />
      </td>
      <td>
        <input
          type="text"
          id="input_costumer"
          formControlName="costumer"
          class="form-control"
        />
      </td>
      <td>
        <input
          type="text"
          id="input_productName"
          class="form-control"
          formControlName="productName"
        />
      </td>
      <td>
        <input
          type="text"
          id="input_batchN"
          formControlName="batch"
          class="form-control"
        />
      </td>
      <td>
        <textarea
          rows="1"
          cols="20"
          id="input_package"
          formControlName="packageP"
          class="form-control"
        ></textarea>
      </td>
      <td>
        <input
          type="text"
          id="input_Qty"
          formControlName="qty"
          class="form-control"
        />
      </td>
      <td>
        <input
          type="date"
          id="input_Date"
          formControlName="date"
          class="form-control"
        />
      </td>
      <td>
        <textarea
          rows="1"
          cols="30"
          id="input_marks"
          formControlName="marks"
          class="form-control"
        ></textarea>
      </td>
      <td class="printlessTd">
        <select
          class="selectShiftClass"
          id="select_shift"
          formControlName="shift"
          ><option value="Day">Day</option
          ><option value="Night">Night</option></select
        >
      </td>
      <td class="printlessTd mkpClass">
        <input
          type="radio"
          name="mkp"
          value="basic"
          checked="checked"
          formControlName="mkp"
        />Basic<br />
        <input
          type="radio"
          name="mkp"
          value="tube"
          formControlName="mkp"
        />Tube<br />
        <input
          type="radio"
          name="mkp"
          value="mkp"
          formControlName="mkp"
        />Mkp<br />
      </td>
      <td class="printlessTd">
        <button style="cursor: pointer;" class="addBtn btn btn-info"  type="submit">Add</button><br />
      </td>
    </tr>
    <tbody id="table_body">
      <tr [class.read-only]="checkPermission()" style="box-shadow: inset 1px -1px 2px 0px black; margin-top: 1px;" *ngFor="let line of scheduleData">
        <td class="positionClass">{{ line.positionN }}</td>
        <td>
          <a
            target="_blank"
            routerLink="/peerpharm/allorders/orderitems/{{ line.orderN }}"
          >
            {{ line.orderN }}
          </a>
        </td>
        <td>
          <a
            target="_blank"
            routerLink="/peerpharm/items/itemDetails/{{ line.item }}"
          >
            {{ line.item }}
          </a>
        </td>
        <td>{{ line.costumer | slice: 0:30 }}</td>
        <td>{{ line.productName }}</td>
        <td>{{ line.batch }}</td>
        <td>{{ line.packageP | slice: 0:20 }}</td>
        <td>{{ line.qtyProduced }} / {{ line.qty }}</td>
        <td>{{ line.date | date: "dd/MM/yyyy" }}</td>
        <td>{{ line.marks }}</td>
        <td class="mkpClass printlessTd">{{ line.shift }}</td>
        <td class="printlessTd mkpClass">{{ line.mkp }}</td>
        <td>
          <button 
            class="printBtn btn btn-success m-r-10"
            type="button"
            (click)="openPrintBarkod(content, line)"
          >
            Print Barcode
          </button>
          <button 
          class="printBtn btn btn-success m-r-10"
          type="button"
          (click)="openPrintBarkodHul(contentHul, line)"
        >
          Print Barcode - חו"ל
        </button>
        </td>
      </tr>
    </tbody>
  </table>
</form>

<!--First Modal-->
<ng-template #content let-c="close" let-d="dismiss">
  
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Print Barcode Details</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="c('Cross click'); clearPrintView()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form
      class="form barcodeForm"
      [formGroup]="printBarcodeForm"
      (submit)="printSubmit()"
    >
      <div *ngIf="showCustomerFlag" class="form-group row">
        <label for="customerName"><strong>Customer Name</strong>:</label>
        <input class="form-control" type="text" formControlName="costumer" />
        <button
          type="button"
          class="btn removeBtn btn-success m-r-10"
          (click)="RemoveFields('customer')"
        >
          Remove
        </button>
      </div>

      <div *ngIf="showOrderNumFlag" class="form-group row">
        <label for="orderNumber"><strong>Order Number:</strong></label>
        <input class="form-control" type="text" formControlName="orderN" />
        <button
          type="button"
          class="btn removeBtn btn-success m-r-10"
          (click)="RemoveFields('orderN')"
        >
          Remove
        </button>
      </div>

      <div *ngIf="showItemFlag" class="form-group row">
        <label for="item"><strong>Item Number:</strong></label>
        <input class="form-control" type="text" formControlName="item" />
        <button
          type="button"
          class="btn removeBtn btn-success m-r-10"
          (click)="RemoveFields('item')"
        >
          Remove
        </button>
      </div>

      <div *ngIf="showProductFlag" class="form-group row">
        <label for="productName"><strong>Product Name:</strong></label>
        <input class="form-control" type="text" formControlName="productName" />

        <button
        type="button"
        class="btn removeBtn btn-success m-r-10"
        (click)="RemoveFields('productName')"
      >
        Remove
      </button>
      </div>
    

      <div *ngIf="showVolumeKeyFlag"  class="form-group row">
        <label for="unitMsr"><strong>Volume Key:</strong></label>
        <input class="form-control" type="text" formControlName="unitMsr" />
        <button
        type="button"
        class="btn removeBtn btn-success m-r-10"
        (click)="RemoveFields('unitMsr')"
      >
        Remove
      </button>
      </div>


      <div *ngIf="showPcsCtnFlag" class="form-group row">
        <label for="pcsCarton"><strong>Pcs/Ctn:</strong></label>
        <input class="form-control" type="text" formControlName="pcsCtn" />
        <button
        type="button"
        class="btn removeBtn btn-success m-r-10"
        (click)="RemoveFields('pcsCtn')"
      >
        Remove
      </button>
  
      </div>
    
      <div *ngIf="showBarcodeFlag" class="form-group row">
        <label for="barcode"><strong>Barcode Number:</strong></label>
        <input class="form-control" type="text" formControlName="barcode" />
        <button class="removeBtn"
          type="button"
          class="btn removeBtn btn-success m-r-10"
          (click)="RemoveFields('barcode')"
        >
          Remove
        </button>
      </div>

      <div *ngIf="showBatchFlag" class="form-group row">
        <label for="printBatch"><strong>Batch To Print:</strong></label>
        <input class="form-control" type="text" formControlName="batch" />
        <button 
          type="button"
          class="btn removeBtn btn-success m-r-10"
          (click)="RemoveFields('batch')"
        >
          Remove
        </button>
      </div>

      <div *ngIf="showExpFlag" class="form-group row">
        <label for="exp"><strong>Expiration:</strong></label>
        <input class="form-control" type="text" formControlName="exp" />
        <button
          type="button"
          class="btn removeBtn btn-success m-r-10"
          (click)="RemoveFields('exp')"
        >
          Remove
        </button>
      </div>

      <div *ngIf="showOtherFlag" class="form-group row">
        <label for="other"><strong>Other:</strong></label>
        <input class="form-control" type="text" formControlName="other" />
        <button 
          type="button"
          class="btn removeBtn btn-success m-r-10"
          (click)="RemoveFields('other')"
        >
          Remove
        </button>
      </div>

      <div *ngIf="showPackingCodeFlag" class="form-group row">
          <label for="packingCode"><strong>קוד אורז</strong></label>
          <input class="form-control" type="number" formControlName="packingCode" />
          <button 
            type="button"
            class="btn removeBtn btn-success m-r-10"
            (click)="RemoveFields('packingCode')"
          >
            Remove
          </button>
        </div>

      <div class="form-group row">
        <label for="local"><strong>Ship Within Israel?</strong></label>
        <input
          class="radio"
          type="radio"
          name="local"
          value="Yes"
          checked="checked"
          formControlName="local"
        />Yes
        <input
          class="radio"
          type="radio"
          name="local"
          value="No"
          checked="checked"
          formControlName="local"
        />No
      </div>
      <div class="form-group row">
        <label for="printQty"><strong>Amount Of Stickers To Print:</strong></label>
        <input class="form-control" type="number" formControlName="printQty" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="row">
      <button
        type="submit"
        class="btn btn-outline-dark"
        (click)="printSubmit()"
      >
        Next
      </button>
    </div>

    <div class="row clearfix" id="print-section">
      <table
        *ngFor="let sticker of stickerPrintView; let i = index"
        [attr.data-index]="i"
        class="barcodeTbl"
        dir="ltr"
        [style.margin.px]="3"
        [style.width.px]="400"
        [style.max-height.px]="400"
        [style.font-size.px]="24"
        [style.font-family]="Arial"
        [style.border.px]="0"
        [attr.id]="create_table"
      >

      <tr>
        <td style="border:1px solid black" *ngIf="showOrderNumFlag">Order Number: {{ schedLine.orderN }}</td>
      </tr>
        <tr>
          <td *ngIf="showProductName">{{ schedLine.productName }}</td>
        </tr>
        <tr>
          <td *ngIf="showItemNumber">Item Number: {{ printBarkod.item }}</td>
        </tr>
        <tr>
          <td><span *ngIf="showVolume">{{ volumeK }}</span><span style="margin-left:10px;" *ngIf="showPcsCarton">{{ printBarkod.pcsCtn }}</span></td>
        </tr>
        <tr>
          <td><span *ngIf="showBatch">{{ printBarkod.batch }}</span> <span style="margin-left:10px;" *ngIf="showExp">Exp: {{ printBarkod.exp }}</span></td>
        </tr>
        <tr>
          <td>
            <ngx-barcode
              *ngFor="let bcValue of printBarcodeValues"
              [bc-element-type]="barcodeElementType"
              [bc-value]="bcValue"
              [bc-format]="barcodeFormat"
              [bc-width]="barcodeWidth"
              [bc-height]="barcodeHeight"
              [bc-font-size]="barcodeFontSize"
            ></ngx-barcode>
          </td>
        </tr>
        <tr>
          <td>{{ printBarkod.barcode }}</td>
        </tr>
        <tr *ngIf="showCustomerFlag">
          <td>{{ schedLine.costumer }}</td>
        </tr>
        <tr *ngIf="showOtherFlag">
          <td>{{ other }}</td>
        </tr>
        <tr *ngIf="showPackingCodeFlag">
          <td>Packing Code:{{ printBarkod.packingCode }}</td>
        </tr>
      </table>
    </div>

    <button class="printBtn btn-success btn"
    type="button" 
    *ngIf="!printBarcodeId" 
    [printStyle]="{ 'body' : {'margin-top': '20px'}, 'table' : {'text-align': 'center','width': '100%'} , 'td': {'border-top': 'solid black 1px'
  
  } }"
    printSectionId="print-section" 
    ngxPrint>Print
  </button>
    <a
      *ngIf="printBarcodeId"
      class="btn btn-success m-r-10 m-t-10"
      type="button"
      [attr.href]=barcodeUrl
      target="_blank"
    >
      You Barcode Is Ready Press Here To Continue
  </a>
  </div>
  
</ng-template>

<ng-template #contentHul let-c="close" let-d="dismiss">
  
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Print Barcode Details</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="c('Cross click'); clearPrintView()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form
      class="form barcodeForm"
      [formGroup]="printBarcodeForm"
      (submit)="printSubmit()"
    >

    <div *ngIf="showBatchFlag" class="form-group row">
      <label for="deliveryAdress"><strong>Delivery Adress</strong></label>
      <input style="width: 200px;" class="form-control" type="text" formControlName="deliveryAdress">

      <button 
        type="button"
        class="btn removeBtn btn-success m-r-10"
        (click)="RemoveFields('batch')"
      >
        Remove
      </button>
    </div>

    <div *ngIf="showExpFlag" class="form-group row">
      <label for="exp"><strong>Date:</strong></label>
      <input class="form-control" type="text" formControlName="date" />
      <button
        type="button"
        class="btn removeBtn btn-success m-r-10"
        (click)="RemoveFields('exp')"
      >
        Remove
      </button>
    </div>

    <div *ngIf="showDcFlag" class="form-group row">
      <label for="dc"><strong>DC#</strong></label>
      <select style="width:200px;" class="form-control" type="text" formControlName="dc">
        <option>883</option>
        <option>893</option>
      </select>
      <button
        type="button"
        class="btn removeBtn btn-success m-r-10"
        (click)="RemoveFields('dc')"
      >
        Remove
      </button>
    </div>
    <div *ngIf="showPoFlag"  class="form-group row">
      <label for="po"><strong>PO#</strong></label>
      <input class="form-control" type="text" formControlName="po" />
      <button
        type="button"
        class="btn removeBtn btn-success m-r-10"
        (click)="RemoveFields('po')"
      >
        Remove
      </button>
    </div>
    <div *ngIf="showInvoiceFlag" class="form-group row">
      <label for="invoice"><strong>Invoice#</strong></label>
      <input class="form-control" type="text" formControlName="invoice" />
      <button
        type="button"
        class="btn removeBtn btn-success m-r-10"
        (click)="RemoveFields('invoice')"
      >
        Remove
      </button>
    </div>
    <br>

   

      <div *ngIf="showProductFlag" class="form-group row">
        <label for="productName"><strong>Product Name:</strong></label>
        <input class="form-control" type="text" formControlName="productName" />

        <button
        type="button"
        class="btn removeBtn btn-success m-r-10"
        (click)="RemoveFields('productName')"
      >
        Remove
      </button>
      </div>
    

      <div *ngIf="showVolumeKeyFlag"  class="form-group row">
        <label for="unitMsr"><strong>Volume Key:</strong></label>
        <input class="form-control" type="text" formControlName="unitMsr" />
        <button
        type="button"
        class="btn removeBtn btn-success m-r-10"
        (click)="RemoveFields('unitMsr')"
      >
        Remove
      </button>
      </div>


      <div *ngIf="showPcsCtnFlag" class="form-group row">
        <label for="pcsCarton"><strong>Pcs/Ctn:</strong></label>
        <input class="form-control" type="text" formControlName="pcsCtn" />
        <button
        type="button"
        class="btn removeBtn btn-success m-r-10"
        (click)="RemoveFields('pcsCtn')"
      >
        Remove
      </button>
  
      </div>
      <br>

      <div *ngIf="showNetWeightFlag" class="form-group row">
        <label for="netWeight"><strong>Net Wieght(KG):</strong></label>
        <input class="form-control" type="text" formControlName="netWeight" />
        <button
        type="button"
        class="btn removeBtn btn-success m-r-10"
        (click)="RemoveFields('netWeight')"
      >
        Remove
      </button>
  
      </div>
      <div *ngIf="showGrossWeightFlag" class="form-group row">
        <label for="grossWeight"><strong>Gross Weight(KG):</strong></label>
        <input class="form-control" type="text" formControlName="grossWeight" />
        <button
        type="button"
        class="btn removeBtn btn-success m-r-10"
        (click)="RemoveFields('grossWeight')"
      >
        Remove
      </button>
  
      </div>
    
      <div *ngIf="showBarcodeFlag" class="form-group row">
        <label for="barcode"><strong>Barcode Number:</strong></label>
        <input class="form-control" type="text" formControlName="barcode" />
        <button class="removeBtn"
          type="button"
          class="btn removeBtn btn-success m-r-10"
          (click)="RemoveFields('barcode')"
        >
          Remove
        </button>
      </div>

      <div *ngIf="showOtherFlag" class="form-group row">
        <label for="other"><strong>Other:</strong></label>
        <input class="form-control" type="text" formControlName="other" />
        <button 
          type="button"
          class="btn removeBtn btn-success m-r-10"
          (click)="RemoveFields('other')"
        >
          Remove
        </button>
      </div>

      <div *ngIf="showPackingCodeFlag" class="form-group row">
          <label for="packingCode"><strong>קוד אורז</strong></label>
          <input class="form-control" type="number" formControlName="packingCode" />
          <button 
            type="button"
            class="btn removeBtn btn-success m-r-10"
            (click)="RemoveFields('packingCode')"
          >
            Remove
          </button>
        </div>

      <div class="form-group row">
        <label for="printQty"><strong>Amount Of Stickers To Print:</strong></label>
        <input class="form-control" type="number" formControlName="printQty" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="row">
      <button
        type="submit"
        class="btn btn-outline-dark"
        (click)="printSubmit()"
      >
        Next
      </button>
    </div>

    <div class="row clearfix" id="print-sectionHul">
      <table
        *ngFor="let sticker of stickerPrintView; let i = index"
        [attr.data-index]="i"
        class="barcodeTbl"
        dir="ltr"
        [style.margin.px]="0"
        [style.width.px]="450"
        [style.max-height.px]="360"
        [style.font-size.px]="16"
        [style.font-family]="Arial"
        [style.border.px]="0"
        [attr.id]="create_table"
      >

       
        
        <tr>
          <td>
            <span *ngIf="showBatch">Delivery Address:{{ printBarkod.deliveryAdress }}</span><br>
            <span style="margin-left:10px;" *ngIf="showExp"> {{ printBarkod.date }}</span>  
            <span>
                <ngx-barcode
                  *ngFor="let bcValue of printBarcodeValues"
                  [bc-element-type]="barcodeElementType"
                  [bc-value]="bcValue"
                  [bc-format]="barcodeFormat"
                  [bc-width]="barcodeWidth"
                  [bc-height]="barcodeHeight"
                  [bc-font-size]="barcodeFontSize"
                ></ngx-barcode>
                <span>{{ printBarkod.barcode }}</span>
            </span>
          </td>
        </tr>
        
        <tr>
          <td>
            <span>DC #:{{printBarkod.dc}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>PO #:{{printBarkod.po}}</span>
          </td>
        </tr>
        <tr style="margin-bottom: 10px;">
          <td>
            <span>Invoice #:{{printBarkod.invoice}}</span><br>
            <span>Country of origin - Israel</span>
          </td>
        </tr>
        <tr>
          <td *ngIf="showProductName">{{ schedLine.productName }}</td>
        </tr>
         <tr>
          <td><span *ngIf="showVolume">{{ volumeK }}</span></td>
        </tr>
        <tr>
          <td><span style="margin-left:10px;" *ngIf="showPcsCarton">{{ printBarkod.pcsCtn }} Units / Ctn</span></td>
        </tr>
        <tr style="margin-top:10px;">
          <td><span >MADE IN ISRAEL</span></td>
        </tr>
        <tr>
          <td><span >NET WET - {{printBarkod.netWeight}}KG &nbsp; </span> <span >GROSS WET - {{printBarkod.grossWeight}}KG</span></td>
        </tr>

     
        <tr>
          <td>
          <span>Vendor:Peer Pharm Ltd </span><br>
          <span>17 Amal Str. Rosh Ha'ayn 48092 Israel </span><br>
          <span>Tel: 972-3-9024055 Fax: 972-3-9024015</span>
        </td>
        </tr>
        <tr *ngIf="showOtherFlag">
          <td>{{ other }}</td>
        </tr>
      </table>
    </div>

    <button class="printBtn btn-success btn"
    type="button" 
    *ngIf="!printBarcodeId" 
    [printStyle]="{ 'body' : {'margin-top': '20px'}, 'table' : {'text-align': 'center','width': '70%'} , 'td': {'border-top': 'none;'
  
  } }"
    printSectionId="print-sectionHul" 
    ngxPrint>Print
  </button>

    <a
      *ngIf="printBarcodeId"
      class="btn btn-success m-r-10 m-t-10"
      type="button"
      [attr.href]=barcodeUrl
      target="_blank"
    >
      You Barcode Is Ready Press Here To Continue
  </a>
  </div>
  
</ng-template>

<!-- printSectionId="print-section"
ngxPrint
[printStyle]="{
  '.printSticker': {
    'height': '100mm',
    'text-align' : 'center'
  } ,
  '.sticker': {
    'padding-top' : '10mm'
  }
}" -->
